<section id="main-content" class="inner-content">
<span style="font-size:20px; font-family: Arial, Helvetica, 'Nimbus Sans L', sans-serif; color:#000; text-shadow:#ccc 1px 1px 2px;">Find <%= ablang('connection.plural') %></span><br />

<div id="sidebar" class="job_browser">
 <div id="myConnections">
      <h4><%= ablang('connection.plural') %></h4>
      <%= link_to "Add " + ablang('connection.plural'), :inviteconnections %><br />
      <%= link_to 'My ' + ablang('connection.plural'), :my_connections %></br>
      <%= link_to "Pending " + ablang('connection.plural') + " (" + pendingcount.to_s + ")", :pending_connections %><br />
  </div>
</div>

<div id="content">
  <% @connections.each do |connection| %>
    <br />
    <div class="item_jobs">
      <div class="item_picture">
        <% if connection.user.avatar? %>
          <%= link_to image_tag(connection.user.avatar.url(:thumb)), '/profile/'+connection.url.to_s %>
        <% else %>
          <%= link_to image_tag("dl_icons/no_avatar_medium.jpg"), '/profile/'+connection.url.to_s %><% end %>
      </div>

      <div id ="connection_desc">
        <strong><%= link_to connection.user.name, '/profile/'+connection.url.to_s %></strong><br />
        <% if connection.position.present?  && connection.school.present? %>
          <%= connection.position %> at <%= connection.school %>
        <% end %><br />
        <%= connection.location %><br /><br />
        <% if self.current_user != connection.user %>
          <% if self.current_user.teacher %>	
            <% if @my_connections.include? connection.id %>
                <%= link_to "Send Message", { :controller => 'messages', :action => 'new', :user_id_to => connection.user.id.to_s }, {:class => "button bg-green"} %>
            <% else %>
              <div>
                <%= link_to "Send Message", { :controller => 'messages', :action => 'new', :user_id_to => connection.user.id.to_s }, {:class => "button bg-green"} %>
                <%= link_to ablang('connection.connect'), { :controller => 'connections', :action => 'add_connection', :user_id => connection.user.id }, :class => "button" %>
              </div>
            <% end %>
          <% else %>
            <div>
              <%= link_to "Send Message", { :controller => 'messages', :action => 'new', :user_id_to => connection.user.id.to_s }, {:class => "button bg-green"} %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
<%= will_paginate @connections %>
</div>
</section>
