<section id="main-content" class="inner-content">
<!-- Include these scripts to import address books with CloudSponge -->
<script type="text/javascript" src="https://api.cloudsponge.com/address_books.js"></script>
<script type="text/javascript" charset="utf-8">
var csPageOptions = {
  domain_key:"<%= APP_CONFIG["cloudsponge"]["domainKey"] %>", 
  textarea_id:"emails"
};
</script>

<div class="kRap">
  <h1>Let's invite some of your friends to be connections</h1>

  <%= form_for :connection_invite, :url => '/inviteconnection' do |f| %>
    <table>
      <tr>
        <td>
          <label>
            <span>Import from address book</span>
            <div class="addressBooks">
              <a href="#" onclick="return cloudsponge.launch('yahoo');">
                <img src="/assets/cs_icons/yahoo.png" />
              </a>
              <a href="#" onclick="return cloudsponge.launch('windowslive');">
                <img src="/assets/cs_icons/msn.png" />
              </a>
              <a href="#" onclick="return cloudsponge.launch('gmail');">
                <img src="/assets/cs_icons/google.png" />
              </a>
              <a href="#" onclick="return cloudsponge.launch('aol');">
                <img src="/assets/cs_icons/aol.png" />
              </a>
              <a href="#" onclick="return cloudsponge.launch('plaxo');">
                <img src="/assets/cs_icons/plaxo.png" />
              </a>
              <a href="#" onclick="return cloudsponge.launch('addressbook');">
                <img src="/assets/cs_icons/apple.png" />
              </a>
              <a href="#" onclick="return cloudsponge.launch('outlook');">
                <img src="/assets/cs_icons/microsoft.png" />
              </a>
            </div>
          </label>
        </td>
        <td rowspan="3" style="vertical-align:top;">
          <div style="border:solid 1px #2AA99B;background:#FFF;padding:20px 25px;overflow:hidden;">
            <img border="0" style="width:468px;height:60px;margin-left:-62px;" src="http://cdn.donorschoose.net/images/link/dc_banner_468_60_logo.jpg" alt="DonorsChoose.org - Teachers ask. You choose. Students learn." />
            <h3>Your number of referred signups: <%= @referred %></h3>
            <p style="font-size:14px;font-style:normal;">We will give you a $5 gift card to spend on any classroom project on Donors Choose, even your own, for every 5 friends you get to sign-up. Bring 10 friends get $10 and so on. Just invite your friends using the invite button on the bottom to get started!<br /><br />
            <a href="http://www.donorschoose.org/?utm_medium=banner&utm_content=dc_banner_468_60_logo&utm_campaign=banner" target="_blank">Donors Choose</a> is a non-profit organization that helps teachers get the materials they need to improve their students' education.</p>
		</div><br />
          <a href="#twitter"><%= image_tag "tioki/icons/twitter.png" %></a>
        </td>
      </tr>
      <tr>
        <td>
          <label>
            <span>Or enter in emails manually (comma seperated)</span>
            <%= text_area_tag :emails, nil, :placeholder => "Email Address", :row => 5, :cols => 43  %>
          </label>
        </td>
      </tr>
      <tr>
        <td>
          <label>
            <span>Your email message</span>
            <%= text_area_tag :message, @default_message, :rows=> 5, :cols => 43, :style => "padding:3px;" %>
          </label>
        </td>
      </tr>
    </table>

    <div class="button_wrap">
      <%= f.submit "Invite Connections", :class => "btn btn-large btn-primary", :style => "padding:9px 50px;display:inline;width:auto;" %>
    </div>
  <% end %>
</div>
<script type="text/javascript">
$(document).ready(function() {
	$('a[href="#twitter"]').click(function(e) {

		// URL to go to
		url = 'https://twitter.com/share';

		// Paramaters to build
		var params = {
			via: 'tiokiapp',
			url: 'http://www.tioki.com/dc/<%= self.current_user.invite_code %>',
			text: 'I just joined Tioki; a professional development site for educators. You should connect with me!'
		}

		// URL plus params
		url += '?' + $.param(params);
		
		// Apply to the link
		$(this).attr('href', url).attr('target', '_blank');

		// GO!
		return true;
	});
});
</script>
</section>
