<section id="main-content" class="inner-content">
	<!-- Include these scripts to import address books with CloudSponge -->
<script type="text/javascript" src="https://api.cloudsponge.com/address_books.js"></script>
<script type="text/javascript" charset="utf-8">
var csPageOptions = {
  domain_key:"<%= APP_CONFIG["cloudsponge"]["domainKey"] %>", 
  textarea_id:"emails"
};
</script>

<div class="kRap">
  <h1>Let's invite some of your friends to be <%= ablang('connection.plural', false) %></h1>

	<section id="panels">
		<section id="whiteboard" class="two-column left-side" style="width:550px">
		<h3>
		Copy and paste your personal invite link: <%= text_field :a, :b, :value => 'http://tioki.com/dc/'+self.current_user.invite_code %>
		</h3>
		<h4>
		OR
		</h4>
		<p>
			<h3 class="bottom-line">
			<a href="#twitter"><%= image_tag "tioki/icons/twitter3.png", :style => "margin-bottom:-7px" %> Tweet It!</a><br/><br />
			</h3>
		</p>

			<section class="addressBooks">
  			<%= form_for :connection_invite, :url => '/inviteconnection' do |f| %>
   				<h3>
				Email Friends
				</h3>
					<section style="margin:0px 5px 0px 10px">	
						<p>
						We’ll send your friends a friendly invite to join your Tioki network! 
						</p>
						<h4 style="font-size: 18px">
						Recipient emails
						</h4>
						<p class="smalltext" style="margin-top:-12px">
						Type the comma-separated emails below
		   				<%= text_area_tag :emails, nil, :placeholder => "Email Address", :row => 5, :cols => 43, :style => "padding:3px;width:415px"  %>
						</p>
						<p>
						If you want to customize your own message, go for it
		   				<%= text_area_tag :message, @default_message, :rows=> 5, :cols => 43, :style => "padding:3px;width:415px" %>
						</p>
						<div class="button_wrap">
					      	<%= f.submit "Invite Connections", :class => "button", :style => "padding:9px 25px;display:inline;width:auto;" %>
					   	</div>
						<h4>
						OR
						</h4>
						<p>	
						Click on your email host to invite friends using your address book
						</p>
              			<a href="#" onclick="return cloudsponge.launch('yahoo');">
                			<img src="/assets/cs_icons/yahoo.png" />
              			</a>
              			<a href="#" onclick="return cloudsponge.launch('windowslive');">
                			<img src="/assets/cs_icons/msn.png" />
              			</a>
              			<a href="#" onclick="return cloudsponge.launch('gmail');">
                			<img src="/assets/cs_icons/google.png" />
              			</a>
              			<a href="#" onclick="return cloudsponge.launch('aol');">
                			<img src="/assets/cs_icons/aol.png" />
              			</a>
              			<a href="#" onclick="return cloudsponge.launch('plaxo');">
                			<img src="/assets/cs_icons/plaxo.png" />
              			</a>
              			<a href="#" onclick="return cloudsponge.launch('addressbook');">
                			<img src="/assets/cs_icons/apple.png" />
              			</a>
              			<a href="#" onclick="return cloudsponge.launch('outlook');">
                			<img src="/assets/cs_icons/microsoft.png" />
              			</a>
		    			<br /><br />
					</section>
		  	<% end %>
		 	</section>
         
		</section>
		
		<section class="panel right-side" style="width: 370px; border:solid 1px #2AA99B">
            <img border="0" style="width:95%;height:auto;margin:3px 0px 0px 5px" src="http://cdn.donorschoose.net/images/link/dc_banner_468_60_logo.jpg" alt="DonorsChoose.org - Teachers ask. You choose. Students learn." />
			<section style="margin:0px 5px 0px 10px">
            	<p>
					We will give you a $5 gift card to spend on any classroom project on Donors Choose, even your own, for every 5 friends you get to sign-up. Bring 10 friends get $10 and so on. Just invite your friends using the invite button on the bottom to get started!
				</p>
				<p>
            		Donors Choose is a non-profit organization that helps teachers get the materials they need to improve their students' education.
				</p>
			</section>
 				<h3 class="top-line">
				Your number of referred signups: <%= @referred %>
				</h3>
     		</section>
		</section>
	</section>
    <div class="button_wrap">
      <%= f.submit "Invite " + ablang('connection.plural'), :class => "btn btn-large btn-primary", :style => "padding:9px 50px;display:inline;width:auto;" %>
    </div>
  <% end %>
</div>
<script type="text/javascript">
$(document).ready(function() {
	$('a[href="#twitter"]').click(function(e) {

		// URL to go to
		url = 'https://twitter.com/share';

		// Paramaters to build
		var params = {
			via: 'tiokiapp',
			url: 'http://www.tioki.com/dc/<%= self.current_user.invite_code %>',
			text: 'I just joined Tioki; a professional development site for educators. You should connect with me!'
		}

		// URL plus params
		url += '?' + $.param(params);
		
		// Apply to the link
		$(this).attr('href', url).attr('target', '_blank');

		// GO!
		return true;
	});
});
</script>
</section>
