<section id="main-content" class="inner-content connections-page">
	<section>
		<nav class="subpage">
			<ul>
				<li class="current">
					My Connections
				</li>
				<li>
					<a href="findconnections.html">
					Find New Connections
					</a>
				</li>
				<li>
					<a href="http://tioki.com/inviteconnections.html">
					Invite Connections
					</a>
				</li>
			</ul>
		</nav>
	</section>
	<section id="panels" class="group">
		<section id="list" class="panel one-column left-side">
			<h3>
				Pending Connections [4]
			</h3>
			<ul>
				<li>
					<div class="profile-thumb-small">
					</div>
					<p>
					<a href="profile.html">Christopher Staton</a><br />
					Designer at Modern Nomads<br />
					Berkeley, CA
					</p>
					<div class="accept">
						<a href="#">
						Accept
						</a>
					</div>
					<div class="ignore">
						<a href="#">
						Ignore
						</a>
					</div>
				</li>
				<% @my_pending_connections.each do |connection| %>
					<li>
						<div class="profile-thumb-small">
							<% if connection.not_me.avatar? %>
								<%= link_to image_tag(connection.not_me.avatar.url(:tiny)), "profile/#{connection.not_me.teacher.url}" %>
							<% else %>
								<%= link_to image_tag("dl_icons/no_avatar_tiny.jpg"), "profile/#{connection.not_me.teacher.url}" %>
							<% end %>
						</div>
						<p>
						<a href="profile.html"><%= connection.name %></a><br />
						<%= connection.teacher.position %> at <%= connection.teacher.school %><br />
						<%= connection.teacher.location %>
						</p>
						<div class="accept">
							<a href="#">
							Accept
							</a>
						</div>
						<div class="ignore">
							<a href="#">
							Ignore
							</a>
						</div>
					</li>
				<% end %>
			</ul>
		</section> <!-- END PENDING CONNECTIONS -->
		<section id="list" class="panel two-column right-side">
			<h3>
			My Connections
			</h3>
			<div class="search-connections">	
				<form>
					<fieldset>
						<input type="text" class="search" placeholder="Search My Connections" />
						<select name="topic">
							<option value="hellothere" >-- BY CATEGORY --</option>
							<option>Name</option>
							<option>School</option>
							<option>Subject</option>
							<option>Location</option>
						</select>
						<input type="submit" value="GO" class="button" />
					</fieldset>
				</form>
			</div>
			<ul>
				<% @connections.each do |connection| %>
					<li>
						<div class="profile-thumb-big">
							<% if connection.not_me.avatar? %>
								<%= link_to image_tag(connection.not_me.avatar.url(:thumb)), "profile/#{connection.not_me.teacher.url}" %>
							<% else %>
								<%= link_to image_tag("dl_icons/no_avatar_large.jpg"), "profile/#{connection.not_me.teacher.url}" %>
							<% end %>
						</div>
						<p>
						<a href="/profile/<%=connection.not_me.teacher.url %>"><%= connection.not_me.name %></a><br />
						<%= connection.not_me.teacher.position %> at <%= connection.not_me.teacher.school %><br />
						<%= connection.not_me.teacher.location %>
						</p>
						<div>
							<a href="/userconnection/<%= connection.not_me.id %>" class="count connections">
								<%= connection.not_me.connections.not_pending.count.to_s %>
							</a>
							<a href="/messages/new?user_id_to=<%= connection.not_me.id %>" class="sendmessage">
							Send Message
							</a>
						</div>
					</li>
				<% end %>
				<li>
					<a href="#" class="viewmore">
					View More
					</a>
				</li>
			</ul>
		</section> <!-- END MY CONNECTIONS -->
		
	</section>

</section> <!-- End Main Content -->
