<section id="main-content" class="inner-content">
<!-- Include these scripts to import address books with CloudSponge -->
<script type="text/javascript" src="https://api.cloudsponge.com/address_books.js"></script>
<script type="text/javascript" charset="utf-8">
var csPageOptions = {
  domain_key:"<%= APP_CONFIG["cloudsponge"]["domainKey"] %>", 
  textarea_id:"emails"
};
</script>
<span style="font-size:20px; font-family: Arial, Helvetica, 'Nimbus Sans L', sans-serif; color:#000; text-shadow:#ccc 1px 1px 2px;">My Connections</span><br />

<div id="sidebar" class="job_browser">
	<div id="myConnections">
	    <h4>Connections</h4>
            <%= link_to "Add Connections", :inviteconnections %><br />
		<%= link_to 'My Connections', :my_connections %></br>
                <%= link_to "Pending Connections (" + pendingcount.to_s + ")", :pending_connections %><br />
	</div>
        <div id="whiteBox" style="height:280px;width:190px;position:fixed;font-size:12px;padding:0px 10px 0;margin: 0px 0px 0px auto">
          <strong>Connecting on DemoLesson</strong>
          <ul style="list-style:disc;padding-left:12px">
            <li>Helps you collarborate with those who share your interests</li>
            <li>Enhances your opportunites for professional growth</li>
            <li>Helps you stay in touch with your colleagues</li>
          </ul>
        </div>
</div>

<div id="content">
  <% if @connections.size == 0 %>
  <h3>You do not have any connections</h3>
  <% end %>
  
  <% @connections.each do |connection| %>
  <br />
  <div class="item_jobs">
    <div class="item_picture">
      <% if connection.not_me.avatar? %>
        <%= link_to image_tag(connection.not_me.avatar.url(:thumb)), '/profile/'+connection.not_me.teacher.url.to_s %>
      <% else %>
        <%= link_to image_tag("dl_icons/no_avatar_medium.jpg"), '/profile/'+connection.not_me.teacher.url.to_s %>
      <% end %>
    </div>

    <div id ="connection_desc">
      <span style ="float:right; text-align:right"><%= link_to "Connections: " + connection.not_me.connections.not_pending.count.to_s, 'userconnections/'+connection.not_me.id.to_s %></span>
    <strong><%= link_to connection.not_me.name, '/'+connection.not_me.teacher.url.to_s %></strong><br />
    <% if connection.not_me.teacher.position.present? && connection.not_me.teacher.school.present?%>
      <%= connection.not_me.teacher.position %> at <%= connection.not_me.teacher.school %>
    <% end %><br />
    <%= connection.not_me.teacher.location %><br />
    <div>
      <%= link_to "Send Message", { :controller => 'messages', :action => 'new', :user_id_to => connection.not_me.id.to_s }, {:class => "btn"} %>
    </div>
	</div>
  </div>
<% end %>
</div>
</section>
