<li>
	<div class="profile-thumb-big">
		<% if @connection.not_me.avatar? %>
			<%= link_to image_tag(@connection.not_me.avatar.url(:thumb)), "profile/#{@connection.not_me.teacher.url}" %>
		<% else %>
			<%= link_to image_tag("dl_icons/no_avatar_large.jpg"), "profile/#{@connection.not_me.teacher.url}" %>
		<% end %>
	</div>
	<p>
		<a href="/profile/<%= @connection.not_me.teacher.url %>"><%= @connection.not_me.name %></a>
		<%= " <span class=\"connection_degree\">#{self.current_user.distance(@connection.not_me.id).ordinalize}</span>".html_safe rescue '' %>
		<br />
		<%= @connection.not_me.teacher.position %>
		<% if @connection.not_me.teacher.position.present? && @connection.not_me.teacher.position.present? %>at<% end %> 
		<%= @connection.not_me.teacher.school %><br />
		<%= @connection.not_me.teacher.location %>
	</p>
	<div>
		<a href="/userconnections/<%= @connection.not_me.id %>" class="count connections">
			<%= @connection.not_me.connections.not_pending.count.to_s %>
		</a>
		<a href="/messages/new?user_id_to=<%= @connection.not_me.id %>" class="sendmessage">
			Send Message
		</a>
	</div>
</li>
