<section id="main-content" class='inner-content white-bg' style='height:auto'>
	<h1 style='text-align:center;margin-top:1px;padding-top:30px'>
		Your Results Are In!
	</h1>
	
	<!-- Figure out what bracket the teacher is in and return the appropriate results -->
	<% if @edu_stats.total_hours_teaching < 5202 %>
		<%= render :partial => 'hours_one' %>
		
	<% elsif @edu_stats.total_hours_teaching > 5203 && @edu_stats.total_hours_teaching < 8670 %>
		<%= render :partial => 'hours_two' %>
		
	<% elsif @edu_stats.total_hours_teaching > 8669 && @edu_stats.total_hours_teaching < 13005 %>
		<%= render :partial => 'hours_three' %>
	
	<% elsif @edu_stats.total_hours_teaching > 13004 && @edu_stats.total_hours_teaching < 17340 %>
		<%= render :partial => 'hours_four' %>
		
	<% elsif @edu_stats.total_hours_teaching > 17339 && @edu_stats.total_hours_teaching < 21675 %>
		<%= render :partial => 'hours_five' %>
		
	<% elsif @edu_stats.total_hours_teaching > 21674 && @edu_stats.total_hours_teaching < 28000 %>
		<%= render :partial => 'hours_six' %>
		
	<% elsif @edu_stats.total_hours_teaching > 27999 %>
		<%= render :partial => 'hours_seven' %>
		
	<% end %>
		
	<section class='three-column left-side' style='border-bottom: 2px #2aa99b dashed'></section>	
	<div class="clearfloat"></div>
	
	<% if @edu_stats.total_students < 1000 %>
		<%= render :partial => 'students_one' %>
		
	<% elsif @edu_stats.total_students > 999 && @edu_stats.total_students < 2000 %>
		<%= render :partial => 'students_two' %>
		
	<% elsif @edu_stats.total_students > 1999 && @edu_stats.total_students < 3000 %>
		<%= render :partial => 'students_three' %>
		
	<% elsif @edu_stats.total_students > 2999 && @edu_stats.total_students < 4600 %>
		<%= render :partial => 'students_four' %>
		
	<% elsif @edu_stats.total_students > 4599 && @edu_stats.total_students < 5800 %>
		<%= render :partial => 'students_five' %>
		
	<% elsif @edu_stats.total_students > 5799 %>
		<%= render :partial => 'students_six' %>
		
	<% end %>
	
	<section class='three-column left-side' style='border-bottom: 2px #2aa99b dashed'></section>	
	<div class="clearfloat"></div>
	
	<h2 style="text-align:center">How Large Is You Educator Network?</h2>
	<h3>Total Public Network: <%= @edu_stats.edu_network_public %>  <br>
		Total Private Network: <%= @edu_stats.edu_network_private %>  <br>
		Total Charter Network: <%= @edu_stats.edu_network_charter %>  <br>
		Total Catholic Network: <%= @edu_stats.edu_network_catholic %> <br>
	</h3>

	<h3 class="bottom-line" style='text-align:center'>
		Share Your Impact
	</h3>
	<a href="#facebook" class="button">Share On Facebook Button</a>
	<a href="#twitter" class="button">Share On Twitter Button</a>
	<a href="#twitter" class="button">Add To Tioki Profile Button</a>
	<!--a href="#facebook"><%= image_tag('tioki/icons/facebook.png', :style => "width:30px") %></a>
	<a href="#twitter"><%= image_tag('tioki/icons/twitter.png', :style => "width:30px") %></a-->

</section>

<script type="text/javascript">
$(document).ready(function() {
	$('a[href="#facebook"]').click(function(e) {

		// Block the link
		e.preventDefault();

		// Trigger the facebook method
		FB.ui({
			method: 'feed',
			name: 'hello',
			link: '<%= url_for(:only_path => false) %>',
			picture: 'http://www.tioki.com/assets/images/tioki/tioki-logo.png',
			caption: 'Come join this Group on Tioki.',
			description: 'Come join the  group on Tioki; a professional networking site for educators!'
		}
		/*function(response) {
			if (response && response.post_id) {
				alert('Post was published.');
			} else {
				alert('Post was not published.');
			}
		}*/);

		return false;
	});
	$('a[href="#twitter"]').click(function(e) {

		// URL to go to
		url = 'https://twitter.com/share';

		// Paramaters to build
		var params = {
			via: 'tioki',
			url: '<%= url_for(:only_path => false) %>',
			text: 'Come join the  Group on Tioki!'
		}

		// URL plus params
		url += '?' + $.param(params);

		// Apply to the link
		$(this).attr('href', url).attr('target', '_blank');

		// GO!
		return true;
	});
});
</script>