<%= form_for(@discussion) do |f| %>
  <input type="hidden" name="discussion[owner]" value="<%= params[:owner] %>" />

  <% if @discussion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@discussion.errors.count, "error") %> prohibited this discussion from being saved:</h2>

      <ul>
      <% @discussion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <article style="margin-left:75px">
  <div class="field">
		<strong>Title</strong>
		<%= f.text_field :title, :style => "margin-left:25px;width:600px" %><br/>
		<span style="margin-left:60px">This is what shows up on the discussion board, so make it something catchy.</span>
	</div><br />

  <div class="field">
		<strong>Body</strong><br/>
		<%= f.text_area :message, :style => "margin:-20px 0px 0px 60px;width:600px" %>
  </div><br />

  <div class="field" style="margin-bottom:70px">
		<strong>Topics</strong><br />
		<textarea style="margin:-20px 0px 0px 60px;width:600px; height:75px;color:#fff">
		</textarea>

		<p style="margin:-90px 0px 0px 72px;z-index:1">
		<span id="current_skills" >
		</span>	
		</p>	
  </div><br/>
	<span style="margin-left:60px">You want your discussion to be found, right?  Tag it with topics so people can easily find it.</span>

  <div class="field" style="margin-left:60px;margin-top:20px">
		<%= select "skill", 'skillList', Skill.all.collect { |skill| [skill.name, skill.id] } %>
		<a id="addSkill" class="button bg-green" >Add Topic</a>
		
		

		<script type="text/javascript">
			$(document).ready(function () {
				//Populate with current skills
				var skillValue, skillId, tab;
				<% @discussion.skills.each do |skill| %>
				tab = document.createElement('div');
				$(tab).addClass('skilldiv');
				$(tab).append('<%= skill.name %>');
				$(tab).append('<input type="hidden" name="skills[]" value="' + <%= skill.id %> + '" />');
				$(tab).append(' - <a href="#" id="remove" style="color:#892A38;font-weight:bold">x</a>');
				$('#current_skills').append(tab);

				<% end %>
				$("#addSkill").click(function() {
					skillValue = $("#skill_skillList option:selected").text();
					skillId = $("#skill_skillList option:selected").val();
					tab = document.createElement('div');
					$(tab).addClass('skilldiv');
					$(tab).append(skillValue);
					$(tab).append('<input type="hidden" name="skills[]" value="' + skillId + '" />');
					$(tab).append(' - <a href="#" id="remove" style="color:#892A38;font-weight:bold">x</a>');
					$('#current_skills').append(tab);
				});
				$("#remove").live("click", function (e) {
					e.preventDefault();
					$(this).closest("div.skilldiv").remove();
				});
			});
		</script>
	</div>

  <div class="field" style="margin-left:75px" >
		<br /><% if self.current_user.is_admin %>
			<%= f.check_box :approval %> This Discussion requires approval for comments
		<% end %>
	</div>

  <div class="actions">
    <%= f.submit :style => "margin:10px 0px 0px 60px" %> <%= link_to ' Cancel', discussions_path %>
  </div>
  </article>
<% end %>
