<%= form_for(@discussion) do |f| %>
  <% if @discussion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@discussion.errors.count, "error") %> prohibited this discussion from being saved:</h2>

      <ul>
      <% @discussion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
		<strong>Title:</strong><br />
		<%= f.text_field :title %>
	</div><br />

  <div class="field">
		<strong>Body:</strong><br />
		<%= f.text_area :message %>
  </div>

	<div class="field">
		<%= select "skill", 'skillList', Skill.all.collect { |skill| [skill.name, skill.id] } %>
		<button type="button" id="addSkill">Add Skill</button>

		<div id="current_skills">
		</div>

		<script type="text/javascript">
			$(document).ready(function () {
				//Populate with current skills
				var skillValue, skillId, tab;
				<% @discussion.skills.each do |skill| %>
				tab = document.createElement('div');
				$(tab).addClass('skilldiv')
				$(tab).append(<%= skill.name %>);
				$(tab).append('<input type="hidden" name="skills[]" value="' + <%= skill.id %> + '" />');
				$(tab).append(' | <a href="#" id="remove">Remove</a><br />');
				$('#current_skills').append(tab);

				<% end %>
				$("#addSkill").click(function() {
					skillValue = $("#skill_skillList option:selected").text();
					skillId = $("#skill_skillList option:selected").val();
					tab = document.createElement('div');
					$(tab).addClass('skilldiv')
					$(tab).append(skillValue);
					$(tab).append('<input type="hidden" name="skills[]" value="' + skillId + '" />');
					$(tab).append(' | <a href="#" id="remove">Remove</a><br />');
					$('#current_skills').append(tab);
				});
				$("#remove").live("click", function () {
					$(this).closest("div.skilldiv").remove();
				});
			});
		</script>
	</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
