<section id="main-content" class='inner-content'>
	<h1 style='text-align:center;margin-top:1px;padding-top:30px'>
		Ask Me Anything Series
	</h1>
	<section class="half-width left-side" style='height:360px'>
		<h3>
			Ask Me Anything?
		</h3>
		A Tioki "Ask Me Anything" (AMA) is a live 30-minute virtual discussion, where a featured guest arrives for users to ask him or her anything they want! Education leaders and pioneering individuals from all over the country have already carried out Tioki AMAs, and we're excited about who will be coming next! Check out the full list of past and future guests below. 
		
		<h4 style='margin-top:38px'>
			<a href='/signup/?ama_link' style='color:#F66C4C;' target='_blank'>Signup to Tioki</a> and be the first to find out about future AMAs!
		</h4>
	</section>
	
	<section class="half-width right-side" style='height:360px'>
		<h3>
			Upcoming AMA Guests
		</h3>
				
		<!--UPCOMING AMA SECTION-->
		<section style='margin-top:30px'>
			<a href="http://tioki.com/discussions/152-ama-w-michelle-rhee-ceo-of-studentsfirst" target="_blank">
				<img src="/assets/tioki/ourcustomers/michelle_rhee.jpeg" alt="" style="width:125px;float:left" class='image-shadow'/>
			</a>
			<section style='margin-left:140px'>
				<h4 class="bottom-line" style='margin-top:0px;margin-bottom:0px'>
					<a href="http://tioki.com/discussions/152-ama-w-michelle-rhee-ceo-of-studentsfirst" target="_blank" style="color:#2AA99B;">
					Michelle Rhee
					</a>
				</h4>
				<p>
				CEO of <a href='http://www.studentsfirst.org/' target='_blank'>StudentsFirst</a><br/>
				<strong>Date:</strong> June 6th <br/>
				<strong>Time:</strong> 4-4:30pm PST<br/>
				<%= link_to "Follow the Conversation", 'http://tioki.com/discussions/152-ama-w-michelle-rhee-ceo-of-studentsfirst', :target => "_blank" %> 
				</p>
			</section>
		</section>
		<!--END UPCOMING AMA SECTION -->

		<!--UPCOMING AMA SECTION-->
		<section style='margin-top:30px'>
			<a href="http://tioki.com/discussions/176-ama-w-the-teach-for-america-social-entrepreneurship-initiative-team" target="_blank">
				<img src="/assets/tioki/ourcustomers/chaula_new.png" alt="" style="width:125px;float:left" class='image-shadow'/>
			</a>
			<section style='margin-left:140px'>
				<h4 class="bottom-line" style='margin-top:0px;margin-bottom:0px'>
					<a href="http://tioki.com/discussions/176-ama-w-the-teach-for-america-social-entrepreneurship-initiative-team" target="_blank" style="color:#2AA99B;">
					Chaula Gupta, Leslie Leggett, and Vinit Sukhija
					</a>
				</h4>
				<p>
				Teach for America Social Entrepreneurship Initiative Team<br/>
				<strong>Date:</strong> Wednesday, June 19th<br/>
				<strong>Time:</strong> 4:00-4:30 PST<br/>
				<%= link_to "Follow the Conversation", 'http://tioki.com/discussions/176-ama-w-the-teach-for-america-social-entrepreneurship-initiative-team', :target => "_blank" %> 
				</p>
			</section>
		</section>
		<!--END UPCOMING AMA SECTION -->
		
		<!-- WHO SHOULD WE HAVE SECTION -->
		<!--section style='margin-top:30px'>
			<a href="http://blog.tioki.com/ask-me-anything-says-brian-greenberg-ceo-of-silicon-schools-fund/" target="_blank">
				<img src="/assets/dl_icons/avatar_question.png" alt="" style="width:125px;float:left" class='image-shadow'/>
			</a>
			<section style='margin-left:140px'>
				<h4 class="bottom-line" style='margin-top:0px;margin-bottom:0px'>
					<a href="http://blog.tioki.com/ask-me-anything-says-brian-greenberg-ceo-of-silicon-schools-fund/" target="_blank" style="color:#2AA99B;">
					Know someone who would be great for AMA?
					</a>
				</h4>
				<p>
				<a href='mailto:support@tioki.com?subject=AMA Guest Suggestion'>Contact us today</a> and let us know who they are!<br/>
				
				</p>
			</section>
		</section-->
		<!--END WHO WE SHOULD HAVE SECTION -->
		
		
	</section>
	
	<section class='three-column left-side' style='border-bottom: 2px #2aa99b dashed;margin: 30px 0 30px 0;'></section>	
	
	<!-- START PAST AMA LIST -->
	<h2>
		Past AMA's
	</h2>
	
	<!-- Past AMA Set-->

		<section class="one-column left-side" style='width:350px'>
			<a href="http://tioki.com/discussions/159-ama-w-matt-candler-founder-ceo-of-4-0-schools" target="_blank">
				<img src="https://tioki.s3.amazonaws.com/avatars/medium/20130418195923-20130418195923-20130418195922-matt-png.?1366315161" alt="" style="width:100px;float:left" class='image-shadow'/>
			</a>
			<section style='margin-left:115px'>
				<h4 class="bottom-line" style='margin-top:10px;margin-bottom:0px'>
					<a href="http://tioki.com/discussions/159-ama-w-matt-candler-founder-ceo-of-4-0-schools" target="_blank" style="color:#2AA99B;">
					Matt Candler
					</a>
				</h4>
				<p style='width:auto;'>
					Founder & CEO of <a href='http://4pt0.org/' target='_blank'>4.0 Schools</a><br/>
					EdTech Incubator
					
				</p>
			</section>
		</section>
		
		<section class='panel two-column right-side square' style='width:595px'>
			<p class="AMA">
				<em>
					"Making bad start-ups look good is not our job. Making start-ups validate the problem they’re working on and the market they’re serving is. So we dont just do the accelerator part. It's the last of four steps towards building disruptive ventures for us."
				</em>
				<br><br>
				<span>
					<%= link_to "View Matt Candler's AMA", 'http://tioki.com/discussions/159-ama-w-matt-candler-founder-ceo-of-4-0-schools', :target => '_blank', :style => 'float:right' %>
				</span>
			</p>
		</section>
		<section class='three-column left-side' style='margin: 30px 0 30px 0;'></section>	
	<!-- END AMA Set -->

		<!-- Past AMA Set-->

		<section class="one-column left-side" style='width:350px'>
			<a href="http://tioki.com/discussions/157-ama-w-charles-best-founder-of-donorschoose" target="_blank">
				<img src="https://tioki.s3.amazonaws.com/avatars/medium/20130403183707-20130403183707-20130403183706-charlesbest_profile-jpg.?1365014225" alt="" style="width:100px;float:left" class='image-shadow'/>
			</a>
			<section style='margin-left:115px'>
				<h4 class="bottom-line" style='margin-top:10px;margin-bottom:0px'>
					<a href="http://tioki.com/discussions/157-ama-w-charles-best-founder-of-donorschoose" target="_blank" style="color:#2AA99B;">
					Charles Best
					</a>
				</h4>
				<p style='width:auto;'>
					Founder and CEO of <a href='http://www.donorschoose.org/' target='_blank'>DonorsChoose</a><br/>
					Online Charity for Educators
					
				</p>
			</section>
		</section>
		
		<section class='panel two-column right-side square' style='width:595px'>
			<p class="AMA">
				<em>
					"My colleagues and I aspire to...help make government education spending smarter, more responsive, and more efficient by opening up our data so people can make discoveries about what resources teachers in most need."
				</em>
				<br><br>
				<span>
					<%= link_to "View Charles Best's AMA", 'http://tioki.com/discussions/157-ama-w-charles-best-founder-of-donorschoose', :target => '_blank', :style => 'float:right' %>
				</span>
			</p>
		</section>
		<section class='three-column left-side' style='margin: 30px 0 30px 0;'></section>	
	<!-- END AMA Set -->
	
	<!-- Past AMA Set-->

		<section class="one-column left-side" style='width:350px'>
			<a href="http://tioki.com/discussions/149-ama-w-brian-greenberg-ceo-of-silicon-schools-fund" target="_blank">
				<img src="https://tioki.s3.amazonaws.com/avatars/medium/20130321052040-20130321052038-20130321052036-bri_3882-jpg.?1363843234" alt="" style="width:100px;float:left" class='image-shadow'/>
			</a>
			<section style='margin-left:115px'>
				<h4 class="bottom-line" style='margin-top:10px;margin-bottom:0px'>
					<a href="http://tioki.com/discussions/149-ama-w-brian-greenberg-ceo-of-silicon-schools-fund" target="_blank" style="color:#2AA99B;">
					Brian Greenberg
					</a>
				</h4>
				<p style='width:auto;'>
					CEO of <a href='http://www.siliconschools.com/' target='_blank'>Silicon Schools Fund</a><br/>
					Seed Funding for Blended Learning
					
				</p>
			</section>
		</section>
		
		<section class='panel two-column right-side square' style='width:595px'>
			<p class="AMA">
				<em>
					"I'm quite interested in the human side of the blended equation that mixes the best of in person learning with online learning. Too many people do think that the tech is a silver bullet and not enough folks are interested in the "Deeper Learning" side of the equation. "
				</em>
				<br><br>
				<span>
					<%= link_to "View Brian Greenberg's AMA", 'http://tioki.com/discussions/149-ama-w-brian-greenberg-ceo-of-silicon-schools-fund', :target => '_blank', :style => 'float:right' %>
				</span>
			</p>
		</section>
		<section class='three-column left-side' style='margin: 30px 0 30px 0;'></section>	
	<!-- END AMA Set -->

	<!-- Past AMA Set-->
		<section class="one-column left-side" style='width:350px'>
			<a href="http://tioki.com/discussions/129-ama-w-jim-shelton-innovation-improvement-at-u-s-dept-of-ed" target="_blank">
				<img src="https://tioki.s3.amazonaws.com/avatars/original/20130206010953-20130206010953-20130206010952-jim-shelton-pic_updated-jpg.?1360112992" alt="" style="width:100px;float:left" class='image-shadow'/>
			</a>
			<section style='margin-left:115px'>
				<h4 class="bottom-line" style='margin-top:10px;margin-bottom:0px'>
					<a href="http://tioki.com/discussions/129-ama-w-jim-shelton-innovation-improvement-at-u-s-dept-of-ed" target="_blank" style="color:#2AA99B;">
					Jim Shelton
					</a>
				</h4>
				<p style='width:auto;'>
					Innovation & Improvement,<br>
					U.S. Department of Education
				</p>
			</section>
		</section>
		
		<section class='panel two-column right-side square' style='width:595px'>
			<p class="AMA">
				<em>
					"That said, I would love for someone to get rich because they developed a reading program that enabled millions of kids to read, the way people get rich off of developing first person shooter games"
				</em>
				<br><br>
				<span>
					<%= link_to "View Jim Shelton's AMA", 'http://tioki.com/discussions/129-ama-w-jim-shelton-innovation-improvement-at-u-s-dept-of-ed', :target => '_blank', :style => 'float:right' %>
				</span>
			</p>
		</section>
		<section class='three-column left-side' style='margin: 30px 0 30px 0;'></section>	
	<!-- END AMA Set -->

	<!-- Past AMA Set-->
		<section class="one-column left-side" style='width:350px'>
			<a href="http://tioki.com/discussions/137-ama-w-betsy-corcoran-co-founder-of-edsurge" target="_blank">
				<img src="https://tioki.s3.amazonaws.com/avatars/original/20130226052440-20130226052440-20130226052440-betsy_headshot-jpg.?1361856279" alt="" style="width:100px;float:left" class='image-shadow'/>
			</a>
			<section style='margin-left:115px'>
				<h4 class="bottom-line" style='margin-top:0px;margin-bottom:0px'>
					<a href="http://tioki.com/discussions/137-ama-w-betsy-corcoran-co-founder-of-edsurge" target="_blank" style="color:#2AA99B;">
					Betsy Corcoran
					</a>
				</h4>
				<p style='width:auto;'>
				  	Co-founder of <%= link_to 'EdSurge', 'https://www.edsurge.com/', :target => '_blank' %>,<br>
					The Best in Edtech
				</p>
			</section>
		</section>
		
		<section class='panel two-column right-side square' style='width:595px'>
			<p class="AMA">
				<em>
					"Right now, too many educators worry that diving into EdTech is like buying a used car in the days before lots of information. That's the problem we're addressing..." 
				</em>
				<br><br>
				<%= link_to "View Betsy Corcoran's AMA", 'http://tioki.com/discussions/137-ama-w-betsy-corcoran-co-founder-of-edsurge', :target => '_blank', :style => 'float:right' %>
			</p>
		</section>
		<section class='three-column left-side' style='margin: 30px 0 30px 0;'></section>	
	<!-- END AMA Set -->
	
	<!-- Past AMA Set-->
		<section class="one-column left-side" style='width:350px'>
			<a href="http://tioki.com/discussions/17-ask-me-anything-ama-w-dan-carroll-tfa-alum-co-founder-of-clever" target="_blank">
				<img src="https://tioki.s3.amazonaws.com/avatars/medium/20121018000149-20121018000148-20121018000147-1c2fe94.jpg20121018-28591-6xi59r?1350518506" alt="" style="width:100px;float:left" class='image-shadow'/>
			</a>
			<section style='margin-left:115px'>
				<h4 class="bottom-line" style='margin-top:0px;margin-bottom:0px'>
					<a href="http://tioki.com/discussions/17-ask-me-anything-ama-w-dan-carroll-tfa-alum-co-founder-of-clever" target="_blank" style="color:#2AA99B;">
					Dan Carroll
					</a>
				</h4>
				<p style='width:auto;'>
				 	Co-founder of <%= link_to 'Clever', 'https://getclever.com/', :target => '_blank' %>,<br> 
					APIs for Edtech Developers 
				</p>
			</section>
		</section>
		
		<section class='panel two-column right-side square' style='width:595px'>
			<p class="AMA">
				<em>
				"The hardest thing about starting a company is staying focused. At Clever, we have tons of ideas for things we could build & a million ways we could spend our time. It's hard to say no to a good idea, a possible partnership, or an event that seems cool, but staying focused is essential if you want your vision to become a reality! "
				</em>
				<br><br>
				<%= link_to "View Dan Carroll's AMA", 'http://tioki.com/discussions/17-ask-me-anything-ama-w-dan-carroll-tfa-alum-co-founder-of-clever', :target => '_blank', :style => 'float:right' %>
			</p>
		</section>
		<section class='three-column left-side' style='margin: 30px 0 30px 0;'></section>	
	<!-- END AMA Set -->
	
	<!-- Past AMA Set-->
		<section class="one-column left-side" style='width:350px'>
			<a href="http://tioki.com/discussions/141-ama-w-jennifer-carolan-shauntel-poulson-of-nsvf" target="_blank">
				<img src="https://tioki.s3.amazonaws.com/avatars/original/20130311043925-20130311043922-20130311043918-jcprofile-jpg.?1362976755" alt="" style="width:100px;float:left" class='image-shadow'/>
			</a>
			<section style='margin-left:115px'>
				<h4 class="bottom-line" style='margin-top:0px;margin-bottom:0px'>
					<a href="http://tioki.com/discussions/141-ama-w-jennifer-carolan-shauntel-poulson-of-nsvf" target="_blank" style="color:#2AA99B;">
					Jennifer Carolan
					</a>
				</h4>
				<p style='width:auto;'>
				 	Executive Director<br>
					The NewSchools <%= link_to 'Seed Fund', 'http://www.newschools.org/funds/seed', :target => "_blank" %>
				</p>
			</section>
		</section>
		
		<section class='panel two-column right-side square' style='width:595px'>
			<p class="AMA">
				<em>
					"At a high-level, we invest in tools, solutions and services that will impact K-12 students in our public schools. our mission is to transform education, especially for underserved kids so we also look for solutions that are going to help low-income and minority students."
				</em>
				<br><br>
				<%= link_to "View Jennifer Carolan's AMA", 'http://tioki.com/discussions/141-ama-w-jennifer-carolan-shauntel-poulson-of-nsvf', :target => '_blank', :style => 'float:right' %>
			</p>
		</section>
		<section class='three-column left-side' style='margin: 30px 0 30px 0;'></section>	
	<!-- END AMA Set -->
	
	<!-- Past AMA Set-->
		<section class="one-column left-side" style='width:350px'>
			<a href="http://tioki.com/discussions/141-ama-w-jennifer-carolan-shauntel-poulson-of-nsvf" target="_blank">
				<img src="https://tioki.s3.amazonaws.com/avatars/original/20130307220354-20130307220354-20130307220353-sp_headshot-jpg.?1362693833" alt="" style="width:100px;float:left" class='image-shadow'/>
			</a>
			<section style='margin-left:115px'>
				<h4 class="bottom-line" style='margin-top:0px;margin-bottom:0px'>
					<a href="http://tioki.com/discussions/141-ama-w-jennifer-carolan-shauntel-poulson-of-nsvf" target="_blank" style="color:#2AA99B;">
					Shauntel Poulson
					</a>
				</h4>
				<p style='width:auto;'>
				 	Associate Partner <br>
					The NewSchools <%= link_to 'Venture Fund', 'http://www.newschools.org/', :target => '_blank' %> 
				</p>
			</section>
		</section>
		
		<section class='panel two-column right-side square' style='width:595px'>
			<p class="AMA">
				<em>
					"It depends on the founder's ability to empathize with their users. We have quite a few examples of entrepreneurs in our portfolio who haven't taught and have been successful because they have taken a design centered approach and they continually seek feedback from teachers to improve their product."
				</em>
				<br><br>
				<%= link_to "View Shauntel Poulson's AMA", 'http://tioki.com/discussions/141-ama-w-jennifer-carolan-shauntel-poulson-of-nsvf', :target => '_blank', :style => 'float:right' %>
			</p>
		</section>
		<section class='three-column left-side' style='margin: 30px 0 30px 0;'></section>	
	<!-- END AMA Set -->
	
	<!-- Past AMA Set-->
		<section class="one-column left-side" style='width:350px'>
			<a href="http://tioki.com/discussions/30-ama-ask-me-anything-w-sam-chaudhary-of-classdojo" target="_blank">
				<img src="https://tioki.s3.amazonaws.com/avatars/original/20121002202830-20121002202829-20121002202829-Sam%20pro%20pic.jpg20121002-15756-aapzor?1349209709" alt="" style="width:100px;float:left" class='image-shadow'/>
			</a>
			<section style='margin-left:115px'>
				<h4 class="bottom-line" style='margin-top:0px;margin-bottom:0px'>
					<a href="http://tioki.com/discussions/30-ama-ask-me-anything-w-sam-chaudhary-of-classdojo" target="_blank" style="color:#2AA99B;">
					Sam Chaudhary
					</a>
				</h4>
				<p style='width:auto;'>
					Co-founder at <%= link_to 'ClassDojo', 'http://www.classdojo.com/', :target => '_blank' %>, <br>
					Behavior Management Software
				</p>
			</section>
		</section>
		
		<section class='panel two-column right-side square' style='width:595px'>
			<p class="AMA">
				<em>
					"The pink socks, I knew that would come up! :p they started a while ago - I had to wear a suit and shirt every day to teach, and then at McKinsey. That uniform gets a little boring - so I decided to have a little fun with it by adding some fun socks (I know - crazy, right? :) ). They've just kind of stuck since then..."
				</em>
				<br><br>
				<%= link_to "View Sam Chaudhary's AMA", 'http://tioki.com/discussions/30-ama-ask-me-anything-w-sam-chaudhary-of-classdojo', :target => '_blank', :style => 'float:right' %>
			</p>
		</section>
		<section class='three-column left-side' style='margin: 30px 0 30px 0;'></section>	
	<!-- END AMA Set -->
	
	<!-- Past AMA Set-->
		<section class="one-column left-side" style='width:350px'>
			<a href="http://tioki.com/discussions/31-ama-ask-me-anything-w-alan-louie-of-imagine-k12" target="_blank">
				<img src="https://tioki.s3.amazonaws.com/avatars/original/20121129150138-20121129150137-20121129150137-alan_louie_headshot_small.jpg20121129-23114-eoq2dr?1354201297" alt="" style="width:100px;float:left" class='image-shadow'/>
			</a>
			<section style='margin-left:115px'>
				<h4 class="bottom-line" style='margin-top:0px;margin-bottom:0px'>
					<a href="http://tioki.com/discussions/31-ama-ask-me-anything-w-alan-louie-of-imagine-k12" target="_blank" style="color:#2AA99B;">
					 Alan Louie 
					</a>
				</h4>
				<p style='width:auto;'>
				 	Founder, <%= link_to 'Imagine K12', 'http://www.imaginek12.com/', :target => '_blank' %>,  <br>
					The "Y Combinator" for Edtech 
				</p>
			</section>
		</section>
		
		<section class='panel two-column right-side square' style='width:595px'>
			<p class="AMA">
				<em>
					"The biggest challenge in general is "distribution" which means sales/adoption. But again on the spectrum of tools/IM, distribution is easier on the teacher tool side because with many tools the teacher can just choose to use it without a school/district having to buy it and roll it out as a program with PD..."
				</em>
				<br><br>
				<%= link_to "View Alan Louie's AMA", 'http://tioki.com/discussions/31-ama-ask-me-anything-w-alan-louie-of-imagine-k12', :target => '_blank', :style => 'float:right' %>
			</p>
		</section>
		<section class='three-column left-side' style='margin: 30px 0 30px 0;'></section>	
	<!-- END AMA Set -->
	
	<!-- Past AMA Set-->
		<section class="one-column left-side" style='width:350px'>
			<a href="http://tioki.com/discussions/111-ama-w-dr-yong-zhao-presidential-chair-associate-dean-global-and-online-education" target="_blank">
				<img src="https://tioki.s3.amazonaws.com/avatars/original/20130111232446-20130111232445-20130111232445-yongzhao.jpg20130111-23437-4doe06?1357946684" alt="" style="width:100px;float:left" class='image-shadow'/>
			</a>
			<section style='margin-left:115px'>
				<h4 class="bottom-line" style='margin-top:0px;margin-bottom:0px'>
					<a href="http://tioki.com/discussions/111-ama-w-dr-yong-zhao-presidential-chair-associate-dean-global-and-online-education" target="_blank" style="color:#2AA99B;">
					Yong Zhao
					</a>
				</h4>
				<p style='width:auto;'>
				 	Chairman of Global & Online<br> 
					Education at <%= link_to 'University of Oregon ', 'http://zhaolearning.com/', :target => '_blank' %> 
				</p>
			</section>
		</section>
		
		<section class='panel two-column right-side square' style='width:595px'>
			<p class="AMA">
				<em>
					"It will be very important also for teachers and school leaders to not teach to the tests, to resist"
				</em>
				<br><br>
				<%= link_to "View Yong Zhao's AMA", 'http://tioki.com/discussions/111-ama-w-dr-yong-zhao-presidential-chair-associate-dean-global-and-online-education', :target => '_blank', :style => 'float:right' %>
			</p>
		</section>
		<section class='three-column left-side' style='margin: 30px 0 30px 0;'></section>	
	<!-- END AMA Set -->
	
	<!-- Past AMA Set-->
		<section class="one-column left-side" style='width:350px'>
			<a href="http://tioki.com/discussions/127-ama-w-wayee-chu-edtech-advisor-investor" target="_blank">
				<img src="https://tioki.s3.amazonaws.com/avatars/original/20130129185112-20130129185110-20130129185108-p1080004-jpg20130129-26667-1f7yfvx.?1359485466" alt="" style="width:100px;float:left" class='image-shadow'/>
			</a>
			<section style='margin-left:115px'>
				<h4 class="bottom-line" style='margin-top:0px;margin-bottom:0px'>
					<a href="http://tioki.com/discussions/127-ama-w-wayee-chu-edtech-advisor-investor" target="_blank" style="color:#2AA99B;">
					Wayee Chu
					</a>
				</h4>
				<p style='width:auto;'>
				 	Board Member at <br>
					NewSchools <%= link_to 'Seed Fund', 'http://www.newschools.org/', :target => '_blank' %> 
				</p>
			</section>
		</section>
		
		<section class='panel two-column right-side square' style='width:595px'>
			<p class="AMA">
				<em>
					"I do see many reasons why a company would choose the for profit route, first, sustainability is critical (for both structures), if you are a technology company, you want to hire the best technical talent out there..." 
				</em>
				<br><br>
				<%= link_to "View Wayee Chu's AMA", 'http://tioki.com/discussions/127-ama-w-wayee-chu-edtech-advisor-investor', :target => '_blank', :style => 'float:right' %>
			</p>
		</section>
		<section class='three-column left-side' style='margin: 30px 0 30px 0;'></section>	
	<!-- END AMA Set -->
	
	<!-- Past AMA Set-->
		<section class="one-column left-side" style='width:350px'>
			<a href="http://tioki.com/discussions/49-ama-w-john-lee-educator-school-leader-ed-of-teach-plus" target="_blank">
				<img src="https://tioki.s3.amazonaws.com/avatars/original/20121205195538-20121205195537-20121205195537-DSC_3884editedforFB.jpg20121205-16010-1wz5k05?1354737336" alt="" style="width:100px;float:left" class='image-shadow'/>
			</a>
			<section style='margin-left:115px'>
				<h4 class="bottom-line" style='margin-top:0px;margin-bottom:0px'>
					<a href="http://tioki.com/discussions/49-ama-w-john-lee-educator-school-leader-ed-of-teach-plus" target="_blank" style="color:#2AA99B;">
					John Lee
					</a>
				</h4>
				<p style='width:auto;'>
				 	Executive Director  <br>
					<%= link_to 'Teach Plus', 'http://www.teachplus.org/page/programs-72.html', :target => '_blank' %> Los Angeles
				</p>
			</section>
		</section>
		
		<section class='panel two-column right-side square' style='width:595px'>
			<p class="AMA">
				<em>
					"We’ve heard from many teachers that they want meaningful evaluations that help them improve at their craft. Having a strong evaluation system that is based on multiple measures will enable districts to make better decisions on targeted/tailored professional development..."
				</em>
				<br><br>
				<%= link_to "View John Lee's AMA", 'http://tioki.com/discussions/49-ama-w-john-lee-educator-school-leader-ed-of-teach-plus', :target => '_blank', :style => 'float:right' %>
			</p>
		</section>
		<section class='three-column left-side' style='margin: 30px 0 30px 0;'></section>	
	<!-- END AMA Set -->
	
	<!-- Past AMA Set-->
		<section class="one-column left-side" style='width:350px'>
			<a href="http://tioki.com/discussions/46-ama-w-karla-barrios-school-district-talent-director-dec-19th-at-5pm-pst" target="_blank">
				<img src="https://tioki.s3.amazonaws.com/avatars/original/20121215002019-20121215002018-20121215002018-Tioki_Profile.JPG20121215-23444-kqx1o7?1355530817" alt="" style="width:100px;float:left" class='image-shadow'/>
			</a>
			<section style='margin-left:115px'>
				<h4 class="bottom-line" style='margin-top:0px;margin-bottom:0px'>
					<a href="http://tioki.com/discussions/46-ama-w-karla-barrios-school-district-talent-director-dec-19th-at-5pm-pst" target="_blank" style="color:#2AA99B;">
					 Karla Barrios 
					</a>
				</h4>
				<p style='width:auto;'>
				 	Talent Recruiter <br>
					<%= link_to 'Oakland Unified School District', 'http://www.ousd.k12.ca.us/site/default.aspx?PageID=1', :target => '_blank' %> 
				</p>
			</section>
		</section>
		
		<section class='panel two-column right-side square' style='width:595px'>
			<p class="AMA">
				<em>
					"To find the right fit I think it's really important to find a school with a vision you can buy into and strong leadership. As an outsider, this can be really difficult to do but it's something you should keep an eye out for during interviews. Ask to talk to teachers currently at the school, inquire about turn over and the administration's perspective on why teachers have left."
				</em>
				<br><br>
				<%= link_to "View  Karla Barrios' AMA", 'http://tioki.com/discussions/46-ama-w-karla-barrios-school-district-talent-director-dec-19th-at-5pm-pst', :target => '_blank', :style => 'float:right' %>
			</p>
		</section>
		<section class='three-column left-side' style='margin: 30px 0 30px 0;'></section>	
	<!-- END AMA Set -->
	
	<!-- Past AMA Set-->
		<section class="one-column left-side" style='width:350px'>
			<a href="http://tioki.com/discussions/130-ama-w-farb-nivi-teacher-of-the-year-founder-of-grockit-learnist-socratic-labs" target="_blank">
				<img src="https://tioki.s3.amazonaws.com/avatars/medium/20130217043953-20130217043953-20130217043953-farb-head-shot-jpg.?1361075992" alt="" style="width:100px;float:left" class='image-shadow'/>
			</a>
			<section style='margin-left:115px'>
				<h4 class="bottom-line" style='margin-top:0px;margin-bottom:0px'>
					<a href="http://tioki.com/discussions/130-ama-w-farb-nivi-teacher-of-the-year-founder-of-grockit-learnist-socratic-labs" target="_blank" style="color:#2AA99B;">
					Farb Nivi
					</a>
				</h4>
				<p style='width:auto;'>
				 	Founder at <%= link_to 'Grockit', 'https://grockit.com/', :target => '_blank' %>, <br>
					 Online Test Prep 
				</p>
			</section>
		</section>
		
		<section class='panel two-column right-side square' style='width:595px'>
			<p class="AMA">
				<em>
					"I think anything that is about looking pretty but has no value is fluff and there is a lot of that. That said it can also be tough to tease these things apart even with data. Apps for younger..." 
				</em>
				<br><br>
				<%= link_to "View Farb Nivi's AMA", 'http://tioki.com/discussions/130-ama-w-farb-nivi-teacher-of-the-year-founder-of-grockit-learnist-socratic-labs', :target => '_blank', :style => 'float:right' %>
			</p>
		</section>
		<section class='three-column left-side' style='margin: 30px 0 30px 0;'></section>	
	<!-- END AMA Set -->
	
	<!-- Past AMA Set-->
		<section class="one-column left-side" style='width:350px'>
			<a href="http://tioki.com/discussions/88-ama-w-emily-bobel-executive-director-of-teach-for-america-bay-area" target="_blank">
				<img src="https://tioki.s3.amazonaws.com/avatars/medium/20130108214545-20130108214545-20130108214544-Emily.Bobel.JPG20130108-440-1brv02r?1357681543" alt="" style="width:100px;float:left" class='image-shadow'/>
			</a>
			<section style='margin-left:115px'>
				<h4 class="bottom-line" style='margin-top:0px;margin-bottom:0px'>
					<a href="http://tioki.com/discussions/88-ama-w-emily-bobel-executive-director-of-teach-for-america-bay-area" target="_blank" style="color:#2AA99B;">
					Emily Bobel
					</a>
				</h4>
				<p style='width:auto;'>
				 	Executive Director<br>
					Teach For America - <%= link_to 'Bay Area', 'http://www.teachforamerica.org/where-we-work/bay-area', :target => '_blank' %> 
				</p>
			</section>
		</section>
		
		<section class='panel two-column right-side square' style='width:595px'>
			<p class="AMA">
				<em>
					"We had 50,000 people apply for 5,000 slots last year, so we had to turn away some great talent. Our scale necessitates a) we have the placements in our districts, and b) we can raise the $40,000 per corps member to support them. So, we have a limited # of slots and are looking for the most qualified and people to teacher given the challenges and short training runway we have."
				</em>
				<br><br>
				<%= link_to "View Emily Bobel's AMA", 'http://tioki.com/discussions/88-ama-w-emily-bobel-executive-director-of-teach-for-america-bay-area', :target => '_blank', :style => 'float:right' %>
			</p>
		</section>
		<section class='three-column left-side' style='margin: 30px 0 30px 0;'></section>	
	<!-- END AMA Set -->
	
	<!-- Past AMA Set-->
		<section class="one-column left-side" style='width:350px'>
			<a href="http://tioki.com/discussions/112-ama-w-jen-medbery-forbes-30-under-30-edtech-founder" target="_blank">
				<img src="https://tioki.s3.amazonaws.com/avatars/original/20130108001634-20130108001633-20130108001633-tioki2.png20130108-20228-1rgb1mo?1357604192" alt="" style="width:100px;float:left" class='image-shadow'/>
			</a>
			<section style='margin-left:115px'>
				<h4 class="bottom-line" style='margin-top:0px;margin-bottom:0px'>
					<a href="http://tioki.com/discussions/112-ama-w-jen-medbery-forbes-30-under-30-edtech-founder" target="_blank" style="color:#2AA99B;">
					Jennifer Medbery
					</a>
				</h4>
				<p style='width:auto;'>
				 	CEO and Founder at <%= link_to 'Kickboard', 'http://www.kickboardforteachers.com/', :target => '_blank' %>,<br>
					K-12 Analytics Platform 
				</p>
			</section>
		</section>
		
		<section class='panel two-column right-side square' style='width:595px'>
			<p class="AMA">
				<em>
					"There's probably a few definitions of edupreneurship out there, but here's mine: An edupreneur is somebody who has firsthand experience working in a school or other education environment, has firsthand experience with a painpoint or challenge, and uses entrepreneurship to build a solution."
				</em>
				<br><br>
				<%= link_to "View Jennifer Medbery's AMA", 'http://tioki.com/discussions/112-ama-w-jen-medbery-forbes-30-under-30-edtech-founder', :target => '_blank', :style => 'float:right' %>
			</p>
		</section>
		<section class='three-column left-side' style='margin: 30px 0 30px 0;'></section>	
	<!-- END AMA Set -->
	
	<!-- Past AMA Set-->
		<section class="one-column left-side" style='width:350px'>
			<a href="http://tioki.com/discussions/59-ama-w-jon-deane-cio-of-summit-public-schools" target="_blank">
				<img src="https://tioki.s3.amazonaws.com/avatars/original/20121206171732-20121206171731-20121206171731-JDcropped_10.jpg20121206-3652-1pem2va?1354814250" alt="" style="width:100px;float:left" class='image-shadow'/>
			</a>
			<section style='margin-left:115px'>
				<h4 class="bottom-line" style='margin-top:0px;margin-bottom:0px'>
					<a href="http://tioki.com/discussions/59-ama-w-jon-deane-cio-of-summit-public-schools" target="_blank" style="color:#2AA99B;">
					Jon Deane 
					</a>
				</h4>
				<p style='width:auto;'>
				 	Chief Information Officer<br>
					<%= link_to 'Summit Public Schools', 'http://www.summitps.org/', :target => '_blank' %> 
				</p>
			</section>
		</section>
		
		<section class='panel two-column right-side square' style='width:595px'>
			<p class="AMA">
				<em>
					"I think it goes back to the core values- do all of the educators in the building buy into a common set of beliefs? If so, then it's definitely possible to create structures to drive this forward. The mindset has to be present with all of the adults as well, so that every student knows what's expected, and what they can expect to receive in return. "
				</em>
				<br><br>
				<%= link_to "View Jon Deane's AMA", 'http://tioki.com/discussions/59-ama-w-jon-deane-cio-of-summit-public-schools', :target => '_blank', :style => 'float:right' %>
			</p>
		</section>
		<section class='three-column left-side' style='margin: 30px 0 30px 0;'></section>	
	<!-- END AMA Set -->
	
	<!-- Past AMA Set-->
		<section class="one-column left-side" style='width:350px'>
			<a href="http://tioki.com/discussions/19-ask-me-anything-ama-w-meredith-ely-of-learn-boost-and-founder-of-ed-tech-meetup" target="_blank">
				<img src="https://tioki.s3.amazonaws.com/avatars/original/20121003230516-20121003230516-20121003230515-Meredith%20Ely%20pro%20pic.jpg20121003-8302-1gyw0mt?1349305514" alt="" style="width:100px;float:left" class='image-shadow'/>
			</a>
			<section style='margin-left:115px'>
				<h4 class="bottom-line" style='margin-top:0px;margin-bottom:0px'>
					<a href="http://tioki.com/discussions/19-ask-me-anything-ama-w-meredith-ely-of-learn-boost-and-founder-of-ed-tech-meetup" target="_blank" style="color:#2AA99B;">
					Meredith Ely
					</a>
				</h4>
				<p style='width:auto;'>
				 	Community Leader at <%= link_to 'LearnBoost', 'https://www.learnboost.com/', :target => '_blank' %>, <br>
					Free Gradebook
				</p>
			</section>
		</section>
		
		<section class='panel two-column right-side square' style='width:595px'>
			<p class="AMA">
				<em>
					"However hard I worked, however, I could not help but come up flat when dealing with the administration. There seemed to be a pervasive lack of efficiency and efficacy at the leadership level in the majority of our schools. I became deeply invested in opening my own academically and playfully rigorous preschool with a friend and colleague..."
				</em>
				<br><br>
				<%= link_to "View Meredith Ely's AMA", 'http://tioki.com/discussions/19-ask-me-anything-ama-w-meredith-ely-of-learn-boost-and-founder-of-ed-tech-meetup', :target => '_blank', :style => 'float:right' %>
			</p>
		</section>
		<section class='three-column left-side' style='margin: 30px 0 30px 0;'></section>	
	<!-- END AMA Set -->
	
	<!-- Past AMA Set-->
		<section class="one-column left-side" style='width:350px'>
			<a href="http://tioki.com/discussions/37-ama-w-michael-staton-teacher-edtech-founder-advisor" target="_blank">
				<img src="https://tioki.s3.amazonaws.com/avatars/original/20121206002418-20121206002418-20121206002417-IMG_2272.jpg20121206-27058-1n59fyk?1354753457" alt="" style="width:100px;float:left" class='image-shadow'/>
			</a>
			<section style='margin-left:115px'>
				<h4 class="bottom-line" style='margin-top:0px;margin-bottom:0px'>
					<a href="http://tioki.com/discussions/37-ama-w-michael-staton-teacher-edtech-founder-advisor" target="_blank" style="color:#2AA99B;">
					Michael Staton
					</a>
				</h4>
				<p style='width:auto;'>
				 	Entrepreneur in Residence<br>
					<%= link_to 'Learn Capital', 'http://www.learncapital.com/', :target => '_blank' %> 
				</p>
			</section>
		</section>
		
		<section class='panel two-column right-side square' style='width:595px'>
			<p class="AMA">
				<em>
					"My goal is simply to help create opportunities for people through education and entrepreneurship. I will do whatever is the highest leverage way to do this. It could be by investing in the right entrepreneurs, it could be by being an entrepreneur. Learn Capital is giving me either option, which is awesome and I feel humbled and privileged to have these kinds of opportunities."
				</em>
				<br><br>
				<%= link_to "View Michael Staton's AMA", 'http://tioki.com/discussions/37-ama-w-michael-staton-teacher-edtech-founder-advisor', :target => '_blank', :style => 'float:right' %>
			</p>
		</section>
		<section class='three-column left-side' style='margin: 30px 0 30px 0;'></section>	
	<!-- END AMA Set -->
	
	<!-- Past AMA Set-->
		<section class="one-column left-side" style='width:350px'>
			<a href="http://tioki.com/discussions/54-ama-w-dan-callahan-founder-of-edcamp-6pm-pst-12-17-12" target="_blank">
				<img src="https://tioki.s3.amazonaws.com/avatars/original/20121214024840-20121214024839-20121214024839-dancallahan2012.png20121214-24383-16n54lm?1355453318" alt="" style="width:100px;float:left" class='image-shadow'/>
			</a>
			<section style='margin-left:115px'>
				<h4 class="bottom-line" style='margin-top:0px;margin-bottom:0px'>
					<a href="http://tioki.com/discussions/54-ama-w-dan-callahan-founder-of-edcamp-6pm-pst-12-17-12" target="_blank" style="color:#2AA99B;">
					Dan Callahan
					</a>
				</h4>
				<p style='width:auto;'>
				 	Co-Founder of Edcamp<!--%= link_to 'Edcamp, 'http://www.newschools.org/', :target => '_blank' %-->,  <br>
					Participant-Directed PD
				</p>
			</section>
		</section>
		
		<section class='panel two-column right-side square' style='width:595px'>
			<p class="AMA">
				<em>
					"At most Edcamps, there's no voting involved. The session board fills organically. If you see a blank spot and have a session that you'd like to see happen, put it up there! The depth and breadth of topics is definitely dependent on the population of teachers there that day..."
				</em>
				<br><br>
				<%= link_to "View Dan Callahan's AMA", 'http://tioki.com/discussions/54-ama-w-dan-callahan-founder-of-edcamp-6pm-pst-12-17-12', :target => '_blank', :style => 'float:right' %>
			</p>
		</section>
		<section class='three-column left-side' style='margin: 30px 0 30px 0;'></section>	
	<!-- END AMA Set -->
	
	<!-- Past AMA Set-->
		<section class="one-column left-side" style='width:350px'>
			<a href="http://tioki.com/discussions/119-ama-w-jonathan-schleifer-executive-director-of-educators-4-excellence" target="_blank">
				<img src="https://tioki.s3.amazonaws.com/avatars/original/20130123205136-20130123205135-20130123205135-f41e57ab0adc3b78ddccd8e9324092d4-jpeg20130123-7423-ppa2xq.?1358974294" alt="" style="width:100px;float:left" class='image-shadow'/>
			</a>
			<section style='margin-left:115px'>
				<h4 class="bottom-line" style='margin-top:0px;margin-bottom:0px'>
					<a href="http://tioki.com/discussions/119-ama-w-jonathan-schleifer-executive-director-of-educators-4-excellence" target="_blank" style="color:#2AA99B;">
					Jonathan Schleifer
					</a>
				</h4>
				<p style='width:auto;'>
				 	Executive Director<br>
					<%= link_to 'Educators 4 Excellence NY', 'http://ny.educators4excellence.org/', :target => '_blank' %> 
				</p>
			</section>
		</section>
		
		<section class='panel two-column right-side square' style='width:595px'>
			<p class="AMA">
				<em>
					"In many ways teachers and veterans are very similar. They both serve the country - veterans literally protecting us and teachers enabling us to be informed and thoughtful citizens, to be a part of a community, build a career, etc. Both communities are profoundly impacted by public policy and both communities have been disenfranchised from the very policy making process which impacts them. "
				</em>
				<br><br>
				<%= link_to "View Jonathan Schleifer's AMA", 'http://tioki.com/discussions/119-ama-w-jonathan-schleifer-executive-director-of-educators-4-excellence', :target => '_blank', :style => 'float:right' %>
			</p>
		</section>
		<section class='three-column left-side' style='margin: 30px 0 30px 0;'></section>	
	<!-- END AMA Set -->
	
	<!-- Past AMA Set-->
		<section class="one-column left-side" style='width:350px'>
			<a href="http://tioki.com/discussions/48-ama-w-rob-schwartz-educator-school-leader-edtech-founder-ed-of-lpfi" target="_blank">
				<img src="https://tioki.s3.amazonaws.com/avatars/original/20121003213130-20121003213130-20121003213129-Rob%20pro%20pic.jpg20121003-32572-rv5j4v?1349299889" alt="" style="width:100px;float:left" class='image-shadow'/>
			</a>
			<section style='margin-left:115px'>
				<h4 class="bottom-line" style='margin-top:0px;margin-bottom:0px'>
					<a href="http://tioki.com/discussions/48-ama-w-rob-schwartz-educator-school-leader-edtech-founder-ed-of-lpfi" target="_blank" style="color:#2AA99B;">
					Rob Schwartz
					</a>
				</h4>
				<p style='width:auto;'>
				 	Executive Director<br>
					<%= link_to 'Level Playing Field Institute', 'http://lpfi.org/', :target => '_blank' %> 
				</p>
			</section>
		</section>
		
		<section class='panel two-column right-side square' style='width:595px'>
			<p class="AMA">
				<em>
					"My first piece of advice is to spend a significant amount of time as a teacher really honing the craft of teaching. Nothing could be more important. Secondly - get out there and see lots of different types of schools and talk to staff at those schools to see what is working and what isn't. Codify in your own mind, a core instructional philosophy and figure out how that will impact your future school."
				</em>
				<br><br>
				<%= link_to "View Rob Schwartz' AMA", 'http://tioki.com/discussions/48-ama-w-rob-schwartz-educator-school-leader-edtech-founder-ed-of-lpfi', :target => '_blank', :style => 'float:right' %>
			</p>
		</section>
		<section class='three-column left-side' style='margin: 30px 0 30px 0;'></section>	
	<!-- END AMA Set -->
	
	<!-- Past AMA Set-->
		<section class="one-column left-side" style='width:350px'>
			<a href="http://tioki.com/discussions/89-ama-w-ben-ochstein-kipp-bay-area-recruiter-edtech-enthusiast" target="_blank">
				<img src="https://tioki.s3.amazonaws.com/avatars/original/20130110193908-20130110193908-20130110193907-benprofile.png20130110-1917-rldjtr?1357846747" alt="" style="width:100px;float:left" class='image-shadow'/>
			</a>
			<section style='margin-left:115px'>
				<h4 class="bottom-line" style='margin-top:0px;margin-bottom:0px'>
					<a href="http://tioki.com/discussions/89-ama-w-ben-ochstein-kipp-bay-area-recruiter-edtech-enthusiast" target="_blank" style="color:#2AA99B;">
					Ben Ochstein 
					</a>
				</h4>
				<p style='width:auto;'>
				 	Recruitment Manager<br>
					<%= link_to 'KIPP Bay Area Schools', 'http://www.kippbayarea.org/', :target => '_blank' %> 
				</p>
			</section>
		</section>
		
		<section class='panel two-column right-side square' style='width:595px'>
			<p class="AMA">
				<em>
					"1 of our biggest unifying beliefs at KIPP is something that we call 'The Power to Lead'. This gives school leaders the power to make their own hiring decisions, determine their own budget, create their own schedule, and develop their school's unique culture. We also give this power to teachers, to make their classrooms truly their own."
				</em>
				<br><br>
				<%= link_to "View Ben Ochstein's AMA", 'http://tioki.com/discussions/89-ama-w-ben-ochstein-kipp-bay-area-recruiter-edtech-enthusiast', :target => '_blank', :style => 'float:right' %>
			</p>
		</section>
		<section class='three-column left-side' style='margin: 30px 0 30px 0;'></section>	
	<!-- END AMA Set -->
	
	<!-- Past AMA Set-->
		<section class="one-column left-side" style='width:350px'>
			<a href="http://tioki.com/discussions/39-ama-w-founders-of-mastery-connect-common-core-tool" target="_blank">
				<img src="https://tioki.s3.amazonaws.com/avatars/medium/20121206160453-20121206160452-20121206160452-medium.jpg20121206-3154-1mpo9d4?1354809892" alt="" style="width:100px;float:left" class='image-shadow'/>
			</a>
			<section style='margin-left:115px'>
				<h4 class="bottom-line" style='margin-top:0px;margin-bottom:0px'>
					<a href="http://tioki.com/discussions/39-ama-w-founders-of-mastery-connect-common-core-tool" target="_blank" style="color:#2AA99B;">
					Trenton Goble
					</a>
				</h4>
				<p style='width:auto;'>
				 	Chief Academic Officer at <%= link_to 'MasteryConnect', 'http://www.masteryconnect.com/', :target => '_blank' %>  <br>
					
				</p>
			</section>
		</section>
		
		<section class='panel two-column right-side square' style='width:595px'>
			<p class="AMA">
				<em>
					"There are good state standards and not so good state standards. I think the CCSS are pretty darn good by comparison, but the opportunity for teachers to collaborate around the Common Core is powerful."
				</em>
				<br><br>
				<%= link_to "View Trenton Goble's AMA", 'http://tioki.com/discussions/39-ama-w-founders-of-mastery-connect-common-core-tool', :target => '_blank', :style => 'float:right' %>
			</p>
		</section>
		<section class='three-column left-side' style='margin: 30px 0 30px 0;'></section>	
	<!-- END AMA Set -->
	
	<!-- Past AMA Set-->
		<section class="one-column left-side" style='width:350px'>
			<a href="http://tioki.com/discussions/39-ama-w-founders-of-mastery-connect-common-core-tool" target="_blank">
				<img src="https://tioki.s3.amazonaws.com/avatars/medium/20121206020858-20121206020858-20121206020857-cory_picture_for_linkedin_06-18-11.jpg20121206-28174-17xfwjd?1354759736" alt="" style="width:100px;float:left" class='image-shadow'/>
			</a>
			<section style='margin-left:115px'>
				<h4 class="bottom-line" style='margin-top:0px;margin-bottom:0px'>
					<a href="http://tioki.com/discussions/39-ama-w-founders-of-mastery-connect-common-core-tool" target="_blank" style="color:#2AA99B;">
					Cory Reid
					</a>
				</h4>
				<p style='width:auto;'>
				 	Chief Operating Officer at <%= link_to 'MasteryConnect', 'http://www.masteryconnect.com/', :target => '_blank' %>  <br>
					
				</p>
			</section>
		</section>
		
		<section class='panel two-column right-side square' style='width:595px'>
			<p class="AMA">
				<em>
					"We're addressing the districts as a whole, as well as partial, but most of the sales opportunity for us has been created by teachers and principals driving awareness and momentum to the districts. "
				</em>
				<br><br>
				<%= link_to "View Cory Reid's AMA", 'http://tioki.com/discussions/39-ama-w-founders-of-mastery-connect-common-core-tool', :target => '_blank', :style => 'float:right' %>
			</p>
		</section>
		<section class='three-column left-side' style='margin: 30px 0 30px 0;'></section>	
	<!-- END AMA Set -->
	
	
</section>