<section id="main-content" class="inner-content">
<%= form_for @discussion, :id => @discussion.id do |f| %>
	<h2><%= @discussion.title %></h2>
	<%= @discussion.message %><br />

	<%= f.text_area :body %><br />
	<%= f.submit "Reply" %>
<% end %>
</section>
