<section id="main-content" class="inner-content">
<h1><%= @discussion.title %></h1>

<strong><%= @discussion.user.name %></strong><br />
<%= @discussion.message %><br />
<%= link_to 'Reply', {:action => :reply_to_discussion, :id => @discussion.id} , :class => "action-button bg-salmon"%>

<% @discussion.comment_threads.each do |comment| %>
	<strong><%= comment.user.name %>:</strong><br />
	<%= comment.body %><br />
	<%= link_to "Reply", { :action => "reply_to_comment", :comment_id => comment.id} %>|<%= link_to "Delete" %>
<% end %>

</section>
