<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- Facebook sharing information tags -->
    <meta property="og:title" content="New Message">

    <title>New connection with "<%= @owner.name %>"</title>



</head>

<center>
 <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable" style="margin: 0;padding: 0;background-color: #ffffff;height: 100% !important;width: 100% !important;">
     <tr>
         <td align="center" valign="top" style="border-collapse: collapse;">
            <!-- // Begin Template Preheader \ -->
            <table border="0" cellpadding="10" cellspacing="0" width="600" id="templatePreheader" style="background-color: #ffffff;">
                <tr>
                    <td valign="top" class="preheaderContent" style="border-collapse: collapse;">

                     <!-- // Begin Module: Standard Preheader  -->
                     <table border="0" cellpadding="10" cellspacing="0" width="100%">
                         <tr>
                             <td valign="top" style="border-collapse: collapse;">
                                 <div style="color: #505050;font-family: Arial;font-size: 9px;line-height: 100%;text-align: left;"><span style="color:#ffffff;">Connect on Tioki</span></div>
                             </td>
                             <!--  -->
                         </tr>
                     </table>
                     <!-- // End Module: Standard Preheader  -->

                 </td>
             </tr>
         </table>
         <!-- // End Template Preheader \ -->
         <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer" style="border: 1px solid #ffffff;background-color: #f0f0f0;">
           <tr>
               <td align="center" valign="top" style="border-collapse: collapse;">
                <!-- // Begin Template Header \ -->
                <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader" style="background-color: #FFFFFF;border-bottom: 0;">
                   <tr>
                      <td align="left" width="300" style="color: #202020;font-family: Helvetica;font-size: 34px;font-weight: bold;padding-left: 20px;text-align: left;vertical-align: bottom;text-style: none;border-collapse: collapse" cellpadding="0">
                        <table border="0" cellpadding="0" cellspacing="0" style=" border-bottom-width:0; border-bottom-color:#000; border-bottom-style:solid;">
                            <tr>
                                <td style="font-family: Helvetica;padding-top: 10px;border-collapse: collapse">
                                   <a href="http://tioki.com" style="color: #2aa99b;font-weight: normal;text-decoration: none !important;" target="_blank">
                                    <img src="https://tioki-marketing.s3.amazonaws.com/Emails/Tioki_Dash_4.png" alt="Tioki" style="outline: none;border: 0;height: 60px;width: 96px;text-decoration: none !important;vertical-align: bottom;line-height: 100% font-size: 34px;" height="60" width="115"></a>
                                </td>      
                            </tr>
                        </table>
                    </td>
                    <td cellpadding="0" padding-right="20" width="300" height="60" align="right" style="border-collapse: collapse;color: #202020;font-family: Helvetica;font-size: 34px;font-weight: bold;line-height: 100%;text-align: right;vertical-align: bottom;text-style: none">
                        <a href="http://facebook.com/tiokiapp" style="color:#2aa99b;font-weight: normal;text-decoration: none;" target="_blank">
                           <span style="margin-top: 25px; display:inline-block; text-decoration:none; color:#2aa99b ; font: normal bold 11px helvetica, serif">Tioki on Facebook</span>
                       </a>
                       <span style="margin-top: 25px; display:inline-block; text-decoration:none; color:#000; font: normal bold 11px helvetica, serif">|</span>
                       <a href="http://twitter.com/tioki" style="color:#2aa99b;font-weight: normal;text-decoration: none;" target="_blank">
                           <span style="margin-right: 5px; margin-top: 25px; display:inline-block; text-decoration:none; color:#2aa99b; font: normal bold 11px helvetica, serif">Tioki on Twitter
                           </span>
                       </a>
                   </td>
               </tr>
           </table>
           <!-- // End Template Header \ -->
       </td>
   </tr>
   <tr>
      <td align="center" valign="top" style="border-collapse: collapse;">
        <!-- // Begin Template Body \ -->
        <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody">
           <tr>
              <td valign="top" class="bodyContent" style="border-collapse: collapse;background-color: #f0f0f0;">

                <!-- // Begin Module: Standard Content \ -->
                <table border="0" cellpadding="20" cellspacing="0" width="100%">
                    <tr>
                       <td valign="top" style="border-collapse: collapse;">                         
                        <span style="color: #505050;display: block;font-family:georgia,serif;font-size: 16px;font-weight: normal;line-height: 16px;text-align: left;"><em>From <%= @owner.name %></em>
                        </span><br>

                        <!--// Beginning of white container containing message\-->

                        <table cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="#ffffff" style="border: 1px solid #d7e3f0;">
                            <tr>
                                <td colspan="3" height="14" style="border-collapse: collapse;">
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 12px;font-family: Helvetica Neue, Helvetica, Arial, sans-serif, sans;color: #444;line-height: 16px;border-collapse: collapse;">
                                 <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                  <tr>
                                      <td style="line-height: 18px;color: #555;font-size: 13px;padding: 5px 10px 5px 5px;border-collapse: collapse;">
                                        <!--// 3 line message snippet. Should fit in the greeting, along with first few lines of the message. The following is just an example.\-->
                                        <p class="indented" style="padding-left: 15pt;padding-right: 15pt;">	
                                           <span style="color: #6d6d6d; font: lighter 14px/17px Helvetica, Arial, sans-serif;text-shadow: 0 1px 0 white;"><a href="http://tioki.com/profile/<%= @owner.slug %>"><%= @owner.name %></a> would love to connect with you on Tioki.</br></br>

                                            Why is connecting with <%= @owner.name %> a <span style= "color:#2aa99b;">good idea</span>?</br></br>

                                            After accepting the connection, check <%= @owner.name %>'s onnections to see who else you may know and who you might want an introduction to. Building these connections can create opprotunites in the future. 
                                           </span>
                                       </p>
                                       <!--// Crazy Button Hoe-Down //-->
                                       <table>
                                        <tbody>
                                            <tr>
                                                <td height="10" style="border-collapse: collapse;">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table cellpadding="5" cellspacing="0" border="0" align="center">
                                        <tbody>
                                          <tr>
                                            <td> 
                                              <table style="padding:5px 0px;border-radius:4px;border:1px solid #666666;text-align:center;white-space:nowrap;min-height:28px !important;min-width:150px;background-color:#f66c4d;" cellpadding="0" cellspacing="0" background="https://tioki-marketing.s3.amazonaws.com/Emails/f66c4d_gradient_button6.png" height="28px" border="0">

                                                <tbody style="text-decoration:none;">
                                                  <tr style="text-decoration:none;"> 
                                                    <td style="color:#FFFFFF;font-family:'Helvetica Neue','Helvetica','Arial',serif;font-size:13px;font-weight:bold;white-space:nowrap;text-shadow:0px -1px 0px #666666; text-decoration:none;" align="center">

                                                        <a style="text-decoration:none; color:#FFFFFF" href="http://tioki.com/my_connections" target="_blank"><span style="color:#FFFFFF; text-decoration:none; padding-right:10px;padding-left:10px;font-family:'Helvetica Neue','Helvetica','Arial',serif;font-size:13px;font-weight:bold; text-decoration:none;padding-right:5px;padding-left:5px"><strong style="color:#FFFFFF !important;text-decoration:none !important;padding-right:30px;padding-left:30px">Connect with <%= @owner.name %></strong></span></a></td>

                                                    </tr> 
                                                </tbody>
                                            </table>
                                            <tr>  <td height="10"></td>  </tr>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <span style="color: #6d6d6d; font: lighter 14px/17px Helvetica, Arial, sans-serif;text-shadow: 0 1px 0 white;">
                             <p class="indented" style="padding-left: 15pt;padding-right: 15pt;"> From,<br><br>Your friends at Tioki
                             </p>
                         </span>  
                     </td>
                 </tr>		
             </table>		

             <!--//Begin "read more" button\-->
         </td>
     </tr>
 </table>					
</td>
</tr>
</table>
<!-- // End Module: Standard Content \ -->
</td>
</tr>
</table>
<!-- // End Template Body \ -->
</td>
</tr>



<!-- // Begin Standard Footer \ -->

<tr>
    <td valign="top" width="350" style="border-collapse: collapse;">

      <div style="color: #6d6d6d; font: lighter 12px Helvetica, Arial, sans-serif;text-shadow: 0 1px 0 white;text-align: center;">&copy; 2012 Tioki.com, 363 13th Street, Suite 300, Oakland, CA 94612<br> <a href="http://tioki.com/me/settings" target="_blank" style="color:#6d6d6d">Adjust Email Settings</a>
          <br><br>
      </div>

  </td>
</tr>
</table>

</td>
</tr>
</table>
<br>



</center>

</html>
