<%= render 'header' %>

<form method="POST">
	<fieldset>
		<legend>Triggered Date Range</legend>
		<label>
			<span>Date Start</span>
			<input name="date_start" placeholder="2012-01-01" value="<%= params[:date_start] %>" />
		</label>
		<label>
			<span>Date End</span>
			<input name="date_end" placeholder="2012-01-01" value="<%= params[:date_end] %>" />
		</label>
	</fieldset>
	<fieldset>
		<legend>Trigger Type</legend>
		<label>
			<span>Category</span>
			Coming Soon!
		</label>
		<label>
			<span>Trigger Slug</span>
			<select name="slug_name">
				<option value="">- ALL -</option>
				<% Analytic.select('`slug`').group('`slug`').each do |lyte| %>
					<option <%= 'selected="selected"' if params[:slug_name] == lyte.slug %> value="<%= lyte.slug %>"><%= lyte.slug %></option>
				<% end %>
			</select>
		</label>
	</fieldset>
	<fieldset>
		<legend>Narrowing Data</legend>
		<label>
			<span>-</span>
			Coming Soon!
		</label>
		<label>
			<span>-</span>
			Coming Soon!
		</label>
	</fieldset>
	<input type="submit" value="Filter" />
</form>

<div class="clear"></div>

<h1><%= @user.name %> &mdash; (<%= @user.email %>)</h1>
<ul class="info-boxes">
	<li>
		<legend>RSVPs</legend>
		<%= @user.rsvp.count %>
	</li>
	<li>
		<legend>Vouched Skills</legend>
		<%= @user.vouched_skills.count %>
	</li>
	<li>
		<legend>Skills</legend>
		<%= @user.skills.count %>
	</li>
	<li>
		<legend>Videos</legend>
		<%= @user.teacher.videos.count rescue 0 %>
	</li>
	<li>
		<legend>Connections</legend>
		<%= @user.connections.count %>
	</li>
	<li>
		<legend>Completion - <%= @user.completion %>%</legend>
		<div class="bar" style="width:<%= @user.completion %>%;">&nbsp;</div>
	</li>
	<li>
		<legend>Number of slugs</legend>
		<%= @slug_count %>
	</li>
</ul>
<ul class="info-boxes">
	<li>
		<legend>user_logged_in</legend>
		<%= @user.analytics.where(:slug => 'user_logged_in').count %>
	</li>
	<li>
		<legend>administrator_step2</legend>
		<%= @user.analytics.where(:slug => 'administrator_step2').count %>
	</li>
	<li>
		<legend>job_seeker_step2</legend>
		<%= @user.analytics.where(:slug => 'job_seeker_step2').count %>
	</li>
	<li>
		<legend>teacher_step2</legend>
		<%= @user.analytics.where(:slug => 'teacher_step2').count %>
	</li>
	<li>
		<legend>student_step2</legend>
		<%= @user.analytics.where(:slug => 'student_step2').count %>
	</li>
	<li>
		<legend>connection_invite_sent</legend>
		<%= @user.analytics.where(:slug => 'connection_invite_sent').count %>
	</li>
	<li>
		<legend>connection_request</legend>
		<%= @user.analytics.where(:slug => 'connection_request').count %>
	</li>
	<li>
		<legend>user_connection_accepted</legend>
		<%= @user.analytics.where(:slug => 'user_connection_accepted').count %>
	</li>
	<li>
		<legend>created_vouch</legend>
		<%= @user.analytics.where(:slug => 'created_vouch').count %>
	</li>
</ul>
<ul class="info-boxes">
	<li>
		<legend>discussion_comment</legend>
		<%= @user.analytics.where(:slug => 'discussion_comment').count %>
	</li>
	<li>
		<legend>discussion_comment_reply</legend>
		<%= @user.analytics.where(:slug => 'discussion_comment_reply').count %>
	</li>
	<li>
		<legend>discussion_creation</legend>
		<%= @user.analytics.where(:slug => 'discussion_creation').count %>
	</li>
	<li>
		<legend>discussion_follow</legend>
		<%= @user.analytics.where(:slug => 'discussion_follow').count %>
	</li>
	<li>
		<legend>event_creation</legend>
		<%= @user.analytics.where(:slug => 'event_creation').count %>
	</li>
	<li>
		<legend>message_sent</legend>
		<%= @user.analytics.where(:slug => 'message_sent').count %>
	</li>
	<li>
		<legend>organization_created</legend>
		<%= @user.analytics.where(:slug => 'organization_created').count %>
	</li>
	<li>
		<legend>post_favorited</legend>
		<%= @user.analytics.where(:slug => 'post_favorited').count %>
	</li>
	<li>
		<legend>suggested_connection_created</legend>
		<%= @user.analytics.where(:slug => 'suggested_connection_created').count %>
	</li>
</ul>
<ul class="info-boxes">
	<li>
		<legend>user_added_technology</legend>
		<%= @user.analytics.where(:slug => 'user_added_technology').count %>
	</li>
	<li>
		<legend>user_joined_group</legend>
		<%= @user.analytics.where(:slug => 'user_joined_group').count %>
	</li>
	<li>
		<legend>user_changed_email_settings</legend>
		<%= @user.analytics.where(:slug => 'user_changed_email_settings').count %>
	</li>
	<li>
		<legend>user_shared_on_whiteboard</legend>
		<%= @user.analytics.where(:slug => 'user_shared_on_whiteboard').count %>
	</li>
	<li>
		<legend>view_user_profile</legend>
		<%= @user.analytics.where(:slug => 'view_user_profile').count %>
	</li>
	<li>
		<legend>white_board_comment</legend>
		<%= @user.analytics.where(:slug => 'white_board_comment').count %>
	</li>
</ul>
<table>
	<tr>
		<% @fields.each do |field| %>
			<th><%= field %></th>
		<% end %>
	</tr>
	<% @slug.each do |data| %>
		<% next if data.user.nil? %>
		<tr>
			<td><%= link_to(data.slug, '/analytics/slug/' + u(data.slug)) %></td>
			<td><%= data.map_tag.class.name rescue 'Unknown' %></td>
			<td><%= data.map_tag.id rescue '?' %></td>
			<td><%= data.created_at.strftime("%A %B %-d, %Y @ %l:%M%P %Z") %></td>
		</tr>
	<% end %>
</table>
<div>
	<%= will_paginate @slug %>
</div>

<script type="text/javascript">
$(document).ready(function() {
	$('input[name="date_start"]').datepicker({
		dateFormat: 'yy-mm-dd',
		defaultDate: "-1m",
		changeMonth: true,
		onSelect: function( selectedDate ) {
			$('input[name="date_end"]').datepicker("option", "minDate", selectedDate);
		}
	});
	$('input[name="date_end"]').datepicker({
		changeMonth: true,
		dateFormat: 'yy-mm-dd',
		onSelect: function( selectedDate ) {
			$('input[name="date_start"]').datepicker("option", "maxDate", selectedDate);
		}
	});
});
</script>
