<h1>
	Schedule Interview with 
	<%= link_to @application.user.name, @application.user, :style => "color:#F66C4C" if @source.is_a?(Job) %>
	<%= link_to @application.job.group.name, @application.job.group, :style => "color:#F66C4C" if @source.is_a?(User) %>
</h1>

<% if @source.is_a?(Job) %>
	<p>Yay! Looks like you're ready to meet one of our amazing Tioki candidates. Simply select the 3 dates and times(PST) that work best for you, and we will let the candidate know immediately. Once the candidate selects the interview date and time, you will be instantly notified on Tioki and via email.</p>

	<%= form_for([@source.group, @source, @application, @interview], :html => { :class => :gridded }) do |t| %>
		<table style="width:100%;" class="applications">
			<tr>
				<td style ="width:100%">
					<p>Input the 3 dates AND times(PST) that work best for you. </p>
					<label>
						<span>First Date and Time</span>
						<input type="text" name="interview[datetime_1]" placeholder="MM/DD/YYYY 12:00am" value="<%= @interview.datetime_1.to_s(:datetimez) if @interview.datetime_1 %>" />
					</label>
					<label style="margin-left:300px; margin-top:-52px">
						<span>Second Date and Time</span>
						<input type="text" name="interview[datetime_2]" placeholder="MM/DD/YYYY 12:00am" value="<%= @interview.datetime_2.to_s(:datetimez) if @interview.datetime_2 %>" />
					</label>
					<label style="margin-left:600px; margin-top:-52px">
						<span>Third Date and Time</span>
						<input type="text" name="interview[datetime_3]" placeholder="MM/DD/YYYY 12:00am" value="<%= @interview.datetime_3.to_s(:datetimez) if @interview.datetime_3 %>" />
					</label>
				</td>
			</tr>
			<tr>
				<td>
					<p>Type in a physical address, phone number, online video chat username, etc. </p>
					<label style=" margin-top:30px">
						<span>Interview Type: </span>
						<%= select(:interview, :interview_type, { "In-Person" => "In-Person", "Phone" => "Phone", "Skype" => "Skype", "Google Hangout" => "Google Hangout", "Other" => "Other"}) %>
					</label>
					<label style="margin-left:250px; margin-top: -45px">
						<span>Interview Location</span>
						<input type="text" name="interview[location]" placeholder="e.g. 101 S. Olive St. Los Angeles, CA"  value="<%= @interview.location %>"/>
					</label>
				</td>
			</tr>
			<tr>
				<td>
					<p>Use this preformatted message or create your own. </p>
					<label>
						<span>Message</span>
						<textarea name="interview[message]" style="width:100%;" class="css3-border-box" rows="10"><%= @message %></textarea>
					</label>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<% if params[:round] %>
						<%= hidden_field_tag "interview[round]", params[:round] %>
					<% end %>
					<%= t.submit "Schedule Interview" %>
				</td>
			</tr>
		</table>
	<% end %>
<% end %>

<% if @source.is_a?(User) %>
	<p>Congrats! It looks like <%= link_to @application.job.group.name, @application.job.group %> has taken a liking to you. They have chosen three potential dates for an interview. Please select one that works for you. If none work, please indicate so, and include a message below.</p>

	<%= form_for([@source, @interview.application, @interview]) do |t| %>
		<table style="width:100%;" class="applications">
				<% if @interview.datetime_1 || @interview.datetime_2 || @interview.datetime_3 %>
			<tr>
				<td>
						Interview Type: <span style='color:#2AA99B'><%= @interview.interview_type %> Interview</span><br/>
						Location / Contact: <span style='color:#2AA99B'><%= @interview.location %></span><br /><br />
						
						<strong>Please select the date & time that works best for you:</strong><br />
						<% if not @interview.datetime_1.nil? %>
							<label style='font-weight:normal'>
								<input type="radio" name="interview[datetime_selected]" value="1" /> <%= @interview.datetime_1.to_s(:datetime) %><br />
							</label>
						<% end %>
						<% if not @interview.datetime_2.nil? %>
							<label style='font-weight:normal'>
								<input type="radio" name="interview[datetime_selected]" value="2" /> <%= @interview.datetime_2.to_s(:datetime) %><br />
							</label>
						<% end %>
						<% if not @interview.datetime_3.nil? %>
							<label style='font-weight:normal'>
								<input type="radio" name="interview[datetime_selected]" value="3" /> <%= @interview.datetime_3.to_s(:datetime) %><br />
							</label>
						<% end %>
					<label style='font-weight:normal'>
						<input type="radio" name="interview[datetime_selected]" value="4" /> None of these times work for me<br /><br />
					</label>
						
			</td>
			<td>
				<p>
					<span style="font-weight:bold;">TIP: </span> This the the interview date and time per <em>your</em> timezone. Please be mindful of possible timezone differences when traveling to an interview.
				</p>
			</td>
		</tr>
	<% end %>
		<tr>
			<td>
				<label>
					<span>Message (optional)</span>
					<textarea name="interview[message]" style="width:100%;" class="css3-border-box" rows="10"></textarea>
				</label>
			</td>
			<td>
				<% if @interview.datetime_1 || @interview.datetime_2 || @interview.datetime_3 %>
					<p>
						<span style="font-weight:bold;">TIP: </span> If none of the dates and times above work for you, please use this message to inform the recruiter of your need to reschedule. 
					</p>
				<% else %>
					<% if @interview_message %>
								<%= sanitize(@interview_message.body.gsub(/\n/, '<br/>')) %>
					<% end %>
				<% end %>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<%= t.submit "Respond to Interview Request" %>
			</td>
		</tr>
	</table>
<% end %>
	<% end %>
