<section id="main-contant" class="inner-content">
	<h1>
		Edit Interview with 
		<%= link_to @interview.user.name, @interview.user if @source.is_a?(Job) %>
		<%= link_to @interview.job.group.name, @interview.job.group if @source.is_a?(User) %>
	</h1>

	<% if @source.is_a?(Job) %>
		<p>Yay! Looks like you're ready to meet one of our amazing Tioki canidates. Simply select the 3 dates and times(PST) that work best for you, and we will let the candidiate know immediately. Once the candidate selects the interview date and time, you will be instantly notified on Tioki and via email.</p>

		<%= form_for([@source.group, @source, @interview.application, @interview], :html => { :class => :gridded }) do |t| %>
			<table style="width:100%;" class="applications">
				<tr>
					<td style ="width:100%">
						<label>
							<span>First Date</span>
							<input type="text" name="interview[datetime_1]" placeholder="MM/DD/YYYY 12:00am" value="<%= @interview.datetime_1.to_s(:datetimez) if @interview.datetime_1 %>" />
						</label>
						<label style="margin-left:300px; margin-top:-52px">
							<span>Second Potential Interview Date</span>
							<input type="text" name="interview[datetime_2]" placeholder="MM/DD/YYYY 12:00am" value="<%= @interview.datetime_2.to_s(:datetimez) if @interview.datetime_2 %>" />
						</label>
						<label style="margin-left:600px; margin-top:-52px">
							<span>Third Potential Interview Date</span>
							<input type="text" name="interview[datetime_3]" placeholder="MM/DD/YYYY 12:00am" value="<%= @interview.datetime_3.to_s(:datetimez) if @interview.datetime_3 %>" />
						</label>
					</td>
				</tr>
				<tr>
					<td>
						<p>Type in a physical address, phone number, online video chat username, etc. </p>
						<label>
							<span>Interview Location</span>
							<input type="text" name="interview[location]" placeholder="e.g. 101 S. Olive St. Los Angeles, CA"  value="<%= @interview.location %>"/>
						</label>
						<label style="margin-left:300px; margin-top:-30px">
							<span>Interview Type: </span>
							<%= select(:interview, :interview_type, { "In-Person" => "In-Person", "Phone" => "Phone", "Skype" => "Skype", "Google Hangout" => "Google Hangout", "Other" => "Other"}) %>
						</label>
					</td>
				</tr>
				<tr>
					<td>
						<p>Use this preformatted message or create your own. </p>
						<label>
							<span>Message</span>
							<textarea name="interview[message]" style="width:100%;" class="css3-border-box" rows="10"><%= @message %></textarea>
						</label>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<%= t.submit "Schedule Interview" %>
					</td>
				</tr>
			</table>
		<% end %>
	<% end %>

	<% if @source.is_a?(User) %>
		<p>Yay! Looks like <%= link_to @interview.job.group.name, @interview.job.group %> has taken up an interest in you. They have chosen three potential dates for the interview. Please select one, or if none of these work. Please fill out the message box below.</p>

		<%= form_for([@source, @interview.application, @interview]) do |t| %>
			<table style="width:100%;" class="applications">
				<tr>
					<td>
						<label>
							<span>Select an interview date</span><br />
							<input type="radio" name="interview[datetime_selected]" value="1" /> <%= @interview.datetime_1.to_s(:datetime) %><br />
							<% if not @interview.datetime_2.nil? %>
								<input type="radio" name="interview[datetime_selected]" value="2" /> <%= @interview.datetime_2.to_s(:datetime) %><br />
							<% end %>
							<% if not @interview.datetime_3.nil? %>
								<input type="radio" name="interview[datetime_selected]" value="3" /> <%= @interview.datetime_3.to_s(:datetime) %><br />
							<% end %>
							<input type="radio" name="interview[datetime_selected]" value="4" /> None of these times work for me<br /><br />
							Location: <%= @interview.location %><br />
							Type: <%= @interview.interview_type %>
						</label>
					</td>
					<td>
						<p>
							<span style="font-weight:bold;">Interview Date: </span> This the the interview date and time. Please keep in mind that though the interview time here is listed in your current timezone the interview itself may be in another timezone! Keep this in mind if you are travelling to your interview!
						</p>
					</td>
				</tr>
				<tr>
					<td>
						<label>
							<span>Message (optional)</span>
							<textarea name="interview[message]" style="width:100%;" class="css3-border-box" rows="10"></textarea>
						</label>
					</td>
					<td>
						<p>
							<span style="font-weight:bold;">Message: </span> Is there a problem with the time or location listed above? Let the interviewer know here.
						</p>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<%= t.submit "Respond Interview to Interview Request" %>
					</td>
				</tr>
			</table>
		<% end %>
	<% end %>
</section>