<section id="main-contant" class="inner-content">
	<h1>
		Edit Interview with 
		<%= link_to @interview.user.name, @interview.user if @source.is_a?(Job) %>
		<%= link_to @interview.job.group.name, @interview.job.group if @source.is_a?(User) %>
	</h1>

	<% if @source.is_a?(Job) %>
		<p>Yay! Looks like you scheduling an interview with a prospective educator. Please select 3 potential interview dates and we will let the applicant know right away. If the dates don't work out for the applicant we will notify you again.</p>

		<%= form_for([@source.group, @source, @interview.application, @interview], :html => { :class => :gridded }) do |t| %>
			<table style="width:100%;" class="applications">
				<tr>
					<td>
						<label>
							<span>First Date</span>
							<input type="text" name="interview[datetime_1]" value="<%= @interview.datetime_1.to_s(:datetimez) if @interview.datetime_1 %>" />
						</label>
					</td>
					<td>
						<p>
							<span style="font-weight:bold;">First Potential Interview Date: </span> This is the first date you would like to interview with your applicant. The dates are relative. Feel free to type in things like "Next Thursday at 2pm", "2 weeks from now at 6pm", or the classic "MM/DD/YYYY 12:00am" all times are relative to the <%= Chronic.parse('now').strftime('%Z') %> time zone.
						</p>
					</td>
				</tr>
				<tr>
					<td>
						<label>
							<span>Second Potential Interview Date</span>
							<input type="text" name="interview[datetime_2]" value="<%= @interview.datetime_2.to_s(:datetimez) if @interview.datetime_2 %>" />
						</label>
					</td>
					<td>
						<p>
							<span style="font-weight:bold;">First Date: </span> This is the second date you would like to use when interviewing your applicant. The dates are relative. Feel free to type in things like "Next Thursday at 2pm", "2 weeks from now at 6pm", or the classic "MM/DD/YYYY 12:00am" all times are relative to the <%= Chronic.parse('now').strftime('%Z') %> time zone.
						</p>
					</td>
				</tr>
				<tr>
					<td>
						<label>
							<span>Third Potential Interview Date</span>
							<input type="text" name="interview[datetime_3]" value="<%= @interview.datetime_3.to_s(:datetimez) if @interview.datetime_3 %>" />
						</label>
					</td>
					<td>
						<p>
							<span style="font-weight:bold;">Third Date: </span> This is your third choice interview date. The dates are relative. Feel free to type in things like "Next Thursday at 2pm", "2 weeks from now at 6pm", or the classic "MM/DD/YYYY 12:00am" all times are relative to the <%= Chronic.parse('now').strftime('%Z') %> time zone.
						</p>
					</td>
				</tr>
				<tr>
					<td>
						<label>
							<span>Interview Location</span>
							<input type="text" name="interview[location]" value="<%= @interview.location.nil? || @interview.location.empty? ? @interview.job.group.location : @interview.location %>" />
						</label>
					</td>
					<td>
						<p>
							<span style="font-weight:bold;">Interview Location: </span> Where is the interview going to be held. We recomend entering the address of the organization, skype address, phone mumber, or wherever/however your organization generally conducts interviews. If you do choose skype or another other online communication program don't forget to include the name of the software and the username or address of your account.
						</p>
					</td>
				</tr>
				<tr>
					<td>
						<label>
							<span>Message</span>
							<textarea name="interview[message]" style="width:100%;" class="css3-border-box" rows="10"><%= @message %></textarea>
						</label>
					</td>
					<td>
						<p>
							<span style="font-weight:bold;">Message: </span> This is the fun part go ahead and tell your applicant that they have been accepted for an interview. We have provided a generic template for you but feel free to change it in anyway that you see fit.
						</p>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<%= t.submit "Save Interview" %>
					</td>
				</tr>
			</table>
		<% end %>
	<% end %>

	<% if @source.is_a?(User) %>
		<p>Yay! Looks like <%= link_to @interview.job.group.name, @interview.job.group %> has taken up an interest in you. They have chosen three potential dates for the interview. Please select one, or if none of these work. Please fill out the message box below.</p>

		<%= form_for([@source, @interview.application, @interview]) do |t| %>
			<table style="width:100%;" class="applications">
				<tr>
					<td>
						<label>
							<span>Select an interview date</span><br />
							<input type="radio" name="interview[datetime_selected]" value="1" /> <%= @interview.datetime_1.to_s(:datetime) %><br />
							<% if not @interview.datetime_2.nil? %>
								<input type="radio" name="interview[datetime_selected]" value="2" /> <%= @interview.datetime_2.to_s(:datetime) %><br />
							<% end %>
							<% if not @interview.datetime_3.nil? %>
								<input type="radio" name="interview[datetime_selected]" value="3" /> <%= @interview.datetime_3.to_s(:datetime) %><br />
							<% end %>
							<input type="radio" name="interview[datetime_selected]" value="4" /> None of these times work for me<br /><br />
							Location: <%= @interview.location %>
						</label>
					</td>
					<td>
						<p>
							<span style="font-weight:bold;">Interview Date: </span> This the the interview date and time. Please keep in mind that though the interview time here is listed in your current timezone the interview itself may be in another timezone! Keep this in mind if you are travelling to your interview!
						</p>
					</td>
				</tr>
				<tr>
					<td>
						<label>
							<span>Message (optional)</span>
							<textarea name="interview[message]" style="width:100%;" class="css3-border-box" rows="10"></textarea>
						</label>
					</td>
					<td>
						<p>
							<span style="font-weight:bold;">Message: </span> Is there a problem with the time or location listed above? Let the interviewer know here.
						</p>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<%= t.submit "Respond Interview to Interview Request" %>
					</td>
				</tr>
			</table>
		<% end %>
	<% end %>
</section>