<section id="main-content" class="inner-content">
	<h1>
		<%= @source.name.possessive if @source.is_a?(User) %>
		<%= @source.title.possessive if @source.is_a?(Job) %> 
		Applications
	</h1>
	<table style="width:100%;">
		<tr>
			<% if @source.is_a?(User) %>
				<th>Organization Photo</th>
				<th>Organization Name</th>
			<% end %>

			<% if @source.is_a?(Job) %>
				<th>User Photo</th>
				<th>User Name</th>
			<% end %>

			<th>Job Title</th>
			<th>Application Received On</th>
			<th>Status</th>
		</tr>
		<% @applications.each do |app| %>
			<tr>
				<% if @source.is_a?(User) %>
					<td><%= app.job.group.picture? ? image_tag(app.job.group.picture.url) : '' %></td>
					<td><%= app.job.group.name %></td>
				<% end %>

				<% if @source.is_a?(Job) %>
					<td><%= app.user.avatar? ? image_tag(app.user.avatar.url(:thumb)) : '' %></td>
					<td><%= app.user.name %></td>
				<% end %>

				<td><%= app.job.title %></td>
				<td><%= app.created_at.to_s(:date) %></td>
				<td><%= app.status %></td>
			</tr>
		<% end %>
	</table>
</section>
