<section id="main-content" class="inner-content">
	<h2>
		<%= @source.name.possessive if @source.is_a?(User) %>
		<%= @source.title.possessive if @source.is_a?(Job) %> 
		Applications
	</h2>
	<table style="width:100%;" class="applications">
		<td class="left">
			<h3>Applicants</h3>
			<ul style="width:100%;">
				<% if @applications.count < 1 %>
					<li>Doesn't look like you have any applicants just yet. We'll email you as soon as you receive one.</li>
				<% end %>
				<% @applications.each do |app| %>
					<li>
						<% if @source.is_a?(User) %>
							<%= app.job.group.picture? ? image_tag(app.job.group.picture.url(:medium)) : '' %>
							<% if app.submitted == 0 %>
								<%= link_to "Delete", app, :method => :delete, :confirm => "Are you sure?", :style => "float:right" %>
							<% end %>
							<h4><%= link_to app.job.group.name, app.job.group, :class => :salmon %></h4>
						<% end %>

						<% if @source.is_a?(Job) %>
							<%= app.user.avatar? ? image_tag(app.user.avatar.url(:medium)) : '' %>
							<h4><%= link_to app.user.name, "/profile/#{app.user.slug}/resume?application="+app.id.to_s(), :class => :salmon %></h4>
						<% end %>

						<span>Applicant for: <%= link_to app.job.title, app.job, :class => :salmon %></span>
						<span>Applied on: <%= app.created_at.to_s(:date) %></span>
						<span>
							Application Status: 
							<% if @source.is_a?(User) %>
									<%= app.status %>
									<% if app.submitted == 0 %>
										<%= link_to 'Unsubmitted', '/wizards/application?job=' + app.job.id.to_s %>
									<% end %>
							<% else %>
								<%= form_for([@source.group, @source, app]) do |f| %>
									<select name="application[status]">
										<option <%= app.status == 'Not Reviewed' ? 'selected' : '' %>>Not Reviewed</option>
										<option <%= app.status == 'Profile Reviewed' ? 'selected' : '' %>>Profile Reviewed</option>
										<option <%= app.status == 'Deny Application' ? 'selected' : '' %>>Deny Application</option>
										<option <%= app.status == 'Request an Interview' ? 'selected' : '' %>>Request an Interview</option>
									</select><br /><br />
									<%= f.submit "Update Status" %>
								<% end %>
							<% end %>
							<% if !app.assets.empty? %>
								<h5>Assets</h5>
								<ul>
									<% app.assets.each do |asset| %>
									   <li>
											<span class="iconic paperclip"> <%= link_to asset.name, asset.file.url %> (<%= asset.file.content_type %>)<%= " &mdash; #{asset.description}".html_safe if !asset.description.empty? %></span>
									   </li>
									<% end %>
								</ul>
							<% end %>
							<% if !app.video.nil? %>
								<h5>Video</h5>
								<%= app.video.embed_code 445, nil, nil, false %>
							<% end %>
						</span>
					</li>
				<% end %>
			</ul>
		</td>
		<td class="right">
			<h3>Interviews</h3>
			<ul style="width:100%;">
				<% if @interviews.count < 1 %>
					<li>It doesn't look like you have scheduled any interviews with candidates just yet.</li>
				<% end %>
				<% @interviews.each do |int| %>
					<li>
						<% if @source.is_a?(User) %>
							<%= int.job.group.picture? ? image_tag(int.job.group.picture.url(:medium)) : '' %>
							<h4><%= link_to int.job.group.name, int.job.group, :class => :salmon %></h4>
						<% end %>

						<% if @source.is_a?(Job) %>
							<%= int.user.avatar? ? image_tag(int.user.avatar.url(:medium)) : '' %>
							<h4><%= link_to int.user.name, "/profile/#{int.user.slug}", :class => :salmon %></h4>
						<% end %>

						<span>Applicant for: <%= link_to int.job.title, int.job, :class => :salmon %></span>
						<span>Applied on: <%= int.application.created_at.to_s(:date) %></span>

						<% if @source.is_a?(User) && int.intDate == 'Unscheduled' %>
							<span><%= link_to 'Review Interview Request', [:edit, @source, int.application, int], :class => :salmon %></span>
						<% elsif @source.is_a?(Job) && int.intDate == 'Reschedule Requested' %>
							<span><%= link_to 'Modify Interview', [:edit, @source.group, @source, int.application, int], :class => :salmon %></span>
						<% else %>
							<span>Interview on: <%= int.intDate %></span>
						<% end %>
					</li>
				<% end %>
			</ul>
		</td>
	</table>
</section>
