<section id="main-content" class=" inner-content">
	<% if @source.is_a?(Job) %>	
		<h2><%= @source.title.possessive %> Applications </h2>
		<span style="float:right; margin-top:-50px"><%= link_to 'Manage Job', group_jobs_path(@source.group), :style => " font-size:20px;color:#2AA99B !important" %></span>

		<section class="applications sidebar" style="margin-left:32px">
				<ul>
					<li class="current">
						New Applicants: <%= @source.applications.not_reviewed.count %>
					</li>
					<li>
						<a  href= "applications/reviewed_applicants" >
							Reviewed Applicants: <%= @source.applications.reviewed.count %>
						</a>
					</li>
					<li>
						<a href="applications/interviews">
							Interviews: <%= @source.applications.has_interviews.count %>
						</a>
					</li>
					<li>
						<a href="applications/offered">
							Offered: <%= @source.applications.offered.count %>
						</a>
					</li>
					<li>
						<a href="applications/accepted">
							Accepted: <%= @source.applications.accepted.count %>
						</a>
					</li>
					<li>
						<a href="applications/hired">
							Hired: <%= @source.applications.hired.count %>
						</a>
					</li>
					<li>
						<a href="applications/declined">
							Declined: <%= @source.applications.declined.count %>
						</a>
					</li>
				</ul>
		</section>
		<section id="list" class="panel two-column right-side">
			<h3 style="margin-top:-10px;margin-bottom:-20px"><%= (ct = @source.applications.where(:status => 'Not Reviewed').is_submitted.count).to_s + ' New ' + (ct == 1 ? 'Applicant' : 'Applicants')  %> </h3>
			<% if ct == 0 %>
				</br>
			<% end %>
			<% @applications.where(:status => 'Not Reviewed').order('created_at desc').each do |app| %>
			<ul>
				<li style="padding:12px 20px 12px 15px !important">
					<div class="profile-thumb-big" style="max-width: 60px; max-height:60px">
						<%= app.user.avatar? ? image_tag(app.user.avatar.url(:thumb)) : '' %>
					</div>
					<% if app.job.job_questions.count > 0 %>
						<div style="margin-left:80px;margin-top:-60px">
							<%= link_to app.user.name, "/profile/#{app.user.slug}/application?application="+app.id.to_s(), :class => :salmon %></br>
						</div>
					<% else %>
						<div style="margin-left:80px;margin-top:-60px">
							<%= link_to app.user.name, "/profile/#{app.user.slug}/resume?application="+app.id.to_s(), :class => :salmon %></br>
						</div>
					<% end %>
					<div style="margin-left:448px;margin-top:-20px">
							<%= form_for([@source.group, @source, app]) do |f| %>
								<select name="application[status]">
									<option <%= app.status == 'Not Reviewed' ? 'selected' : '' %>>Not Reviewed</option>
									<option <%= app.status == 'Profile Reviewed' ? 'selected' : '' %>>Profile Reviewed</option>
									<option <%= app.status == 'Request an Interview' ? 'selected' : '' %>>Request an Interview</option>
									<option <%= app.status == 'Offer Given' ? 'selected' : '' %>>Offer Given</option>
									<option <%= app.status == 'Offer Accepted' ? 'selected' : '' %>>Offer Accepted</option>
									<option <%= app.status == 'Applicant Hired' ? 'selected' : '' %>>Applicant Hired</option>
									<option <%= app.status == 'Deny Application' ? 'selected' : '' %>>Deny Application</option>
								</select><br /><br />
								<%= f.submit "Update Status", :style => "padding:4px 4px;display:inline;width:auto;float:right;font-size:12px;margin-right:-20px; margin-top:-10px" %>
							<% end %>
					</div>
					<div style="margin-left:80px; margin-top:-40px">
						<% if app.user.current_job_string != nil && app.user.current_job_string != ""%>
							<% if app.user.current_job_string.length < 50 %>
								<%= app.user.current_job_string %></br>
							<% else %>
								<%= app.user.current_job_string[0..52]+"..."%></br>
							<% end %>
						<% end %>
						Applied on: <%= app.created_at.to_s(:date) %>
					</div>
					<% if !app.assets.empty? %>
						<span style="margin-left:80px">Assets:</span>
						<div style="margin-top:-18px; margin-left:130px">
							<% app.assets.each do |asset| %>
									<span style="float:left">
									<%= link_to asset.name, asset.file.url %>
									<% if asset.file.content_type.length < 30 %>
										(<%= asset.file.content_type %>)
									<% else %>
										(<%= asset.file.content_type[0..32]+"..."%>)</br>
									<% end %>
									</span></br>
							<% end %>
						</div>
					<% end %>
					<% if !app.video.nil? %>
						<div style="margin-left:80px">
							<h5>Video</h5>
							<%= app.video.embed_code 445, nil, nil, false %>
						</div>
					<% end %>

				</li>
			</ul>
			<% end %>
		</section>
		<div style="clear:both;"></div>

	<% else %>
		<h2>
			<%= @source.name.possessive if @source.is_a?(User) %>
			<%= @source.title.possessive if @source.is_a?(Job) %> 
			Applications
		</h2>
		<table style="width:100%;" class="applications">
			<td class="left">
				<% if @source.is_a?(Job) %>
					<h3>Applicants</h3>
				<% else %>
					<h3>Applications</h3>
				<% end %>
				<ul style="width:100%;">
					<% if @applications.count < 1 %>
						<li>Doesn't look like you have any applicants just yet. We'll email you as soon as you receive one.</li>
					<% end %>
					<% @applications.each do |app| %>
						<li>
							<% if @source.is_a?(User) %>
								<%= app.job.group.picture? ? image_tag(app.job.group.picture.url(:medium)) : '' %>
								<% if app.submitted == 0 %>
									<%= link_to "Delete", app, :method => :delete, :confirm => "Are you sure?", :style => "float:right" %>
								<% end %>
								<h4><%= link_to app.job.group.name, app.job.group, :class => :salmon %></h4>
							<% end %>

							<% if @source.is_a?(Job) %>
								<%= app.user.avatar? ? image_tag(app.user.avatar.url(:tiny)) : '' %>
								<h4><%= link_to app.user.name, "/profile/#{app.user.slug}/resume?application="+app.id.to_s(), :class => :salmon %></h4>
							<% end %>

							<span style="margin-left:80px">Applicant for: <%= link_to app.job.title, app.job, :class => :salmon %></span>
							<span style="margin-left:80px">Applied on: <%= app.created_at.to_s(:date) %></span>
							<span style="margin-left:80px">
								Application Status: 
								<% if @source.is_a?(User) %>
										<%= app.status %>
										<% if app.submitted == 0 %>
											<%= link_to 'Unsubmitted', '/wizards/application?job=' + app.job.id.to_s, :style => "color:#F66C4C !important" %>
										<% end %>
								<% else %>
									<%= form_for([@source.group, @source, app]) do |f| %>
										<select name="application[status]">
											<option <%= app.status == 'Not Reviewed' ? 'selected' : '' %>>Not Reviewed</option>
											<option <%= app.status == 'Profile Reviewed' ? 'selected' : '' %>>Profile Reviewed</option>
											<option <%= app.status == 'Deny Application' ? 'selected' : '' %>>Deny Application</option>
											<option <%= app.status == 'Request an Interview' ? 'selected' : '' %>>Request an Interview</option>
										</select><br /><br />
										<%= f.submit "Update Status" %>
									<% end %>
								<% end %>
							</span>
							<span>
								<% if !app.assets.empty? %>
									<h5>Assets</h5>
									<ul>
										<% app.assets.each do |asset| %>
										   <li>
												<span class="iconic paperclip"> <%= link_to asset.name, asset.file.url %> (<%= asset.file.content_type %>)<%= " &mdash; #{asset.description}".html_safe if !asset.description.empty? %></span>
										   </li>
										<% end %>
									</ul>
								<% end %>
								<% if !app.video.nil? %>
									<h5>Video</h5>
									<%= app.video.embed_code 445, nil, nil, false %></br>
								<% end %>
							</span>
						</li>
					<% end %>
				</ul>
			</td>
			<td class="right">
				<h3>Interviews</h3>
				<ul style="width:100%;">
					<% if @interviews.count < 1 %>
						<li>It doesn't look like you have scheduled any interviews with candidates just yet.</li>
					<% end %>
					<% @interviews.each do |int| %>
						<li>
							<% if @source.is_a?(User) %>
								<%= int.job.group.picture? ? image_tag(int.job.group.picture.url(:medium)) : '' %>
								<h4><%= link_to int.job.group.name, int.job.group, :class => :salmon %></h4>
							<% end %>

							<% if @source.is_a?(Job) %>
								<%= int.user.avatar? ? image_tag(int.user.avatar.url(:medium)) : '' %>
								<h4><%= link_to int.user.name, "/profile/#{int.user.slug}", :class => :salmon %></h4>
							<% end %>

							<span style="margin-left:80px">Applicant for: <%= link_to int.job.title, int.job, :class => :salmon %></span>
							<span style="margin-left:80px">Applied on: <%= int.application.created_at.to_s(:date) %></span>

							<% if @source.is_a?(User) && int.intDate == 'Unscheduled' %>
								<span style="margin-left:80px"><%= link_to 'Review Interview Request', [:edit, @source, int.application, int], :class => :salmon %></span>
							<% elsif @source.is_a?(Job) && int.intDate == 'Reschedule Requested' %>
								<span style="margin-left:80px"><%= link_to 'Modify Interview', [:edit, @source.group, @source, int.application, int], :class => :salmon %></span>
							<% else %>
								<span style="margin-left:80px">Interview on: <%= int.intDate %></span>
							<% end %>
							<% if int.location? %>
								<span style="margin-left:80px">Location: <%= int.location %></span>
							<% end %>
							<% if int.interview_type? %>
								<span style="margin-left:80px">Type: <%= int.interview_type %></span>
							<% end %>

							<div style="clear:both;"></div>
						</li>
					<% end %>
				</ul>
			</td>
		</table>
	<% end %>
</section>
