<section id="main-content" class=" inner-content">
	<h2><%= @source.title.possessive %> Applications </h2>
	<span style="float:right; margin-top:-50px"><%= link_to 'Manage Job', group_jobs_path(@source.group), :style => " font-size:20px;color:#2AA99B !important" %></span>

	<section class="applications sidebar" style="margin-left:32px">
			<ul>
				<li>
					<a  href="<%= url_for([@source.group, @source, :applications]) %>">
						New Applicants: <%= @source.applications.not_reviewed.count %>
					</a>
				</li>
				<li>
					<a  href="reviewed_applicants" >
						Reviewed Applicants: <%= @source.applications.reviewed.count %>
					</a>
				</li>
				<li class="current">
					Interviews: <%= @source.applications.has_interviews.count %>
				</li>
				<li>
					<a href="offered">
						Offered: <%= @source.applications.offered.count %>
					</a>
				</li>
				<li>
					<a href="accepted">
						Accepted: <%= @source.applications.accepted.count %>
					</a>
				</li>
				<li>
					<a href="hired">
						Hired: <%= @source.applications.hired.count %>
					</a>
				</li>
				<li>
					<a href="declined">
						Declined: <%= @source.applications.declined.count %>
					</a>
				</li>
			</ul>
	</section>
	<nav class="subpage" style="width:630px;float:right;">
		<ul>
			<li class="<%= "current" if @round == 1 %>">
				<a href='?round=1'>
					First Round (<%= @source.interviews.where(:round => 1).count %>)
				</a>
			</li>
			<li class="<%= "current" if @round == 2 %>">
				<a href='?round=2'>
					Second Round (<%= @source.interviews.where(:round => 2).count %>)
				</a>
			</li>
			<li class="<%= "current" if @round == 3 %>">
				<a href="?round=3">
					Third Round (<%= @source.interviews.where(:round => 3).count %>)
				</a>
			</li>
		</ul>
	</nav>
	<section id="list" class="panel two-column right-side">
		<h3 style="margin-top:-10px;margin-bottom:-20px"><%= (ct = @interviews.count).to_s + ' ' +(ct == 1 ? 'Interview' : 'Interviews')  %> </h3>
		<% if ct == 0 %>
			</br>
		<% end %>
		<% @interviews.each do |int| %>
		<ul>
			<li style="padding:12px 20px 12px 15px !important">
				<div class="profile-thumb-big" style="max-width: 60px; max-height:60px">
					<%= int.user.avatar? ? image_tag(int.user.avatar.url(:thumb)) : '' %>
				</div>
				<% if int.job.job_questions.count > 0 %>
					<div style="margin-left:80px;margin-top:-60px">
						<%= link_to int.user.name, "/profile/#{int.user.slug}/application?application="+int.application.id.to_s(), :class => :salmon %></br>
					</div>
				<% else %>
					<div style="margin-left:80px;margin-top:-60px">
						<%= link_to int.user.name, "/profile/#{int.user.slug}/resume?application="+int.application.id.to_s(), :class => :salmon %></br>
					</div>
				<% end %>
				<div style="margin-left:448px;margin-top:-20px">
						<%= form_for([@source.group, @source, int.application]) do |f| %>
							<select name="application[status]">
								<option <%= int.application.status == 'Not Reviewed' ? 'selected' : '' %>>Not Reviewed</option>
								<option <%= int.application.status == 'Profile Reviewed' ? 'selected' : '' %>>Profile Reviewed</option>
								<option <%= int.application.status == 'Request an Interview' ? 'selected' : '' %>>Request an Interview</option>
								<option <%= int.application.status == 'Offer Given' ? 'selected' : '' %>>Offer Given</option>
								<option <%= int.application.status == 'Offer Accepted' ? 'selected' : '' %>>Offer Accepted</option>
								<option <%= int.application.status == 'Applicant Hired' ? 'selected' : '' %>>Applicant Hired</option>
								<option <%= int.application.status == 'Deny Application' ? 'selected' : '' %>>Deny Application</option>
							</select><br /><br />
							<%= f.submit "Update Status", :style => "padding:4px 4px;display:inline;width:auto;float:right;font-size:12px;margin-right:-20px; margin-top:-10px" %>
						<% end %>

				</div>
				<div style="margin-left:80px; margin-top:-40px">
					<% if int.intDate == 'Reschedule Requested' %>
						<span style='color:#892A38'>Reschedule Requested</span>
						<%= link_to 'Modify Interview', [:edit, @source.group, @source, int.application, int], :class => :salmon %></br>
					<% elsif int.intDate == 'Unscheduled' %>
						Interview Status: Date/Time Unconfirmed <br/> <%= link_to 'Edit Interview', [:edit, @source.group, @source, int.application, int], :class => :salmon %></br>
					<% else %>
						<span style='color:#2aa99b'>Interview Confirmed </span> for: <%= int.intDate %></br>
						<% if int.interview_type? %>
							Type: <%= int.interview_type %></br>
						<% end %>
						<% if int.location? %>
							Location: <%= int.location %>
						<% end %>
						
					<% end %>
					
				</div>
			</li>
		</ul>
		<% end %>
	</section>
	<div style="clear:both;"></div>
</section>
