<section class="group-heading">
	<div class="background">
		<%= image_tag @source.picture.url(:medium) if @source.picture? %>
	</div>
	<section class="title">
		<h3 style="margin: 10px 0px -5px 10px;color:#000">
			<%= @source.name %>
		</h3>
		<p style="margin-left:10px; width:auto">
			Job posting management
		</p>	
	</section>
</section>
<nav class="subpage">
	<ul>
		<li class="<%= currentPath.split('/')[1..2] == ['jobs', 'manage'] ? 'current' : '' %>">
			<%= link_to "Posting Management", [@source, :jobs] %> 
		</li>
		<li><%= link_to "New Job", [:new, @source, :job] %></li>
		<li style="float:right;">
			<span>
				Administration
				<span class="iconic arrow_down"></span>
			</span>
			<ul>
				<li><%= link_to @source.type?, [:edit, @source] %></li>
				<li><%= link_to "Manage Job Postings", [@source, :jobs] %></li>
			</ul>
		</li>
	</ul>
</nav>