<section id="main-content" class="inner-content jobs-management">
	<%= render 'heading' %>

	<table class="drops">
		<tr>
			<td colspan="3">
				Available Credits Remaining: <span id="runningLimit" style="color:#F66C4C">0</span> | <%= @source.job_expiration %>
				<%= link_to "Need more credits?", [:request_credits, @source, :jobs], :style => 'color:#F66C4C' %> 
			</td>
		</tr>
		<tr>
			<td>
				<h4 class="title">Unpublished</h4>
				
				<!-- If there are no unpublished positions, our goals is to get you to create a new posting -->
				<% if @jobs.where(:status => ['unpublished', nil]).count < 1 %>
					<h5><span style="color:#2AA99B">TIP:</span> You currently have no unpublished positions.
						<%= link_to "Click Here", [:new, @source, :job], :style => 'color:#F66C4C' %> to post now.
					</h5>
				<% end %>
				<ul id="unpublished">
					<li class="dropzone">
					</li>
					<% @jobs.where(:status => ['unpublished', nil]).each do |job| %>
						<li class="job" data-job-id="<%= job.id %>">
							<h5><%= job.title %></h5>
							<p>	<% job.subjects.each do |subject| %>
									<%= Subject.find(subject.subject_id).name %>, 
								<% end %>
								<br/><br/>
								<%= link_to 'View Job', [@source, job] %> | 
								<%= link_to 'Edit Job', [:edit, @source, job] %> | 
								<%= link_to 'View Applicants', [@source, job, :applications] %>
								<br/>
								<span style="margin-left:50px">Drag to Activate  →</span>
							</p>
						</li>
					<% end %>
				</ul>
			</td>
			<td>
				<h4 class="title">Currently Running</h4>
				
				<!--If you have posted unpublished positions, we want you to start running them. If you can't run them, contact us for assistance -->
				<% if @jobs.where(:status => 'running').count < 1 %>
					<h5><span style="color:#2AA99B">TIP:</span> Drag and Drop posting here to start receiving applicants.</h5>
					<p>Can't drag and drop? You likely need job credits. 
						<%= link_to 'Contact us', 'mailto:support@tioki.com?subject=Need%20Job%20Credits%20To%20Run%20My%20Posting' %> for assistance.</p>
				<% end %>
				<ul id="running">
					<li class="dropzone">
					</li>
					<% @jobs.where(:status => 'running').each do |job| %>
						<li class="job" data-job-id="<%= job.id %>">
							<h5><%= job.title %></h5>
							<p>	<% job.subjects.each do |subject| %>
									<%= Subject.find(subject.subject_id).name %>, 
								<% end %>
								<br/><br/>
								<%= link_to 'View Job', [@source, job] %> | 
								<%= link_to 'Edit Job', [:edit, @source, job] %> | 
								<%= link_to 'View Applicants', [@source, job, :applications] %>
								<br/>
								<span style="margin-left:50px">Drag to Complete  →</span>
							</p>
						</li>
					<% end %>
				</ul>
			</td>
			<td>
				<h4 class="title">Completed</h4>
				
				<!--If you have don't have any positions in the completed pile, we let you know how to drag them here to complete the posting -->
				<% if @jobs.where(:status => 'completed').count < 1 %>
					<h5><span style="color:#2AA99B">TIP:</span> Drag and Drop posting here once applications are closed.</h5>
				<% end %>
				<ul id="completed">
					<li class="dropzone">
					</li>
					<% @jobs.where(:status => 'completed').each do |job| %>
						<li class="job" data-job-id="<%= job.id %>">
							<h5><%= job.title %></h5>
							<p>	<% job.subjects.each do |subject| %>
									<%= Subject.find(subject.subject_id).name %>, 
								<% end %>
								<br/><br/>
								<%= link_to 'View Job', [@source, job] %> | 
								<%= link_to 'Edit Job', [:edit, @source, job] %> | 
								<%= link_to 'View Applicants', [@source, job, :applications] %>
								<br/>
								<span style="margin-left:50px">←  Drag to Reactivate</span>
							</p>
						</li>
					<% end %>
				</ul>
			</td>
		</tr>
	</table>
</section>

<script type="text/coffeescript">
$ ->
	# Columns
	$containers =
		unpublished: $('ul#unpublished')
		running: $('ul#running')
		completed: $('ul#completed')

	# Running limit
	runningLimit = <%= @source.job_allowance %>

	# Make sure the running jobs does not exceed the running limit
	checkRunningLimit = ->
		running = $containers['running'].children('li.job').length
		$containers['running'].droppable 'option', 'disabled', running >= runningLimit
		$('span#runningLimit').text runningLimit - running

	# Set the height of the ul elements to the max
	setColumnHeights = ->
		height = Math.max((do obj.height for id, obj of $containers)...)
		obj.css 'min-height': height for id, obj of $containers

	# Bind the drag and drop handlers
	for id, obj of $containers

		excluding = for _id of $containers
			continue if _id == id
			'#' + _id + ' > li.job'

		$('li.job', obj).liveDraggable
			distance: 50
			cancel: 'a'
			revert: 'invalid'
			containment: 'table.drops'
			helper: 'clone'
			cursor: 'move'

		obj.droppable
			accept: excluding.join(', ')
			activeClass: "show_drop"
			drop: (event, ui) ->

				# Fade out the old job
				job = ui.draggable
				job.fadeOut 500, =>

					# Clone the object
					$clone = job.clone()
					$clone.appendTo($(@))
					do job.remove

					# Set the height of the containers to auto
					obj.css 'min-height': 'auto' for id, obj of $containers

					# Fade in the clone
					$clone.fadeIn 500, ->
						do setColumnHeights
						do checkRunningLimit

					# Go ahead and update the status column
					$.get '<%= currentURL %>.json', {status: $(@).attr('id'), job: $clone.attr('data-job-id')}, (r) ->
						#console.log r
						true

	# Bind click trigger
	#$('li.job').live 'click', (e) ->
	#	do e.preventDefault
	#	window.location = '<%= currentURL %>' + '/edit/' + $(@).attr('data-job-id')
	#	return false

	# Initialize the elements
	do setColumnHeights
	do checkRunningLimit
</script>