<section id="main-content" class="inner-content jobs-management">
	<%= render 'heading' %>

	<table class="drops">
		<tr>
			<td colspan="3">
				Available Credits Remaining: <span class="creds">0</span>
			</td>
		</tr>
		<tr>
			<td>
				<h4 class="title">Unpublished</h4>
				<ul id="unpublished">
					<li class="dropzone">
					</li>
					</li>
					<% @jobs.each do |job| %>
						<li class="job">
							<h4><%= job.title %> - <%= job.salary %></h4>
							<p><%= @org.name %></p>
							<span>Drag to relocate</span>
						</li>
					<% end %>
				</ul>
			</td>
			<td>
				<h4 class="title">Running</h4>
				<ul id="running">
					<li class="dropzone">
					</li>
					<% @jobs.each do |job| %>
						<li class="job">
							<h4><%= job.title %> - <%= job.salary %></h4>
							<p><%= @org.name %></p>
							<span>Drag to relocate</span>
						</li>
					<% end %>
				</ul>
			</td>
			<td>
				<h4 class="title">Completed</h4>
				<ul id="completed">
					<li class="dropzone">
					</li>
					<% @jobs.each do |job| %>
						<li class="job">
							<h4><%= job.title %> - <%= job.salary %></h4>
							<p><%= @org.name %></p>
							<span>Drag to relocate</span>
						</li>
					<% end %>
				</ul>
			</td>
		</tr>
	</table>
</section>

<script type="text/coffeescript">
$ ->
	$containers =
		unpublished: $('ul#unpublished')
		running: $('ul#running')
		completed: $('ul#completed')

	for id, obj of $containers

		excluding = for _id of $containers
			continue if _id == id
			'#' + _id + ' > li.job'

		$('li.job', obj).liveDraggable
			distance: 50
			cancel: 'a'
			revert: 'invalid'
			containment: 'table.drops'
			helper: 'clone'
			cursor: 'move'

		obj.droppable
			accept: excluding.join(', ')
			activeClass: "show_drop"
			drop: (event, ui) ->

				# Fade out the old job
				job = ui.draggable
				job.fadeOut 500, =>

					# Clone the object
					$clone = job.clone()
					$clone.appendTo($(@))
					do job.remove

					# Set the height of the containers to auto
					obj.css height: 'auto' for id, obj of $containers

					# Fade in the clonse
					$clone.fadeIn 500, ->

						# Set the height of the ul elements to the max
						height = Math.max((do obj.height for id, obj of $containers)...)
						obj.height height for id, obj of $containers
					
</script>