<section id="main-content" class="inner-content">
	<section id="info" class="one-column right-side">
		<% if self.current_user == nil %>
			<%= link_to "Or Refer A Friend", {:controller => :jobs, :action => :job_referral, :id => @job.id}, {:style => "color:#2AA99B;float:right;margin-top:25px"} %>
			<%= link_to "Apply Now", '/wizards/application?job=' + @job.id.to_s, :class => "action-button bg-salmon", :target => "_blank" %>
			<%= link_to "Browse More Jobs", '/jobs', :target => "_blank", :style => "color:#2AA99B;float:left" %>
		<% else %>
			<% if @job.belongs_to_me(self.current_user) == true || @job.shared_to_me(self.current_user) %>
				<%= link_to "View Applicants", [@job.group, @job, :applications], {:class => "button bg-green"} %>
				<%= link_to "Edit Posting", [:edit, @job.group, @job], :class => "button bg-green" %>
			<% else %>
				<% if @job.external_url.present? %> 
					<%= link_to "Apply Now", @job.external_url, {:class => "action-button bg-salmon"} %>
				<% else %>
					<% if @application == nil %>
						<%= link_to "Apply Now", '/wizards/application?job=' + @job.id.to_s, {:class => "action-button bg-salmon"} %>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
	</section>
	<section class="info panel" style="width:635px;height:90px;background-color:#F0F0F0; border: 1px solid #ccc; border-radius: 0; margin:30px 0px 10px 0px">
		<section class="two-column left-side">
			<section class="profile-thumb-medium" style="margin: 10px 10px 0px 10px;float:right;overflow:hidden;">
				<% if @job.group.picture? %>
					<%= image_tag(@job.group.picture.url(:medium)) %>
				<% else %>
					<%= image_tag("tioki/icons/placeholder.png'") %>
				<% end %>
			</section>
			<h2 style="margin: 10px 0px -5px 10px;color:#000">
				<%= @job.title %>
			</h2>
			<p style="margin-left:10px">
			<strong>
				<%= link_to @job.group.name, @job.group %>
			</strong>
			</p>	
		</section>
	</section>
	<section class="panels">
		<section id="list" class="left-side" style="width:635px">

		<!-- JOB DESCRIPTION -->
			<% if @job.description? %>
				<h3 class="bottom-line">
					Job Description
				</h3>
				<p style="width:635px">
				<%= sanitize @job.description %>
				</p>
			<% end %>

		<!-- SCHOOL/COMPANY DESCRIPTION -->
		
		<% if @job.group.description? %>
			<h3 class="bottom-line">
				Organization Description
			</h3>
			<p style="width:auto">
			<%= sanitize(@job.group.description).more! %>
			</p>
		<% end %>

		<!-- JOB APPLICATION INSTRUCTIONS -->
		<% if @job.instructions? %>
			<h3 class="bottom-line">
				Application Instructions
			</h3>
			<p style="width:auto">
			<%= h(@job.instructions).gsub(/\n/, '<br/>').url2link %>
			</p>
		<% end %>	

		<!-- ATTACHMENTS -->
		<% if @job.assets.count >= 1 %>
			<h3 class="bottom-line">
				Job Attachments
			</h3>
			<% for asset in @job.assets %>
				<% if asset.assetType != 1 %>
					<div class="item">
						<p>
							<%= link_to asset.name, asset.file.url %><br />
							<%= asset.description %>
						</p>
					</div>
				<% end %>
			<% end %>
		<% end %>
		</section>
	</section>
	<section id="list" class="panel one-column right-side" style ="border-radius:0px;margin-top:20px">
		<h4 style="margin-left:10px">
			Additional Information
		</h4>
		<section class="panel-actions">
			<p style="width:auto">
			<strong>
				Type: 
			</strong>
			<span style="margin-left:41px">
				<% if @job.employment_type == 0 %>Full Time
				<% elsif @job.employment_type == 1 %>Part Time
				<% elsif @job.employment_type == 2 %>Contract
				<% elsif @job.employment_type == 3 %>Other
				<% end %>
			</span>
			</p>

			<p style="width:auto">
			<strong>
				Deadline:
			</strong>
			<% if @job.rolling_deadline == true %>
				<span style="margin-left:15px">
					Rolling deadline, apply ASAP
				</span>
			<% else %>
				<% if @job.deadline %>
					<span style="color:#892A38;font-weight:bold;margin-left:16px">
						<%= @job.deadline.to_s(:due_time) %>
					</span>
				<% end %>
			<% end %>
			</p>

			<p style="width:auto">
			<strong>
				Salary: 
			</strong> 
			<span style="margin-left:35px">
				<%= @job.salary %>
			</span>
			</p>

			<p style="width:auto">
			<strong>
				Start Date: 
			</strong>
			<span style="margin-left:10px">
				<% if @job.immediate == true %>
					Immediately
				<% else %>
					<% if @job.start_date %>
						<%= @job.start_date.to_s(:due_time) %>
					<% end %>
				<% end %>
			</span>
			</p>

			<p style="width:auto">
			<strong>
				Subjects:
			</strong>
			<span style="padding-left:17px;">
				<% @job.subjects.each do |subject| %>
					<%= subject.name %>, 
				<% end %>
			</span>
			</p>
		</section>
	</section>
	<div class="clearfloat"></div>
</section>
