<div style="text-align:center;">
	<%= link_to "Experiences", action: 'step2' %> - 
	<%= link_to "Education", action: 'step3' %> -
	<%= link_to "Credentials", action: 'step4' %> -
	<%= link_to "Attachments", action: 'step5' %> -
	<%= link_to "Submit", action: 'step7' %>
</div>
