<style>
tr.seeking, tr.student {
	display:none;
}
</style>

<div class="row kRap">
	<div class="twelve columns">
		<h1 class="smaller" style="margin: 14px 0px 14px 0px"><span><%= self.current_user.first_name %></span>, let's start with your prior experience.</h1>
	</div>
	<div class="clear"></div>

	<div class="seven columns">
		<% if User.current.social[:linkedin].nil? %>
			<form action="/linkedinprofile" method="POST">
				<h2>Import from linkedin</h2>
				<input type="hidden" name="response" value="yes" />
				<input type="hidden" name="redirect" value="<%= currentURL %>" />
				<input type="submit" value="Import" class="secondary large button" style="padding:9px 50px;display:inline;width:auto;" />
			</form>
		<% end %>
		<% if User.current.linkedin.nil? %>
			<h2>or fill out the information below</h2>
		<% else %>
			<h2>Verify the imported information below</h2>
		<% end %>
		<table style="width:100%;">
			<% User.current.experiences.each do |exp| %>
				<tr>
					<td>
						<a href="/remove_experience/<%= exp.id %>?redirect=<%= currentURL %>" class="button" style="float:right;margin-top:20px;" />Remove</a>
						<h3><%= exp.position %> at <%= exp.company %></h3>
						<span><%= exp.startMonth %>/<%= exp.startYear %></span>
						<span> &mdash; </span>
						<% if exp.current %>
							<span>Present</span>
						<% else %>
							<span><%= exp.endMonth %>/<%= exp.endYear %></span>
						<% end %><br /><br />
					</td>
				</tr>
			<% end %>
		</table>
		<form method="POST">
			<input type="hidden" name="add_position" value="1" />
			<h2>Add another Position</h2>
			<table>
				<tr>
					<td>
						<label>
							<span>Company, District or School</span>
							<input type="text" name="experience[company]" />
						</label>
					</td>
				</tr>
				<tr>
					<td>
						<label>
							<span>Start Date</span>
							<input type="text" placeholder="Click to select..." class="datepicker" name="date[start_date]" />
						</label>
						<p class="note">If you dont remember the exact date just enter the first of the month.</p>
					</td>
				</tr>
				<tr>
					<td>
						<label>
							<span>End Date</span>
							<input type="text" placeholder="Click to select..." class="datepicker" name="date[end_date]" />
						</label>
						<p class="note">If you dont remember the exact date just enter the first of the month.</p>
					</td>
				</tr>
				<tr>
					<td>
						<label class="checkbox">
							<input type="checkbox" name="experience[current]" value="yes" />
							I currently work here
						</label>
					</td>
				</tr>
				<tr>
					<td>
						<label>
							<span>Title/Position</span>
							<input type="text" name="experience[position]" />
						</label>
					</td>
				</tr>
				<tr>
					<td>
						<label>
							<span></span>
							<input type="submit" class="large button" value="Add position to my application" />
						</label>
					</td>
				</tr>
			</table>
		</form>
		<% unless User.current.experiences.empty? %>
			<h2>I'm done adding positions...</h2>
			<a href="step3" class="secondary large button" style="padding:9px 50px;width:auto;">Next Step</a>
		<% else %>
			<p>Please provide some kind of work experience...</p>
		<% end %>
		<div style="clear:both;height:40px;"></div>
	</div>
	<div class="four columns">
	</div>
</div>
