<style>
tr.seeking, tr.student {
	display:none;
}
</style>

<div class="row kRap">
	<div class="twelve columns">
		<h1 class="smaller" style="margin: 14px 0px 14px 0px"><span><%= self.current_user.first_name %></span>, let's move on to your education.</h1>
	</div>
	<div class="clear"></div>

	<div class="seven columns">
		<% if User.current.social[:linkedin].nil? %>
			<h2>Fill out the information below</h2>
		<% else %>
			<h2>Verify the imported information below</h2>
		<% end %>
		<table style="width:100%;">
			<% User.current.educations.each do |edu| %>
				<tr>
					<td>
						<a href="/remove_education/<%= edu.id %>?redirect=<%= currentURL %>" style="float:right;margin-top:20px;color:#F66C4C">X</a>
						<h4 class="bottom-line" style="margin-bottom:5px"><%= edu.school %><br />
						<span style="font-size:15px"><%= edu.degree.empty? ? '' : edu.degree + ', ' %><%= edu.concentrations %></span><br />
						<span style="font-size:15px"><%= edu.start_year %></span>
						<span style="font-size:15px"> &mdash; </span>
						<% if edu.current %>
							<span style="font-size:15px">Present</span>
						<% else %>
							<span style="font-size:15px"><%= edu.year %></span>
						<% end %></h4>
					</td>
				</tr>
			<% end %>
		</table>
		<form method="POST">
			<input type="hidden" name="add_education" value="1" />
			<h3 class="bottom-line" style="margin-bottom:0px">Add Education</h3>
			<table>
				<tr>
					<td>
						<label>
							<span>School</span>
							<input type="text" name="education[school]" />
						</label>
					</td>
				</tr>
				<tr>
					<td>
						<label>
							<span>Degree Type</span>
							<input type="text" name="education[degree]" placeholder="(e.g. B.A, Masters, etc.)" />
						</label>
					</td>
				</tr>
				<tr>
					<td>
						<label>
							<span>Subject/Major</span>
							<input type="text" name="education[concentrations]" placeholder="(e.g. Sociology, Chemistry, etc.)" />
						</label>
					</td>
				</tr>
				<tr>
					<td>
						<label>
							<span>Start Year</span>
							<%= select("education", "start_year", YEARS_ARRAY.reverse, :include_blank => true) %>
						</label>
					</td>
				</tr>
				<tr>
					<td>
						<label>
							<span>End Year</span>
							<%= select("education", "year", YEARS_ARRAY.reverse, :include_blank => true) %>
						</label>
					</td>
				</tr>
				<tr>
					<td>
						<label class="checkbox">
							<input type="checkbox" name="education[current]" value="yes" />
							I currently go to school here
						</label>
					</td>
				</tr>
				<tr>
					<td>
						<label>
							<span></span>
							<input type="submit" class="large button" value="Add this school to my application" style="width:350px" />
						</label>
					</td>
				</tr>
			</table>
		</form>
	</div>
	<div class="eleven columns">
		<% unless User.current.educations.empty? %>
			<a href="step4" class="secondary large button" style="padding:9px 50px;width:auto;float:right">Next Step →</a>
		<% else %>
			<p style="float:right">Please provide some kind of education background...</p>
		<% end %>
		<div style="clear:both;height:40px;"></div>
	</div>
	<div class="four columns">
	</div>
</div>
