<style>
tr.seeking, tr.student {
	display:none;
}
</style>

<div class="row kRap">
	<div class="twelve columns">
		<h1 class="smaller" style="margin: 14px 0px 14px 0px"><span><%= self.current_user.first_name %></span>, do you have any documents (e.g. Cover Letter, Resume, Lesson Plans, etc...) you would like to attach to your application?</h1>
	</div>
	<div class="clear"></div>

	<div class="seven columns">
		<% unless @app.assets.empty? %>
			<h2>These are the files you have attached as of yet.</h2>
			<table style="width:100%;">
				<% @app.assets.each do |a| %>
					<tr>
						<td>
							<a href="/purge/<%= a.id %>?redirect=<%= currentURL %>" class="button" style="float:right;margin-top:20px;">Delete File</a>
							<h3>
							<a href="<%= a.file.url %>">
								<span class="iconic paperclip"></span>
								<%= a.name.capitalize %> &mdash; <%= a.file_content_type %> (<%= number_to_human_size(a.file_file_size) %>)
							</a>
							</h3>
						</td>
					</tr>
				<% end %>
			</table>
		<% end %>
		<form method="POST" enctype="multipart/form-data">
			<input type="hidden" name="upload_asset" value="1" />
			<% unless @app.assets.empty? %>
				<h2>Upload another file</h2>
			<% else %>
				<h2>Upload a file</h2>
			<% end %>
			<table>
				<tr>
					<td>
						<label>
							<span>Name</span>
							<input type="text" name="asset[name]" />
						</label>
						<p class="note">What do you want to call your file (e.g. Cover Letter, My Resume, The Pythagorean Theorem in 20 minutes, etc...)
					</td>
				</tr>
				<tr>
					<td>
						<label>
							<span>Description (optional)</span>
							<input type="text" name="asset[description]" />
						</label>
						<p class="note">Small description about your uploaded file.</p>
					</td>
				</tr>
				<tr>
					<td>
						<label>
							<span>File</span>
							<input type="file" name="asset[file]" />
						</label>
					</td>
				</tr>
				<tr>
					<td>
						<label class="checkbox">
							<input type="checkbox" name="asset[profile]" />
							<span>Also include this item on my profile</span>
						</label>
					</td>
				</tr>
				<tr>
					<td>
						<label>
							<span></span>
							<input type="submit" class="large button" value="Add this attachment to my application" />
						</label>
					</td>
				</tr>
			</table>
		</form>
		<% if @app.assets.count < 1 %>
			<p>We really think it would be in your best interest to upload at least a resume.</p>
		<% end %>
		<h2>I'm done adding attachments...</h2>
		<a href="step6" class="secondary large button" style="padding:9px 50px;width:auto;">Next Step</a>
		<div style="clear:both;height:40px;"></div>
	</div>
	<div class="four columns">
		<div class="fyi">
			<h3><span class="green bold">A Tioki profile helps you</span></h3>
			<ul>
				<li>Showcase your talents using video, pictures, & skills tags</li>
				<li>Establish your online presence as an educator</li>
				<li>Promote your skills & increase your opportunities</li>
			</ul>
		</div>
	</div>
</div>
