<html>
<head>
	<meta title="Connection Accepted" content="Connection Accepted"/>
</head>
<body style="width: 100% !important;-webkit-text-size-adjust: none;margin: 0;padding: 0;background-color: #FFF"><center>
	<table style="margin: 0;padding: 0;background-color: #FFF;height: 100% !important;width: 100% !important;" cellpadding="0" cellspacing="0" height="100%" width="100%" border="0">
		<tbody>
			<tr>
				<td style="border-collapse: collapse" valign="top" align="center">
					<!-- // Begin Template Preheader \\ -->
					<table border="0" cellpadding="5" cellspacing="0" width="600" style="background-color: #ffffff;">
						<tr>
							<td valign="top" class="preheaderContent" style="border-collapse: collapse;">

								<!-- // Begin Module: Standard Preheader  -->
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td valign="top" style="border-collapse: collapse;">
											<div style="color: #505050;font-family: Arial;font-size: 9px;line-height: 100%;text-align: left;"><span style="color:#ffffff;">You have new profile visits.</span></div>
										</td>
										<!--  -->
									</tr>
								</table>
								<!-- // End Module: Standard Preheader  -->

							</td>
						</tr>
					</table>
					<!-- // End Template Preheader \\ -->
					<table style="background-color: #FFFFFF;" cellpadding="0" cellspacing="0" width="600" border="0">
						<tr>
							<td style="border-collapse: collapse" valign="top" align="center">
								<!-- // Begin Template Header \\ -->
								<table style="background-color: #FFFFFF; width:600;border-bottom-width:2px; border-bottom-style:solid; border-bottom-color:#cfd4d5; margin-bottom:20px" align="center" cellpadding="0" cellspacing="0" width="600" border="0">
									<tr>
										<td align="left" width="300" style="color: #202020;font-family: Helvetica;font-size: 34px;font-weight: bold;padding-left: 20px;text-align: left;vertical-align: bottom;text-style: none;border-collapse: collapse;" cellpadding="0">
											<table border="0" cellpadding="0" cellspacing="0" style=" border-bottom-width:0; border-bottom-color:#000; border-bottom-style:solid;">
												<tr>
													<td style="font-family: Helvetica;padding-top: 10px;border-collapse: collapse">
														<a href="http://tioki.com" style="color: #2aa99b;font-weight: normal;text-decoration: none !important;" target="_blank">
															<img src="https://s3-us-west-2.amazonaws.com/tioki-marketing/Emails/Tioki_Dash_4.png" alt="Tioki" style="outline: 0;border: 0;height: 60px;width: 96px;text-decoration: none !important;vertical-align: bottom;line-height: 100% font-size: 34px" height="60" width="105"/></a>
														</td>
													</tr>
												</table>
											</td>
											<td cellpadding="0" padding-right="20" width="300" height="60" align="right" style="border-collapse: collapse;color: #202020;font-family: Helvetica;font-size: 34px;font-weight: bold;line-height: 100%;text-align: right;vertical-align: bottom;text-style: none">
												<a href="http://facebook.com/tiokiapp" style="color:#2aa99b;font-weight: normal;text-decoration: none;&#9;" target="_blank">
													<span style="margin-top: 25px; display:inline-block; text-decoration:none; color:#2aa99b ; font: normal bold 11px helvetica, serif">Facebook Love</span>
												</a>
												<span style="margin-top: 25px; display:inline-block; text-decoration:none; color:#000; font: normal bold 11px helvetica, serif">|</span>
												<a href="http://twitter.com/tioki" style="color:#2aa99b;font-weight: normal;text-decoration: none;" target="_blank">
													<span style="margin-right: 5px; margin-top: 25px; display:inline-block; text-decoration:none; color:#2aa99b; font: normal bold 11px helvetica, serif">Twitter Love
													</span>
												</a>
											</td>
										</tr>
									</table>
									<!-- // End Template Header \\ -->
								</td>
							</tr>

							<tr>
								<td style="border-collapse: collapse" valign="top" align="center">
									<!-- // Begin Template Body \\ -->
									<table align="center" style="background-color:#f0f0f0" cellpadding="0" cellspacing="0" width="600" border="0">
										
										<tr>
											<td colspan="3" class="bodyContent" style="border-collapse: collapse;color: #FFF;font-family: Helvetica;font-size: 15px;line-height: 150%;text-align: left" valign="top">
												<table cellpadding="20" cellspacing="0" width="100%" border="0">
													<tr>
														<td style="padding-bottom: 0;border-collapse: collapse" align="left" valign="middle" width="150">
															
															<span style="color: #000;display: inline-block;font-family: Helvetica;font-size: 18px;font-weight: bold;line-height: 100%;margin-top: 0;margin-right: 0;margin-bottom: 0px;margin-left: 0;text-align: left">

																<%= @user.first_name %>, you've had new visitors!

															</span>
														</td>
													</tr>
												</table>
												<br>

												<!-- Profile Card -->

											<table align="center" background="https://s3-us-west-2.amazonaws.com/tioki-marketing/Emails/dot_back2.png" style="background-color:#FFF;border-color:#2AA99B; border-style:solid; border-width:1px;width:560px" cellpadding="10" cellspacing="0" width="" border="0">
													<tr>
														<!-- Left side: Picture & Button -->
														<td width="100px" style="width:100px">
															<table cellpadding="5" cellspacing="0">
																<tr>
																	<td align="center" >
																		<a href="http://tioki.com/me/profile/stats" target="_blank" style="text-decoration:none">

																			<% if @user.avatar? %>
																				<%= image_tag @user.avatar.url(:medium), :style => "border-width:5px;border-style:solid;border-color:#ccc;width:100px;" %>
																			<% else %>
																				<%= image_tag "http://tioki.com/assets/tioki/icons/graph_thumb.png", :style => "border-width:5px;border-style:solid;border-color:#ccc;width:100px;" %>
																			<% end %>

																		</a>
																	</td>
																</tr>
																<tr>
																	<TD style="padding-top:5px">
																	</TD>
																</tr>
															</table>
														</td>
														<!-- Right side: Bio & Message -->
														<td width="400" style="width:400px">
															<table cellpadding="0" cellspacing="0" align="center">
																<tr>
																	<td align="left" valign="top"> 
																		<table cellpadding="0" cellspacing="0" align="center">
																			<tr>
																				<td align="left" valign="top" style="text-align:center"> 
																						<span style="color:#4D4D4D; font-size:18px; font-family:Oswald, sans-serif;font-weight: normal">
																							Your profile was viewed <%= @profile_views %> time<% if @profile_views > 1 %>s<% end %> this week.
																						</span>
																				</td>
																			</tr>
																			<tr>
																				<td align="left" valign="top" style="text-align:center"> 
																						<span style="color:#f66c4d; font-size:18px; font-family:Oswald, sans-serif;font-weight: normal;">
																							Who Viewed Your Profile?
																						</span>
																				</td>
																			</tr>
																			<tr>
																				<td>
																					<br/>
																					<table style="padding:5px 25px;border-radius:4px;border:1px solid #666666;text-align:center;white-space:nowrap;min-height:28px !important;min-width:80px;background-color:#2AA99B;margin-left:67px" cellpadding="0" cellspacing="0" background="https://s3-us-west-2.amazonaws.com/tioki-marketing/Emails/gradient_button_jan_2aa99b.png" height="32px" border="0">

																						<tbody style="text-decoration:none;">
																							<tr style="text-decoration:none;"> 
																								<td style="color:#FFFFFF;font-family:'Helvetica Neue','Helvetica','Arial',serif;font-size:13px;font-weight:bold;white-space:nowrap;text-shadow:0px -1px 0px #666666; text-decoration:none;" align="center">

																									<a style="text-decoration:none; color:#FFFFFF" href="http://tioki.com/me/profile/stats" target="_blank">
																										<span style="color:#FFFFFF; text-decoration:none; padding-right:5px;padding-left:5px;font-family:'Helvetica Neue','Helvetica','Arial',serif;font-size:16px;font-weight:bold; text-decoration:none;padding-right:23px;padding-left:23px">
																											<strong style="color:#FFFFFF !important;text-decoration:none !important;padding-right:10px;padding-left:10px">Sign in to see
																											</strong>
																										</span>
																									</a>
																								</td>

																							</tr> 
																						</tbody>
																					</table>
																				</td>
																			</tr>
																			
																		</table>
																	</td>
																</tr>
																
															</table>
														</td>
													</tr>
												</table>
												<table cellpadding="20" cellspacing="0" width="100%" border="0" align="center">
													<tr>
														<td align="left">
															<span style="color: #000;display: inline-block;font-family: Helvetica;font-size: 14px;font-weight: bold;line-height: 100%;margin-top: 0;margin-right: 0;margin-bottom: 0px;margin-left: 0;text-align: left"><strong>
																	Is your profile up to date?<a href="http://tioki.com/profile/<%= @user.slug %>" target="_blank" style="color:#f66c4b;text-decoration:none"> Update it today.</a>
															</strong></span>
														</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>

								</td>
							</tr>
							<tr>
								<td align="center" valign="top" width="350" style="padding-top:10px; border-collapse: collapse;" cellpadding-top="10px" cellpadding-bottom="0px">
									<span style="color: #6d6d6d; font: lighter 11px Helvetica, Arial, sans-serif;text-shadow: 0 1px 0 white;text-align: center;">2012 Copyright Tioki.com, 363 13th St, STE 300, Oakland, CA 94612<br> 
										<a href="http://tioki.com/me/settings" style="color:#6d6d6d" target="_blank">Adjust Email Settings</a>

									</span>
								</td>
							</tr>
						</tbody>
					</table>
				</body>
				</html>

