<%= form_for(@group) do |f| %>
	<fieldset>
		<p>
		Group Name (make it catchy)
		</p>
		<%= f.text_field :name, :placeholder => "Ex: EdTech Bloggers United", :style => "width:500px" %>
	</fieldset><br/>
	<fieldset>
		<p>
		Group Description (the key here is to be Short and Sweet)
		</p>
		<%= f.text_area :description, :style => "width:500px;height:150px", :placeholder => "Ex: People who have blogs that provide free resources for educators and parents. This vision is to help busy people looking for daily self-development." %>
	</fieldset><br />
  	<fieldset>
		<p>
		<%= image_tag('tioki/icons/globe.png', :style => "margin-bottom:-5px") %> Group Website (if ya got it, flaunt it)
		</p>
		<%= f.text_field :site, :style => "width:500px" %>
	</fieldset><br/>
	<fieldset>
		<p>
		<%= image_tag('tioki/icons/twitter2.png', :style => "margin-bottom:-5px") %> Group Twitter (educators love the little blue bird)
		</p>
    	<%= f.text_field :twitter, :placeholder => "http://twitter.com/", :style => "width:500px" %>
  	</fieldset><br />
	<fieldset>
		<p>
		<%= image_tag('tioki/icons/fb_button.png', :style => "margin-bottom:-5px") %> Facebook Page (show off your likes)
		</p>
    	<%= f.text_field :facebook, :placeholder => "http://facebook.com/yourgroupname", :style => "width:500px" %>
  	</fieldset><br />
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>

