<section class="group-heading">
	<div class="background">
		<%= image_tag @group.picture.url(:medium) if @group.picture? %>
	</div>
	<section class="title">
		<h3 style="margin: 10px 0px -5px 10px;color:#000">
			<%= @group.name %>
			<!-- Old Group Site links that are still in the database -->
			<% unless @group.site == nil || @group.site == "" %>
				<a href="<%= @group.site %>" target="_blank">
					<%= image_tag('tioki/icons/globe.png') %>
				</a>
			<% end %>
			<!-- New Site Links that are being completed by new groups -->
			<% unless @group.social[:website] == nil || @group.social[:website] == "" %>
				<a href="<%= @group.social[:website] %>" target="_blank">
					<%= image_tag('tioki/icons/globe.png') %>
				</a>
			<% end %>
			<!-- Pulling Old Twitters that are still in the database-->
			<% if @group.social[:twitter].present? %>
				<% if @group.social[:twitter].include? '//' %>
					<%= link_to image_tag('tioki/icons/twitter2.png'), @group.social[:twitter], :target => "_blank" %>
				<% elsif @group.social[:twitter].include? 'com' %>
					<%= link_to image_tag('tioki/icons/twitter2.png'), 'http://'+@group.social[:twitter], :target => "_blank" %>
				<% else %>
					<%= link_to image_tag('tioki/icons/twitter2.png'), '//twitter.com/'+@group.social[:twitter], :target => "_blank" %>
				<% end %>
			<% end %>
			<!-- Pulling the new social twitter links that are being updated now -->
			<% if @group.twitter.present? %>
				<% if @group.twitter.include? '//' %>
					<%= link_to image_tag('tioki/icons/twitter2.png'), @group.twitter, :target => "_blank" %>
				<% elsif @group.twitter.include? 'com' %>
					<%= link_to image_tag('tioki/icons/twitter2.png'), 'http://'+@group.twitter, :target => "_blank" %>
				<% else %>
					<%= link_to image_tag('tioki/icons/twitter2.png'), '//twitter.com/'+@group.twitter, :target => "_blank" %>
				<% end %>
			<% end %>
			<!-- Pulling Old Facebook links that are still in the database-->
			<% if @group.facebook.present? %>
				<% if @group.facebook.include? '//' %>
					<%= link_to image_tag('tioki/icons/fb_button.png'), @group.facebook, :target => "_blank" %>
				<% elsif @group.facebook.include? 'com' %>
					<%= link_to image_tag('tioki/icons/fb_button.png'), 'http://'+@group.facebook, :target => "_blank" %>
				<% else %>
					<%= link_to image_tag('tioki/icons/fb_button.png'), '//facebook.com/'+@group.facebook, :target => "_blank" %>
				<% end %>
			<% end %>
			<!-- Pulling the new Facebook "Social" links that are being updated now -->
			<% if @group.social[:facebook].present? %>
				<% if @group.social[:facebook].include? '//' %>
					<%= link_to image_tag('tioki/icons/fb_button.png'), @group.social[:facebook], :target => "_blank" %>
				<% elsif @group.social[:facebook].include? 'com' %>
					<%= link_to image_tag('tioki/icons/fb_button.png'), 'http://'+@group.social[:facebook], :target => "_blank" %>
				<% else %>
					<%= link_to image_tag('tioki/icons/fb_button.png'), '//facebook.com/'+@group.social[:facebook], :target => "_blank" %>
				<% end %>
			<% end %>
		</h3>
		<% unless @group.organization? %>
			<section style="margin:-60px 0px 0px 0px; float:right;">
			<h4 class="bottom-line">
				Invite Friends to Join: <br />
			</h4>
				<a href="#facebook"><%= image_tag('tioki/icons/facebook.png', :style => "width:30px") %></a>
				<a href="#twitter"><%= image_tag('tioki/icons/twitter.png', :style => "width:30px") %></a>
				<a href="#share_on_tioki" kmodal="1"><%= image_tag('tioki/icons/tioki.png', :style => "width:30px") %></a>
				<a href="<%= group_path(@group) + '/inviting'%>"><%= image_tag('tioki/icons/email.png', :style => "width:30px") %></a>
			</section>
		<% end %>
		<p style="margin-left:10px; width:500px">
			<% if @group.description? %>
				<%= @group.description.more!(120) %>
			<% end %>
		</p>	
	</section>
</section>
<nav class="subpage" style="background:rgb(255, 255, 255); width:722px; float:right;">
	<ul>
		<% unless @group.long_description.nil? %>
			<li class="<%= currentPath.split('/')[3].nil? ? 'current' : '' %>">
				<a href="/groups/<%= @group.id %>">
					About
				</a>
			</li>
		<% end %>
		<li class="<%= currentPath.split('/')[3] == 'members' ? 'current' : '' %>">
			<a href="/groups/<%= @group.id %>/members">
				Members
				<% if @group.users.count > 0 %>
					(<%= @group.users.count %>)
				<% end %>
			</a>
		</li>
		<% if @group.organization? %>
			<li class="<%= currentPath.split('/')[3] == 'jobs' ? 'current' : '' %>">
				<a href="/groups/<%= @group.id %>/jobs">
					Jobs
					<% if @group.jobs.where(:status => 'running').count > 0 %>
						(<%= @group.jobs.where(:status => 'running').count %>)
					<% end %>
				</a>
			</li>
		<% end %>
		<% if @group.member? || @group.permissions.public_discussions %>
			<li class="<%= currentPath.split('/')[3] == 'discussions' ? 'current' : '' %>">
				<a href="/groups/<%= @group.id %>/discussions">
					Discussions (<%= @group.discussions.count %>)
				</a>
			</li>
		<% end %>
		<% if @group.user_permissions[:administrator] || (self.current_user && self.current_user.is_admin) %>
			<li style="float:right;">
				<span>
					Manage
					<span class="iconic arrow_down"></span>
				</span>
				<ul>
					<li><%= link_to "Edit #{@group.type?}", [:edit, @group] %></li>
					<li><%= link_to "Manage Job Postings", [@group, :jobs] if @group.organization? %></li>
				</ul>
			</li>
		<% else %>
			<li style="float:right;">
				<% if self.current_user %>
					<% unless self.current_user.groups.include? @group %>
						<span>
							<%= link_to "Join Group +", { :action => "add_group", :id => @group.id } if @group.permissions['public'] %>
						</span>
					<% end %>
				<% else %>
					<span>
					<%= link_to "Join Group +", '/welcome_wizard?x=step1&join_group_button', :target => "_blank" %>
					</span>
				<% end %>
			</li>
		<% end %>
	</ul>
</nav>

<script type="text/javascript">
$(document).ready(function() {
	$('a[href="#facebook"]').click(function(e) {

		// Block the link
		e.preventDefault();

		// Trigger the facebook method
		FB.ui({
			method: 'feed',
			name: '<%=j @group.name %>',
			link: '<%= url_for(:only_path => false) %>',
			picture: 'http://www.tioki.com/assets/images/tioki/tioki-logo.png',
			caption: 'Come join this Group on Tioki.',
			description: 'Come join the "<%=j @group.name %>" group on Tioki; a professional networking site for educators!'
		}
		/*function(response) {
			if (response && response.post_id) {
				alert('Post was published.');
			} else {
				alert('Post was not published.');
			}
		}*/);

		return false;
	});
	$('a[href="#twitter"]').click(function(e) {

		// URL to go to
		url = 'https://twitter.com/share';

		// Paramaters to build
		var params = {
			via: 'tioki',
			url: '<%= url_for(:only_path => false) %>',
			text: 'Come join the "<%=j @group.name %>" Group on Tioki!'
		}

		// URL plus params
		url += '?' + $.param(params);

		// Apply to the link
		$(this).attr('href', url).attr('target', '_blank');

		// GO!
		return true;
	});
});
</script>

<% unless User.current.nil? %>
<div id="share_on_tioki" class="kmodal">
	<h2>
		Share with other Tioki users.
	</h2>
	<p>
		Please select some of your connections to share with.
	</p>
	<section style="max-height:300px;overflow-y:scroll;">
		<form method="post" action="/groups/<%= @group.id %>/invite">
			<% self.current_user.connections.not_pending.includes(:user, :owner).each do |connection| %>
			<% user = connection.not_me %>
			<div class="user" style="width:220px;height:80px;overflow:hidden;float:left;padding:10px;margin:5px;border:solid 1px #DADADA;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;">
				<input style="float:right;width:15px;height:15px;display:none;" type="checkbox" name="connection[]" value="<%= user.id %>" />
				<div class="profile-thumb-small" style="float:left;">
					<%= link_to image_tag(user.avatar.url(:medium)), "/profile/#{user.slug}" if user.avatar? %>
					<%= link_to image_tag("/assets/dl_icons/no_avatar_tiny.jpg"), "/profile/#{user.slug}" unless user.avatar? %>
				</div>
				<p style="margin-top:0px;"><strong><%= user.link %></strong><br /><%= user.location %>
			</div>
			<% end %>
			<div style="clear:both;"></div>
			<a style="float:right;margin:25px 5px 5px;font-size:20px;" href="javascript:void(0);" onclick="$(this).closest('form').submit();" class="button">Invite Connections</a>
		</form>
	</section>
</div>
<script type="text/javascript">
$(document).ready(function() {
	$('div.user').click(function(e) {
		e.preventDefault();

		var check = $(this).children('input');
		if(check.prop('checked')) {
			$(this).css('border-color', '#DADADA');
			check.prop('checked', false);
			check.hide();
		}
		else {
			$(this).css('border-color', '#F66C4C');
			check.prop('checked', true);
			check.show();
		}

		return false;
	})
});
</script>
<% end %>
