<section id="main-content" class="inner-content">
	<%= render 'heading' %>

	<h2>
		Edit Your <%= @group.type? %>
	</h2>
	<section style ="float:center;margin-right:50px">
		<h4>
			Current <%= @group.type? %> Picture
		</h4>
		<div class="bordered_image">
			<% if @group.picture? %>
				<%= image_tag @group.picture.url(:medium) %>
			<% else %>
				<img src="http://placehold.it/220x220" />
			<% end %>
		</div>
		<br/>
		<%= link_to "Update #{@group.type?} Picture", {:action => "edit_picture", :id => @group.id }, :class => "button bg-salmon", :style => "margin-left:20px" %>
	</section>

	<%= render "form" %>
</section>
