<section id="main-content" class="inner-content" style="margin-bottom: 60px;margin-top: 30px">
	<nav class="subpage" style="padding-left:0px">
		<ul>
			<% if current_page?(groups_path) %>
				<li class="current">
					All <%= @type %>s
				</li>
				<% if self.current_user %>
					<% if @type == "Group" %>
						<li><%= link_to "My #{@type}s", user_groups_path(currentUser) %></li>
					<% else %>	
						<li><%= link_to "My #{@type}s", user_groups_path(currentUser, :organization => true) %></li>
					<% end %>
					<li style="float:right;margin-top:0px;">
						<% if @type == "Group" %>
							<%= link_to "Create A #{@type}", new_group_path %>
						<% else %>
							<%= link_to "Create An #{@type}", '/me/settings/upgrade' %>
						<% end %>
					</li>
				<% else %>
					<li style="float:right;margin-top:0px">
						<%= link_to "Get Started with Tioki", '/welcome_wizard?x=step1&group_index' %>
					</li>
				<% end %>
			<% else %>
				<% if @type == "Group" %>
					<li>
						<a href="/groups">
						All <%= @type %>s
						</a>
					</li>
				<% else %>
					<li>
						<%= link_to "AlL #{@type}s", groups_path(:organization => true) %>
					</li>
				<% end %>
				<li class="current">
						My <%= @type %>s
				</li>
				<% if self.current_user %>
				<li style="float:right;margin-top:0px;">
					<% if @type == "Group" %>
						<%= link_to "Create A #{@type}", new_group_path %>
					<% else %>
						<%= link_to "Create An #{@type}", '/me/settings/upgrade' %>
					<% end %>
				</li>
				<% end %>
			<% end %>
		</ul>
	</nav>
	<section class="panels">
		<section class="two-column left-side">
		<%= form_tag  "/groups", :action => "search", :method => 'get' do %>
			<%= hidden_field(nil, :organization, :value => :true) if @type.downcase == 'organization' %>
			<%= text_field_tag :group_search, params[:group_search], :placeholder => "Search groups by name", :style => "margin: 0px 10px -10px 0px;width:500px" %>
			<%= submit_tag "Search" %>
		<% end %>
		<% @groups.each do |group| %>
			<div class="item_jobs" style="height:auto;">
				<div class="item_picture">
					<% if group.picture? %>
						<%= link_to image_tag(group.picture.url(:thumb)), group %>
					<% else %>
						<%= link_to image_tag("dl_icons/no_avatar_medium.jpg"), group %>
					<% end %>
				</div>
				<div class ="item_desc">
					<p>
						<h3 style="padding-left:122px">
							<% if group.name.size > 65 %>
								<%= link_to h(group.name.gsub(%r{</?[^>]+?>}, '')[0..69]+'...').html_safe, group, :style => "color:#4D4D4D" %>
							<% else %>
								<%= link_to h(group.name.gsub(%r{</?[^>]+?>}, '')).html_safe, group, :style => "color:#4D4D4D" %>
							<% end %>
						</h3>
						<p style="margin-top:-15px;width:525px">
							<% if group.description.size > 230 %>
								<%=h (group.description.gsub(%r{</?[^>]+?>}, '')[0..234]+'...').html_safe %>
							<% else %>
								<%=h group.description.gsub(%r{</?[^>]+?>}, '').html_safe %>
							<% end %>
						</p>
						<% if self.current_user %>
							<% unless self.current_user.groups.include? group %>
								<%= link_to "Join Group", { :action => "add_group", :id => group.id }, :class => "button bg-salmon", :style => "float:right; margin-right:115px" if group.permissions['public'] %>
							<% end %>
						<% else %>
								<%= link_to "Join Group +", '/welcome_wizard?x=step1&join_group_button' , :class => "button bg-salmon", :style => "float:right; margin-right:115px", :target => "_blank" %>
						<% end %>
							<% if !currentUser.new_record? && current_page?(user_groups_path(currentUser)) && @type == "Organization"%>
								<a href="<%= new_group_job_path(group) %>" class = "action-button salmon" style="float:right; margin-bottom:-15px; margin-right:70px;">Add a Job</a>
							<% end %>
						<div style="clear:both"></div>
					</p>
				</div>
			</div>
		<% end %>
		<% if @groups.count == 0 %>
			<% if @type == "Group" %>
				<section class="info panel" style="height:auto;width:auto;background-color:#FFF; border: 1px solid #ccc; border-radius: 0; margin:30px 0px 10px 0px">
					<h3> You're not in any groups yet! Join or create a group! </h3>
					<a href="/groups/new" class="action-button bg-salmon" style="float:right; margin-top:-65px; margin-right: 20px;">
						Create A <%= @type %>
					</a>
				</section>
			<% else %>	
				<section class="info panel" style="height:auto;width:auto;background-color:#FFF; border: 1px solid #ccc; border-radius: 0; margin:30px 0px 10px 0px">
					<h3> You must create an organization first to post a Job!</h3>
					<a href="/me/settings/upgrade" class="action-button bg-salmon" style="float:right; margin-top:-65px; margin-right: 20px;">
						Create An <%= @type %>
					</a>
				</section>
			<% end %>
		<% end %>
		</section>
		<section class="panel one-column right-side" style ="width:276px;height:430px;border-radius:5px">
			<section style="padding-left:10px;padding-right:10px">
				<% if @featured_groups %>
					<h4 class="bottom-line">
						Featured Groups
					</h4>

					<% @featured_groups.each do |group| %>
						<%= link_to image_tag(group.picture(:thumb), :style => "width:45px"), group %>
						<h5 style="margin:-65px 0px 0px 90px">
							<%= group.name %>
						</h5>
						<p style="margin:0 0px 0px 90px">
							<%= group.users.count%> Members<br />
							<%= link_to "Join +", { :action => "add_group", :id => group.id } %>
						</p>
						<br/>
					<% end %>
				<% else %>
					<h4 class="bottom-line">
						Featured Jobs
					</h4>

					<% @featured_jobs.each do |job| %>
						<% if job.group.picture? %>
							<%= link_to image_tag(job.group.picture.url(:thumb), :style => "height:65px"), job %>
						<% else %>
							<%= link_to image_tag("dl_icons/no_avatar_medium.jpg", :style => "height:65px"), job %>
						<% end %>
						<h5 style="margin:-65px 0px 0px 90px">
							<%= job.title %>
						</h5>
						<p style="margin:0 0px 0px 90px">
							<%= job.group.name %><br />
							<%= link_to "Apply +", job  %>
						</p>
						<br/>
					<% end %>
				<% end %>
			
			</section>
		</section>
	</section>
	<div class="clearfloat"></div>
</section>
