<section id="main-content" class="inner-content">
	<h2>
	Message Your Group
	</h2>
	<%= form_for @message, :url => { :action => "message_all_create", :id => @group.id} do |f| %>
		<fieldset>
			<p>
			Message Subject
			</p>
			<%= f.text_field :subject, :placeholder => "Ex: Alumni Networking Event", :style => "width:500px" %>
		</fieldset><br/>

		<fieldset>
			<p>
			Message Body
			</p>
			<%= f.text_area :body, :style => "width:500px" %>
		</fieldset>

		<div class="actions">
			<%= f.submit "Send Message" %>
			<%= link_to "Cancel", :back %>
		</div>
	<% end %>
</section>
