<section id="main-content" class="inner-content" style="margin-bottom: 60px;margin-top: 30px">
	<section>
		<nav class="subpage">
			<ul>
				<li>
					<a href="/groups">
					Groups
					</a>
				</li>
				<li class="current">
						My Groups
				</li>
				<% if self.current_user && self.current_user.teacher %>
					<div style="float:right;margin-top:0px">
						<%= link_to "Create A Group", new_group_path, :class => "action-button bg-green" %>
					</div>
				<% end %>
			</ul>
		</nav>
	</section>
	<section class="panels">
		<section class="two-column left-side" style ="width:725px;margin-left:25px">
			<% if @groups != nil %>
		  		<% @groups.each do |group| %>
					<div class="item_jobs" style="height:auto;">
							<div class="item_picture">
								<% if group.picture? %>
									<%= link_to image_tag(group.picture.url(:thumb)), group %>
								<% else %>
									<%= link_to image_tag("dl_icons/no_avatar_medium.jpg"), group %>
								<% end %>
							</div>
							<div class ="item_desc">
								<p>
									<h3>
										<%= link_to group.name, group, :style => "color:#4D4D4D" %>
									</h3>
									<p style="margin-top:-15px; width:auto">
										<% if group.description.size > 270 %>
											<%=h (group.description.gsub(%r{</?[^>]+?>}, '')[0..274]+'...').html_safe %>
										<% else %>
											<%=h group.description.gsub(%r{</?[^>]+?>}, '').html_safe %>
										<% end %>
									</p>
									<% if self.current_user && self.current_user.teacher %>
										<% unless self.current_user.groups.include? group %>
											<%= link_to "Join Group", { :action => "add_group", :id => group.id }, :class => "action-button bg-salmon", :style => "float:right; margin:0px" if group.permissions['public'] %>
										<% end %>
									<% end %>
						
									<div style="clear:both"></div>
								</p>
							</div>
					</div>
		  		<% end %>
			<% else @groups == nil %>
			<p> You're not in any groups yet! Here are some you should join'</p>	
			<% end %>
		</section>
	</section>
</section>
