<section id="main-content" class="inner-content">
	<%= render 'heading' %>
	<% if !@group.organization? %>
		<section class="left-side" style ="min-height:650px;width:635px">
			<h2 class="bottom-line">
				About <%= @group.name %>
			</h2>
			<%= @group.long_description.html_safe rescue '' %>
		</section>
		<!-- Will Finish this later<section id="list" class="panel one-column right-side" style ="border-radius:0px;margin-top:25px">
			<h4 style="margin-left:10px">
				Group Snapshot
			</h4>
			<% if @group.users.count > 0 %>
				<%= @group.users.count %> Members
			<% end %>
		</section>-->
	<% else %>
		<section class="panels">
			<section class="two-column left-side" style ="min-height:650px">
				<% if @group.long_description? %>
					<h3 class="bottom-line">
						Description
					</h3>
					<p style="width:auto">
						<%= sanitize @group.long_description %>
					</p>
				<% end %>
				<% misc = @group.misc %>
				<% if !misc['mission'].nil? %>
					<h3 class="bottom-line">
						Mission Statement
					</h3>
					<p style="width:auto">
						<%= sanitize (misc['mission']).gsub(/\n/, '<br />') %>
					</p>
				<% end %>
			</section>
			<!--BASIC INFORMATION-->
			<section id="list" class="panel one-column right-side" style ="border-radius:0px">
				<h4 style="margin-left:10px">
					Basic Information
				</h4>
				<section class="panel-actions">
					<p style="width:auto">
						<!-- SCHOOL TYPE -->
					  	<% if !misc['school_type'].nil? %>
							<strong style="color:#2AA99B">
								School Type:
							</strong> 
							<%= misc['school_type'] %>,  
						<% end %>
					  	<% if !misc['school_grades'].nil? %>
							<%= misc['school_grades'] %> <strong>| </strong>
						<% end %>
						<% if !misc['school_calendar'].nil? %>
							<%= misc['school_calendar'] %> Calendar Year</br></br> 
						<% end %>
						
						<!-- STATS -->
					<% if !misc['api_score'].nil? && !misc['students_count'].nil? %>
				  		<strong style="color:#2AA99B">
							Stats: 
						</strong>
							<%= misc['students_count'] %> Students,
							<%= misc['api_score'] %> API </br></br>
					<% elsif !misc['students_count'].nil? %>
						<strong style="color:#2AA99B">
							Stats: 
						</strong>
							<%= misc['students_count'] %> Students </br></br>
				  	<% elsif !misc['api_score'].nil? %>
						<strong style="color:#2AA99B">
							Stats: 
						</strong>
						API: <%= misc['api_score'] %></br></br>
					<% end %>

						<!-- LOCATION -->
						<% location = @group.location %>
						<strong style="color:#2AA99B">
						Location: 
						</strong>
						<%= location['address'] %>, <%= location['city'] %>, 
							<% if !location['region'].nil? %> 
								<%= location['region'] %>,
							<% end %> 
						<%= location['postal'] %></br></br>

						<!-- SOCIAL LINKS -->
						<% social = @group.social %>
						<% if !social['website'].nil? %>
						  <% if social['website'].include? '//' %>
						    <%= link_to image_tag('tioki/icons/globe.png'), social['website'], :target => "_blank" %>
						  <% else %>
						    <%= link_to image_tag('tioki/icons/globe.png'), '//' + social['website'], :target => "_blank" %>
						  <% end %>
						<% end %>

						<% if !social['twitter'].nil? %>
						  <% if social['twitter'].include? '//' %>
						    <%= link_to image_tag('tioki/icons/twitter2.png'), social['twitter'], :target => "_blank" %>
						  <% else %>
						    <%= link_to image_tag('tioki/icons/twitter2.png'), '//' + social['twitter'], :target => "_blank" %>
						  <% end %>
						<% end %>
						
						<% if !social['facebook'].nil?  %>
						  <% if social['facebook'].include? '//' %>
						    <%= link_to image_tag('tioki/icons/fb_button.png'), social['facebook'], :target => "_blank" %>
						  <% else %>
						    <%= link_to image_tag('tioki/icons/fb_button.png'), '//' + social['facebook'], :target => "_blank" %>
						  <% end %>
						<% end %>
						
						<% if !social['greatschools'].nil? %>
						  <% if social['greatschools'].include? '//' %>
						    <%= link_to image_tag('tioki/icons/greatschools.png'), social['greatschools'], :target => "_blank", :style => "height:25px" %>
						  <% else %>
						    <%= link_to image_tag('tioki/icons/greatschools.png'), '//' + social['greatschools'], :target => "_blank" %>
						  <% end %>
						<% end %>
					</p>	
				</section>
			</section>
		</section>
	<% end %>
</section>

<script type="text/javascript">
$(document).ready(function() {
	$('a[href="#facebook"]').click(function(e) {

		// Block the link
		e.preventDefault();

		// Trigger the facebook method
		FB.ui({
			method: 'feed',
			name: '<%=j @group.name %>',
			link: '<%= url_for(:only_path => false) %>',
			picture: 'http://www.tioki.com/assets/images/tioki/tioki-logo.png',
			caption: 'Come join this Group on Tioki.',
			description: 'Come join the "<%=j @group.name %>" group on Tioki; a professional development site for educators!'
		}
		/*function(response) {
			if (response && response.post_id) {
				alert('Post was published.');
			} else {
				alert('Post was not published.');
			}
		}*/);

		return false;
	});
	$('a[href="#twitter"]').click(function(e) {

		// URL to go to
		url = 'https://twitter.com/share';

		// Paramaters to build
		var params = {
			via: 'tioki',
			url: '<%= url_for(:only_path => false) %>',
			text: 'Come join the "<%=j @group.name %>" Group on Tioki!'
		}

		// URL plus params
		url += '?' + $.param(params);
		
		// Apply to the link
		$(this).attr('href', url).attr('target', '_blank');

		// GO!
		return true;
	});
});
</script>

<% unless User.current.nil? %>
<div id="share_on_tioki" class="kmodal">
	<h2>
		Share with other Tioki users.
	</h2>
	<p>
		Please select some of your connections to share with.
	</p>
	<section style="max-height:300px;overflow-y:scroll;">
		<form method="post" action="/groups/<%= @group.id %>/invite">
			<% Connection.mine(:pending => false).each do |connection| %>
			<% user = connection.not_me %>
			<div class="user" style="width:220px;height:80px;overflow:hidden;float:left;padding:10px;margin:5px;border:solid 1px #DADADA;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;">
				<input style="float:right;width:15px;height:15px;" type="checkbox" name="connection[]" value="<%= user.id %>" />
				<div class="profile-thumb-small" style="float:left;">
					<%= link_to image_tag(user.avatar.url(:medium)), "/profile/#{user.slug}" if user.avatar? %>
					<%= link_to image_tag("/assets/dl_icons/no_avatar_tiny.jpg"), "/profile/#{user.slug}" unless user.avatar? %>
				</div>
				<p style="margin-top:0px;"><strong><%= user.link %></strong><br /><%= user.location %>
			</div>
			<% end %>
			<div style="clear:both;"></div>
			<a style="float:right;margin:25px 5px 5px;font-size:20px;" href="javascript:void(0);" onclick="$(this).closest('form').submit();" class="button">Invite Connections</a>
		</form>
	</section>
</div>
<script type="text/javascript">
$(document).ready(function() {
	$('div.user').click(function(e) {
		e.preventDefault();

		var check = $(this).children('input');
		if(check.prop('checked')) {
			$(this).css('border-color', '#DADADA');
			check.prop('checked', false);
		}
		else {
			$(this).css('border-color', '#F66C4C');
			check.prop('checked', true);
		}

		return false;
	})
});
</script>
<% end %>