<%= form_tag :action => "email_settings" do %>
	<h2>Email settings</h2>
	Receive an email when the following event occur
	<% APP_CONFIG['bitswitches']['email_permissions'].each do |bit, name| %>
		<fieldset>
			<input type="hidden" name="permissions[<%= name %>]" value="1" />
			<input type="checkbox" name="permissions[<%= name %>]" <%= raw "checked=\"checked\"" unless @user.email_permissions[name] %> value="0" />
			<%= name.gsub('_', ' ') %>
		</fieldset>
	<% end %>
	<div class="actions">
		<%= submit_tag "Update Email settings" %>
	</div>
<% end %>
<%= render :partial => "authenticate_form" %>
