 <section class="info panel" style="height:auto;width:400px;background-color:#FFF; border: 1px solid #ccc; border-radius: 0; margin:30px 0px 10px 0px"> <div style="margin-left:20px">
    <%= form_tag :action => "change_password" do %>
      <h2>Change Password</h2>

      <div class="field">
        <%= label "confirm", "current_password" %><br />
        <%= password_field "confirm", "current_password" %>
      </div></br>
      <div class="field">
        <%= label :user, "New Password" %><br />
        <%= password_field "confirm", :password %>
      </div></br>
      <div class="field">
        <%= label "confirm", :confirm_password %><br />
        <%= password_field "confirm", :confirm_password %>
      </div></br>

      <div class="actions">
        <%= submit_tag "Change Password" %>
      </div>
    <% end %>
  </div>
</section>
