<p>
	Complete Your Profile
</p>

<%= image_tag "/assets/completion_icons/completion-container.png", :style => "position:absolute" %>
<%= image_tag "/assets/completion_icons/completion-bar.png", :width => 183, :height => 12, :style => "position:absolute" %>

<br />
<div id="location">
	<%= image_tag "/assets/completion_icons/location_grey.png", :width => 20  %>Help your friends find you
</div>
<div id="photo">
	<%= image_tag "/assets/completion_icons/location_grey.png", :width => 20  %>Help your friends find you
</div>
<div id="occupation">
	<%= image_tag "/assets/completion_icons/location_grey.png", :width => 20  %>Help your friends find you
</div>
<div id="social_networks">
	<%= image_tag "/assets/completion_icons/location_grey.png", :width => 20  %>Help your friends find you
</div>
<div id="social_networks">
	<%= image_tag "/assets/completion_icons/location_grey.png", :width => 20  %>Help your friends find you
</div>
