<div id="completion">
	<div id="completionHeader">
		<h3 style="color:#fff; margin-top:0;margin-bottom:5px;">
			<div class="text_occupation" style="display:none">
				Are you a teacher, admin, or professor?
			</div>
			<div class="text_location" style="display:none">
				Help your friends find you.
			</div>
			<div class="text_headline" style="display:none">
				Tell us a bit about yourself
			</div>
			<div class="text_picture" style="display:none">
				Help the Tioki Network recognize you
			</div>
			<div class="text_social" style="display:none">
				Connect your social networks for better sharing
			</div>
			<div class="text_subjects" style="display:none">
				Let the world know what subjects you specialize in
			</div>
			<div class="text_skills" style="display:none">
				Skills make us unique.  What are some of your?
			</div>
			<div class="text_education" style="display:none">
				Find your classmates and school networks
			</div>
			<div class="text_experience" style="display:none">
				You're a professional.  Tell us where you practice
			</div>
			<div class="text_video" style="display:none">
				Add a video of you in the classroom
			</div>
		</h3>
		<div id="completionIcons">
			<p style="font-size:17px;color:#fff;margin-top:0px">
				<%= link_to image_tag('/assets/tioki/completion_icons2/occupation_unselected.png', :class => "popup_occupation", :style => "width:30px;margin-bottom:-10px;"), '#', :class => "image_link", :data => {:complete => "0"} %>
				&middot;
				<%= link_to image_tag('/assets/tioki/completion_icons2/location_unselected.png', :class => "popup_location", :style => "width:30px;margin-bottom:-10px;"), '#', :class => "image_link", :data => {:complete => "1"} %>
				&middot;
				<%= link_to image_tag('/assets/tioki/completion_icons2/headline_unselected.png', :class => "popup_headline", :style => "width:30px;margin-bottom:-10px;"), '#', :class => "image_link", :data => {:complete => "2"} %>
				&middot;
				<%= link_to image_tag('/assets/tioki/completion_icons2/picture_unselected.png', :class => "popup_picture" ,:style => "width:30px;margin-bottom:-10px;"), '#', :class => "image_link", :data => {:complete => "3"} %>
				&middot;
				<%= link_to image_tag('/assets/tioki/completion_icons2/social_unselected.png', :class => "popup_social", :style => "width:30px;margin-bottom:-10px;"), '#', :class => "image_link", :data => {:complete => "4"} %>
				&middot;
				<%= link_to image_tag('/assets/tioki/completion_icons2/subjects_unselected.png', :class => "popup_subjects", :style => "width:30px;margin-bottom:-10px;"), '#', :class => "image_link",:data => {:complete => "5"} %>
				&middot;
				<%= link_to image_tag('/assets/tioki/completion_icons2/skills_unselected.png', :class => "popup_skills", :style => "width:30px;margin-bottom:-10px;"), '#', :class => "image_link", :data => {:complete => "6"} %>
				&middot;
				<%= link_to image_tag('/assets/tioki/completion_icons2/education_unselected.png', :class => "popup_education", :style => "width:30px;margin-bottom:-10px;"), '#', :class => "image_link", :data => {:complete => "7"} %>
				&middot;
				<%= link_to image_tag('/assets/tioki/completion_icons2/experience_unselected.png', :class => "popup_experience", :style => "width:30px;margin-bottom:-10px;"), '#', :class => "image_link", :data => {:complete => "8"} %>
				&middot;
				<%= link_to image_tag('/assets/tioki/completion_icons2/video_unselected.png', :class => "popup_video",:style => "width:30px;margin-bottom:-10px;"), '#', :class => "image_link", :data => { :complete => "9"} %>
			</p>
		</div>
	</div>

	<section class="section_occupation" style="display:none">
		<%= form_tag "/me/profile/edit/complete", :class => "location_form", :remote => true do %>
				Occupation<br />
				<%= select_tag "user[occupation]", options_for_select(User::OCCUPATION) %>
		<% end %>
	</section>

	<section class="section_location" style="display:none">
		<%= form_tag "/me/profile/edit/complete", :class => "location_form", :remote => true do %>
			<p>
				I currently live in... <input name="user[location]" placeholder="Los Angeles, CA" type="text" style="width:350px">
			</p>
		<% end %>
	</section>

	<section class="section_headline" style="display:none">
		<%= form_tag "/me/profile/edit/complete", :class => "location_form", :remote => true do %>
				Headline<br />
				<%= text_area_tag "user[headline]" %>
		<% end %>
	</section>

	<section class="section_picture" style="display:none">
		<p>
		Help connections and the rest of the Tioki community recognize you. 
		</p>
		<div style="text-align:center">
			<% if currentUser.avatar? %>
				<%= image_tag currentUser.avatar.url(:medium), :style => "width:250px;border:5px solid #f1f1f1;" %>
			<% else %>
				<%= image_tag 'dl_icons/no_avatar_large.jpg', :style => "width:250px;border:5px solid #f1f1f1;" %>
			<% end %>
			<br/>
			<%= link_to 'Upload Picture', '#', :style => 'color:#F66C4C' %>
		</div>
	</section>

	<section class="section_social" style="display:none">
	</section>

	<section class="section_subjects" style="display:none">
	</section>

	<section class="section_skills" style="display:none">
	</section>

	<section class="section_education" style="display:none">
	</section>

	<section class="section_experience" style="display:none">
	</section>

	<section class="section_video" style="display:none">
	</section>

	<section>
		<%= link_to '<<Previous', '#', :class => "completionPrevious previous" %>
		<%= link_to 'Skip', '#', :class => "completionPrevious skip", :id => "skip_completion" %>
		<%= link_to 'Save & continue>>', '#', :class => "completionContinue" %>
	</section>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		var completions = ["occupation", "location", "headline", "picture", "social", "subjects", "skills", "education", "experience", "video"];
		var completionsIndex = 0;
		$(".complete_popup").click(function () {
			$('body').completionOverlay({
				completionLength: 10000, // anything numeric no quotes
				transitionSpeed: 400, // ditto
				completionAutoFade: false, //timed fade on overlay...true or false
				completionCloseBtn: true, //btn to close overlay...true or false
				completionTransition: 'fade', //different transition options 'fade', 'slideUp', 'slideLeft', 'slideCenter'
				openAnimation: true, //opening animation...true or false
				completionSwitch: true,
				completionContent: '#completion', //where the content is at, uses css selector # for id, and . for class
				cookieActive : false,
				/* also you can use 'href' to load content for a seperate page..
				when using href it also uses the class of the clicked element to find the content...
				it goes like this .load(href class); check source for use */ 
				completionTemplate: 'full', // either 'full' or 'module'
				completionTurnOffLights: false, //turn off and on lights...true or false
			});
			unselect();
			completionsIndex = parseInt($(this).attr('data-completionid'));
			select();

			$(".previous").on("click", function () {
				unselect();
				if(completionsIndex > 0) {
					completionsIndex--;
				} else {
					completionsIndex = completions.length - 1;
				}
				select();
			});

			$(".skip").on("click", function () {
				unselect();
				if(completionsIndex < completions.length - 1) {
					completionsIndex++;
				} else {
					completionsIndex = 0;
				}
				select();
			});
			
			$(".completionContinue").on("click", function () {
				$("."+completions[completionsIndex]+"_form").submit();
				$(".skip").click();
			});

			$(".image_link").on("click", function () {
				$(".section_"+completions[completionsIndex]).hide();
				$(".text_"+completions[completionsIndex]).hide();
				$(".popup_"+completions[completionsIndex]).attr("src", "/assets/tioki/completion_icons2/"+completions[completionsIndex]+"_unselected.png");
				completionsIndex = parseInt($(this).attr('data-complete'));
				$(".section_"+completions[completionsIndex]).show();
				$(".text_"+completions[completionsIndex]).show();
				$(".popup_"+completions[completionsIndex]).attr("src", "/assets/tioki/completion_icons2/"+completions[completionsIndex]+"_selected.png");
			});
		});
		$(".complete_popup").click(function (e) {
			e.preventDefault();
			//completionIndex = completions.indexOf($(this).attr('id'));
			$("#profile_complete").click();
		});
		function unselect()
		{
			$(".section_"+completions[completionsIndex]).hide();
			$(".text_"+completions[completionsIndex]).hide();
			$(".popup_"+completions[completionsIndex]).attr("src", "/assets/tioki/completion_icons2/"+completions[completionsIndex]+"_unselected.png");
		}
		function select()
		{
			$(".section_"+completions[completionsIndex]).show();
			$(".text_"+completions[completionsIndex]).show();
			$(".popup_"+completions[completionsIndex]).attr("src", "/assets/tioki/completion_icons2/"+completions[completionsIndex]+"_selected.png");
		}
		
		$("#completion_right").click( function () {
			unselect();
			$("#"+completions[completionsIndex]+"_select").hide();
			if(completionsIndex < completions.length - 1) {
				completionsIndex++;
			} else {
				completionsIndex = 0;
			}
			$("#"+completions[completionsIndex]+"_select").fadeIn();
			select();
		});
		$("#completion_left").click( function () {
			unselect();
			$("#"+completions[completionsIndex]+"_select").hide();
			if(completionsIndex > 0) {
				completionsIndex--;
			} else {
				completionsIndex = completions.length - 1;
			}
			select();
			$("#"+completions[completionsIndex]+"_select").fadeIn();
		});
	});
</script>

