<section class="info panel" style="height:180px;background-color:#FFF; border: 1px solid #ccc; border-radius: 0; margin:30px 0px 10px 0px">
	<section class="two-column right-side" style ="width:765px;margin:0px 10px 10px -100px">
		<!-- EDIT AND FOLLOW BUTTONS -->
		<% if self.current_user != nil %>
			<div style="float:right;margin-top:0px">

			<!-- Connection Options -->
			<% # IF this is my profile allow me to edit %>
			<% if @self %>
				<a href="/me/profile/edit" class="action-button bg-salmon">
					Edit My Profile
				</a>
			<% # IF im not a user then let me register %>
			<% elsif !self.current_user %>
				<a href="/welcome_wizard?x=step1&user_connection=<%= @user.id %>" class="action-button bg-salmon">
					<%= ablang('connection.connect') %>
				</a>
			<% elsif Connection.mine.not_pending.collect{|x| x.not_me_id(self.current_user.id)}.include? @user.id %>
				<%= link_to "Send Message", { :controller => 'messages', :action => 'new', :user_id_to => @user.id }, {:class => "action-button bg-salmon"} %>
			<% # IF we are not connected then display "connect" button %>
			<% else %>
				<%= link_to ablang('connection.connect'), { :controller => 'connections', :action => 'add_connection', :user_id => @user.id }, :class => "action-button bg-salmon" %>
			<% end %>

			</div>
		<% end %>

		<!-- START Teacher INFO -->
		<h2 style="margin: 5px 0px 15px 10px">
		<%= @user.name %>
		</h2>
		<section style= "height: 75px;">
		<% if @user.headline? %>
			<h4 style="margin-left:10px;margin-top:-15px;width:auto">
				"<%= @user.headline %>"
			</h4>
		<% end %>

		<p style="margin-left:10px; margin-top:-20px; margin-bottom: 5px; width:auto">
		  	<% if !(currentJob = @user.currentJob).nil? %>
				<strong style="color:#2AA99B">
					Currently:
				</strong> 
				<%= currentJob.position %> at <%= currentJob.company %> in  
			<% end %>
			<%= @user.location %>
		</p>
		</section>
		<p>
		<section id="updates" style="margin: -10px 0px 0px 10px;">
			<!-- SOCIAL LINKS -->
				<% if @self %>
					<a href="/my_connections" style= "margin-right:10px;">
					<div class="count connections" style= "margin-bottom:0px;">
					<%= User.current.pending_connections(false).count %>
					</div>
					<%= ablang('connection.plural') %>
					</a>
				<% else %>
					<a href="/profile/<%= @user.slug %>/connections" style= "margin-right:10px;">
					<div class="count connections" style= "margin-bottom:0px;">
					<%= @user.pending_connections(false).count %>
					</div>
					<%= ablang('connection.plural') %>
					</a>
				<% end %>

				<% social = @user.social %>
				<% if social['twitter'].present? %>
					<% if social['twitter'].include? '//' %>
						<%= link_to image_tag('tioki/icons/twitter2.png', :style=>"margin-top:-20px"), social['twitter'], :target => "_blank" %>
					<% elsif social['twitter'].include? 'twitter' %>
						<%= link_to image_tag('tioki/icons/twitter2.png', :style=>"margin-top:-20px"), '//' + social['twitter'], :target => "_blank" %>
					<% else %>
						<%= link_to image_tag('tioki/icons/twitter2.png', :style=>"margin-top:-20px"), '//twitter.com/' + social['twitter'], :target => "_blank" %>
					<% end %>
				<% end %>

				<% if social['linkedin'].present? %>
					<% if social['linkedin'].include? '//' %>
						<%= link_to image_tag('tioki/icons/LinkedIn_IN_Icon_25px.png', :border => 0, :style=>"margin-bottom:-0px; margin-left:10px; margin-top:-20px"), social['linkedin'], :target => "_blank" %>
					<% else %>
						<%= link_to image_tag('tioki/icons/LinkedIn_IN_Icon_25px.png', :border => 0, :style=>"margin-bottom:-0px; margin-left:10px; margin-top:-20px"), '//' + social['linkedin'], :target => "_blank" %>
					<% end %>
				<% end %>

				<% if social['edmodo'].present? %>
					<% if social['edmodo'].include? '//' %>
						<%= link_to image_tag('tioki/icons/edmodo.png', :style=>"margin-left:10px; margin-top:-20px"), social['edmodo'], :target => "_blank" %>
					<% else %>
						<%= link_to image_tag('tioki/icons/edmodo.png', :style=>"margin-left:10px; margin-top:-20px"), '//' + social['edmodo'], :target => "_blank" %>
					<% end %>
				<% end %>

				<% if social['betterlesson'].present? %>
					<% if social['betterlesson'].include? '//' %>
						<%= link_to image_tag('tioki/icons/betterlesson.png', :style=>"margin-left:10px; margin-top:-20px"), social['betterlesson'], :target => "_blank" %>
					<% else %>
						<%= link_to image_tag('tioki/icons/betterlesson.png', :style=>"margin-left:10px; margin-top:-20px"), '//' + social['betterlesson'], :target => "_blank" %>
					<% end %>
				<% end %>

				<% if social['teachingchannel'].present? %>
					<% if social['teachingchannel'].include? '//' %>
						<%= link_to image_tag('tioki/icons/teachingchannel.png', :style=>"margin-left:10px; margin-top:-20px"), social['teachingchannel'], :target => "_blank" %>
					<% else %>
						<%= link_to image_tag('tioki/icons/teachingchannel.png', :style=>"margin-left:10px; margin-top:-20px"), '//' + social['teachingchannel'], :target => "_blank" %>
					<% end %>
				<% end %>
				
				<% if social['blog'].present? %>
					<% if social['blog'].include? '//' %>
						<%= link_to image_tag('tioki/icons/blog_icon.png', :style=>"margin-left:10px; margin-top:-20px"), social['blog'], :target => "_blank" %>
					<% else %>
						<%= link_to image_tag('tioki/icons/blog_icon.png', :style=>"margin-left:10px; margin-top:-20px"), 'http://' + social['blog'], :target => "_blank" %>
					<% end %>
				<% end %>
				
				<% if social['website'].present? %>
					<% if social['website'].include? '//' %>
						<%= link_to image_tag('tioki/icons/globe.png', :style=>"margin-left:10px; margin-top:-20px"), social['website'], :target => "_blank" %>
					<% else %>
						<%= link_to image_tag('tioki/icons/globe.png', :style=>"margin-left:10px; margin-top:-20px"), 'http://' + social['website'], :target => "_blank" %>
					<% end %>
				<% end %>
				<span style="float:right;font-size:12px">
					<a href="/profile/<%= @user.slug %>" style="color:#2AA99B">www.tioki.com/profile/<%= @user.slug %></a>
				</span>
		</section>
		</p>
	</section>
	<section class="profile-thumb-large" style="margin: 10px 0px 10px 10px;">
		<% if @self %>
			<a href="/me/profile/edit/upload-avatar" class="edit"><span class="iconic pen"></span> Edit</a>
		<% end %>
		<% if (@connected || @guest || !@user.privacy_public[:avatar]) && @user.avatar? %>
			<%= image_tag(@user.avatar.url(:medium), :width => "160") %>
		<% else %>
			<%= image_tag('dl_icons/no_avatar_large.jpg') %>
		<% end %>
	</section>
</section>
