<div id="completion_right" style="float:right">
	right
</div>
<div id="completion_left" style="float:right">
	left
</div>
<p>
	<h5>Complete Your Profile</h5>
</p>

<%= image_tag "/assets/completion_icons/completion-container.png", :style => "position:absolute" %>
<%= image_tag "/assets/completion_icons/completion-bar.png", :width => (currentUser.completion/100.0)*183, :height => 12, :style => "position:absolute" %>
<div id="profile_complete" style="float:right;font-size:8px">
	<%= currentUser.completion %>% Complete
</div>

<br />

<div id="occupation_select" style="display:none">
	<%= image_tag "/assets/completion_icons/occupation_grey.png", :width => 35  %><p class="completion">Are you a teacher, admin, professor?</p>
	<%= link_to "Update Occupation", "#", :data => {:completionid => @completions.index("occupation")},:class => "button complete_popup" %>
</div>
<div id="location_select" style="display:none">
	<%= image_tag "/assets/completion_icons/location_grey.png", :width => 35  %><p class="completion">Help your friends find you</p>
	<%= link_to "Update Occupation", "#", :data => {:completionid => @completions.index("location")},:class => "button complete_popup" %>
</div>
<div id="headline_select" style="display:none">
	<%= image_tag "/assets/completion_icons/headline_grey.png", :width => 35  %><p class="completion">Tell us a bit about yourself</p>
	<%= link_to "Update Headline", "#", :data => {:completionid => @completions.index("headline")},:class => "button complete_popup" %>
</div>
<div id="picture_select" style="display:none">
	<%= image_tag "/assets/completion_icons/picture_grey.png", :width => 35  %><p class="completion">Help the Tioki Network recognize you</p>
	<%= link_to "Update Photo", "#", :data => {:completionid => @completions.index("picture")},:class => "button complete_popup" %>
</div>
<div id="social_select" style="display:none">
	<%= image_tag "/assets/completion_icons/social_grey.png", :width => 35  %><p class="completion">Connect your social networks for better sharing</p>
	<%= link_to "Update Social Networks", "#", :data => {:completionid => @completions.index("social")},:class => "button complete_popup" %>
</div>
<div id="subjects_select" style="display:none">
	<%= image_tag "/assets/completion_icons/subjects_grey.png", :width => 35  %><p class="completion">Let the world know what subjects you specialize in</p>
	<%= link_to "Update Subjects", "#", :data => {:completionid => @completions.index("subjects")},:class => "button complete_popup" %>
</div>
<div id="skills_select" style="display:none">
	<%= image_tag "/assets/completion_icons/skills_grey.png", :width => 35  %><p class="completion">Skills make us unique.  What are some of your?</p>
	<%= link_to "Update Skills", "#", :data => {:completionid => @completions.index("skills")},:class => "button complete_popup" %>
</div>
<div id="education_select" style="display:none">
	<%= image_tag "/assets/completion_icons/education_grey.png", :width => 35  %><p class="completion">Find your classmates and school networks</p>
	<%= link_to "Update Education", "#", :data => {:completionid => @completions.index("education")},:class => "button complete_popup" %>
</div>
<div id="experience_select" style="display:none">
	<%= image_tag "/assets/completion_icons/experience_grey.png", :width => 35  %><p class="completion">You're a professional.  Tell us where you practice</p>
	<%= link_to "Update Work Experience", "#", :data => {:completionid => @completions.index("experience")},:class => "button complete_popup" %>
</div>
<div id="video_select" style="display:none">
	<%= image_tag "/assets/completion_icons/video_grey.png", :width => 20  %><p class="completion">Add a video of you in the classroom</p>
	<%= link_to "Add Video", "#", :data => {:completionid => @completions.index("video")},:class => "button complete_popup" %>
</div>
