<section id="main-content" class="inner-content signup-page" style="height:325px">
	<section class="one-column left-side" >
		<h3 style="margin-top:100px">
		Welcome back to Tioki! Please login.
		</h3>
		<%= form_tag :action => "login", :id => "signup-form" do %>
			<fieldset>
				<%= email_field :user, "email", :placeholder => "Email" %>
			</fieldset>
			<fieldset id="enterpwd">
				<%= password_field :user, "password", :placeholder => "Password" %>
			</fieldset>
			<fieldset>
				<%= submit_tag "Login to Tioki", :class => "button bg-green" %>
				<%= link_to 'Forgot Password?', :forgot_password, :class => "forgot-password" %>
			</fieldset>
		<% end %>
	<div style="height:50px; width:250px; margin-left: -200px; margin-top:0px">
		<h4>
		<span style="float:right;margin-right:-30px">Login With:</span>
		<br/>
		<a href="/auth/twitter"><%= image_tag "tioki/icons/twitter3.png", :style => "float:right;margin-right:-30px" %></a>
		<a href="/auth/facebook"><%= image_tag "tioki/icons/fb_button.png", :style => "margin-top:4px;float:right;margin-right:10px;height:29px" %></a>
		</h4>
	</div>
	</section>
	<section class="two-column right-side" style="margin-top:0px">
		<h3 style="margin-left: 150px;">
			New to Tioki? <%= link_to 'Start Connecting Today!', '/welcome_wizard?x=step1', :style => "color:#2AA99B" %>
		</h3>
			<%= image_tag 'tioki/connected_map.png', :style => "width:500px;margin-left:100px" %>
	</section>
</section><!-- End Main Content -->
