<section id="main-content" class="inner-content signup-page" style="height:325px">
	<section class="one-column left-side" >
		<h3 style="margin-top:100px">
		Welcome back to Tioki! Please login.
		</h3>
		<%= form_tag :action => "login", :id => "signup-form" do %>
			<fieldset>
				<%= email_field :user, "email", :placeholder => "Email" %>
			</fieldset>
			<fieldset id="enterpwd">
				<%= password_field :user, "password", :placeholder => "Password" %>
			</fieldset>
			<fieldset>
				<%= submit_tag "Login to Tioki", :class => "button bg-green" %>
				<%= link_to 'Forgot Password?', :forgot_password, :class => "forgot-password" %>
			</fieldset>
		<% end %>
	</section>
	<section class="two-column right-side" style="margin-top:0px">
		<h3 style="margin-left: 150px;">
			New to Tioki? <%= link_to 'Start Connecting Today!', '/welcome_wizard?x=step1', :style => "color:#2AA99B" %>
		</h3>
			<%= image_tag 'tioki/connected_map.png', :style => "width:500px;margin-left:100px" %>
	</section>
</section><!-- End Main Content -->
