<section id="main-content" class="inner-content">
<%= form_tag :action => "new_member" do %>
  <div class="field">
    First Name<br />
		<%= text_field_tag :first_name %><br />
		Last Name<br />
    <%= text_field_tag :last_name %>
  </div>
  <div class="field">
    Email<br />
    <%= text_field_tag :email %>
  </div>
  <div class="field">
    Password<br />
    <%= password_field_tag :password %>
  </div>
  <div class="field">
    Confirm Password<br />
    <%= password_field_tag :password_confirmation %>
  </div>
  User Type<br/>
	<%= radio_button_tag :is_limited, false %> Full admin<br />
	<%= radio_button_tag :is_limited, true %> Limited<br /><br />
  Assigned Schools<br />
  If full admin is selected all schools can be accessed by the user.<br />
  <% @schools.each do |school| %>
    <%= check_box_tag "school_ids[]", school.id %>
    <%= school.name %><br />
  <% end %>
  <div class="actions">
    <%= submit_tag "Save" %>
  </div>
<% end %>
</section>
