<section id="main-content" class="inner-content">
	<h1>Privacy Settings</h1>
	
	<h4>On this page, you can control who has access to your Tioki profile and activity</h4>
	
	<section id="panels">
		<section class="panel two-column left-side" style="padding-left:10px">
			<h4 class="bottom-line">Public Information</h4>
			
			<p style="width:auto">Your Tioki <a href="/my_connections" style="color:#F66C4C" target="_blank">connections</a> have full access to your complete profile. However, you can control what information is publicly available by establishing your privacy settings below.</p>
			
			<p>What information would you like to be available to non-connections?</p>

			<%= form_tag :action => "privacy" do %>
				<% APP_CONFIG['bitswitches']['user_privacy'].each do |bit, name| %>
					<% if name != "resume" %>
						<fieldset>
							<input type="hidden" name="public[<%= name %>]" value="1" />
							<input type="checkbox" name="public[<%= name %>]" <%= raw "checked=\"checked\"" unless @user.privacy_public[name] %> value="0" />
							<%= name.gsub('_', ' ') %>
						</fieldset>
					<% end %>
				<% end %>
		</section>
		<section class="panel two-column left-side" style="padding-left:10px">
			<h4 class="bottom-line">Resume Information</h4>
			<p style="width:auto">Your <a href="/profile/<%= self.current_user.slug %>/resume" style="color:#F66C4C" target="_blank">Resume Tab</a> houses all the information you would want a potential employer to see if you were job seeking, such as your work experience and educational background.</p>
			
			<p>Who should have access to your resume information?</p>
			<fieldset>
				<%= radio_button_tag 'resume', '0', !@user.privacy_public[:resume] %> Everyone<br />
			</fieldset>
			<fieldset>
				<%= radio_button_tag 'resume', '1', @user.privacy_public[:resume] %> Only organizations to which I have applied.<br />
			</fieldset>
		</section>
		<section class="three-column left-side">
			<fieldset>
				<%= submit_tag "Update Privacy", :class => "button huge-button", :style => 'margin-left:175px' %>
			</fieldset>
			<% end %>
		</section>
	</section>
	<div class="clearfloat"></div>
</section>
