<section id="main-content" class="inner-content">
	<h1>Privacy Settings</h1>
	<p>Here you can change which items are displayed publically and to users you have not connected with.<br />Any checked box is hidden from public view.</p>

	<%= form_tag :action => "privacy" do %>
		<% APP_CONFIG['bitswitches']['user_privacy'].each do |bit, name| %>
			<fieldset>
				<input type="hidden" name="public[<%= name %>]" value="1" />
				<input type="checkbox" name="public[<%= name %>]" <%= raw "checked=\"checked\"" unless @user.privacy[name] %> value="0" />
				<%= name.gsub('_', ' ') %>
			</fieldset>
		<% end %>
		<fieldset>
			<%= submit_tag "Update Privacy", :class => "button huge-button" %>
		</fieldset>
	<% end %>
</section>