<section id="main-content" class="inner-content">
<% if self.current_user.id.even? %>

<section class="info panel" style="height:180px;background-color:#FFF; border: 1px solid #ccc; border-radius: 0; margin:30px 0px 10px 0px">
		<section class="two-column right-side" style ="width:765px;margin:0px 10px 10px -100px">
			<!-- EDIT AND FOLLOW BUTTONS -->
			<% if self.current_user != nil %>
				<div style="float:right;margin-top:0px">
				<!-- Connection Options -->
				<% # IF this is my profile allow me to edit %>
				<% if !self.current_user.nil? %>
					<a href="/me/profile/edit" class="action-button bg-salmon">
						Edit My Profile
					</a>
				<% # IF im not a user then let me register %>
				<% elsif !self.current_user %>
					<a href="/welcome_wizard?x=step1&user_connection=<%= @teacher.user.id %>" class="action-button bg-salmon">
						<%= ablang('connection.connect') %>
					</a>
				<% # IF we are already connected or if i am a school allow me to send a message %>
				<% elsif Connection.mine.collect{|x| x.not_me.id}.include? @teacher.user.id || !self.current_user.school.nil? %>
					<%= link_to "Send Message", { :controller => 'messages', :action => 'new', :user_id_to => @teacher.user_id }, {:class => "action-button bg-salmon"} %>
				<% # IF we are not connected then display "connect" button %>
				<% elsif self.current_user.teacher != nil %>
					<%= link_to  ablang('connection.connect'), { :controller => 'connections', :action => 'add_connection', :user_id => @teacher.user_id }, :class => "action-button bg-salmon" %>
				<% end %>
				<% if !self.current_user.nil? && self.current_user.teacher == @teacher %>
					<%= link_to "My Public Profile", "/profile/"+@teacher.url %>
				<% end %>
				</div>
			<% end %>
			
			<!-- START Teacher INFO -->
			<h2 style="margin: 10px 0px -5px 10px">
			<%= @teacher.user.name %>
			</h2>
			
			<% if @teacher.headline? %>
				<h4 style="margin-left:10px;margin-top:10px;width:auto">
					"<%= @teacher.headline %>"
				</h4>
			<% end %>
			
			<p style="margin-left:10px; margin-top:-15px;width:auto">
			  	<% if @teacher.position.present? && @teacher.school.present?%>
					<strong style="color:#2AA99B">
						Currently:
					</strong> 
					<%= @teacher.position %> at <%= @teacher.school %> in  
				<% end %>
				<%= @teacher.location %>
			</p>
			<p>
			<section id="updates" style="margin: 0px 0px 0px 10px;">
				<!-- SOCIAL LINKS -->
					<a href="my_connections.html" style= "margin-right:10px;">
					<div class="count connections" style= "margin-bottom:-15px;">
					<%= User.current.pending_connections(false).count %>
					</div>
					<%= ablang('connection.plural') %>
					</a>
					<% if @teacher.twitter.present? %>
						<% if @teacher.twitter.include? '//' %>
							<%= link_to image_tag('tioki/icons/twitter2.png'), @teacher.twitter %>
						<% else %>
							<%= link_to image_tag('tioki/icons/twitter2.png'), '//'+@teacher.twitter %>
						<% end %>
					<% end %>

					<% if @teacher.linkedin.present? %>
						<% if @teacher.linkedin.include? '//' %>
							<%= link_to image_tag('tioki/icons/LinkedIn_IN_Icon_25px.png', :border => 0, :style=>"margin-bottom:-0.5px; margin-left:10px;"), @teacher.linkedin %>
						<% else %>
							<%= link_to image_tag('tioki/icons/LinkedIn_IN_Icon_25px.png', :border => 0, :style=>"margin-bottom:-0.5px; margin-left:10px;"), '//' + @teacher.linkedin %>
						<% end %>
					<% end %>

					<% if @teacher.edmodo.present? %>
						<% if @teacher.edmodo.include? '//' %>
							<%= link_to image_tag('tioki/icons/edmodo.png', :style=>"margin-left:10px;"), @teacher.edmodo %>
						<% else %>
							<%= link_to image_tag('tioki/icons/edmodo.png', :style=>"margin-left:10px;"), '//'+@teacher.edmodo %>
						<% end %>
					<% end %>

					<% if @teacher.betterlesson.present? %>
						<% if @teacher.betterlesson.include? '//' %>
							<%= link_to image_tag('tioki/icons/betterlesson.png', :style=>"margin-left:10px;"), @teacher.betterlesson %>
						<% else %>
							<%= link_to image_tag('tioki/icons/betterlesson.png', :style=>"margin-left:10px;"), '//'+@teacher.betterlesson %>
						<% end %>
					<% end %>

					<% if @teacher.teachingchannel.present? %>
						<% if @teacher.teachingchannel.include? '//' %>
							<%= link_to image_tag('tioki/icons/teachingchannel.png', :style=>"margin-left:10px;"), @teacher.teachingchannel %>
						<% else %>
							<%= link_to image_tag('tioki/icons/teachingchannel.png', :style=>"margin-left:10px;"), '//'+@teacher.teachingchannel %>
						<% end %>
					<% end %>
			</section>
			</p>
		</section>
		<section class="profile-thumb-large" style="margin: 10px 0px 10px 10px;">
			<% if @teacher.me? %>
				<a href="/me/profile/edit/upload-avatar" class="edit"><span class="iconic pen"></span> Edit</a>
			<% end %>
			<% if (@connected || @guest || !@teacher.user.privacy["avatar"]) && @teacher.user.avatar? %>
				<%= image_tag(@teacher.user.avatar.url(:medium), :width => "160") %>
			<% else %>
				<%= image_tag('dl_icons/no_avatar_large.jpg') %>
			<% end %>
		</section>
</section>

<!-- CONTENT SECTION -->
<section class="profile-content" style="width:1000px;">
	<section class="panels">
		<section class="one-column right-side" style="border: 1px solid #ccc; border-radius: 0;margin: 0px 36px 0px 0px;">
			<h3>Most recent videos</h3>
			<ul>
				<% @videodb.limit(6).each do |vid| %>
					<a href="<%= "#{@videolist}/#{vid.id}" %>">
						<li>
							<div style="float:left;" class="profile-thumb-small">
								<%= image_tag(vid.thumbnail, :width => '45', :height => '45') %>
							</div>
							<strong><%= vid.name %></strong><br />
							<p style="float:none;"><%= vid.description %></p>
						</li>
					</a>
				<% end %>
			</ul>
		</section>

		<!-- START Checklist Content -->
		<section class="profile-content">
		
			<% if self.current_user != nil && @teacher == self.current_user.teacher %>
			
					<section class="two-column left-side" style="height:45px;background-color:#FBEFD5; border: 1px solid #ccc; border-radius: 0; margin-bottom: 10px">
						<a href="/get_started" style="display:block">
							<h4 style="margin: 10px 0px -5px 10px">
								Want a Rockstar profile? Click <span style="color:#F66C4C">here</span> to get started.
							</h4>	
							<h5 style="margin: 10px 0px -5px 80px">
							</h5>
						</a>
					</section>
			
			<% end %>
		
		<!-- START Experience Section-->
		<section class="two-column left-side" style ="min-height:150px;  border: 1px solid #ccc; border-radius: 0;">
			<% unless @teacher.experiences.empty? && self.current_user == nil %>
				<section class="profile-info group">
					<h3 class="bottom-line">
					Experience
						<span style="font-size:16px; margin-left:5px">
							<% if self.current_user != nil && @teacher == self.current_user.teacher %>
							<a href="/me/profile/edit/experience"> - - Edit</a>
							<% end %>
						</span>
					</h3>

					<% @teacher.experiences.each do |experience| %>
						<p class="bold">
						<%= experience.position %><br />
						<%= experience.company %>	
						</p>
						<p>
						<% if experience.current == true %>
								<%= experience.startMonth.to_s+"/"+experience.startYear.to_s %> - Present
						<% else %>
							<% if experience.startMonth != nil %>
								<%= experience.startMonth.to_s+"/"+experience.startYear.to_s %>
							<% end %> -
							<% if experience.endMonth != nil %>
								<%= experience.endMonth.to_s+"/"+experience.endYear.to_s %>
							<% end %>
						<% end %>
						</p>
						<p>
						<%= experience.description %>
						</p><br />
					<% end %>
				</section>
			<% end %>
		</section>

		<!-- START Skills Section-->
		<section class="two-column left-side" style ="min-height:150px; margin-top: 10px; border: 1px solid #ccc; border-radius: 0;">
			<% unless @teacher.user.skill_groups.empty? && self.current_user == nil %>
				<section class="profile-info group">
					<h3 class="bottom-line">Skills<span style="margin-left:10px;color:#F66C4C;" data-skillgroup-name="true"></span>
					<% if self.current_user != nil && @teacher == self.current_user.teacher %>
						<span style="font-size:16px"><a href="/me/profile/edit/skills"> - - Edit</a></span>
					<% end %>
					<span style="float:right;color:#F66C4C;" >Vouches</span>
					</h3> 

					<% @teacher.user.skill_groups.each do |skill_group| %>
						<% @teacher.skills.select{ |skill| skill.skill_group_id == skill_group.id }.each do |skill| %>
							<div style="border-bottom: 1px dashed #CFD4D5;padding-top:5px">
								<%= link_to skill.name, skill, :style => "font-size:15px" %>
								<% if @teacher.user.vouched_skills.collect(&:skill_id).count(skill.id) > 0 %>
									<%= @teacher.user.vouched_skills.collect(&:skill_id).count(skill.id) %>
								<% end %>
								<div style="float:right">
									<% @teacher.user.vouched_skills.select{|vouched_skill| vouched_skill.skill_id == skill.id && vouched_skill.voucher }[0..3].each do |vouched_skill| %>
										<% if vouched_skill.voucher.avatar? %>
											<%= link_to image_tag(vouched_skill.voucher.avatar(:tiny), :style => 'max-height:20 px;max-width:20px;'), "#{vouched_skill.voucher.teacher.url}" %>
										<% else %>
											<%= link_to image_tag("/assets/dl_icons/no_avatar_medium.jpg", :style => 'max-height:20px;max-width:20px;'), "#{vouched_skill.voucher.teacher.url}" %>
										<% end %>
									<% end %>
									<% if User.current && @teacher.user != User.current %>
										<%= link_to "+", { :controller => "vouches", :action => "addvouch", :user_id => @teacher.user_id, :skill_id => skill.id } %>
									<% end %>
								</div>
								<br />
							</div>
						<% end %>
					<% end %>
					</section>
					</br>
				<% end %>
		</section>
		
		<!-- START Credential Section-->
		<section class="two-column left-side" style ="min-height:150px; margin-top: 10px; border: 1px solid #ccc; border-radius: 0;">
			<% unless @teacher.credentials.empty? && self.current_user == nil %>
				<section class="profile-info group">
					<h3 class="bottom-line">
					Credentials
						<span style="font-size:16px; margin-left:5px">
							<% if self.current_user != nil && @teacher == self.current_user.teacher %>
							<a href="/me/profile/edit/credentials"> - - Edit</a>
							<% end %>
						</span>
					</h3>
					<% @teacher.credentials.each do |credential| %>
						<p class="bold">  
						<%= credential.credentialType %>
						</p>
						<p>
						Subject: <%= credential.name %>
						</p>
						<p>
						Issued by: <%= credential.issuer %>
						</p>
						<% unless credential.state == ''  %>
							<p>
							Licensed in the state of: <%= credential.state %>
							</p>
						<% end %>
						</br>
					<% end %>
				</section>
			<% end %>
		</section>
		
		<!-- START Presentation & Publications Section-->
		<section class="two-column left-side" style ="min-height:150px">
			<% unless @teacher.presentations.empty? && self.current_user == nil %>
				<section class="profile-info group">
					<h3 class="bottom-line">
					Presentation & Publications
						<span style="font-size:16px; margin-left:5px">
							<% if self.current_user != nil && @teacher == self.current_user.teacher %> 
							<a href="/me/profile/edit/presentations"> - - Edit</a>
							<% end %>
						</span>
					</h3>
					<% @teacher.presentations.each do |presentation| %>
						<p class="bold">
						<% unless presentation.url == nil || presentation.url == '' %>
							<%= link_to presentation.title, presentation.url %>
						<% else %>
							<%= presentation.title %>
						<% end %>
						</p>
						<p>
						<%= presentation.location %> | <%= presentation.date %>
						</p>
						<p>
						Authors: <%= link_to presentation.author, "#" %>
						</p>
						<p>
						<%= sanitize(presentation.description, :tags => %w(p a strong em span)) %>
						</p><br/ >
					<% end %>
				</section>
			<% end %>
		</section>
		
		<!-- START Awards & Honors Section-->
		<section class="two-column left-side" style ="min-height:150px">
			<% unless @teacher.awards.empty? && self.current_user == nil %>
				<section class="profile-info group">
					<h3 class="bottom-line">
					Honors & Awards
						<span style="font-size:16px; margin-left:5px">
						<% if self.current_user != nil && @teacher == self.current_user.teacher %>
						<a href="/me/profile/edit/awards"> - - Edit</a>
						<% end %>
						</span>
					</h3>
					<% @teacher.awards.each do |award| %>
					<p class="bold">
						<%= award.title %>
					</p>
					<p>
						<%= award.issuer %>
					</p>
					<p>
						<%= award.date %>
					</p>
					<p>
						<%= award.description %>
					</p></br>
					<% end %>
				</section>
				
			<% end %>
		</section>

		<!-- START Attachments Section -->
		<section class="two-column left-side" style ="min-height:150px">
			<% if @connected || @guest || !@teacher.user.privacy["attachments"] %>
				<% unless @teacher.assets.empty? && self.current_user == nil %>
					<section class="profile-info group">
						<h3 class="bottom-line">
						Attachments
							<span style="font-size:16px; margin-left:5px">
								<% if self.current_user != nil && @teacher == self.current_user.teacher %>
								<a href="/profileattachments">- - Edit</a>
								<% end %>
							</span>
						</h3>

						<% if User.current.nil? %>
							<p>Please <%= link_to "login", '/login' %> to view profile attachments.</p>
						<% else %>
							<% @teacher.assets.each do |asset| %>
								<% if asset.assetType != 1 %>
									<p>
									<%= link_to image_tag('tioki/icons/attachment.png') + asset.name, asset.file.url %><br />
									<%= asset.description %>
									</p>
								<% end %>
							<% end %>
						<% end %>
					</section>
				<% end %>
			<% end %>
		</section>
	</section>
</section>

<% else %>
	<section class="info panel" style="height:180px;background-color:#FFF; border: 1px solid #ccc; border-radius: 0; margin:30px 0px 10px 0px">
			<section class="two-column right-side" style ="width:765px;margin:0px 10px 10px -100px">
				<!-- EDIT AND FOLLOW BUTTONS -->
				<% if self.current_user != nil %>
					<div style="float:right;margin-top:0px">
                    
					<!-- Connection Options -->
					<% # IF this is my profile allow me to edit %>
					<% if @self %>
						<a href="/me/profile/edit" class="action-button bg-salmon">
							Edit My Profile
						</a>
					<% # IF im not a user then let me register %>
					<% elsif !self.current_user %>
						<a href="/welcome_wizard?x=step1&user_connection=<%= @user.id %>" class="action-button bg-salmon">
							<%= ablang('connection.connect') %>
						</a>
					<% # IF we are already connected or if i am a school allow me to send a message %>
					<% elsif Connection.mine.collect{|x| x.not_me.id}.include? @user.id %>
						<%= link_to "Send Message", { :controller => 'messages', :action => 'new', :user_id_to => @user.id }, {:class => "action-button bg-salmon"} %>
					<% # IF we are not connected then display "connect" button %>
					<% else %>
						<%= link_to ablang('connection.connect'), { :controller => 'connections', :action => 'add_connection', :user_id => @user.id }, :class => "action-button bg-salmon" %>
					<% end %>
                    
                    <!-- If this is my profile provide a link to my public profile for me to share -->
					<% if @self %>
						<a href="/profile/<%= @user.slug %>" style="float:right;" class="button bg-green">My Public Profile</a>
					<% end %>
					</div>
				<% end %>

				<!-- START Teacher INFO -->
				<h2 style="margin: 10px 0px 10px 10px">
				<%= @user.name %>
				</h2>
				<section style= "height: 75px;">
				<% if @user.headline? %>
					<h4 style="margin-left:10px;margin-top:-10px;width:auto">
						"<%= @user.headline %>"
					</h4>
				<% end %>

				<p style="margin-left:10px; margin-top:-15px; margin-bottom: 5px; width:auto">
				  	<% if !(currentJob = @user.currentJob).nil? %>
						<strong style="color:#2AA99B">
							Currently:
						</strong> 
						<%= currentJob.position %> at <%= currentJob.company %> in  
					<% end %>
					<%= @user.location %>
				</p>
				</section>
				<p>
				<section id="updates" style="margin: 0px 0px 0px 10px;">
					<!-- SOCIAL LINKS -->
						<% if @self %>
							<a href="/my_connections" style= "margin-right:10px;">
							<div class="count connections" style= "margin-bottom:0px;">
							<%= User.current.pending_connections(false).count %>
							</div>
							<%= ablang('connection.plural') %>
							</a>
						<% else %>
							<a href="/profile/<%= @user.slug %>/connections" style= "margin-right:10px;">
							<div class="count connections" style= "margin-bottom:0px;">
							<%= @user.pending_connections(false).count %>
							</div>
							<%= ablang('connection.plural') %>
							</a>
						<% end %>
                        
                        <% social = @user.social %>
						<% if !social['twitter'].nil? %>
							<% if social['twitter'].include? '//' %>
								<%= link_to image_tag('tioki/icons/twitter2.png', :style=>"margin-top:-20px"), social['twitter'], :target => "_blank" %>
							<% elsif social['twitter'].include? 'twitter' %>
								<%= link_to image_tag('tioki/icons/twitter2.png', :style=>"margin-top:-20px"), '//' + social['twitter'], :target => "_blank" %>
							<% else %>
								<%= link_to image_tag('tioki/icons/twitter2.png', :style=>"margin-top:-20px"), '//twitter.com/' + social['twitter'], :target => "_blank" %>
							<% end %>
						<% end %>

						<% if !social['linkedin'].nil? %>
							<% if social['linkedin'].include? '//' %>
								<%= link_to image_tag('tioki/icons/LinkedIn_IN_Icon_25px.png', :border => 0, :style=>"margin-bottom:-0px; margin-left:10px; margin-top:-20px"), social['linkedin'], :target => "_blank" %>
							<% else %>
								<%= link_to image_tag('tioki/icons/LinkedIn_IN_Icon_25px.png', :border => 0, :style=>"margin-bottom:-0px; margin-left:10px; margin-top:-20px"), '//' + social['linkedin'], :target => "_blank" %>
							<% end %>
						<% end %>

						<% if !social['edmodo'].nil? %>
							<% if social['edmodo'].include? '//' %>
								<%= link_to image_tag('tioki/icons/edmodo.png', :style=>"margin-left:10px; margin-top:-20px"), social['edmodo'], :target => "_blank" %>
							<% else %>
								<%= link_to image_tag('tioki/icons/edmodo.png', :style=>"margin-left:10px; margin-top:-20px"), '//' + social['edmodo'], :target => "_blank" %>
							<% end %>
						<% end %>

						<% if !social['betterlesson'].nil? %>
							<% if social['betterlesson'].include? '//' %>
								<%= link_to image_tag('tioki/icons/betterlesson.png', :style=>"margin-left:10px; margin-top:-20px"), social['betterlesson'], :target => "_blank" %>
							<% else %>
								<%= link_to image_tag('tioki/icons/betterlesson.png', :style=>"margin-left:10px; margin-top:-20px"), '//' + social['betterlesson'], :target => "_blank" %>
							<% end %>
						<% end %>

						<% if !social['teachingchannel'].nil? %>
							<% if social['teachingchannel'].include? '//' %>
								<%= link_to image_tag('tioki/icons/teachingchannel.png', :style=>"margin-left:10px; margin-top:-20px"), social['teachingchannel'], :target => "_blank" %>
							<% else %>
								<%= link_to image_tag('tioki/icons/teachingchannel.png', :style=>"margin-left:10px; margin-top:-20px"), '//' + social['teachingchannel'], :target => "_blank" %>
							<% end %>
						<% end %>
						
						<% if !social['blog'].nil? %>
							<% if social['blog'].include? '//' %>
								<%= link_to image_tag('tioki/icons/blog_icon.png', :style=>"margin-left:10px; margin-top:-20px"), social['blog'], :target => "_blank" %>
							<% else %>
								<%= link_to image_tag('tioki/icons/blog_icon.png', :style=>"margin-left:10px; margin-top:-20px"), 'http://' + social['blog'], :target => "_blank" %>
							<% end %>
						<% end %>
						
						<% if !social['website'].nil? %>
							<% if social['website'].include? '//' %>
								<%= link_to image_tag('tioki/icons/globe.png', :style=>"margin-left:10px; margin-top:-20px"), social['website'], :target => "_blank" %>
							<% else %>
								<%= link_to image_tag('tioki/icons/globe.png', :style=>"margin-left:10px; margin-top:-20px"), 'http://' + social['website'], :target => "_blank" %>
							<% end %>
						<% end %>
				</section>
				</p>
			</section>
			<section class="profile-thumb-large" style="margin: 10px 0px 10px 10px;">
				<% if @self %>
					<a href="/me/profile/edit/upload-avatar" class="edit"><span class="iconic pen"></span> Edit</a>
				<% end %>
				<% if (@connected || @guest || !@user.privacy["avatar"]) && @user.avatar? %>
					<%= image_tag(@user.avatar.url(:medium), :width => "160") %>
				<% else %>
					<%= image_tag('dl_icons/no_avatar_large.jpg') %>
				<% end %>
			</section>
	</section>
	
	<section class="profile group">
		<section class="sidebar">
			<!-- Connection Information -->
			<section class="info">
				<p class="heading">
				<%= ablang('connection.plural') %>
				</p>
				<div style="padding:0px 20px;">
					<% @user.connections.where("`pending` = ?", false).all.shuffle.select{|x|x.not_me(@user.id).avatar?}[0..7].each do |c| %>
						<div class="profile-thumb-small" style="float:left;margin:0px;overflow:hidden;">
							<%= link_to image_tag(c.not_me(@user.id).avatar(:medium), :style => 'min-height:45px;min-width:45px;'), "/profile/#{c.not_me(@user.id).slug}" %>
						</div>
					<% end %>
					<div style="clear:both;"></div>
					<br />
					<a href="/profile/<%= @user.slug %>/connections" style="display:block;text-align:center;width:150px;margin-left:10px" class="button bg-green">See All</a>
				</div>
			</section>

			<% if self.current_user %>
				<% if @connected || @guest || !@user.privacy["contact_info"] %>
					<!-- Contact Information-->
					<section class="info">
					<p class="heading">
					Contact Information
					</p>
                    <% contact = @user.contact %>
					<% if !@user.email.empty? %>
						<p>
						<span class="bold black">Email:</span>
						<%= @user.email %><br/>
						</p>
					<% end %>
					<% if !contact['phone'].nil? %>
						<p>
						<span class="bold black">Phone:</span>
						<%= contact['phone'] %>
						</p>
					<% end %>
					</section>
				<% end %>
			<% end %>
			
			<!-- Teacher Technology Tags -->
			<section class="info">
				<p class="heading">
				<%= link_to "Technologies", "/technologies", :style => "color:#000" %>
				</p>
				<div style="padding:0px 5px;">
					<% @user.technologies.each do |technology| %>
						<div class="profile-thumb-small" style="float:left;margin:0px 5px 0px 0px;overflow:hidden;">
							<%= link_to image_tag(technology.picture(:medium), :style => 'min-height:45px;min-width:45px;'), technology %>
						</div>
					<% end %>
					<div style="clear:both;"></div>
				</div>
			</section>
			
			<!-- Request Vouch -->
			<% if @self && @user.skills.size > 0  %>
				<section class="info">
					<%= link_to "Verify Skills", '/requestvouch', :class => "action-button bg-green" %>
				</section>
			<% end %>
		</section><!-- End Sidebar -->
		
		
		<!-- START Checklist Content -->
		<section class="profile-content">

			<section class="panel two-column left-side">
				<ul class="whiteboard">
					<% @whiteboard.each do |post| %>
						<%= raw post %>
					<% end %>
					<li><a href="#whiteboard-more" style="text-align:center;display:block;">Show More</a></li>
				</ul>
			</section>
		
			<% if @self %>
				<% if !self.current_user.got_started %>
					<section class="info panel" style="height:45px;background-color:#FBEFD5; border: 1px solid #ccc; border-radius: 0; margin-bottom: 10px">
						<a href="/get_started" style="display:block">
							<h4 style="margin: 10px 0px -5px 10px">
								Want a Rockstar profile? Click here to get started
							</h4>	
							<h5 style="margin: 10px 0px -5px 80px">
							</h5>
						</a>
					</section>
				<% end %>
			<% end %>

			<!-- Video -->
			<% if @connected || @guest || !@user.privacy["video"] %>
				<% unless @user.video.nil? %>
					<div class="profile-video panel">
						<%= @user.video.embed_code %>
					</div>
				<% end %>
				<section class="video-actions group">
					<% if @self %>
						<% unless @user.video.nil? %>
							<a href="/me/profile/edit/upload-video" class="action-button edit-video bg-green">
							Upload another Video
							</a>
						<% else %>
							<a href="/me/profile/edit/upload-video" class="action-button edit-video bg-green">
							Add a Video
							</a>
						<% end %>
					<% end %>
					<% if @user.videos.count > 0 %>
						<a href="/profile/<%= @user.slug %>/videos" class="action-button edit-video bg-green" style="margin-right:10px;white-space:nowrap;width:auto;padding-left:10px;padding-right:10px;">
							<%= possesify(@user.first_name) %> Video Library
						</a>
					<% end %>
					<% unless @user.video.nil?%>
						<!--ul class="stats">
							<li>
								<div class="count favorites">
								47
								</div>
							</li>
						</ul-->
					<% end %>
				</section>
			<% end %>

			<!-- START Education Section-->
			<!-- If Education is blank and you do own the profile, we encourage you to complete it.--> 
			<% if @user.educations.empty? && @self %>
				<section class="profile-info group">
					<h3 class="bottom-line">
					<%= link_to "Education", "/me/profile/edit/educations", :style => "color:#4D4D4D" %>
					<span style="font-size:16px; margin-left:5px">
						<a href="/me/profile/edit/educations">  >> Where did you get that awesome brain of Yours?</a>
					</span>
					</h3>
				</section>
				
			<!-- If Education is blank and you do not own the profile, you will see nothing. --> 
			<% elsif @user.educations.empty? %>
			
			<!-- If Educations aren't nil, no matter who you are, you will see them suckers. -->
			<% else %>
				<section class="profile-info group">
					<% if !self.current_user.nil? && @self %>
						<h3 class="bottom-line">
							<%= link_to "Education", "/me/profile/edit/educations", :style => "color:#4D4D4D" %>	
							<%= link_to image_tag("/assets/tioki/icons/pencil.png", :style => "float:right;height:16px;margin-top:10px"), "/me/profile/edit/educations" %>
						</h3>
					<% else %>
						<h3 class="bottom-line">
							Education	
						</h3>
					<% end %>
					<% @user.educations.each do |edu| %>
						<p class="bold">
							<%= edu.school %>
						</p>
					
						<% unless edu.degree.nil? || edu.degree.empty? %>
							<p>
							<%= edu.degree %>, 
								
						<% end %>
						<% unless edu.concentrations.nil? || edu.concentrations.empty? %>
							<%= edu.concentrations %>	
							</p>
						<% end %>

						<p>
							<% if edu.current == true %>
								<% if edu.year.present?  %>
								<%= edu.start_year%> - <%= edu.year %> (expected)<br /><br />
								<% end %>
								
							<% else %>
								<% if !edu.year.present? %>
									<% else %>
									<% if !edu.start_year.present? %>
										<%= edu.year %><br />
										
									<% else %>
										<%= edu.start_year %> - <%= edu.year %><br /><br />
									<% end %>
									<% end %>
							<% end %>
						</p>
					<% end %>
				</section>
			<% end %>
			
			<!-- START Experience Section-->
			<!-- If Experiences are blank and you do own the profile, we encourage you to complete it.--> 
			<% if @user.experiences.empty? && @self %>
				<section class="profile-info group">
					<h3 class="bottom-line">
						<%= link_to "Work Experience", "/me/profile/edit/experiences", :style => "color:#4D4D4D" %>
						<span style="font-size:16px; margin-left:5px">
							<a href="/me/profile/edit/experiences"> >> How did you get so good at this?</a>
						</span>
					</h3>
				</section><br />
				
			<!-- If Experiences are blank and you do not own the profile, you will see nothing. --> 
			<% elsif @user.experiences.empty? %>
			
			<!-- If Experiences aren't nil, no matter who you are, you will see them suckers. -->
			<% else %>
				<section class="profile-info group">
					<% if @self %>
						<h3 class="bottom-line">
							<%= link_to "Experience", "/me/profile/edit/experiences", :style => "color:#4D4D4D" %>	
							<%= link_to image_tag("/assets/tioki/icons/pencil.png", :style => "float:right;height:16px;margin-top:10px"), "/me/profile/edit/experiences" %>
						</h3>
					<% else %>
						<h3 class="bottom-line">
							Experience
						</h3>
					<% end %>
					<% @user.experiences.each do |experience| %>
						<p class="bold">
						<%= experience.position %><br />
						<%= experience.company %>	
						</p>
						<p>
						<% if experience.current == true %>
								<%= experience.startMonth.to_s+"/"+experience.startYear.to_s %> - Present
						<% else %>
							<% if experience.startMonth != nil %>
								<%= experience.startMonth.to_s+"/"+experience.startYear.to_s %>
							<% end %> -
							<% if experience.endMonth != nil %>
								<%= experience.endMonth.to_s+"/"+experience.endYear.to_s %>
							<% end %>
						<% end %>
						</p>
						<p>
						<%= experience.description %>
						</p><br />
					<% end %>
				</section>
			<% end %>

			<!-- START Skills Section-->
			<!-- If Skills are blank and you do own the profile, we encourage you to complete it.-->
			<% if @user.skill_groups.empty? && @self %>
				<section class="profile-info group">
					<h3 class="bottom-line">
						<%= link_to "Skills", "/me/profile/edit/skills", :style => "color:#4D4D4D" %>
						<span style="margin-left:10px;color:#F66C4C;" data-skillgroup-name="true"></span>
						<span style="font-size:16px">
							<a href="/me/profile/edit/skills"> >> Tell us what you're great at.</a>
						</span>
					</h3>
				</section><br />
			
			<!-- If Skills are blank and you do not own the profile, you will see nothing. -->
			<% elsif @user.skill_groups.empty? %>
			
			<!-- If Skills aren't nil, no matter who you are, you will see them suckers. -->
			<% else %>
				<section class="profile-info group">
					<% if @self %>
						<h3 class="bottom-line">
							<%= link_to "Skills", "/me/profile/edit/skills", :style => "color:#4D4D4D" %>	
							<span style="margin-left:10px;color:#F66C4C;" data-skillgroup-name="true"></span>
		
							<span style="float:right;font-size:18px">
							<%= link_to "Get Vouched", "/requestvouch", :style => 'color:#F66C4C' %> 
							<span style="font-size:16px">|</span>
							<%= link_to image_tag("/assets/tioki/icons/pencil.png", :style => "height:16px;margin-top:10px"), "/me/profile/edit/skills" %>
							</span>
						</h3>
					<% else %>
						<h3 class="bottom-line">
							Skills
							<span style="margin-left:10px;color:#F66C4C;" data-skillgroup-name="true"></span>
							<span style="float:right;color:#F66C4C;font-size:18px" >
								Vouch for <%= @user.first_name %> 
							</span>
						</h3> 
					<% end %>
					
					

					<% @user.skill_groups.each do |skill_group| %>
						<% @user.skills.select{ |skill| skill.skill_group_id == skill_group.id }.each do |skill| %>
							<div style="border-bottom: 1px dashed #CFD4D5;padding-top:5px">
								<%= link_to skill.name, "/skill/#{skill.id}", :style => "font-size:15px" %>
								<% if @user.vouched_skills.collect(&:skill_id).count(skill.id) > 0 %>
									<%= @user.vouched_skills.collect(&:skill_id).count(skill.id) %>
								<% end %>
								<div style="float:right">
									<% @user.vouched_skills.select{|vouched_skill| vouched_skill.skill_id == skill.id && vouched_skill.voucher }[0..3].each do |vouched_skill| %>
										<% if vouched_skill.voucher.avatar? %>
											<%= link_to image_tag(vouched_skill.voucher.avatar(:tiny), :style => 'max-height:20 px;max-width:20px;'), "#{vouched_skill.voucher.slug}" %>
										<% else %>
											<%= link_to image_tag("/assets/dl_icons/no_avatar_medium.jpg", :style => 'max-height:20px;max-width:20px;'), "#{vouched_skill.voucher.slug}" %>
										<% end %>
									<% end %>
									<% if self.current_user && !@self %>
										<%= link_to "+", { :controller => "vouches", :action => "addvouch", :user_id => @user.id, :skill_id => skill.id } %>
									<% end %>
								</div>
								<br />
							</div>
						<% end %>
					<% end %>
					</section>
					</br>
				<% end %>
			
			<!-- START Credential Section-->
			<!-- If Credentials are blank and you do own the profile, we encourage you to complete it.--> 
			<% if @user.credentials.empty? && @self %>
				<section class="profile-info group">
					<h3 class="bottom-line">
						<%= link_to "Credentials", "/me/profile/edit/credentials", :style => "color:#4D4D4D" %>
						<span style="font-size:16px; margin-left:5px">
							<a href="/me/profile/edit/credentials"> >> Update them</a>
						</span>
					</h3>
				</section><br />
				
			<!-- If Credentials are blank and you do not own the profile, you will see nothing. --> 	
			<% elsif @user.credentials.empty? %>

			<!-- If Credentials aren't nil, no matter who you are, you will see them suckers. -->
			<% else %>
				<section class="profile-info group">
					<% if @self %>
						<h3 class="bottom-line">
							<%= link_to "Credentials", "/me/profile/edit/credentials", :style => "color:#4D4D4D" %>	
							<%= link_to image_tag("/assets/tioki/icons/pencil.png", :style => "float:right;height:16px;margin-top:10px"), "/me/profile/edit/credentials" %>
						</h3>
					<% else %>
						<h3 class="bottom-line">
							Credentials
						</h3>
					<% end %>
					<% @user.credentials.each do |credential| %>
						<p class="bold">  
						<%= credential.credentialType %>
						</p>
						<p>
						Subject: <%= credential.name %>
						</p>
						<p>
						Issued by: <%= credential.issuer %>
						</p>
						<% unless credential.state == ''  %>
							<p>
							Licensed in the state of: <%= credential.state %>
							</p>
						<% end %>
						</br>
					<% end %>
				</section>
			<% end %>
			
			<!-- START Presentation & Publications Section-->
			<!-- If Presentations are blank and you do own the profile, we encourage you to complete it.--> 
			<% if @user.presentations.empty? && @self %>
				<section class="profile-info group">
					<h3 class="bottom-line">
						<%= link_to "Presentation & Publications", "/me/profile/edit/presentations", :style => "color:#4D4D4D" %>
						<span style="font-size:16px; margin-left:5px">
							<a href="/me/profile/edit/presentations"> >> Show off your Press</a>
						</span>
					</h3>
				</section><br />
				
			<!-- If Presentations are blank and you do not own the profile, you will see nothing. --> 		
			<% elsif @user.presentations.empty? %>
				
			<!-- If Presentations aren't nil, no matter who you are, you will see them suckers. -->	
			<% else %>
				<section class="profile-info group">
					<% if @self %>
						<h3 class="bottom-line">
							<%= link_to "Presentation & Publications", "/me/profile/edit/presentations", :style => "color:#4D4D4D" %>	
							<%= link_to image_tag("/assets/tioki/icons/pencil.png", :style => "float:right;height:16px;margin-top:10px"), "/me/profile/edit/presentations" %> 
						</h3>
					<% else %>
						<h3 class="bottom-line">
							Presentation & Publications
						</h3>
					<% end %>
					
					<% @user.presentations.each do |presentation| %>
						<p class="bold">
						<% unless presentation.url == nil || presentation.url == '' %>
							<%= link_to presentation.title, presentation.url %>
						<% else %>
							<%= presentation.title %>
						<% end %>
						</p>
						<p>
							<% if presentation.location? %>
								<%= presentation.location %> | 
							<% end %>
							<%= presentation.date.to_s(:job_time) %>
						</p>
						<% if presentation.author?%>
						<p>
						Authors: <%= link_to presentation.author, "#" %>
						</p>
						<% end %>
						<p>
						<%= sanitize(presentation.description, :tags => %w(p a strong em span)) %>
						</p><br/ >
					<% end %>
				</section>
			<% end %>
			
			<!-- START Awards & Honors Section-->
			<!-- If Awards are blank and you do own the profile, we encourage you to complete it.--> 
			<% if @user.awards.empty? && @self %>
				<section class="profile-info group">
					<h3 class="bottom-line">
						<%= link_to "Honors & Awards", "/me/profile/edit/awards", :style => "color:#4D4D4D" %>
						<span style="font-size:16px; margin-left:5px">
							<a href="/me/profile/edit/awards"> >> What's in your trophy case?</a>
						</span>
					</h3>
				</section><br />
			
			<!-- If Awards are blank and you do not own the profile, you will see nothing. -->
			<% elsif @user.awards.empty? %>
			
			<!-- If Awards aren't nil, no matter who you are, you will see them suckers. -->	
			<% else %>
				<section class="profile-info group">
					<% if @self %>
						<h3 class="bottom-line">
							<%= link_to "Honors & Awards", "/me/profile/edit/awards", :style => "color:#4D4D4D" %>	
							<%= link_to image_tag("/assets/tioki/icons/pencil.png", :style => "float:right;height:16px;margin-top:10px"), "/me/profile/edit/awards" %>
						</h3>
					<% else %>	
						<h3 class="bottom-line">
							Honors & Awards
						</h3>
					<% end %>
					
					<% @user.awards.each do |award| %>
					<p class="bold">
						<%= award.title %>
					</p>
					<p>
						<%= award.issuer %>
					</p>
					<p>
						<%= award.date.to_s(:job_time) %>
					</p>
					<p>
						<%= award.description %>
					</p></br>
					<% end %>
				</section>		
			<% end %>
			
			<!-- START Attachments Section -->
			<% if @connected || @guest || !@user.privacy["attachments"] %>
			
				<!-- If Attachments are blank and you do own the profile, we encourage you to complete it.--> 
				<% if @user.assets.empty? && @self %>
					<section class="profile-info group">
						<h3 class="bottom-line">
						<%= link_to "Attachments", "/profileattachments", :style => "color:#4D4D4D" %>
							<span style="font-size:16px; margin-left:5px">
								<a href="/profileattachments"> >> Upload your favorite teaching documents</a>
							</span>
						</h3>
					</section>
					
				<!-- If Attachments are blank and you do not own the profile, you will see nothing. -->
				<% elsif @user.assets.empty? %>
				
				<!-- If Attachments aren't nil, and they are not private, you will see them suckers. -->
				<% else %>
					<section class="profile-info group">
						<% if @self %>
							<h3 class="bottom-line">
								<%= link_to "Attachments", "/profileattachments", :style => "color:#4D4D4D" %>	
								<%= link_to image_tag("/assets/tioki/icons/pencil.png", :style => "float:right;height:16px;margin-top:10px"), "/profileattachments" %>
							</h3>
						<% else %>
							<h3 class="bottom-line">
								Attachments
							</h3>
						<% end %>

						<% if User.current.nil? %>
							<p>Please <%= link_to "login", '/login' %> to view profile attachments.</p>
						<% else %>
							<% @user.assets.each do |asset| %>
								<% if asset.assetType != 1 %>
									<p>
									<%= link_to image_tag('tioki/icons/attachment.png') + asset.name, asset.file.url %><br />
									<%= asset.description %>
									</p>
								<% end %>
							<% end %>
						<% end %>
					</section>
				<% end %>
			<% end %>
			
		</section> <!-- End Profile Content -->
	</section> <!-- End Profile -->
<% end %>
</section> <!-- End Main Content -->
<% if @invite %>
	<div id="vouch">
		<h2 style="color:#2AA99B; margin-top:0;margin-bottom:5px;">
			Vouch for <%= @user.first_name %>'s skills
		</h2>
		<%= form_tag '/vouch_connection_skills', :class => "skills_form" do %>
			<input type="hidden" name="invite_id" value="<%= @invite.id %>" />
			<input type="hidden" name="skills" />

			<div class="skill_cloud">
				<div class="clear">
					<% @user.skills.each do |skill| %>
						<a href="#" class="skill" id="<%= skill.id %>" name="<%= skill.name %>" ><%= skill.name %></a>
					<% end %>
				</div>
			</div>
			<input type="submit" style="width:85%" value="I'm Done" />

		<% end %>
	</div>
<script type="text/javascript">
$(document).ready(function() {

	var arr = new Array;
	// Click on a skill and do something
	$('a.skill').live('click', function(e) {
		e.preventDefault();

		if($(this).hasClass('active')) {
			$(this).removeClass('active');
			var x = $(this).attr('id');
			for(var i=0; i < arr.length; i++){
				if(arr[i] == x) {
					arr.splice(i, 1);
					break;
				}
			}
		}
		else {
			$(this).addClass('active');
			var x = $(this).attr('id');
			var y = $(this).attr('name');
			arr.push(x);
			$("input[name='skills']").val(arr.join(','));
		}

		return false;
	});

});
</script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('body').introOverlay({
				introLength: 10000, // anything numeric no quotes
				transitionSpeed: 400, // ditto
				introAutoFade: false, //timed fade on overlay...true or false
				introCloseBtn: false, //btn to close overlay...true or false
				introTransition: 'fade', //different transition options 'fade', 'slideUp', 'slideLeft', 'slideCenter'
				openAnimation: true, //opening animation...true or false
				introContent: '#vouch', //where the content is at, uses css selector # for id, and . for class
				cookieActive : false,
				/* also you can use 'href' to load content for a seperate page..
				when using href it also uses the class of the clicked element to find the content...
				it goes like this .load(href class); check source for use */ 
				introTemplate: 'full', // either 'full' or 'module'
				introTurnOffLights: false, //turn off and on lights...true or false
			});
		});
	</script>
<% end %>
