<section id="main-content" class="inner-content">
	<section class="info panel" style="height:180px;background-color:#FFF; border: 1px solid #ccc; border-radius: 0; margin:30px 0px 10px 0px">
			<section class="two-column right-side" style ="width:765px;margin:0px 10px 10px -100px">
				<!-- EDIT AND FOLLOW BUTTONS -->
				<% if self.current_user != nil %>
					<div style="float:right;margin-top:0px">
                    
					<!-- Connection Options -->
					<% # IF this is my profile allow me to edit %>
					<% if @self %>
						<a href="/me/profile/edit" class="action-button bg-salmon">
							Edit My Profile
						</a>
					<% # IF im not a user then let me register %>
					<% elsif !self.current_user %>
						<a href="/welcome_wizard?x=step1&user_connection=<%= @user.id %>" class="action-button bg-salmon">
							<%= ablang('connection.connect') %>
						</a>
					<% # IF we are already connected or if i am a school allow me to send a message %>
					<% elsif Connection.mine.collect{|x| x.not_me_id(self.current_user.id)}.include? @user.id %>
						<%= link_to "Send Message", { :controller => 'messages', :action => 'new', :user_id_to => @user.id }, {:class => "action-button bg-salmon"} %>
					<% # IF we are not connected then display "connect" button %>
					<% else %>
						<%= link_to ablang('connection.connect'), { :controller => 'connections', :action => 'add_connection', :user_id => @user.id }, :class => "action-button bg-salmon" %>
					<% end %>
                    
					</div>
				<% end %>

				<!-- START Teacher INFO -->
				<h2 style="margin: 10px 0px 10px 10px">
				<%= @user.name %>
				</h2>
				<section style= "height: 75px;">
				<% if @user.headline? %>
					<h4 style="margin-left:10px;margin-top:-10px;width:auto">
						"<%= @user.headline %>"
					</h4>
				<% end %>

				<p style="margin-left:10px; margin-top:-15px; margin-bottom: 5px; width:auto">
				  	<% if !(currentJob = @user.currentJob).nil? %>
						<strong style="color:#2AA99B">
							Currently:
						</strong> 
						<%= currentJob.position %> at <%= currentJob.company %> in  
					<% end %>
					<%= @user.location %>
				</p>
				</section>
				<p>
				<section id="updates" style="margin: 0px 0px 0px 10px;">
					<!-- SOCIAL LINKS -->
						<% if @self %>
							<a href="/my_connections" style= "margin-right:10px;">
							<div class="count connections" style= "margin-bottom:0px;">
							<%= User.current.pending_connections(false).count %>
							</div>
							<%= ablang('connection.plural') %>
							</a>
						<% else %>
							<a href="/profile/<%= @user.slug %>/connections" style= "margin-right:10px;">
							<div class="count connections" style= "margin-bottom:0px;">
							<%= @user.pending_connections(false).count %>
							</div>
							<%= ablang('connection.plural') %>
							</a>
						<% end %>
                        
                        <% social = @user.social %>
						<% if !social['twitter'].nil? %>
							<% if social['twitter'].include? '//' %>
								<%= link_to image_tag('tioki/icons/twitter2.png', :style=>"margin-top:-20px"), social['twitter'], :target => "_blank" %>
							<% elsif social['twitter'].include? 'twitter' %>
								<%= link_to image_tag('tioki/icons/twitter2.png', :style=>"margin-top:-20px"), '//' + social['twitter'], :target => "_blank" %>
							<% else %>
								<%= link_to image_tag('tioki/icons/twitter2.png', :style=>"margin-top:-20px"), '//twitter.com/' + social['twitter'], :target => "_blank" %>
							<% end %>
						<% end %>

						<% if !social['linkedin'].nil? %>
							<% if social['linkedin'].include? '//' %>
								<%= link_to image_tag('tioki/icons/LinkedIn_IN_Icon_25px.png', :border => 0, :style=>"margin-bottom:-0px; margin-left:10px; margin-top:-20px"), social['linkedin'], :target => "_blank" %>
							<% else %>
								<%= link_to image_tag('tioki/icons/LinkedIn_IN_Icon_25px.png', :border => 0, :style=>"margin-bottom:-0px; margin-left:10px; margin-top:-20px"), '//' + social['linkedin'], :target => "_blank" %>
							<% end %>
						<% end %>

						<% if !social['edmodo'].nil? %>
							<% if social['edmodo'].include? '//' %>
								<%= link_to image_tag('tioki/icons/edmodo.png', :style=>"margin-left:10px; margin-top:-20px"), social['edmodo'], :target => "_blank" %>
							<% else %>
								<%= link_to image_tag('tioki/icons/edmodo.png', :style=>"margin-left:10px; margin-top:-20px"), '//' + social['edmodo'], :target => "_blank" %>
							<% end %>
						<% end %>

						<% if !social['betterlesson'].nil? %>
							<% if social['betterlesson'].include? '//' %>
								<%= link_to image_tag('tioki/icons/betterlesson.png', :style=>"margin-left:10px; margin-top:-20px"), social['betterlesson'], :target => "_blank" %>
							<% else %>
								<%= link_to image_tag('tioki/icons/betterlesson.png', :style=>"margin-left:10px; margin-top:-20px"), '//' + social['betterlesson'], :target => "_blank" %>
							<% end %>
						<% end %>

						<% if !social['teachingchannel'].nil? %>
							<% if social['teachingchannel'].include? '//' %>
								<%= link_to image_tag('tioki/icons/teachingchannel.png', :style=>"margin-left:10px; margin-top:-20px"), social['teachingchannel'], :target => "_blank" %>
							<% else %>
								<%= link_to image_tag('tioki/icons/teachingchannel.png', :style=>"margin-left:10px; margin-top:-20px"), '//' + social['teachingchannel'], :target => "_blank" %>
							<% end %>
						<% end %>
						
						<% if !social['blog'].nil? %>
							<% if social['blog'].include? '//' %>
								<%= link_to image_tag('tioki/icons/blog_icon.png', :style=>"margin-left:10px; margin-top:-20px"), social['blog'], :target => "_blank" %>
							<% else %>
								<%= link_to image_tag('tioki/icons/blog_icon.png', :style=>"margin-left:10px; margin-top:-20px"), 'http://' + social['blog'], :target => "_blank" %>
							<% end %>
						<% end %>
						
						<% if !social['website'].nil? %>
							<% if social['website'].include? '//' %>
								<%= link_to image_tag('tioki/icons/globe.png', :style=>"margin-left:10px; margin-top:-20px"), social['website'], :target => "_blank" %>
							<% else %>
								<%= link_to image_tag('tioki/icons/globe.png', :style=>"margin-left:10px; margin-top:-20px"), 'http://' + social['website'], :target => "_blank" %>
							<% end %>
						<% end %>
						<span style="float:right;font-size:12px">
							<a href="/profile/<%= @user.slug %>" style="color:#2AA99B">www.tioki.com/profile/<%= @user.slug %></a>
						</span>
				</section>
				</p>
			</section>
			<section class="profile-thumb-large" style="margin: 10px 0px 10px 10px;">
				<% if @self %>
					<a href="/me/profile/edit/upload-avatar" class="edit"><span class="iconic pen"></span> Edit</a>
				<% end %>
				<% if (@connected || @guest || !@user.privacy_public["avatar"]) && @user.avatar? %>
					<%= image_tag(@user.avatar.url(:medium), :width => "160") %>
				<% else %>
					<%= image_tag('dl_icons/no_avatar_large.jpg') %>
				<% end %>
			</section>
	</section>
	
	<section class="profile group">
		<nav class="subpage" style="width: 660px;margin-left: 15px;">
			<ul>
				<li>
					<a href="/profile/<%= @user.slug %>?application=<%= @application.id.to_s() %>">
						Activity
					</a>
				</li>
				<li>
					<a href="/profile/<%= @user.slug %>/about?application=<%= @application.id.to_s() %>">
					About
					</a>
				</li>

				<li>
					<a href="/profile/<%= @user.slug %>/resume?application=<%= @application.id.to_s() %>">
					Resume
					</a>
				</li>
				<li class="current">
					<a href="/profile/<%= @user.slug %>/application?application=<%= @application.id.to_s() %>">
					Application
					</a>
				</li>
				<%unless currentUser.new_record? %>
					<% if @user.videos.count > 0 %>
					<li>
						<a href="/profile/<%= @user.slug %>/videos?application=<%= @application.id.to_s() %>">
						Videos
						</a>
					</li>
					<% end %>
				<% end %>
			</ul>
		</nav>
		
		<section class="sidebar" style="float:right;margin-top:-17px;" >
			<% if @application != nil %>
				<!-- START Recruitor Tools -->
				<section id="info" class="panel one-column right-side" style="width:230px; background-color:#FBEFD5; margin-top:18px">
					<h5 class="bottom-line" style="margin-left:5px">
						Recruiter Tools 
					</h5>
					<div style ="margin-left:5px">
						Application Status:</br>
						<%= form_for([@application]) do |f| %>
							<select name="application[status]">
								<option <%= @application.status == 'Not Reviewed' ? 'selected' : '' %>>Not Reviewed</option>
								<option <%= @application.status == 'Profile Reviewed' ? 'selected' : '' %>>Profile Reviewed</option>
								<option <%= @application.status == 'Request an Interview' ? 'selected' : '' %>>Request an Interview</option>
								<option <%= @application.status == 'Offer Given' ? 'selected' : '' %>>Offer Given</option>
								<option <%= @application.status == 'Offer Accepted' ? 'selected' : '' %>>Offer Accepted</option>
								<option <%= @application.status == 'Applicant Hired' ? 'selected' : '' %>>Applicant Hired</option>
								<option <%= @application.status == 'Deny Application' ? 'selected' : '' %>>Deny Application</option>
							</select><br /></br>
							<%= hidden_field_tag :job_id, @application.job_id %> 
							<%= f.submit "Update Status" %>
						<% end %>
					</div>
					<div style ="float:right; margin-top:-68px; margin-right:-30px">
						<%= link_to "Send Message", { :controller => 'messages', :action => 'new', :user_id_to => @user.id }, {:class => "action-button green"} %>
					</div>
					<a style =" margin-left:5px; color:#2AA99B" href="<%= url_for([@application.job.group, @application.job, :applications])%>">
						Back to Applicants
					</a>
				</section> <!-- END RECRUITOR TOOLS -->
			<% end %>
		</section><!-- End Sidebar -->
		
		
		<!-- Activity Content -->
		<section class="profile-content" style="float:left;margin:0px 0px 30px 15px">
			
			<!-- Video -->
			<% unless @application.video.nil? %>

				<h3 class="bottom-line">
					Application Video
				</h3></br>
				<div class="profile-video panel">
					<%= @user.video.embed_code %>
					<section class="panel-actions" id="video" style="padding:0px;">
						<% unless @user.video.name.nil? %>
							<h4><%= @user.video.name %></h4>
						<% end %>
						<% unless @user.video.description.nil? || @user.video.description == "Description unavailable for external videos." %>
							<h4>Video Description</h4>
							<p><%= @user.video.description %></p>
						<% end %>
					</section>
				</div></br></br>
			<% end %>
			
			<h3 class="bottom-line">
				Application Questions
			</h3></br>

			<% @application.job.job_questions.each do |job_question| %>
				<table>
					<tr>
						<td>
							<label>
								<span style="color:#2AA99B"><%= job_question.question %></span>
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label>
							<% if @application.job_answers.where("question_id = ?", job_question.id).last != nil %>
								 <%= @application.job_answers.where("question_id = ?", job_question.id).last.answer %>
							<% else %>
								No Answer
							<% end %>
							</label></br>
						</td>
					</tr>
				</table>
			<% end %>

			<% if !@application.assets.empty? %>
				<section class="profile-info group">
				<h3 class="bottom-line">
					Application Attachments
				</h3>
				<% @application.assets.each do |asset| %>
						<p>
						<%= link_to image_tag('tioki/icons/attachment.png') + asset.name, asset.file.url %><br />
						<%= asset.description %>
						</p>
				<% end %>
				</section>
			<% end %>
		
		</section> <!-- End Profile Content -->
	</section> <!-- End Profile -->
</section> <!-- End Main Content -->
