<section id="main-content" class="inner-content">
	<%= render "profile_header" %>
	
	<section class="profile group">
		<% if @application != nil %>
			<nav class="subpage" style="width: 660px;margin-left: 15px;">
				<ul>
					<li>
						<a href="/profile/<%= @user.slug %>/activity?application=<%= @application.id.to_s() %>">
							Activity
						</a>
					</li>
					<li>
						<a href="/profile/<%= @user.slug %>/about?application=<%= @application.id.to_s() %>">
						About
						</a>
					</li>

					<li class="current">
						<a href="/profile/<%= @user.slug %>/resume?application=<%= @application.id.to_s() %>">
						Resume
						</a>
					</li>
					<% if @application.job.job_questions.count > 0 %>
						<li>
							<a href="/profile/<%= @user.slug %>/application?application=<%= @application.id.to_s() %>">
							Application
							</a>
						</li>
					<% end %>
					<%unless currentUser.new_record? %>
						<% if @user.videos.count > 0 %>
						<li>
							<a href="/profile/<%= @user.slug %>/videos?application=<%= @application.id.to_s() %>">
							Videos
							</a>
						</li>
						<% end %>
					<% end %>
				</ul>
			</nav>
		<% else %>
			<nav class="subpage" style="width: 660px;margin-left: 15px;">
				<ul>
					<%unless currentUser.new_record? %>
						<% @self || @connected || !@user.privacy_public[:whiteboard] %>
						<li>
							<% if @self %>
							<a href="/me/profile/activity">
							<% else %>
							<a href="/profile/<%= @user.slug %>/activity">
							<% end %>
								Activity
							</a>
						</li>
					<% end %>

					<li>
						<a href="/profile/<%= @user.slug %>/about">
						About
						</a>
					</li>

					<li class="current">
						<a href="/profile/<%= @user.slug %>/resume">
						Resume
						</a>
					</li>
					<% if @user.videos.count > 0 %>
					<li>
						<a href="/profile/<%= @user.slug %>/videos">
						Videos
						</a>
					</li>
					<% elsif !currentUser.new_record? && @self %>
					<li>
						<a href="/me/profile/edit/upload-video">
						Upload Video
						</a>
					</li>
					<% end %>
					<% if !currentUser.new_record? && @self %>
					<li>
						<a href="/me/profile/stats">
						Stats
						</a>
					</li>
					<% end %>

				</ul>
			</nav>
		<% end %>
		
		<section class="sidebar" style="float:right;margin-top:-17px;" >
			<% if @application != nil %>
				<!-- START Recruitor Tools -->
				<section id="info" class="panel one-column right-side" style="width:230px; background-color:#FBEFD5; margin-top:18px">
					<h5 class="bottom-line" style="margin-left:5px">
						Recruiter Tools 
					</h5>
					<div style ="margin-left:5px">
						Application Status:</br>
						<%= form_for([@application]) do |f| %>
							<select name="application[status]">
								<option <%= @application.status == 'Not Reviewed' ? 'selected' : '' %>>Not Reviewed</option>
								<option <%= @application.status == 'Profile Reviewed' ? 'selected' : '' %>>Profile Reviewed</option>
								<option <%= @application.status == 'Request an Interview' ? 'selected' : '' %>>Request an Interview</option>
								<option <%= @application.status == 'Offer Given' ? 'selected' : '' %>>Offer Given</option>
								<option <%= @application.status == 'Offer Accepted' ? 'selected' : '' %>>Offer Accepted</option>
								<option <%= @application.status == 'Applicant Hired' ? 'selected' : '' %>>Applicant Hired</option>
								<option <%= @application.status == 'Deny Application' ? 'selected' : '' %>>Deny Application</option>
							</select><br /></br>
							<%= hidden_field_tag :job_id, @application.job_id %> 
							<%= f.submit "Update Status" %>
						<% end %>
					</div>
					<div style ="float:right; margin-top:-68px; margin-right:-30px">
						<%= link_to "Send Message", { :controller => 'messages', :action => 'new', :user_id_to => @user.id }, {:class => "action-button green"} %>
					</div>
					<a style =" margin-left:5px; color:#2AA99B" href="<%= url_for([@application.job.group, @application.job, :applications])%>">
						Back to Applicants
					</a>
				</section> <!-- END RECRUITOR TOOLS -->
			<% end %>

			<!-- Connection Information -->
			<section class="info">
				<a href="/profile/<%= @user.slug %>/connections" style="float:right;color:#2AA99B;margin:17px 5px 0 0">View All</a>
				<h5 class="bottom-line">
				<%= @user.pending_connections(false).count %> <%= ablang('connection.plural') %>
				</h5>
				<div style="padding:0px 0px;width:230px">
					<% @user.connections.includes(:user, :owner).where("((users.id = ? && owners_connections.avatar_file_name is not null) || (owners_connections.id = ? && users.avatar_file_name is not null)) && pending = false", @user.id, @user.id).shuffle[0..9].each do |c| %>
						<div class="profile-thumb-small" style="float:left;margin:0px 1px 1px 0px;overflow:hidden;background:none">
							<%= link_to image_tag(c.not_me(@user.id).avatar(:medium), :style => 'min-height:45px;min-width:45px;border-radius:5px'), "/profile/#{c.not_me(@user.id).slug}" %>
						</div>
					<% end %>
					<div style="clear:both;"></div>
				</div>
			</section>

			<%= render "profile_sidebar" %>

			<!--Request Vouch
			<% if @self && @user.skills.size > 0  %>
				<section class="info">
					<%= link_to "Verify Skills", '/requestvouch', :class => "action-button bg-green" %>
				</section>
			<% end %>-->
		</section><!-- End Sidebar -->
		
		
		<!-- Activity Content -->
		<section class="profile-content" style="float:left;margin:0px 0px 30px 15px">
			
		<!-- START Checklist Content -->
			<% if @self %>
				<% if !self.current_user.got_started %>
					<section class="info panel" style="height:45px;background-color:#FBEFD5; border: 1px solid #ccc; border-radius: 0; margin-bottom: 10px">
						<a href="/get_started" style="display:block">
							<h4 style="margin: 10px 0px -5px 10px">
								Want a Rockstar profile? Click here to get started
							</h4>	
							<h5 style="margin: 10px 0px -5px 80px">
							</h5>
						</a>
					</section>
				<% end %>
			<% end %>
			
			<!-- Video -->
			<% if @connected || @guest || !@user.privacy_public[:video] %>
				<% unless @user.video.nil? %>
					<div class="profile-video panel">
						<%= @user.video.embed_code %>
						<section class="panel-actions" id="video" style="padding:0px;">
							<% unless @user.video.name.nil? %>
								<h4><%= @user.video.name %></h4>
							<% end %>
							<% unless @user.video.description.nil? || @user.video.description == "Description unavailable for external videos." %>
								<h4>Video Description</h4>
								<p><%= @user.video.description %></p>
							<% end %>
						</section>
					</div>
				<% end %>
				<section class="video-actions group">
					<% if @self %>
						<% unless @user.video.nil? %>
							<a href="/me/profile/edit/upload-video" class="action-button edit-video bg-green" style="width: auto;padding-left:10px;padding-right:10px;">
							Upload Another Video
							</a>
						<% else %>
							<a href="/me/profile/edit/upload-video" class="action-button edit-video bg-green">
							Add a Video
							</a>
						<% end %>
					<% end %>
					<% if @user.videos.count > 0 %>
						<a href="/profile/<%= @user.slug %>/videos" class="action-button edit-video bg-green" style="margin-right:10px;white-space:nowrap;width:auto;padding-left:10px;padding-right:10px;">
							View More Videos of <%= @user.first_name %>
						</a>
					<% end %>
					<% unless @user.video.nil?%>
					<% end %>
				</section>
			<% end %>
			
			<!-- START Education Section-->
			<!-- If Education is blank and you do own the profile, we encourage you to complete it.--> 
			<% if @user.educations.empty? && @self %>
				<section class="profile-info group">
					<h3 class="bottom-line">
					<%= link_to "Education", "/me/profile/edit/educations", :style => "color:#4D4D4D" %>
					<span style="font-size:16px; margin-left:5px">
						<a href="/me/profile/edit/educations">  >> Where did you get that awesome brain of Yours?</a>
					</span>
					</h3>
				</section>
				
			<!-- If Education is blank and you do not own the profile, you will see nothing. --> 
			<% elsif @user.educations.empty? %>
			
			<!-- If Educations aren't nil, no matter who you are, you will see them suckers. -->
			<% else %>
				<section class="profile-info group">
					<% if !currentUser.new_record? && @self %>
						<h3 class="bottom-line">
							<%= link_to "Education", "/me/profile/edit/educations", :style => "color:#4D4D4D" %>	
							<%= link_to image_tag("/assets/tioki/icons/pencil.png", :style => "float:right;height:16px;margin-top:10px"), "/me/profile/edit/educations" %>
						</h3>
					<% else %>
						<h3 class="bottom-line">
							Education	
						</h3>
					<% end %>
					<% @user.educations.each do |edu| %>
						<p class="bold">
							<%= edu.school %>
						</p>
					
						<% unless edu.degree.nil? || edu.degree.empty? %>
							<p>
							<%= edu.degree %>, 
								
						<% end %>
						<% unless edu.concentrations.nil? || edu.concentrations.empty? %>
							<%= edu.concentrations %>	
							</p>
						<% end %>

						<p>
							<% if edu.current == true %>
								<% if edu.year.present?  %>
								<%= edu.start_year%> - <%= edu.year %> (expected)<br /><br />
								<% end %>
								
							<% else %>
								<% if !edu.year.present? %>
									<% else %>
									<% if !edu.start_year.present? %>
										<%= edu.year %><br />
										
									<% else %>
										<%= edu.start_year %> - <%= edu.year %><br /><br />
									<% end %>
									<% end %>
							<% end %>
						</p>
					<% end %>
				</section>
			<% end %>
			
			<!-- START Experience Section-->
			<!-- If Experiences are blank and you do own the profile, we encourage you to complete it.--> 
			<% if @user.experiences.empty? && @self %>
				<section class="profile-info group">
					<h3 class="bottom-line">
						<%= link_to "Work Experience", "/me/profile/edit/experiences", :style => "color:#4D4D4D" %>
						<span style="font-size:16px; margin-left:5px">
							<a href="/me/profile/edit/experiences"> >> How did you get so good at this?</a>
						</span>
					</h3>
				</section><br />
				
			<!-- If Experiences are blank and you do not own the profile, you will see nothing. --> 
			<% elsif @user.experiences.empty? %>
			
			<!-- If Experiences aren't nil, no matter who you are, you will see them suckers. -->
			<% else %>
				<section class="profile-info group">
					<% if @self %>
						<h3 class="bottom-line">
							<%= link_to "Experience", "/me/profile/edit/experiences", :style => "color:#4D4D4D" %>	
							<%= link_to image_tag("/assets/tioki/icons/pencil.png", :style => "float:right;height:16px;margin-top:10px"), "/me/profile/edit/experiences" %>
						</h3>
					<% else %>
						<h3 class="bottom-line">
							Experience
						</h3>
					<% end %>
					<% @user.experiences.each do |experience| %>
						<p class="bold">
						<%= experience.position %><br />
						<%= experience.company %>	
						</p>
						<p>
						<% if experience.current == true %>
								<%= experience.startMonth.to_s+"/"+experience.startYear.to_s %> - Present
						<% else %>
							<% if experience.startMonth != nil %>
								<%= experience.startMonth.to_s+"/"+experience.startYear.to_s %>
							<% end %> -
							<% if experience.endMonth != nil %>
								<%= experience.endMonth.to_s+"/"+experience.endYear.to_s %>
							<% end %>
						<% end %>
						</p>
						<p>
						<%= experience.description %>
						</p><br />
					<% end %>
				</section>
			<% end %>

			<!-- START Credential Section-->
			<!-- If Credentials are blank and you do own the profile, we encourage you to complete it.--> 
			<% if @user.credentials.empty? && @self %>
				<section class="profile-info group">
					<h3 class="bottom-line">
						<%= link_to "Credentials", "/me/profile/edit/credentials", :style => "color:#4D4D4D" %>
						<span style="font-size:16px; margin-left:5px">
							<a href="/me/profile/edit/credentials"> >> Update them</a>
						</span>
					</h3>
				</section><br />
				
			<!-- If Credentials are blank and you do not own the profile, you will see nothing. --> 	
			<% elsif @user.credentials.empty? %>

			<!-- If Credentials aren't nil, no matter who you are, you will see them suckers. -->
			<% else %>
				<section class="profile-info group">
					<% if @self %>
						<h3 class="bottom-line">
							<%= link_to "Credentials", "/me/profile/edit/credentials", :style => "color:#4D4D4D" %>	
							<%= link_to image_tag("/assets/tioki/icons/pencil.png", :style => "float:right;height:16px;margin-top:10px"), "/me/profile/edit/credentials" %>
						</h3>
					<% else %>
						<h3 class="bottom-line">
							Credentials
						</h3>
					<% end %>
					<% @user.credentials.each do |credential| %>
						<p class="bold">  
						<%= credential.credentialType %>
						</p>
						<p>
						Subject: <%= credential.name %>
						</p>
						<p>
						Issued by: <%= credential.issuer %>
						</p>
						<% unless credential.state == ''  %>
							<p>
							Licensed in the state of: <%= credential.state %>
							</p>
						<% end %>
						</br>
					<% end %>
				</section>
			<% end %>
			
			<!-- START Presentation & Publications Section-->
			<!-- If Presentations are blank and you do own the profile, we encourage you to complete it.--> 
			<% if @user.presentations.empty? && @self %>
				<section class="profile-info group">
					<h3 class="bottom-line">
						<%= link_to "Presentation & Publications", "/me/profile/edit/presentations", :style => "color:#4D4D4D" %>
						<span style="font-size:16px; margin-left:5px">
							<a href="/me/profile/edit/presentations"> >> Show off your Press</a>
						</span>
					</h3>
				</section><br />
				
			<!-- If Presentations are blank and you do not own the profile, you will see nothing. --> 		
			<% elsif @user.presentations.empty? %>
				
			<!-- If Presentations aren't nil, no matter who you are, you will see them suckers. -->	
			<% else %>
				<section class="profile-info group">
					<% if @self %>
						<h3 class="bottom-line">
							<%= link_to "Presentation & Publications", "/me/profile/edit/presentations", :style => "color:#4D4D4D" %>	
							<%= link_to image_tag("/assets/tioki/icons/pencil.png", :style => "float:right;height:16px;margin-top:10px"), "/me/profile/edit/presentations" %> 
						</h3>
					<% else %>
						<h3 class="bottom-line">
							Presentation & Publications
						</h3>
					<% end %>
					
					<% @user.presentations.each do |presentation| %>
						<p class="bold">
						<% unless presentation.url == nil || presentation.url == '' %>
							<%= link_to presentation.title, presentation.url %>
						<% else %>
							<%= presentation.title %>
						<% end %>
						</p>
						<p>
							<% if presentation.location? %>
								<%= presentation.location %> | 
							<% end %>
							<%= presentation.date.to_s(:job_time) %>
						</p>
						<% if presentation.author?%>
						<p>
						Authors: <%= link_to presentation.author, "#" %>
						</p>
						<% end %>
						<p>
						<%= sanitize(presentation.description, :tags => %w(p a strong em span)) %>
						</p><br/ >
					<% end %>
				</section>
			<% end %>
			
			<!-- START Awards & Honors Section-->
			<!-- If Awards are blank and you do own the profile, we encourage you to complete it.--> 
			<% if @user.awards.empty? && @self %>
				<section class="profile-info group">
					<h3 class="bottom-line">
						<%= link_to "Honors & Awards", "/me/profile/edit/awards", :style => "color:#4D4D4D" %>
						<span style="font-size:16px; margin-left:5px">
							<a href="/me/profile/edit/awards"> >> What's in your trophy case?</a>
						</span>
					</h3>
				</section><br />
			
			<!-- If Awards are blank and you do not own the profile, you will see nothing. -->
			<% elsif @user.awards.empty? %>
			
			<!-- If Awards aren't nil, no matter who you are, you will see them suckers. -->	
			<% else %>
				<section class="profile-info group">
					<% if @self %>
						<h3 class="bottom-line">
							<%= link_to "Honors & Awards", "/me/profile/edit/awards", :style => "color:#4D4D4D" %>	
							<%= link_to image_tag("/assets/tioki/icons/pencil.png", :style => "float:right;height:16px;margin-top:10px"), "/me/profile/edit/awards" %>
						</h3>
					<% else %>	
						<h3 class="bottom-line">
							Honors & Awards
						</h3>
					<% end %>
					
					<% @user.awards.each do |award| %>
					<p class="bold">
						<%= award.title %>
					</p>
					<p>
						<%= award.issuer %>
					</p>
					<p>
						<%= award.date.to_s(:job_time) %>
					</p>
					<p>
						<%= award.description %>
					</p></br>
					<% end %>
				</section>		
			<% end %>
			
			<!-- START Attachments Section -->
			<% if @connected || @guest || !@user.privacy_public[:attachments] %>
			
				<!-- If Attachments are blank and you do own the profile, we encourage you to complete it.--> 
				<% if @user.assets.empty? && @self %>
					<section class="profile-info group">
						<h3 class="bottom-line">
						<%= link_to "Attachments", attachments_path, :style => "color:#4D4D4D" %>
							<span style="font-size:16px; margin-left:5px">
								<a href="<%= attachments_path%>"> >> Upload your favorite teaching documents</a>
							</span>
						</h3>
					</section>
					
				<!-- If Attachments are blank and you do not own the profile, you will see nothing. -->
				<% elsif @user.assets.empty? %>
				
				<!-- If Attachments aren't nil, and they are not private, you will see them suckers. -->
				<% else %>
					<section class="profile-info group">
						<% if @self %>
							<h3 class="bottom-line">
								<%= link_to "Attachments", attachments_path, :style => "color:#4D4D4D" %>	
								<%= link_to image_tag("/assets/tioki/icons/pencil.png", :style => "float:right;height:16px;margin-top:10px"), attachments_path %>
							</h3>
						<% else %>
							<h3 class="bottom-line">
								Attachments
							</h3>
						<% end %>
						<% @user.assets.each do |asset| %>
							<p>
								<%= link_to image_tag('tioki/icons/attachment.png') + asset.name, asset.file.url %><br />
								<%= asset.description %>
							</p>
						<% end %>
					</section>
				<% end %>
			<% end %>

			
			
		</section> <!-- End Profile Content -->
	</section> <!-- End Profile -->
</section> <!-- End Main Content -->
<% if @invite %>
	<div id="vouch">
		<h2 style="color:#2AA99B; margin-top:0;margin-bottom:5px;">
			Vouch for <%= @user.first_name %>'s skills
		</h2>
		<%= form_tag '/vouch_connection_skills', :class => "skills_form" do %>
			<input type="hidden" name="invite_id" value="<%= @invite.id %>" />
			<input type="hidden" name="skills" />

			<div class="skill_cloud">
				<div class="clear">
					<% @user.skills.each do |skill| %>
						<a href="#" class="skill" id="<%= skill.id %>" name="<%= skill.name %>" ><%= skill.name %></a>
					<% end %>
				</div>
			</div>
			<input type="submit" style="width:85%" value="I'm Done" />

		<% end %>
	</div>
<script type="text/javascript">
$(document).ready(function() {

	var arr = new Array;
	// Click on a skill and do something
	$('a.skill').on('click', function(e) {
		e.preventDefault();

		if($(this).hasClass('active')) {
			$(this).removeClass('active');
			var x = $(this).attr('id');
			for(var i=0; i < arr.length; i++){
				if(arr[i] == x) {
					arr.splice(i, 1);
					break;
				}
			}
		}
		else {
			$(this).addClass('active');
			var x = $(this).attr('id');
			var y = $(this).attr('name');
			arr.push(x);
			$("input[name='skills']").val(arr.join(','));
		}

		return false;
	});

});
</script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('body').introOverlay({
				introLength: 10000, // anything numeric no quotes
				transitionSpeed: 400, // ditto
				introAutoFade: false, //timed fade on overlay...true or false
				introCloseBtn: false, //btn to close overlay...true or false
				introTransition: 'fade', //different transition options 'fade', 'slideUp', 'slideLeft', 'slideCenter'
				openAnimation: true, //opening animation...true or false
				introContent: '#vouch', //where the content is at, uses css selector # for id, and . for class
				cookieActive : false,
				/* also you can use 'href' to load content for a seperate page..
				when using href it also uses the class of the clicked element to find the content...
				it goes like this .load(href class); check source for use */ 
				introTemplate: 'full', // either 'full' or 'module'
				introTurnOffLights: false, //turn off and on lights...true or false
			});
		});
	</script>
<% end %>
<% if self.current_user == @user %>
	<%= render "profile_completion_popup" %>
<% end %>
