<section id="main-content" class="inner-content">
	<fieldset class="search-connections">
		<h1>
		
		<%= form_tag "/skillpage", :method => :get do %>
		<span style="float:right">
		<%= select_tag :topic, options_from_collection_for_select(Skill.all, "id", "name"), {:style => "margin-top:10px", :prompt => "Discover More Content"} %>
		<input type="submit" value="GO" class="button" />
		</span>
		Discover → <%= @skill.name %>
		<% end %>
		</h1>
	</fieldset>

	<section id="panels">
		<section class="panel one-column left-side">
			
			<h3>Top Technologies</h3>
			<ul>
				<% unless @technologies.empty? %>
					<% @technologies.each do |technology| %>
						<a href="/technologies/<%= technology.id %>">
							<li style="width:275px;padding:12px 15px 12px 15px !important">
								<div style="float:left;" class="profile-thumb-small">
									<%= image_tag(technology.picture(:medium), :width => '45', :height => '45') %>
								</div>
								<strong><%= technology.name %></strong><br />
								<p style="float:left;width:215px">
									<% if technology.description.size > 100 %><%=h (technology.description.gsub(%r{</?[^>]+?>}, '')[0..104]+'...').html_safe %>
									<% else %><%=h technology.description.gsub(%r{</?[^>]+?>}, '').html_safe %>
									<% end %>
								</p>
							</li>
						</a>
					<% end %>
				<% else %>
					<li>Do you know of a great <%= @skill.name %> technology?
						<%= link_to "Send us a note", "/techsuggestion" %> and we'll add it.
					</li>
				<% end %>
			</ul>
		</section>
		
		<section class="panel one-column left-side">
			<h3>Educators</h3>
			<ul>
				<% unless @teachers.empty? %>
					<% @teachers.each do |teacher| %>
						<li style="width:275px;padding:12px 15px 12px 15px !important">
							<div class="profile-thumb-medium" style="float:left;margin-right:10px;margin-bottom:10px;overflow:hidden;">
								<%= link_to image_tag(teacher.user.avatar.url(:medium), :width => '70px', :height => '70px'), "/profile/#{teacher.url}" if teacher.user.avatar? %>
								<%= link_to image_tag("dl_icons/no_avatar_medium.jpg"), "/profile/#{teacher.url}" unless teacher.user.avatar? %>
							</div>
							<strong>
								<%= link_to "#{teacher.user.name}", "/profile/#{teacher.url}", :class => "byline" %>
							</strong><br />
							<p style="width:195px;float:left;">
								<% if teacher.position.present?  && teacher.school.present? %>
									<%= teacher.position %> at <%= teacher.school %><br />
								<% end %>
								<% if teacher.location.present? %>
									<%= teacher.location %><br />
								<% end %><br />
								<% if !self.current_user.nil? && self.current_user.teacher %>	
									<% unless self.current_user == teacher.user %>
										<% if @my_connections.include? teacher.user_id %>
											<%= link_to "Send Message", { :controller => 'messages', :action => 'new', :user_id_to => teacher.user.id.to_s }, {:class => "button bg-green", :style => 'color:#FFF !important;'} %>
										<% else %>
											<%= link_to "Send Message", { :controller => 'messages', :action => 'new', :user_id_to => teacher.user.id.to_s }, {:class => "button bg-green", :style => 'color:#FFF !important;'} %>
											<%= link_to ablang('connection.connect'), { :controller => 'connections', :action => 'add_connection', :user_id => teacher.user.id }, :class => "button", :style => 'color:#FFF !important;' %>
										<% end %>
									<% end %>

								<% else %>
									<%= link_to "Send Message", { :controller => 'messages', :action => 'new', :user_id_to => teacher.user.id.to_s }, {:class => "button bg-green", :style => 'color:#FFF !important;'} %>
								<% end %>
							</p>
							<!--div class="quick-action star-empty">
							</div-->
						</li>
					<% end %>
					<li><%= will_paginate @teachers %></li>
				<% else %>
					<li>No educators showing off skills in <%= @skill.name %>.</li>
				<% end %>
			</ul>
		</section>
		
		<section class="panel one-column right-side">
			
			<h3>Videos</h3>
			<ul>
				<% unless @videodb.empty? %>
					<% @videodb.each do |vid| %>
						<a href="/videos/<%= vid.id %>">
							<li style="width:275px;padding:12px 15px 12px 15px !important">
								<div style="float:left;" class="profile-thumb-small">
									<%= image_tag(vid.thumbnail, :width => '45', :height => '45') %>
								</div>
								<strong><%= vid.name %></strong><br />
								<p style="float:left;width:215px">
									<% if vid.description.size > 100 %><%=h (vid.description.gsub(%r{</?[^>]+?>}, '')[0..104]+'...').html_safe %>
									<% else %><%=h vid.description.gsub(%r{</?[^>]+?>}, '').html_safe %>
									<% end %>
								</p>
							</li>
						</a>
					<% end %>
					<li>
						<%= will_paginate @videodb, :param_name => 'vpage' %>
					</li>
				<% else %>
					<li>No videos showing off skills in <%= @skill.name %>.</li>
				<% end %>
			</ul>
		</section>
		
	</section>
</section>
