<section id="main-content" class="inner-content">
	<h1>
		<%= possesify(@user.first_name) + ' ' if @user%>
		Video Library
	</h1>
	<section id="panels">
		<section class="panel one-column left-side">
			<h3>Most recent videos</h3>
			<ul>
				<% @videodb.limit(6).each do |vid| %>
					<a href="<%= "#{@videolist}/#{vid.id}" %>">
						<li>
							<div style="float:left;" class="profile-thumb-small">
								<%= image_tag(vid.thumbnail, :width => '45', :height => '45') %>
							</div>
							<strong><%= vid.name %></strong><br />
							<p style="float:none;"><%= vid.description %></p>
						</li>
					</a>
				<% end %>
			</ul>
		</section>
		<section class="panel two-column right-side">
			<h3 id="video"><%= @video.name %> by <%= @video.user.profile_link :class => 'salmon' %></h3>
			<section class="panel-actions" id="video">
				<%= @video.embed_code(605, 350) %>
				<hr />
				<% if @video.user == self.current_user || self.current_user.is_admin %>
					<%= link_to 'Feature This Video', "/me/profile/edit/feature-video/#{@video.id}", :class => 'button' if @video.user == self.current_user && @video != self.current_user.video %>
					<%= link_to 'Edit Video', edit_video_path(@video), :class => "button" %>
					<%= link_to 'Delete Video', @video, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button bg-green" %>
					<hr />
				<% end %>
				<% unless @video.skills.empty? %>
					<div class="skills">
						<h4>Skills shown in this video</h4>
						<% @video.skills.each do |skill| %>
							<a href="/teacherskills/<%= skill.id %>" class="button2 bg-ltgray gray"><%= skill.name %></a>
						<% end %>
					</div>
				<% end %>
				<h4>Video Description</h4>
				<p><%= @video.description %></p>
			</section>
		</section>
	</section>
	<div class="clearfloat"></div>
</section>