<section id="main-content" class="inner-content">
	<section id="updates" style="margin-top:30px;">
		<div class="profile-thumb-medium">
			<%= image_tag @user.avatar.url(:medium) if @user.avatar? %>
			<%= image_tag("dl_icons/no_avatar_medium.jpg") unless @user.avatar? %>
		</div>
		<div>
			<h3 class="greeting">
			Welcome back, <%= @user.first_name %>
			</h3>
			<ul class="stats">
				<% if Connection.mine(:pending => true, :creator => false).count > 0 %>
					<li>
						<a href="my_connections.html">
							<div class="count">
								<span class="iconic lightbulb" style="color:#cdcdcf;font-size:32px;margin:0px 0px -5px -25px"></span>
								<%= Connection.mine(:pending => true, :creator => false).count %> 
							</div>
							Pending <%= ablang('connection.plural') %>
						</a>
					</li>
				<% end %>
				<li>
					<a href="my_connections.html">
					<div class="count connections">
					<%= User.current.pending_connections(false).count %>
					</div>
					My <%= ablang('connection.plural') %>
					</a>
				</li>
				<% if unread_messages > 0 %>
					<li>
						<a href="/messages">
							<div class="count inbox">
							<%= unread_messages %>
							</div>
							New Messages
						</a>
					</li>
				<% end %>
				<% if User.current.applications.not_rejected.count > 0 %>
					<li>
						<a href="<%= user_applications_path(User.current) %>">
							<div class="count applications">
								<%= User.current.applications.not_rejected.count %>
							</div>
							Job Applications
						</a>
					</li>
				<% end %>
			</ul>
		</div>
		<a href="/inviteconnections/twitter" class="action-button bg-green" style="float:right; margin-right:-30px; padding:12px 15px 12px 15px !important">
			Find Friends
		</a>
	</section>
	<section id="panels">

		<!-- START Whiteboard -->
		<section class="panel two-column left-side">
			<h3>
				<a href="#">
				Whiteboard
				</a>
			</h3>
			<section class="panel-actions">
				<div class="profile-thumb-small" style="float:left;">
					<%= image_tag @user.avatar.url(:tiny) if @user.avatar? %>
					<%= image_tag("dl_icons/no_avatar_tiny.jpg") unless @user.avatar? %>
				</div>
				<div id="submit-whiteboard" style="width:auto;">
					<form action="/share_on_whiteboard" enctype="multipart/form-data" method="post">
						<fieldset class="trigger">
							<input type="text" placeholder="Write something on the whiteboard..." />
						</fieldset>
						<fieldset class="triggerable">
							<textarea name="message"></textarea>
							<div>
								<div style="float:left;">
									<% if self.current_user.twitter_auth? %>
										<%= check_box_tag :share_on_twitter, 'yes', true %>
									<% else %>
										<%= check_box_tag :share_on_twitter, 'yes', false %>
									<% end %>
									<%= image_tag ('tioki/icons/twitter2.png'), :style => "height:20px;margin-bottom:-5px" %>
									<% if self.current_user.facebook_auth? %>
										<%= check_box_tag :share_on_facebook, 'yes', true %>
									<% else %>
										<%= check_box_tag :share_on_facebook, 'yes', false %>
									<% end %>
									<%= image_tag ('tioki/icons/fb_button.png'), :style => "height:20px;margin-bottom:-5px" %>
								</div>
								<div style="float:right;">
									<input type="file" name="file" iconic="camera" style="font-size:1.5em;margin:0px 5px;" tip="Attach a Photo" atip="Photo Attached (Click to Remove)" tip-side="true" allowed-file-types="png,jpg,jpeg,gif" />
									<input type="submit" value="Post" />
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</section>
			<ul class="whiteboard">
				<%= @whiteboard.join('').html_safe %>
				<li><a href="#whiteboard-more" style="text-align:center;display:block;">Show More</a></li>
			</ul>
		</section>

		<!-- START Suggested educators to connect with -->
		<section id="list" class="panel one-column right-side">
			<ul>
				<li style="280px">
					<%= render "users/profile_completion" %>
				</li>
			</ul>
		</section>
		<section id="list" class="panel one-column right-side">
			<h3 class="bottom-line">Suggested Educators</h3>
			<div class="suggested-connections">
				<ul>
					<% @suggested_connections.each do |user| %>
				    	<li style="width:275px;padding: 5px 15px 0px 15px !important;">
							<div class="profile-thumb-small" style="float:left;margin-right:10px;margin-bottom:5px;overflow:hidden;">
								<%= link_to image_tag(user.avatar.url(:medium), :width => '45px', :height => '45px'), "/profile/#{user.slug}" if user.avatar? %>
								<%= link_to image_tag("dl_icons/no_avatar_medium.jpg", :width => '45px', :height => '45px'), "/profile/#{user.slug}" unless user.avatar? %>
							</div>
							<p style="font-size:13px;margin-top:0px;width:auto;margin-left:55px">
							<%= link_to "#{user.name}", "/profile/#{user.slug}", :class => "byline", :style => "color:#F66C4C" %>, <% unless user.currentJob.nil? %> <%= "#{user.currentJob.position}" %> in <% end %><%= "#{user.location}" %>
								<br/>
								<span class="iconic plus" style="color:#F66C4C"></span>
								<%= link_to ablang('connection.connect'), { :controller => 'connections', :action => 'add_connection', :user_id => user.id }, :style => 'color:#F66C4C;', :remote => true, :id => dom_id(user) %>
							</p>
						</li>
					<% end %>
				</ul>
				<%= link_to "Find Friends →", "/inviteconnections/twitter", :style => 'float:right;margin-right:5px;color:#F44C4C'%>
				<div class="clear"></div>
			</div>
		</section>
		
		<!-- START Who Viewed Your Profile -->
		<section id="list" class="panel one-column right-side">
			<h3>
				<a href="/me/profile/stats">
				Who's Viewed Your Profile? 
				</a>
			</h3>
			<ul>
				<li style="padding:12px 15px 12px 15px !important;width:280px">
					<div class="video-thumb-small" style="background-color:#fff;margin-right:0px;text-align:center">
						<a href="/me/profile/stats" style="font-size:30px"><%= @profile_views %></a>
					</div>
					<p style="width:230px;margin-top:5px">
						<a href="me/profile/stats">Your profile has been viewed by <%= @profile_views %> fellow educators.</a>
					</p>
				<li>
			</ul>
		</section> <!-- END WHO'S VIEWED YOUR PROFILE -->
		
		<!-- START Featured Jobs -->
		<section id="list" class="panel one-column right-side">
			<h3>
				Featured Jobs
			</h3>
			<ul>

				<% @featured_jobs.each do |job| %>
					<li style="padding:12px 15px 12px 15px !important;width:280px">
						<%= link_to image_tag(job.group.picture, :style => "width:45px"), job %>
						<p style="margin:-30px 0px 0px 60px;width:220px">
							<% if job.group.name.length < 21 %>
								<%= link_to job.group.name[0..23], job %>
							<% else %>
								<%= link_to job.group.name[0..23]+"...", job %>
							<% end %>
							<%= link_to "View", job, :style => "float:right;color:#F66C4C", :target => "_blank" %>
							<br />
							<% if job.title.length < 21 %>
								<%= job.title[0..23] %>
							<% else %>
								<%= job.title[0..23]+"..." %>
							<% end %>
						</p>
					</li>
				<% end %>

				<li style="padding:12px 15px 12px 15px !important;width:280px;height:8px">
					<%= link_to "View More Jobs →", "/jobs", :style => 'float:right;margin-right:5px;color:#F44C4C'%>
				</li>
			</ul>
		</section><!-- END Featured Jobs -->
		
		<!-- START Featured Groups -->
		<section id="list" class="panel one-column right-side">
			<h3>
				Featured Groups
			</h3>
			<ul>
				<% @featured_groups.each do |group| %>
					<!-- Featured Group 1-->
					<li style="padding:12px 15px 12px 15px !important;width:280px">
						<%= link_to image_tag(group.picture(:thumb), :style => "width:45px"), group %>
						<p style="margin:-40px 0px 0px 60px;width:220px">
							<%= link_to group.name, group %>
							<%= link_to "Join", { :controller => 'groups', :action => "add_group", :id => group.id }, :style => "float:right;color:#F66C4C" %>
							<br />
							<%= group.users.count %> Members<br/>
						</p>
					</li>
				<% end %>
			
				
				<li style="padding:12px 15px 12px 15px !important;width:280px;height:8px">
				<%= link_to "View More Groups →", "/groups", :style => 'float:right;margin-right:5px;color:#F44C4C'%>
				</li>
			</ul>
		</section><!-- END Featued Groups -->
		
		<!-- START Discussions -->
		<section id="list" class="panel one-column right-side">
			<h3>Discussions</h3>
			<ul>
				<% @discussions.where(:id => ['129', '57', '40']).each do |discussion| %>
					<li style="padding:12px 15px 12px 5px !important;width:290px">
					<%  if self.current_user %>
						<%= link_to "Follow", { :controller => "discussions",:action => "follow_discussion", :id => discussion.id }, :style => "float:right" %>
					<% end %>
						<p style="width:240px"><%= link_to discussion.title, discussion %></p>
						<p style="width:240px;float:left;margin-left:10px">
						<%= discussion.followers.count %><% if discussion.followers.count == 1 %> follower<% else %> followers<% end %>,
						<%= discussion.comment_threads.count %><% if discussion.comment_threads.count == 1 %> reply<% else %> replies<% end %>
						</p>
						<p style="width:240px;float:left;margin-left:10px">
							<% discussion.participants.each do |user| %>
								<% if user %>
									<% if user.avatar? %>
										<%= link_to image_tag(user.avatar.url(:tiny), :style => "max-height:20px;max-width:20px;"), "/profile/#{user.slug}" %>
									<% else %>
										<%= link_to image_tag("/assets/dl_icons/no_avatar_tiny.jpg", :style => "max-height:20px;max-width:20px;"), "/profile/#{user.slug}"  %>
								<% end %>
							<% end %>
						<% end %>
					</p>
				</li>
			<% end %>
				
				<li style="padding:12px 15px 12px 15px !important;width:280px;height:8px">
					<%= link_to "View More Discussions →", "/discussions", :style => 'float:right;margin-right:5px;color:#F44C4C'%>
				</li>
			</ul>
		</section><!-- END Discussions -->
		
		<!-- START Upcoming Events -->
		<section id="list" class="panel one-column right-side">
			<%= link_to image_tag("tioki/icons/calendar.png"), "/events/new", :style => "float:right;margin:17px 15px 0px 0px;" %>
			<h3>
				<a href="#">
				Upcoming Events
				</a>
			</h3>
			<ul>
				<% rsvp = @user.rsvp.where('`events`.`end_time` >= ?', Time.now).order('`events`.`end_time` ASC') %>
				<% if rsvp.count < 1 %>
					<li>You have no RSVP's. So here are some upcoming events.</li>
					<% Event.where('`events`.`end_time` >= ?', Time.now).order('`events`.`end_time` ASC').limit(3).each do |event| %>
						<li>
							<div class="calendar-thumb">
								<div class="cal-month">
								<%= event.start_time.localtime.strftime("%^b") %>
								</div>
								<div class="cal-date">
								<%= event.start_time.localtime.strftime("%e") %>
								</div>
							</div>
							<p>
							<%= link_to event.name, event %> &mdash; <%= event.description.split(' ')[0..10].join(' ') + "..." %>
							</p>
							<!--div class=" quick-action star-gold"></div-->
						</li>
					<% end %>
				<% else %>
					<% rsvp.each do |event| %>
						<li>
							<div class="calendar-thumb">
								<div class="cal-month">
								<%= event.start_time.localtime.strftime("%^b") %>
								</div>
								<div class="cal-date">
								<%= event.start_time.localtime.strftime("%e") %>
								</div>
							</div>
							<p>
							<%= link_to event.name, event %> &mdash; <%= event.description.split(' ')[0..10].join(' ') + "..." %>
							</p>
							<div class=" quick-action star-gold"></div>
						</li>
					<% end %>
				<% end %>
			</ul>
			<section class="panel-actions events">
				<a href="/events/new" class="action-button">
				Create New Event
				</a>
			</section>		
		</section> <!-- END UPCOMING EVENTS -->
		<div class="clearfloat"></div>
	</section>
	<div class="clearfloat"></div>
</section> <!-- End Main Content -->

<script type="text/javascript">
// White board more
$(document).ready(function() {
	window.whiteboardPage = 1;
	window.whiteboardMax = false;

	// Load more whiteboard posts
	$('a[href="#whiteboard-more"]').click(function(e) {
		e.preventDefault();

		// If we have already reached the end of the whiteboard then stop
		if(window.whiteboardMax) return false;
		
		// Get the number for the next page of data to pull
		window.whiteboardPage++;

		// Store for future use down the stack
		more = $(this);

		// Get the next pieces of activity via JSON
		$.getJSON('/whiteboard?page=' + window.whiteboardPage, function(data) {

			// If no data was returned handle by removing the button and erroring
			if(data.length == 0) {
				more.animate({"opacity": 0}, 700, function() {
					window.whiteboardMax = true;
					more.text('No More Updates');
					setTimeout(function() {
						more.animate({"opacity": 1}, 1000);
					}, 50);
				});
			}

			// For every element
			for(var x in data) {

				// Create the object, insert, and fade it in
				$(data[x]).css('display','block').insertBefore(more.closest('li'))
			}
		});

		return false;
	});

	// Favorite a whiteboard post
	$('a[whiteboard-action="favorite"]').on('click', function(e) {
		e.preventDefault();

		var link = $(this);
		$.get(link.attr('href') + '.json', function(r) {

			// Star the post
			if(r.type == 'success' && r.new) {
				link.addClass('salmon').removeClass('gray');
				var inc = parseInt(link.children('span').text()) + 1;
				if(isNaN(inc)) link.children('span').text('1');
				else link.children('span').text(inc);
			}

			// Unstar the post
			if(r.type == 'success' && !r.new) {
				link.removeClass('salmon').addClass('gray');
				var dec = parseInt(link.children('span').text()) - 1;
				if(isNaN(dec) || dec === 0) link.children('span').text('');
				else link.children('span').text(dec);
			}
		});

		return false;
	});

	// Show the comments
	$('a[whiteboard-action="show-comments"]').on('click', function(e) {
		e.preventDefault();

		// Show the comments wrapper
		$ul = $(this).closest('div.bar').next('div.comments').children('ul')
		$ul.children('li.show-more').remove();
		$ul.children('li').slideDown(500);

		return false;
	});

	// Show the comments
	$('a[whiteboard-action="show-more-comments"]').on('click', function(e) {
		e.preventDefault();

		// Show the comments wrapper
		$ul = $(this).closest('ul')
		$ul.children('li.show-more').remove();
		$ul.children('li').slideDown(500);

		return false;
	});

	// Hide a whiteboard post
	$('a[whiteboard-action="hide"], a[whiteboard-action="delete"]').on('click', function(e) {
		e.preventDefault();

		var link = $(this);
		$.get(link.attr('href') + '.json', function(r) {
			var li = link.closest('li');

			// Hide the post
			if(r.type == 'success') li.slideUp(500, function() {
				$('span.tooltip').remove();
				$(this).remove();
			});
		});

		return false;
	});

	$('form#post-comment').submit(function(e) {
		e.preventDefault();

		var form = $(this);
		data = form.serialize();
		form.find('textarea').val('Posting...').prop('disabled', true);
		$.post(form.attr('action') + '.json', data, function(r) {
			form.find('textarea').val(r.message).prop('disabled', true);
			if(r.id !== undefined && r.type == 'success') {
				$.get('/comments/' + r.id, function(d) {
					comment = $(d).css({'display': 'none', 'background-color': '#F66C4C'});
					form.prev('ul').append(comment);
					comment.slideDown(500, function() {
						$('ul').scrollTo('100%', 800);
						setTimeout(function() {
							comment.animate({backgroundColor: '#FFF'}, 600, function() {
								comment.css('background-color', '');
							});
							form.find('textarea').val('').prop('disabled', false);
						}, 1000);
					});
				});
			}
		});

		return false;
	});

	$('form[action="/share_on_whiteboard"]').submit(function(e) {
		e.preventDefault();

		if($(this).find('textarea').val() == '')
			alert('You cannot have an empty message');
		else
			return $(this).get(0).submit();

		return false;
	});

	// Favorite a comment
	$('a[comment-action="favorite"]').on('click', function(e) {
		e.preventDefault();

		var link = $(this);
		$.get(link.attr('href') + '.json', function(r) {

			// Star the post
			if(r.type == 'success' && r.new) {
				link.addClass('salmon').removeClass('gray');;
				var inc = parseInt(link.children('span').text()) + 1;
				if(isNaN(inc)) link.children('span').text('1');
				else link.children('span').text(inc);
			}

			// Unstar the post
			if(r.type == 'success' && !r.new) {
				link.removeClass('salmon').addClass('gray');;
				var dec = parseInt(link.children('span').text()) - 1;
				if(isNaN(dec) || dec === 0) link.children('span').text('');
				else link.children('span').text(dec);
			}
		});

		return false;
	});

	// Delete a comment
	$('a[comment-action="delete"]').on('click', function(e) {
		e.preventDefault();

		var link = $(this);
		$.get(link.attr('href') + '.json', function(r) {
			var li = link.closest('li');

			// Hide the post
			if(r.type == 'success') li.slideUp(500, function() {
				$('span.tooltip').remove();
				$(this).remove();
			});
		});

		return false;
	});

	//Came to comments from email
	if(window.location.hash.indexOf("whiteboard_comments") >= 0){
		var hash = window.location.hash;
		$(hash).click();
	}
});
</script>
<%= render "users/profile_completion_popup" %>
