<section id="main-content" class="inner-content">
	<section id="updates" style="margin-top:30px;">
		<span style="float:right">
			<%= link_to "Post New Job", {:controller => :jobs, :action => :new}, {:class => "button action-button"} %>
		</span>
		<div class="profile-thumb-medium">
			<%= image_tag @user.avatar.url(:medium) if @user.avatar? %>
			<%= image_tag("dl_icons/no_avatar_medium.jpg") unless @user.avatar? %>
		</div>
		<div>
			<h3 class="greeting">
			Welcome back, <%= @user.first_name %>
			</h3>
			<ul class="stats">
				<% if unread_messages > 0 %>
					<li>
						<a href="/messages">
							<div class="count iconic">
								<span class="iconic mail"></span>
								<%= unread_messages %>
							</div>
							New Messages
						</a>
					</li>
				<% end %>
				<% if @applicants > 0 %>
					<li>
						<a href="/my_jobs">
							<div class="count iconic">
								<span class="iconic book_alt" style="font-size:1.5em;"></span>
								<%= @applicants %>
							</div>
							New <%= @applicants == 1 ? 'Applicant' : 'Applicants' %>
						</a>
					</li>
				<% end %>
			</ul>
		</div>
	</section>
	
	<section id="panels">
		<section id="list" class="panel one-column left-side">
			<h3>
			Recruiting Updates
			<a href="/my_jobs">
				<span class="iconic pin" style="color:#cdcdcf;font-size:26px;margin:-5px 0px 0px 15px"></span>
				<% if @jobs.count > 0 %>
					<div class="count_recruit">
					<%= @jobs.count.to_s %>
					</div>
					Active Job Postings
				<% else %>
				Post a New Job
				<% end %>
			</a>
			<br />
			<% if @applicants > 0 %>
				<a href="/my_jobs">
					<%= image_tag 'tioki/icons/jobs.png', :style => "height:20px;margin:3px -2px 0px 15px" %>
				<div class="count_recruit">
				<%= @applicants.to_s %>
				</div>
				<% if @applicants == 1 %>
					New Applicant
				<% else %>
					New Applicants
				<% end %>
				</a>
				<br/>
			<% end %>
		</section>
	</section>

	<script type="text/javascript">
	var CE_SNAPSHOT_NAME = "School Dashboard";
	setTimeout(function(){var a=document.createElement("script");
	var b=document.getElementsByTagName("script")[0];
	a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0012/8633.js?"+Math.floor(new Date().getTime()/3600000);
	a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
	</script>
</section>
