<section id="main-content">
	<div class="features-slider">
		<div id="featured">
			<img src="/assets/tioki/features-slide/feature-one.jpg" data-caption="#one-caption" />
			<img src="/assets/tioki/features-slide/feature-two.jpg" data-caption="#two-caption" />
			<img src="/assets/tioki/features-slide/feature-four.jpg" data-caption="#three-caption" />
			<img src="/assets/tioki/features-slide/feature-three.jpg" data-caption="#four-caption" />
			
		</div>
		<!-- Captions for Orbit -->
		<span class="orbit-caption" id="one-caption">
			<div class="signup-form">
				<h2>
				Join For Free
				</h2>
		<form action="/create" id="signup-form" method="post">
			<input type="hidden" name="_ak" value="splash" />
			<fieldset>
				<input name="user[first_name]" type="text" placeholder="First Name" />
			</fieldset>
			<fieldset id="lastnm">
				<input name="user[last_name]" type="text" placeholder="Last Name" />
			</fieldset>
			<fieldset>
				<input name="user[email]" type="email" placeholder="Email" />
			</fieldset>
			<fieldset id="enterpwd">
				<input name="user[password]" type="password" placeholder="Password" />
			</fieldset>
			<fieldset id="confirmpwd">
				<input name="user[password_confirmation]" type="password" placeholder="Confirm Password" />
			</fieldset>
			<fieldset>
				I am a
				<%= select_tag "user[occupation]", options_for_select(User::OCCUPATION) %>
			</fieldset>
			<fieldset style="margin-right:0px !important">
				<input type="submit" class="button med-button" value="Get Started" style="width:140px !important;padding: 6px 9px;"/>
			</fieldset>
			<div style="height:100px; width:250px; margin-right:0px; margin-top:-90px">
				<h4>
				<span style="float:right;margin-right:-40px">Sign Up With:</span>
				<br/>
				<!-- Tweet about us Function -->
				<a href="/auth/twitter"><%= image_tag "tioki/icons/twitter3.png", :style => "float:right;margin-right:-30px" %></a>
				<!-- Post to Facebook Wall Function -->
				<a href="/auth/facebook"><%= image_tag "tioki/icons/fb_button.png", :style => "margin-top:4px;float:right;margin-right:10px;height:29px" %></a>
				</h4>
			</div>
			<p class="smalltext">
			By getting started, I agree to the <span><a href="/static/resources/terms">terms</a></span>.
			</p>
			<p class="smalltext">
				<%= image_tag "tioki/icons/edu_icon.png", :style => "height:20px;margin-bottom:-7px" %> 
					Schools and Companies <%= link_to "click here.", "/forschools" %>
			</p>		
			<!--<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Ftiokiapp&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;appId=440391786011809" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true">
			</iframe>
			<a href="https://twitter.com/tioki" class="twitter-follow-button" data-show-count="false" >Follow @tioki</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>-->
		</form>
			</div>
			<div class="featured-quote">
				<blockquote>
				Tioki is the only place that connects everyone in the education community together.
				</blockquote>
			</div>
		</span>
		<span class="orbit-caption" id="two-caption">
			<div class="featured-box featured-box-right">
				<h1>
				Pre K-12
				</h1>
				<div class="box-divider">
				</div>
				<p>
				Teachers & School Leaders
				</p>
				<a href="signup.html" class="goto-signup">
				Get Started
				</a>
			</div>
		</span>
		<span class="orbit-caption" id="three-caption">
			<div class="featured-box featured-box-right">
				<h1>
				Higher Education
				</h1>
				<div class="box-divider">
				</div>
				<p>
				Student Teachers <br/>& Education Researchers
				</p>
				<a href="signup.html" class="goto-signup button">
				Get Started
				</a>
			</div>
		</span>
		<span class="orbit-caption" id="four-caption">
			<div class="featured-box featured-box-right">
				<h1>
				Broader Education Community
				</h1>
				<div class="box-divider">
				</div>
				<p>
				Education Organizations,<br/> Companies, & Networks
				</p>
				<a href="signup.html" class="goto-signup">
				Get Started
				</a>
			</div>
		</span>
	</div>
	<section class="press inner-content">
		<h1>
		Meet Some of Our Tioki All-Stars!
		</h1>
		<article class="featured-thumb">
			<a href="http://tioki.com/profile/118549scottkinkoph" target="_blank">
				<img src="https://tioki.s3.amazonaws.com/avatars/medium/20121127212313-20121127212313-20121127212312-me.jpg20121127-15683-2eqodz?1354051391" alt="" style="width:150px" />
			</a>
			<h4 style="margin-bottom:-11px">
				<a href="http://tioki.com/profile/118549scottkinkoph" target="_blank" style="color:#2AA99B;">
				Scott Kinkoph
				</a>
			</h4>
			<p>
			Tech Integration Stud<br/>
			Northfield, OH
			</p>
		</article>
		<article class="featured-thumb">
			<a href="http://tioki.com/profile/118832paulineroberts" target="_blank">
				<img src="https://tioki.s3.amazonaws.com/avatars/medium/20121121200749-20121121200747-20121121200744-me3.jpg20121121-28448-ifikby?1353528463" alt="" style="width:150px"/>
			</a>
			<h4 style="margin-bottom:-11px">
				<a href="http://tioki.com/profile/118832paulineroberts" target="_blank" style="color:#2AA99B;">
				Pauline Roberts
				</a>
			</h4>
			<p>
			Math/Science Wizard<br/>
			Detroit (Go Lions!)
			</p>
		</article>
		<article class="featured-thumb">
			<a href="http://tioki.com/profile/118377dancarroll" target="_blank">
				<img src="https://tioki.s3.amazonaws.com/avatars/medium/20121018000149-20121018000148-20121018000147-1c2fe94.jpg20121018-28591-6xi59r?1350518506" alt="" style="width:150px" />
			</a>
			<h4 style="margin-bottom:-11px">
				<a href="http://tioki.com/profile/118377dancarroll" target="_blank" style="color:#2AA99B;">
				Dan Carroll
				</a>
			</h4>
			<p>
			Co-Founder of Clever<br/>
			San Francisco, CA
			</p>
		</article>
		<article class="featured-thumb">
			<a href="http://tioki.com/profile/118656angelaestrella" target="_blank">
				<img src="https://tioki.s3.amazonaws.com/avatars/medium/20121112024149-20121112024148-20121112024146-Picture_of_me_1.png20121112-28262-1kaqw31?1352688105" alt="" style="width:150px"/>
			</a>
			<h4 style="margin-bottom:-11px">
				<a href="http://tioki.com/profile/118656angelaestrella" target="_blank" style="color:#2AA99B;">
				Angela Estrella
				</a>
			</h4>
			<p>
			PD Facilitator<br/>
			Lynbrook High School
			</p>
		</article>
		<article class="featured-thumb last-thumb">
			<a href="http://tioki.com/profile/119154tylerelliott" target="_blank">
				<img src="https://s3-us-west-2.amazonaws.com/tioki/avatars/medium/tyler_pic.jpeg" alt="" style="width:150px" />
			</a>
			<h4 style="margin-bottom:-11px">
				<a href="http://tioki.com/profile/119154tylerelliott" target="_blank" style="color:#2AA99B;">
				Tyler Elliot
				</a>
			</h4>
			<p>
			Student Teacher <br/>
			Arcata, Ca
			</p>
		</article>
		<div class="clearfloat"></div>
	</section>
</section>
