<section id="main-content" style='padding-bottom:0px'>
	<section class="grey-bg wrapper">
		<section style='text-align:center;margin: 0 auto;position:relative;width:1020px;overflow:hidden'>
			<h1 style='color:#2AA99B'>
				<span style='font-size:41px'>Connect With People Who Share Your Passion for Education</span><br>
				Teachers, School Leaders, Entrepreneurs, and More
			</h1>
		</section>
		<div class="features-slider">
		<div id="featured">
			<img src="/assets/tioki/features-slide/casie_bg.png" data-caption="#one-caption" />
			<img src="/assets/tioki/features-slide/thomas_bg.png" data-caption="#two-caption" />
			<img src="/assets/tioki/features-slide/rojas_bg.png" data-caption="#three-caption" />
			<img src="/assets/tioki/features-slide/john_bg.png" data-caption="#four-caption" />
			
		</div>
		<!-- Captions for Orbit -->
		<span class="orbit-caption" id="one-caption">
			<div class="signup-form">
				<h2 style='color:#fff'>
				Join For Free
				</h2>
				<form action="/create" id="signup-form" method="post">
					<input type="hidden" name="_ak" value="splash" />
					<fieldset style='border-bottom: 1px solid #d4d4d4;'>
						<a href="/auth/twitter">
							<%= image_tag "/assets/tioki/icons/Twitter-Login.png" %>
						</a>
					</fieldset>
					<fieldset id="lastnm" style='border-bottom: 1px solid #d4d4d4;'>
						<a href="/auth/facebook">
							<%= image_tag "/assets/tioki/icons/Facebook-Login.png" %>
						</a>
					</fieldset>
					<fieldset style='width:300px;text-align:center;color:#fff;float:right;margin-top:-14px;margin-bottom:5px'>or</fieldset>
					<fieldset>
						<input name="user[first_name]" type="text" placeholder="First Name" />
					</fieldset>
					<fieldset id="lastnm">
						<input name="user[last_name]" type="text" placeholder="Last Name" />
					</fieldset>
					<fieldset>
						<input name="user[email]" type="email" placeholder="Email" />
					</fieldset>
					<fieldset id="enterpwd">
						<input name="user[password]" type="password" placeholder="Password" />
					</fieldset>
					<fieldset id="confirmpwd">
						<input name="user[password_confirmation]" type="password" placeholder="Confirm Password" />
					</fieldset>
					<fieldset>
						<span style='color:#fff'>I plan to use Tioki as a...</span>
						<%= select_tag "user[occupation]", options_for_select(User::OCCUPATION), {:style => 'width:134px', :prompt => "Choose one"} %>
					</fieldset>
					<fieldset style="margin-right:0px !important;">
						<input type="submit" class="button med-button" value="Get Started" style="width:300px !important;padding: 6px 9px;"/>
					</fieldset>
					<fieldset style='width:300px'>
						<p class="smalltext" style='text-align:center'>
						By getting started, I agree to the <span><a href="/static/resources/terms">terms</a></span>.
						</p>
					</fieldset>		
				</form>
			</div>
			<div class="featured-quote">
				<blockquote>
					<span style='font-size:22px'>
						"I have been impressed with the caliber of people here. There's a lot of talented individuals to meet."
					</span>
					<br/>
					<em style='text-shadow:none'>
						Casie H., Assistant Principal
					</em>
				</blockquote>
			</div>
		</span>
		<span class="orbit-caption" id="two-caption">
			<div class="signup-form">
				<h2 style='color:#fff'>
				Join For Free
				</h2>
				<form action="/create" id="signup-form" method="post">
					<input type="hidden" name="_ak" value="splash" />
					<fieldset style='border-bottom: 1px solid #d4d4d4;'>
						<a href="/auth/twitter">
							<%= image_tag "/assets/tioki/icons/Twitter-Login.png" %>
						</a>
					</fieldset>
					<fieldset id="lastnm" style='border-bottom: 1px solid #d4d4d4;'>
						<a href="/auth/facebook">
							<%= image_tag "/assets/tioki/icons/Facebook-Login.png" %>
						</a>
					</fieldset>
					<fieldset style='width:300px;text-align:center;color:#fff;float:right;margin-top:-14px;margin-bottom:5px'>or</fieldset>
					<fieldset>
						<input name="user[first_name]" type="text" placeholder="First Name" />
					</fieldset>
					<fieldset id="lastnm">
						<input name="user[last_name]" type="text" placeholder="Last Name" />
					</fieldset>
					<fieldset>
						<input name="user[email]" type="email" placeholder="Email" />
					</fieldset>
					<fieldset id="enterpwd">
						<input name="user[password]" type="password" placeholder="Password" />
					</fieldset>
					<fieldset id="confirmpwd">
						<input name="user[password_confirmation]" type="password" placeholder="Confirm Password" />
					</fieldset>
					<fieldset>
						<span style='color:#fff'>I plan to use Tioki as a...</span>
						<%= select_tag "user[occupation]", options_for_select(User::OCCUPATION), {:style => 'width:134px', :prompt => "Choose one"} %>
					</fieldset>
					<fieldset style="margin-right:0px !important;">
						<input type="submit" class="button med-button" value="Get Started" style="width:300px !important;padding: 6px 9px;"/>
					</fieldset>
					<fieldset style='width:300px'>
						<p class="smalltext" style='text-align:center'>
						By getting started, I agree to the <span><a href="/static/resources/terms">terms</a></span>.
						</p>
					</fieldset>		
				</form>
			</div>
			<div class="featured-quote">
				<blockquote>
					<span style='font-size:22px'>
						"I don't feel like I'm on my own island anymore. Being connected to others has really opened my mind to what's possible."
					</span>
					<br/>
					<em style='text-shadow:none'>
						Thomas C., Teacher
					</em>
				</blockquote>
			</div>
		</span>
		<span class="orbit-caption" id="three-caption">
			<div class="signup-form">
				<h2 style='color:#fff'>
				Join For Free
				</h2>
				<form action="/create" id="signup-form" method="post">
					<input type="hidden" name="_ak" value="splash" />
					<fieldset style='border-bottom: 1px solid #d4d4d4;'>
						<a href="/auth/twitter">
							<%= image_tag "/assets/tioki/icons/Twitter-Login.png" %>
						</a>
					</fieldset>
					<fieldset id="lastnm" style='border-bottom: 1px solid #d4d4d4;'>
						<a href="/auth/facebook">
							<%= image_tag "/assets/tioki/icons/Facebook-Login.png" %>
						</a>
					</fieldset>
					<fieldset style='width:300px;text-align:center;color:#fff;float:right;margin-top:-14px;margin-bottom:5px'>or</fieldset>
					<fieldset>
						<input name="user[first_name]" type="text" placeholder="First Name" />
					</fieldset>
					<fieldset id="lastnm">
						<input name="user[last_name]" type="text" placeholder="Last Name" />
					</fieldset>
					<fieldset>
						<input name="user[email]" type="email" placeholder="Email" />
					</fieldset>
					<fieldset id="enterpwd">
						<input name="user[password]" type="password" placeholder="Password" />
					</fieldset>
					<fieldset id="confirmpwd">
						<input name="user[password_confirmation]" type="password" placeholder="Confirm Password" />
					</fieldset>
					<fieldset>
						<span style='color:#fff'>I plan to use Tioki as a...</span>
						<%= select_tag "user[occupation]", options_for_select(User::OCCUPATION), {:style => 'width:134px', :prompt => "Choose one"} %>
					</fieldset>
					<fieldset style="margin-right:0px !important;">
						<input type="submit" class="button med-button" value="Get Started" style="width:300px !important;padding: 6px 9px;"/>
					</fieldset>
					<fieldset style='width:300px'>
						<p class="smalltext" style='text-align:center'>
						By getting started, I agree to the <span><a href="/static/resources/terms">terms</a></span>.
						</p>
					</fieldset>		
				</form>
			</div>
			<div class="featured-quote">
				<blockquote>
					<span style='font-size:22px'>
						"The Tioki profile allows me to show myself at my best. I feel confident using it to express what I know and what I can do."
					</span>
					<br/>
					<em style='text-shadow:none'>
						Julian R., Student Teacher
					</em>
				</blockquote>
			</div>
		</span>
		<span class="orbit-caption" id="four-caption">
			<div class="signup-form">
				<h2 style='color:#fff'>
				Join For Free
				</h2>
				<form action="/create" id="signup-form" method="post">
					<input type="hidden" name="_ak" value="splash" />
					<fieldset style='border-bottom: 1px solid #d4d4d4;'>
						<a href="/auth/twitter">
							<%= image_tag "/assets/tioki/icons/Twitter-Login.png" %>
						</a>
					</fieldset>
					<fieldset id="lastnm" style='border-bottom: 1px solid #d4d4d4;'>
						<a href="/auth/facebook">
							<%= image_tag "/assets/tioki/icons/Facebook-Login.png" %>
						</a>
					</fieldset>
					<fieldset style='width:300px;text-align:center;color:#fff;float:right;margin-top:-14px;margin-bottom:5px'>or</fieldset>
					<fieldset>
						<input name="user[first_name]" type="text" placeholder="First Name" />
					</fieldset>
					<fieldset id="lastnm">
						<input name="user[last_name]" type="text" placeholder="Last Name" />
					</fieldset>
					<fieldset>
						<input name="user[email]" type="email" placeholder="Email" />
					</fieldset>
					<fieldset id="enterpwd">
						<input name="user[password]" type="password" placeholder="Password" />
					</fieldset>
					<fieldset id="confirmpwd">
						<input name="user[password_confirmation]" type="password" placeholder="Confirm Password" />
					</fieldset>
					<fieldset>
						<span style='color:#fff'>I plan to use Tioki as a...</span>
						<%= select_tag "user[occupation]", options_for_select(User::OCCUPATION), {:style => 'width:134px', :prompt => "Choose one"} %>
					</fieldset>
					<fieldset style="margin-right:0px !important;">
						<input type="submit" class="button med-button" value="Get Started" style="width:300px !important;padding: 6px 9px;"/>
					</fieldset>
					<fieldset style='width:300px'>
						<p class="smalltext" style='text-align:center'>
						By getting started, I agree to the <span><a href="/static/resources/terms">terms</a></span>.
						</p>
					</fieldset>		
				</form>
			</div>
			<div class="featured-quote">
				<blockquote>
					<span style='font-size:22px'>
						"Tioki's given us a place to promote our organization and meet so many new people who share our values."
					</span>
					<br/>
					<em style='text-shadow:none'>
						John L., Executive Director
					</em>
				</blockquote>
			</div>
		</span>
	</div>
	</section>
	<section class="white-bg wrapper">
	<!-- Request past verbiage. Save for later.  -->
		<% if request.fullpath == "/forschools" || request.fullpath == "/school_signup" || request.fullpath == "/howitworks/schools" || request.fullpath == "/schoolpricing" %>
		<% end %>
		
		<section class='inner-content'>
			<h2 style="color: #2AA99B;padding-top: 20px;margin-top: 0px;">
				How it Works<a name="works"></a>
			</h2>
			<section  style='font-size:16px'>
				<section class="one-column left-side" style='text-align:center'>
					<strong>Create your profile,</strong> telling us<br />
					who you are and some of the<br>
					things you care about.</br><br/>
					<%= image_tag '/assets/tioki/splash/avatar.png' %>
				</section>
				
				<section class="one-column left-side" style='text-align:center'>
					<strong>Connect</strong> with professionals<br>
					that share your particular<br>
					interests in education.<br><br/>
					<%= image_tag '/assets/tioki/splash/connect.png' %>
				</section>
				
				<section class="one-column right-side" style='text-align:center'>
					<strong>Leverage your network</strong> for<br>
					news, video, resources, tips<br>
					technology, and more.<br><br/>
					<%= image_tag '/assets/tioki/splash/leverage.png' %>
				</section>
			</section>
		</section>
	</section>	
		
		
	<section class="press inner-content" style='height:330px'>
		<h2 style="padding-top: 20px;margin-top: 0px;">
			Meet Some of Our Tioki All-Stars!	
		</h2>
		<article class="featured-thumb">
			<a href="http://tioki.com/profile/119183courtneynemeth" target="_blank">
				<img src="https://tioki.s3.amazonaws.com/avatars/medium/20121220143426-20121220143424-20121220143422-IMG_0709.jpg20121220-1893-dnk4wi?1356014060" alt="" style="width:150px" />
			</a>
			<h4 style="margin-bottom:-11px">
				<a href="http://tioki.com/profile/119183courtneynemeth" target="_blank" style="color:#2AA99B;">
				Courtney Nemeth
				</a>
			</h4>
			<p>
			Primary Teacher<br/>
			Nantucket, MA
			</p>
		</article>
		<article class="featured-thumb">
			<a href="http://tioki.com/profile/118238samchaudhary" target="_blank">
				<img src="https://tioki.s3.amazonaws.com/avatars/medium/20121002202830-20121002202829-20121002202829-Sam%20pro%20pic.jpg20121002-15756-aapzor?1349209709" alt="" style="width:150px" />
			</a>
			<h4 style="margin-bottom:-11px">
				<a href="http://tioki.com/profile/118238samchaudhary" target="_blank" style="color:#2AA99B;">
				Sam Chaudhary
				</a>
			</h4>
			<p>
			CoFounder, Class Dojo<br/>
			San Francisco, CA
			</p>
		</article>
		<article class="featured-thumb">
			<a href="http://tioki.com/profile/karlabarrios" target="_blank">
				<img src="https://tioki.s3.amazonaws.com/avatars/medium/20121215002019-20121215002018-20121215002018-Tioki_Profile.JPG20121215-23444-kqx1o7?1355530817" alt="" style="width:150px"/>
			</a>
			<h4 style="margin-bottom:-11px">
				<a href="http://tioki.com/profile/karlabarrios" target="_blank" style="color:#2AA99B;">
				Karla Barrios
				</a>
			</h4>
			<p>
			Talent Recruiter<br/>
			Oakland Unified SD
			</p>
		</article>
		<article class="featured-thumb">
			<a href="http://tioki.com/profile/jimshelton" target="_blank">
				<img src="https://tioki.s3.amazonaws.com/avatars/medium/20130206010953-20130206010953-20130206010952-jim-shelton-pic_updated-jpg.?1360112992" alt="" style="width:150px" />
			</a>
			<h4 style="margin-bottom:-11px">
				<a href="http://tioki.com/profile/jimshelton" target="_blank" style="color:#2AA99B;">
				Jim Shelton
				</a>
			</h4>
			<p>
			U.S. Dept of Education<br/>
			Washington D.C.
			</p>
		</article>
		<article class="featured-thumb last-thumb">
			<a href="http://tioki.com/profile/118167angelalopez" target="_blank">
				<img src="https://tioki.s3.amazonaws.com/avatars/medium/20121108045555-20121108045554-20121108045553-Tioki_Profile_Pic.jpg20121108-1940-4jpmhz?1352350552" alt="" style="width:150px" />
			</a>
			<h4 style="margin-bottom:-11px">
				<a href="http://tioki.com/profile/118167angelalopez" target="_blank" style="color:#2AA99B;">
				Angela Lopez
				</a>
			</h4>
			<p>
			UCLA Grad Student<br/>
			Los Angeles, CA
			</p>
		</article>
	</section>
	
	<!--section class="white-bg wrapper">
		
		<section class='inner-content'>
		  <section class ='half-width left-side' style='border-right:2px #ccc dashed;height:300px'>
			  <h4 style="color: #2AA99B;padding-top: 20px;margin-top: 0px;text-align:center">
				  As Seen In:
			  </h4>
			</section>
			
			<section class ='half-width right-side' style='height:300px'>
			  <h4 style="color: #2AA99B;padding-top: 20px;margin-top: 0px;text-align:center">
				  Our Partners:
			  </h4>
			</section>
			
			
		</section-->
		
		<section class='inner-content' style='text-align:center'>
  		<section class="three-column left-side" >
  			<h2>
  				Start Connecting With People Like You Today! 
  				<%= link_to 'Join Tioki', '/signup', :class => 'button med-button', :style => "text-align:center" %>

  			</h2>

  		</section>
  	</section>
		
	</section>

</section>
