<section id="main-content" class="inner-content">
	<section id="updates" style="margin-top:30px;">
		<div class="profile-thumb-medium">
			<%= image_tag @user.avatar.url(:medium) if @user.avatar? %>
			<%= image_tag("dl_icons/no_avatar_medium.jpg") unless @user.avatar? %>
		</div>
		<div>
			<h3 class="greeting">
			Welcome back, <%= @user.first_name %>
			</h3>
			<ul class="stats">
				<li>
					<a href="my_connections.html">
					<div class="count connections">
					<%= User.current.pending_connections(false).count %>
					</div>
					My <%= ablang('connection.plural') %>
					</a>
				</li>
				<li>
					<a href="/messages">
					<div class="count inbox">
					<%= unread_messages %>
					</div>
					New Messages
					</a>
				</li>
				<li>
					<a href="teacher_applications">
					<div class="count applications">
					<%= Application.mine(:status => true).count %>
					</div>
					Job Applications
					</a>
				</li>
			</ul>
		</div>
		<div class="suggested-connections">
			<h3>Suggested Connections based on Skills</h3>
			<div class="panel">
				<ul>
					<% @suggested_connections.each do |user| %>
						<a href="/profile/#<%= user.teacher.url %>">
							<li>
								<span class="name"><%= user.name %></span>
								<div class="profile-thumb-small">
									<%= image_tag(user.avatar(:tiny)) %>
								</div>
							</li>
						</a>
					<% end %>
				</ul>
				<div class="clear"></div>
			</div>
		</div>
	</section>
	<section id="panels">
		<section id="list" class="panel two-column left-side">
			<h3>
				<a href="#">
				Whiteboard
				</a>
			</h3>
			<section class="panel-actions">
				<div class="profile-thumb-small">
					<%= image_tag @user.avatar.url(:tiny) if @user.avatar? %>
					<%= image_tag("dl_icons/no_avatar_tiny.jpg") unless @user.avatar? %>
				</div>
				<div id="submit-whiteboard">	
					<form action="/share_on_whiteboard" method="post">
						<fieldset>
							<input name="message" type="text" placeholder="Write something on the whiteboard..." />
							<input type="submit" class="button" />
						</fieldset>
					</form>
				</div>
			</section>
			<ul>
				<% @whiteboard.each do |post| %>
					<%= raw post %>
				<% end %>
				<li><a href="#whiteboard-more" style="text-align:center;display:block;">Show More</a></li>
			</ul>
		</section> <!-- END WHITEBOARD -->
		<section class="panel one-column right-side">
			<h3 style="margin:0px;">Twitter Feed</h3>
			<ul style="margin:0px;">
				<% Twitter.search("#tioki OR #edtech OR #edchat", :rpp => 8).results.each do |t| %>
					<li>
						<div class="profile-thumb-small" style="float:left;">
							<%= image_tag(t.profile_image_url) %>
						</div>
						<strong>
							<%= link_to "#{t.from_user_name} (@#{t.from_user})", "http://twitter.com/#{t.from_user}", :class => "byline" %> at <%= t.created_at.strftime("%l:%M%P on %B %e, %Y") %>
						</strong><br />
						<p style="float:none;"><%= t.text.url2link(:target => '_blank').tweetify(:target => '_blank') %></p>
					</li>
				<% end %>
			</ul>
		</section>
		<!--section class="panel one-column right-side">
			<h3>
				<a href="#">
				My Favorites <span style ="color: #F66C4C"> Coming Soon </span>
				</a>
			</h3>
			
			<ul>
				<li>
					<div class="profile-thumb-small">
					</div>
					<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="profile.html" class="byline">Aleksandar Stanisic</a>
					</p>
					<div class=" quick-action close">
					</div>
				</li>
				<li>
					<div class="profile-thumb-small">
					</div>
					<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="profile.html" class="byline">Aleksandar Stanisic</a>
					</p>
					<div class=" quick-action close">
					</div>
				</li>
				<li>
					<div class="profile-thumb-small">
					</div>
					<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="profile.html" class="byline">Aleksandar Stanisic</a>
					</p>
					<div class=" quick-action close">
					</div>
				</li>
				<li>
					<div class="profile-thumb-small">
					</div>
					<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="profile.html" class="byline">Aleksandar Stanisic</a>
					</p>
					<div class=" quick-action close">
					</div>
				</li>
				<li>
					<div class="profile-thumb-small">
					</div>
					<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="profile.html" class="byline">Aleksandar Stanisic</a>
					</p>
					<div class=" quick-action close">
					</div>
				</li>
				<li>
					<div class="profile-thumb-small">
					</div>
					<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="profile.html" class="byline">Aleksandar Stanisic</a>
					</p>
					<div class=" quick-action close">
					</div>
				</li>
				<li>
					<div class="profile-thumb-small">
					</div>
					<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="profile.html" class="byline">Aleksandar Stanisic</a>
					</p>
					<div class=" quick-action close">
					</div>
				</li>
				<li>
					<div class="profile-thumb-small">
					</div>
					<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="profile.html" class="byline">Aleksandar Stanisic</a>
					</p>
					<div class=" quick-action close">
					</div>
				</li>
				
			</ul>
		</section--> <!-- END MY FAVORITES -->
		<section id="list" class="panel one-column left-side">
			<%= link_to image_tag("tioki/icons/play-icon.png"),  "/me/profile/edit/upload-video", :style => "float:right;margin:17px 15px 0px 0px" %>
			<h3>
				<a href="#">
				Latest Demo Lessons
				</a>
			</h3>
			<ul>
				<% @latest_dl.each do |vid| %>
					<li>
						<a href="/profile/<%= vid.user.teacher.url %>">
							<div class="video-thumb-small">
								<div class="play-button">
								</div>
							</div>
						</a>
						<p><%= vid.getMessage %></p>
						<!--div class=" quick-action star-empty">
						</div-->
					</li>
				<% end %>
			</ul>
			<section class="panel-actions demolesson">
				<a href="/me/profile/edit/upload-video" class="action-button">
				Upload Demo Lesson
				</a>
			</section>
		</section> <!-- END DEMO LESSONS -->
		<section id="list" class="panel one-column left-side">
			<%= link_to image_tag("tioki/icons/calendar.png"),  "/events/new", :style => "float:right;margin:17px 15px 0px 0px" %>
			<h3>
				<a href="#">
				Upcoming Events
				</a>
			</h3>
			<ul>
				<% rsvp = @user.rsvp.where("`end_time` >= CURDATE()").all %>
				<% if rsvp.empty? %>
					<li>You have no RSVP's. So here are some upcoming events.</li>
					<% Event.where("`end_time` >= CURDATE()").limit(5).each do |event| %>
						<li>
							<div class="calendar-thumb">
								<div class="cal-month">
								<%= event.start_time.localtime.strftime("%^b") %>
								</div>
								<div class="cal-date">
								<%= event.start_time.localtime.strftime("%e") %>
								</div>
							</div>
							<p>
							<%= link_to event.name, event %> &mdash; <%= event.description.split(' ')[0..10].join(' ') + "..." %>
							</p>
							<!--div class=" quick-action star-gold"></div-->
						</li>
					<% end %>
				<% else %>
					<% rsvp.each do |event| %>
						<li>
							<div class="calendar-thumb">
								<div class="cal-month">
								<%= event.start_time.localtime.strftime("%^b") %>
								</div>
								<div class="cal-date">
								<%= event.start_time.localtime.strftime("%e") %>
								</div>
							</div>
							<p>
							<%= link_to event.name, event %> &mdash; <%= event.description.split(' ')[0..10].join(' ') + "..." %>
							</p>
							<div class=" quick-action star-gold"></div>
						</li>
					<% end %>
				<% end %>
			</ul>
			<section class="panel-actions events">
				<a href="/events/new" class="action-button">
				Create New Event
				</a>
			</section>		
		</section> <!-- END UPCOMING EVENTS -->
		<div class="clearfloat"></div>
	</section>
	<div class="clearfloat"></div>
</section> <!-- End Main Content -->
<script type="text/javascript">
// White board more
$(document).ready(function() {
	window.whiteboardPage = 1;
	window.whiteboardMax = false;
	$('a[href="#whiteboard-more"]').click(function(e) {
		e.preventDefault();

		// If we have already reached the end of the whiteboard then stop
		if(window.whiteboardMax) return false;
		
		// Get the number for the next page of data to pull
		window.whiteboardPage++;

		// Store for future use down the stack
		more = $(this);

		// Get the next pieces of activity via JSON
		$.getJSON('/whiteboard?page=' + window.whiteboardPage, function(data) {

			// If no data was returned handle by removing the button and erroring
			if(data.length == 0) {
				more.animate({"opacity": 0}, 700, function() {
					window.whiteboardMax = true;
					more.text('No More Updates');
					setTimeout(function() {
						more.animate({"opacity": 1}, 1000);
					}, 50);
				});
			}

			// For every element
			for(var x in data) {

				// Create the object, insert, and fade it in
				$(data[x]).css('display','none').insertBefore(more.closest('li')).fadeIn(700);
			}
		});

		return false;
	});
});
</script>






