<div id="intro">
	<h2 style="color:#2AA99B; margin-top:0;margin-bottom:5px;">
	Welcome to your home page!
	</h2>
	<p style="margin:0;">
	Here are a few tips on how to get the most out of Tioki.
	</p>
	<section>
		<p>
		<span class="bold caps">Find New Connections</span><br />
		Use the connection suggestion box to find other educators.
		</p>
	</section>
	<section>
		<p>
		<span class="bold caps">Explore</span><br />
		Life is what you make it, and so is Tioki. Start exploring.
		</p>
	</section>
	<section>
		<p>
		<span class="bold caps"> Events</span><br />
		Search for events that interest you!
		</p>
	</section>
	<section>
		<p>
		<span class="bold caps">The Whiteboard</span><br />
		Update your status and check out what your connections are up to.
		</p>
	</section>
</div>
<section id="main-content" class="inner-content">
	<section id="updates" style="margin-top:30px;">
		<div class="profile-thumb-medium">
			<%= image_tag @user.avatar.url(:medium) if @user.avatar? %>
			<%= image_tag("dl_icons/no_avatar_medium.jpg") unless @user.avatar? %>
		</div>
		<div>
			<h3 class="greeting">
			Welcome back, <%= @user.first_name %>
			</h3>
			<ul class="stats">
				<% if Connection.mine(:pending => true, :creator => false).count > 0 %>
					<li>
						<a href="my_connections.html">
							<div class="count">
								<span class="iconic lightbulb" style="color:#cdcdcf;font-size:32px;margin:0px 0px -5px -25px"></span>
								<%= Connection.mine(:pending => true, :creator => false).count %> 
							</div>
							Pending <%= ablang('connection.plural') %>
						</a>
					</li>
				<% end %>
				<li>
					<a href="my_connections.html">
					<div class="count connections">
					<%= User.current.pending_connections(false).count %>
					</div>
					My <%= ablang('connection.plural') %>
					</a>
				</li>
				<% if unread_messages > 0 %>
					<li>
						<a href="/messages">
							<div class="count inbox">
							<%= unread_messages %>
							</div>
							New Messages
						</a>
					</li>
				<% end %>
				<% if Application.mine(:status => true).count > 0 %>
					<li>
						<a href="teacher_applications">
							<div class="count applications">
								<%= Application.mine(:status => true).count %>
							</div>
							Job Applications
						</a>
					</li>
				<% end %>
			</ul>
		</div>
		<a target="_blank" href="http://blog.tioki.com/schedule-featured-events/" class="action-button bg-salmon" style="float:right">
			Featured Events Schedule
		</a>
	</section>
	<section id="panels">
		<section class="panel two-column left-side">
			<h3>
				<a href="#">
				Whiteboard
				</a>
			</h3>
			<section class="panel-actions">
				<div class="profile-thumb-small" style="float:left;">
					<%= image_tag @user.avatar.url(:tiny) if @user.avatar? %>
					<%= image_tag("dl_icons/no_avatar_tiny.jpg") unless @user.avatar? %>
				</div>
				<div id="submit-whiteboard" style="width:auto;">
					<form action="/share_on_whiteboard" method="post">
						<fieldset>
							<input name="message" type="text" placeholder="Write something on the whiteboard..." />
							<input type="submit" class="button" />
						</fieldset>
						<span style="float:right;margin-right:60px">
							<% if self.current_user.twitter_auth? %>
								<%= check_box_tag :share_on_twitter, 'yes', true %>
							<% else %>
								<%= check_box_tag :share_on_twitter, 'yes', false %>
							<% end %>
							<%= image_tag ('tioki/icons/twitter2.png'), :style => "height:20px;margin-bottom:-5px" %>
							<% if self.current_user.facebook_access_token %>
								<%= check_box_tag :share_on_facebook, 'yes', true %>
							<% else %>
								<%= check_box_tag :share_on_facebook, 'yes', false %>
							<% end %>
							<%= image_tag ('tioki/icons/fb_button.png'), :style => "height:20px;margin-bottom:-5px" %>
						</span>
					</form>
				</div>
			</section>
			<ul class="whiteboard">
				<% @whiteboard.each do |post| %>
					<%= raw post %>
				<% end %>
				<li><a href="#whiteboard-more" style="text-align:center;display:block;">Show More</a></li>
			</ul>
		</section> <!-- END WHITEBOARD -->
		<section id="list" class="panel one-column right-side">
			<div class="suggested-connections">
				<h3>Suggested Connections</h3>
				<ul>
						<% @suggested_connections.each do |user| %>
						<li style="width:275px;padding:12px 15px 12px 15px !important">
							<div class="profile-thumb-medium" style="float:left;margin-right:10px;margin-bottom:10px;overflow:hidden;">
								<%= link_to image_tag(user.teacher.user.avatar.url(:medium), :width => '70px', :height => '70px'), "/profile/#{user.teacher.url}" if user.teacher.user.avatar? %>
								<%= link_to image_tag("dl_icons/no_avatar_medium.jpg"), "/profile/#{user.teacher.url}" unless user.teacher.user.avatar? %>
							</div>
							<strong>
								<%= link_to "#{user.name}", "/profile/#{user.teacher.url}", :class => "byline" %>
							</strong>
							<p style="width:195px;float:left;">
								<%= link_to ablang('connection.connect'), { :controller => 'connections', :action => 'add_connection', :user_id => user.teacher.user.id }, :class => "button", :style => 'color:#FFF !important;' %>
							</p>
						</li>
						<% end %>
				</ul>
				<div class="clear"></div>
			</div>
		</section>
		<section id="list" class="panel one-column right-side">
			<h3>Discussions</h3>
			<ul>
				<% @discussions.each do |discussion| %>
					<li style="padding:12px 50px 12px 0px !important">
					<%  if self.current_user && self.current_user.teacher %>
						<div style="float:right">
							<%= link_to "Follow", { :controller => "discussions",:action => "follow_discussion", :id => discussion.id }%>
						</div>
					<% end %>
						<p><%= link_to discussion.title, discussion %></p>
						<p>
						<%= discussion.followers.count %><% if discussion.followers.count == 1 %> follower<% else %> followers<% end %>,
						<%= discussion.comment_threads.count %><% if discussion.comment_threads.count == 1 %> reply<% else %> replies<% end %>
						</p>
						<p>
							<% discussion.participants.each do |user| %>
								<% if user.avatar? %>
									<%= link_to image_tag(user.avatar.url(:tiny), :style => "max-height:20px;max-width:20px;"), "/profile/#{user.teacher.url}" %>
								<% else %>
									<%= link_to image_tag("/assets/dl_icons/no_avatar_tiny.jpg", :style => "max-height:20px;max-width:20px;")  %>
								<% end %>
							<% end %>
						</p>
					</li>
				<% end %>
			</ul>
		</section>
		<section id="list" class="panel one-column right-side">
			<%= link_to image_tag("tioki/icons/play-icon.png"),  "/me/profile/edit/upload-video", :style => "float:right;margin:17px 15px 0px 0px" %>
			<h3>
				<a href="#">
				Latest Demo Lessons
				</a>
			</h3>
			<ul>
				<% @latest_dl.each do |vid| %>
					<li>
						<a href="/profile/<%= vid.user.teacher.url %>">
							<div class="profile-thumb-small">
								<img alt="Play-icon" height="45" src="/assets/tioki/icons/play-icon.png" width="45">
							</div>
						</a>
						<p><%= vid.getMessage %></p>
						<!--div class=" quick-action star-empty">
						</div-->
					</li>
				<% end %>
			</ul>
			<section class="panel-actions demolesson">
				<a href="/me/profile/edit/upload-video" class="action-button">
				Upload Demo Lesson
				</a>
			</section>
		</section> <!-- END DEMO LESSONS -->
		<section id="list" class="panel one-column right-side">
			<h3>
				<a href="#">
				Who's Viewed Your Profile? 
				</a>
			</h3>
			<ul>
						<li style="padding:12px 15px 12px 15px !important;width:280px">
							<div class="video-thumb-small" style="background-color:#fff;margin-right:0px;text-align:center">
								<a href="/me/profile/stats" style="font-size:32px"><%= @profile_views %></a>
							</div>
							<p style="width:230px;margin-top:5px">
							
							<a href="me/profile/stats">Your profile has been viewed by <%= @profile_views %> fellow educators.</a>
							</p>
						<li>
			</ul>
		</section> <!-- END WHO'S VIEWED YOUR PROFILE -->
		<section id="list" class="panel one-column right-side">
			<%= link_to image_tag("tioki/icons/calendar.png"), "/events/new", :style => "float:right;margin:17px 15px 0px 0px;" %>
			<h3>
				<a href="#">
				Upcoming Events
				</a>
			</h3>
			<ul>
				<% rsvp = @user.rsvp.where("`end_time` >= CURDATE()").all %>
				<% if rsvp.empty? %>
					<li>You have no RSVP's. So here are some upcoming events.</li>
					<% Event.where("`end_time` >= CURDATE()").limit(3).each do |event| %>
						<li>
							<div class="calendar-thumb">
								<div class="cal-month">
								<%= event.start_time.localtime.strftime("%^b") %>
								</div>
								<div class="cal-date">
								<%= event.start_time.localtime.strftime("%e") %>
								</div>
							</div>
							<p>
							<%= link_to event.name, event %> &mdash; <%= event.description.split(' ')[0..10].join(' ') + "..." %>
							</p>
							<!--div class=" quick-action star-gold"></div-->
						</li>
					<% end %>
				<% else %>
					<% rsvp.each do |event| %>
						<li>
							<div class="calendar-thumb">
								<div class="cal-month">
								<%= event.start_time.localtime.strftime("%^b") %>
								</div>
								<div class="cal-date">
								<%= event.start_time.localtime.strftime("%e") %>
								</div>
							</div>
							<p>
							<%= link_to event.name, event %> &mdash; <%= event.description.split(' ')[0..10].join(' ') + "..." %>
							</p>
							<div class=" quick-action star-gold"></div>
						</li>
					<% end %>
				<% end %>
			</ul>
			<section class="panel-actions events">
				<a href="/events/new" class="action-button">
				Create New Event
				</a>
			</section>		
		</section> <!-- END UPCOMING EVENTS -->
		<section id="list" class="panel one-column right-side">
			<h3>My Favorites</h3>
			<ul>
				<% User.current.favorites.limit(3).where('`favorites`.`model` IS NOT NULL').each do |fav| %>
					<% next unless fav.model?(:whiteboard, :video) %>
					<% if fav.model?(:whiteboard) %>
						<% @post = fav.model! %>
						<%= render :template => 'whiteboards/favorite' %>
					<% end %>
				<% end %>
			</ul>
		</section> <!-- END MY FAVORITES -->
		<div class="clearfloat"></div>
	</section>
	<div class="clearfloat"></div>
</section> <!-- End Main Content -->

<script type="text/javascript">
// White board more
$(document).ready(function() {
	window.whiteboardPage = 1;
	window.whiteboardMax = false;

	// Load more whiteboard posts
	$('a[href="#whiteboard-more"]').click(function(e) {
		e.preventDefault();

		// If we have already reached the end of the whiteboard then stop
		if(window.whiteboardMax) return false;
		
		// Get the number for the next page of data to pull
		window.whiteboardPage++;

		// Store for future use down the stack
		more = $(this);

		// Get the next pieces of activity via JSON
		$.getJSON('/whiteboard?page=' + window.whiteboardPage, function(data) {

			// If no data was returned handle by removing the button and erroring
			if(data.length == 0) {
				more.animate({"opacity": 0}, 700, function() {
					window.whiteboardMax = true;
					more.text('No More Updates');
					setTimeout(function() {
						more.animate({"opacity": 1}, 1000);
					}, 50);
				});
			}

			// For every element
			for(var x in data) {

				// Create the object, insert, and fade it in
				$(data[x]).css('display','none').insertBefore(more.closest('li')).fadeIn(700);
			}
		});

		return false;
	});

	// Favorite a whiteboard post
	$('a[whiteboard-action="favorite"]').live('click', function(e) {
		e.preventDefault();

		var link = $(this);
		$.get(link.attr('href') + '.json', function(r) {

			// Star the post
			if(r.type == 'success' && r.new) {
				link.addClass('salmon').removeClass('gray');
				var inc = parseInt(link.children('span').text()) + 1;
				if(isNaN(inc)) link.children('span').text('1');
				else link.children('span').text(inc);
			}

			// Unstar the post
			if(r.type == 'success' && !r.new) {
				link.removeClass('salmon').addClass('gray');
				var dec = parseInt(link.children('span').text()) - 1;
				if(isNaN(dec) || dec === 0) link.children('span').text('');
				else link.children('span').text(dec);
			}
		});

		return false;
	});

	// Show the comments
	$('a[whiteboard-action="show-comments"]').live('click', function(e) {
		e.preventDefault();

		// Show the comments wrapper
		$(this).closest('div.bar').next('div.comments').slideDown(500);

		return false;
	});

	// Hide a whiteboard post
	$('a[whiteboard-action="hide"], a[whiteboard-action="delete"]').live('click', function(e) {
		e.preventDefault();

		var link = $(this);
		$.get(link.attr('href') + '.json', function(r) {
			var li = link.closest('li');

			// Hide the post
			if(r.type == 'success') li.slideUp(500, function() {
				$('span.tooltip').remove();
				$(this).remove();
			});
		});

		return false;
	});

	$('form#post-comment').submit(function(e) {
		e.preventDefault();

		var form = $(this);
		$.post(form.attr('action') + '.json', form.serialize(), function(r) {
			if(r.id !== undefined && r.type == 'success') {
				form.find('textarea').val('Posted!').prop('disabled', true);
				$.get('/comments/' + r.id, function(d) {
					comment = $(d).css({'display': 'none', 'background-color': '#F66C4C'});
					form.prev('ul').append(comment);
					comment.slideDown(500, function() {
						$('ul').scrollTo('100%', 800);
						setTimeout(function() {
							comment.animate({backgroundColor: '#FFF'}, 600, function() {
								comment.css('background-color', '');
							});
							form.find('textarea').val('').prop('disabled', false);
						}, 1000);
					});
				});
			}
		})

		return false;
	});

	// Favorite a comment
	$('a[comment-action="favorite"]').live('click', function(e) {
		e.preventDefault();

		var link = $(this);
		$.get(link.attr('href') + '.json', function(r) {

			// Star the post
			if(r.type == 'success' && r.new) {
				link.addClass('salmon').removeClass('gray');;
				var inc = parseInt(link.children('span').text()) + 1;
				if(isNaN(inc)) link.children('span').text('1');
				else link.children('span').text(inc);
			}

			// Unstar the post
			if(r.type == 'success' && !r.new) {
				link.removeClass('salmon').addClass('gray');;
				var dec = parseInt(link.children('span').text()) - 1;
				if(isNaN(dec) || dec === 0) link.children('span').text('');
				else link.children('span').text(dec);
			}
		});

		return false;
	});

	// Delete a comment
	$('a[comment-action="delete"]').live('click', function(e) {
		e.preventDefault();

		var link = $(this);
		$.get(link.attr('href') + '.json', function(r) {
			var li = link.closest('li');

			// Hide the post
			if(r.type == 'success') li.slideUp(500, function() {
				$('span.tooltip').remove();
				$(this).remove();
			});
		});

		return false;
	});

	//Came to comments from email
	if(window.location.hash.indexOf("whiteboard_comments") >= 0){
		var hash = window.location.hash;
		$(hash).click();
	}
});
</script>

<% if !cookies[:teacherdashboard_viewed] %>
	<script type="text/javascript">
		$(document).ready(function() {
			$('body').introOverlay({
				introLength: 10000, // anything numeric no quotes
				transitionSpeed: 400, // ditto
				introAutoFade: false, //timed fade on overlay...true or false
				introCloseBtn: true, //btn to close overlay...true or false
				introTransition: 'fade', //different transition options 'fade', 'slideUp', 'slideLeft', 'slideCenter'
				openAnimation: true, //opening animation...true or false
				introContent: '#intro', //where the content is at, uses css selector # for id, and . for class
				cookieActive : false,
				/* also you can use 'href' to load content for a seperate page..
				when using href it also uses the class of the clicked element to find the content...
				it goes like this .load(href class); check source for use */ 
				introTemplate: 'full', // either 'full' or 'module'
				introTurnOffLights: false, //turn off and on lights...true or false
			});
		});
	</script>
	<% cookies[:teacherdashboard_viewed] = { :value => true, :expires => 1.month.from_now } %>
<% end %>

