<section id="main-content" class="inner-content" style="margin-bottom: 30px;margin-top: 30px">	
	
	<section class="two-column left-side" style="width:450px;height:285px;margin-bottom:35px;">
		<h1 style="margin-top:0px;color:#2AA99B">
			How Tioki can Work for You
		</h1>
		<h3>
			Recruiting the best teachers is one of your most important, yet most difficult tasks. Tioki makes finding the right educators easier than ever before!
		</h3>
		<p style="width:450px">
			Tioki gives you access to thousands of teachers around the country actively seeking new opportunities with organizations like yours.						
		</p>
		<%= link_to "Get Started for Free", "/school_signup", :class => "button huge-button" %>
	</section>
	
	<section class="two-column right-side" style="width:450px;height:285px;margin-bottom:35px;">
		<%= image_tag ("/assets/tioki/schools/school_hiw_main.png"), :style => "width:450px;height:285px" %>
	</section>
	
	
	<section id="panels">
		<section class="one-column left-side">
			<%= image_tag("/assets/tioki/schools/school_hiw_1.png", :border => 1, :style => "width:310px;height:192px") %>
			<h3>
				Create a Company Profile
			</h3>
			<p style="width:auto;">
				Market your institute the way you want to. The more details you provide candidates with, the more likely you'll attract the best!
				<br/><br/>
				Want an example? <%= link_to 'Check this one out >>', 'http://tioki.com/schools/102311', :style => "color:#F66C4C", :target => "_blank" %>
			</p>
		</section>
		<section class="one-column left-side">
			<%= image_tag("/assets/tioki/schools/school_hiw_2.png", :border => 1, :style => "width:310px;height:192px") %>
			<h3>
				Post a Job Opening
			</h3>
			<p style="width:auto">
				Let the education world know that you are looking for amazing educators. You can even forward applicants to your current review funnel.
				<br/><br/>
				More about <%= link_to 'pricing and payment >>', '/schoolpricing', :style => "color:#F66C4C", :target => "_blank" %>
			</p>
		</section>
		<section class="one-column right-side">
			<%= image_tag("/assets/tioki/schools/school_hiw_3.png", :border => 1, :style => "width:310px;height:192px") %>
			<h3>
				Review Amazing Applicants
			</h3>
			<p style="width:auto">
				Review candidates' profiles and choose your next action: Invite candidates to interview, message applicants, forward to colleagues, etc.
				<br/><br/>
				<%= link_to 'See an example teacher profile >>', 'http://tioki.com/profile/117021juliafranco', :style => "color:#F66C4C", :target => "_blank" %>
			</p>
		</section>
	</section>	
	<!--End How It Works Section-->
	
	<section class="two-column left-side" style="margin: 30px 0px 70px 0px">
	<%= link_to "Start Posting Now", '/school_signup', :class => "button huge-button", :style => "float:right;text-align:center" %>
	</section>
</section>
