<section id="main-content" style="padding-bottom:100px;">
	
	<!--Start of the Main Content -->
	<div class="features-slider" style="height:444px;-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);-moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);">
		<div id="featured">
			<img src="/assets/tioki/job_seekers/job_seeker_image.png" data-caption="#one-caption" />
		</div>
		<!-- Captions for Orbit -->
		<span class="orbit-caption" id="one-caption">
			<div class="signup-form-schools">
				<h3 style="color:#fff;margin:0px">
					Looking for the perfect position for you?
				</h3>
				<blockquote>
					<strong>Tioki</strong> can help.
				</blockquote>
				<h4 style="color:#2AA99B;margin-bottom:15px">
				Tioki is the perfect place to set yourself apart from the resume pile and showcase the things that make you unique. Take advantage of skill tags, videos, and innovative profile tools to showoff the best you have to offer, and utilize our robust database of jobs to find the position of your dreams.
				</h2>

		<%= link_to "Get Started For Free", "/signup", :class => "button med-button" %>
			</div>
		</span>
	</div>
	
	<!-- Start of the HIW Section -->
	<section class="white-bg inner-content" style='height:400px'>
		
		<h2 style="color: #2AA99B;padding-top: 20px;margin-top: 0px;">
			Your Dream Job is Three Easy Steps Away	
		</h2>
		<section  style='font-size:16px'>
			<section class="one-column left-side" style='text-align:center;width:250px;padding:0 30px 0 30px'>
				
				<!-- How It works Content -->
				<%= image_tag("/assets/tioki/icons/green_circle_1.png", :style => 'width:35px;margin-bottom:-10px')%>
				<!--strong>Build</strong--><br /><br/>
				<span style='width:225px'>
					<strong>Build</strong> a beautiful professional profile that includes experience, skills, video, and more. Build it once and use it numerous times. 
				</span>
				</br><br>
				
				<!-- Container for the How it works Image-->
				<section style='width:100%;text-align:center'>
					<%= image_tag("/assets/tioki/job_seekers/create_profile2.png", :style => "width:180px;") %>
				</section>
				
				
			</section>
			
			<section class="one-column left-side" style='text-align:center;width:250px;padding:0 30px 0 30px'>
				
				<%= image_tag("/assets/tioki/icons/green_circle_2.png", :style => 'width:35px;margin-bottom:-10px;')%>
				<br/><br/>
					<strong>Apply</strong> to any of the hundreds of jobs available now and stand out from the rest of the pile by showcasing your awesome profile.
				<br><br>
				
				<section style='width:100%;text-align:center'>
					<%= image_tag("/assets/tioki/job_seekers/apply_image2.png", :style => "width:180px;") %>
				</section>	
			</section>
			
			<section class="one-column right-side" style='text-align:center;width:250px;padding:0 30px 0 30px'>
				
				<%= image_tag("/assets/tioki/icons/green_circle_3.png", :style => 'width:35px;margin-bottom:-10px;')%>
				<br/><br>
					<strong>Relax</strong>, as we send you status updates on your applications, as well as new job opportunities that match your interests.
				<br><br>
				
				<section style='width:100%;text-align:center'>
					<%= image_tag("/assets/tioki/job_seekers/relax.png", :style => "width:180px") %>
				</section>	
			</section>
		</section>

	</section>
	
	<section class="grey-bg inner-content" style='height:100px;text-align:center'>
		<h1 style='color:#2AA99B;margin-top:0px;padding-top:20px'>
			<em>Stand Out From the Crowd with a Tioki Profile</em>
		</h1>	
	</section>
	
	<!-- White Background -->
	<section class='white-bg inner-content' style='height:auto'>
		<!-- Giving some padding to the container holding the information -->
		<section style='height:590px;padding-top:30px'>
			
			<!-- Center Title of the Section -->
			<section class='three-column left-side' style='text-align:center'>
				<h2 style="margin:0 0 0 0;color:#2AA99B">
					Your Tioki Profile
				</h2>
				<h3 style='margin-top:5px'>
					Build. Apply. Relax.
				</h3>
			</section>
			
			<!-- Left-Side Column with profile information -->
			<section class="one-column left-side" style="width:200px;text-align:center">
				<p style="width:200px">
					<strong>
						Mini Bio
					</strong> 
					<br>
					Reveal what makes you as a professional and as an educator.					
				</p>
				<p style="width:200px;margin-top:50px">
					<strong>
						Professional Skills
					</strong> 
					<br>
					Have your professional network vouch for your classroom strengths.					
				</p>
				<p style="width:200px;margin-top:50px">
					<strong>
						Video
					</strong> 
					<br>
					The best way to project your teaching prowess is by showcasing it!					
				</p>
			</section>
	
			<section class="two-column left-side" style="width:530px;height:285px;margin-bottom:35px;text-align:center">
				<%= image_tag ("/assets/tioki/job_seekers/jeff_seeker.png"), :style => "width:500px;height:400px;-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);" %>
			</section>
			
			<section class="one-column right-side" style="width:200px;text-align:center">
				<p style="width:200px">
					<strong>
						Professional Photo
					</strong> 
					<br>
					A professional photo will help enhance your appeal as a candidate. 					
				</p>
				<p style="width:200px;margin-top:50px">
					<strong>
						Technology
					</strong> 
					<br>
					Show how tech-savvy you are by tagging the different EdTech you utilize.					
				</p>
				<p style="width:200px;margin-top:50px">
					<strong>
						Groups
					</strong> 
					<br>
					Joining groups shows that you're professionally active and constantly developing.						
				</p>
				
			</section>
			
			<section class='three-column left-side' style='text-align:center;margin-top:75px'>
				<%= link_to "Start Building Your Profile", "/welcome_wizard?x=step1&job_seeker_splash", :class => "button med-button" %>
			</section>
			
		</section>
	
	
	
		
	</section>

</section>	
