<section id="main-content" style="padding-bottom:100px;">
	<section class="white-bg wrapper" style='height:525px;background:url("/assets/tioki/schools/recruiter_searching_slim.jpg") center'>
		<div class="features-slider" style="height:444px">
			<div id="featured">
				<!--Blank image 1020 by 525 to maintain the container -->
				<img src="/assets/tioki/schools/featured_blank.png" data-caption="#one-caption" />
			</div>
			<!-- Captions for Orbit -->
			<span class="orbit-caption" id="one-caption">
				<div class="signup-form-schools">
					<h3 style="color:#fff;margin:0px">
						Looking to hire great talent?
					</h3>
					<blockquote>
						<strong>Tioki</strong> can help.
					</blockquote>
					<h4 style="color:#2AA99B;margin-bottom:15px">
					Tioki gives you access to thousands of professionals around the country actively seeking new opportunities with organizations like yours. We give you the right tools to effectively and efficiently filter through the applicant pool to find the best fit.
					</h2>
	
			<%= link_to "Get Started for Free", "/school_signup", :class => "button huge-button" %>
				</div>
			</span>
		</div>
	</section>
	
	<section class="inner-content" style='height:300px;margin-top:30px'>
		<section class="two-column left-side" style="width:450px;height:285px;margin-bottom:35px;">
			<h2 style="margin-top:0px;color:#2AA99B">
				How Tioki Can Work for You
			</h2>
			<h4>
				Recruiting the best people is one of your most important, yet most difficult tasks. Tioki makes finding the right candidates easier than ever before!
			</h4>
			<p style="width:450px">
				With Tioki, you'll have access to tools, such as video, detailed educator profiles, and an innovative applicant management system, to quickly find the best candidates for your position.						
			</p>
		</section>
	
		<section class="two-column right-side" style="width:450px;height:285px;margin-bottom:35px;">
			<%= image_tag ("/assets/tioki/schools/school_hiw_main.png"), :style => "width:450px;height:285px" %>
		</section>
	</section>
	
	<section class="white-bg wrapper" style='height:500px'>
		<section class='inner-content'>
			<h2 style="color: #2AA99B;padding-top: 20px;margin-top: 0px;">
				How it Works	
			</h2>
			<section  style='font-size:16px'>
				<section class="one-column left-side" style=''>
					<!-- Container for the How it works Image-->
					<section style='width:100%;text-align:center'>
						<%= image_tag("/assets/tioki/schools/schoolhouse.png", :style => "width:180px;") %>
					</section>
					<br/>
						<!-- How It works Content -->
						<%= image_tag("/assets/tioki/icons/green_circle_1.png", :style => 'width:35px;margin-bottom:-10px')%>
						<strong>Create a Company Profile</strong><br /><br/>
						Attract the best talent by emphasizing the
						things that make your organization so 
						great. The more you share, the more the 
						right candidates will apply.</br><br/>
						Check out this <%= link_to 'great example >>', 'http://tioki.com/groups/338-crown-preparatory-academy', :style => "color:#F66C4C", :target => "_blank" %>
				</section>
				
				<section class="one-column left-side" style=''>
					<section style='width:100%;text-align:center'>
						<%= image_tag("/assets/tioki/schools/post_job.png", :style => "width:180px;") %>
					</section>
					<br/>
					
						<%= image_tag("/assets/tioki/icons/green_circle_2.png", :style => 'width:35px;margin-bottom:-10px;')%>
						<strong>Post Your Jobs</strong><br/><br/>
						Let the education world know that you are 
						looking for amazing professionals. You can even
						forward applicants to your current management platform<br><br/>
						See more on <%= link_to 'pricing and payment >>', '/schoolpricing', :style => "color:#F66C4C", :target => "_blank" %>
				</section>
				
				<section class="one-column right-side" style=''>
					<section style='width:100%;text-align:center'>
						<%= image_tag("/assets/tioki/schools/review_applicants.png", :style => "width:180px") %>
					</section>
					<br/>
					
						<%= image_tag("/assets/tioki/icons/green_circle_3.png", :style => 'width:35px;margin-bottom:-10px;')%>
						<strong>Review Amazing Applicants</strong><br/><br>
						Review candidates' Tioki profiles and 
						choose your next action step: set-up an 
						interview, message them, forward to 
						colleagues, etc.<br><br/>
						<%= link_to 'See an example teacher profile >>', 'http://tioki.com/profile/mandela/resume', :style => "color:#F66C4C", :target => "_blank" %>
				</section>
			</section>
		</section>
	</section>
	
	<section class="press inner-content" style='padding-top:10px'>
		<h3 style="text-align:center">
		Who uses Tioki to recruit top educators?
		</h3>
		<article class="featured-thumb">
			<a href="http://tioki.com/groups/335-oakland-unified-school-district" target="_blank">
				<img src="/assets/tioki/ourcustomers/oakland_square.png" alt="" style="width:150px"/>
			</a>
		</article>
		<article class="featured-thumb">
			<a href="http://tioki.com/groups/590-kipp-new-orleans-schools" target="_blank">
				<img src="/assets/tioki/ourcustomers/kipp_logo.png" alt="" style="width:150px"/>
			</a>
		</article>
		<article class="featured-thumb">
			<a href="http://tioki.com/groups/632-building-excellent-schools" target="_blank">
				<img src="/assets/tioki/ourcustomers/BES.png" alt="" style="width:150px"/>
			</a>
		</article>
		<article class="featured-thumb">
			<a href="http://tioki.com/groups/279-green-dot-public-schools" target="_blank">
				<img src="/assets/tioki/ourcustomers/green_dot.png" alt="" style="width:150px"/>
			</a>
		</article>
		<article class="featured-thumb last-thumb">
			<a href="http://tioki.com/groups/622-summit-public-schools" target="_blank">
				<img src="/assets/tioki/ourcustomers/summit.png" alt="" style="width:150px"/>
			</a>
		</article>
		<div class="clearfloat"></div>
		
		<section class="two-column left-side" style="margin: 30px 0px 70px 0px">
		<%= link_to "Start Posting Now", '/school_signup', :class => "button huge-button", :style => "float:right;text-align:center" %>
		</section>
	</section>

</section>	
