<%= form_for(@award) do |f| %>
  <% if @award.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@award.errors.count, "error") %> prohibited this award from being saved:</h2>

      <ul>
      <% @award.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
	<p>
    Title:<br />
    <%= f.text_field :title %>
	</p>
  </fieldset>
  <fieldset>
    <p>
	Issuer<br />
    <%= f.text_field :issuer %>
	</p>
  </fieldset>
  <fieldset>
    <p>
	Date<br />
   <%= f.date_select( "date", :start_year => 1940, :end_year => Time.now.year+1)%>
	</p>
  </fieldset>
  <fieldset>
    <p>
	Description<br />
    <%= f.text_area:description %>
	</p>
  </fieldset>
  <div class="actions">
    <%= f.submit %> <%= link_to 'Cancel', awards_path %>
  </div>
<% end %>

