<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @award.title %>
</p>

<p>
  <b>Issuer:</b>
  <%= @award.issuer %>
</p>

<p>
  <b>Date:</b>
  <%= @award.date %>
</p>

<p>
  <b>Description:</b>
  <%= @award.description %>
</p>

<p>
  <b>Teacher:</b>
  <%= @award.teacher_id %>
</p>


<%= link_to 'Edit', edit_award_path(@award) %> |
<%= link_to 'Back', awards_path %>
