<section id="main-content" class="inner-content">	
	<%= form_for @teacher, :html => { :multipart => true } do |f| %>
		<section class="profile group">
			<section class="left-sidebar">
				<h1>
				Edit Profile
				</h1>
				<p>
				View a <a href="/profile/Mandela">sample profile</a> to see what your completed one will look like.
				</p>
				<div class="profile-thumb-medium">
					<%= @teacher.user.avatar(:medium) if @teacher.user.avatar? %>
					<%= image_tag('dl_icons/no_avatar_medium.jpg') unless @teacher.user.avatar? %>
				</div>
				<h3>
				<%= @teacher.user.name %>
				</h3>
				<section class="profile-info group">
					<p class="heading top-line">
					Headline
					</p>
					<p>
					The headline is limited to 140 characters.
					</p>
					<%= f.text_area :headline, :maxlength => 140 %>
					<p class="bold">
					Phone
					</p>
					<%= f.text_field :phone %>
					<p class="bold">
					LinkedIn Profile
					</p>
					<%= f.text_field :linkedin %>
				</section>
				<section class="profile-info group">
					<p class="heading top-line">
					Current Position
					</p>
					<p class="bold">
					Position
					</p>
					<%= f.text_field :position %>
					<p class="bold">
					School
					</p>
					<%= f.text_field :school %>
					<p class="bold">
					Location
					</p>
					<%= f.text_field :location %>
				</section>
			</section> <!-- End Sidebar -->
			<section class="right-sidebar">
			
			<input type="submit" class="huge-button" value="Save Changes">
			</section>
		</section> <!-- End Profile -->
	<% end %>
</section> <!-- End Main Content -->