<section id="main-content" class="inner-content">

	<h1>
	Edit Experience
	</h1>

	<div id="attach_form">
		<%= form_for @experience, :as => :experience, :url => '/update_existing_experience/'+@experience.id.to_s do |f| %>

			<fieldset>
				<p>
				Company, District or School
				</p>
				<%= f.text_field :company %>
			</fieldset>
			<fieldset>
				<p>
				Start Date: 
				<%= select_month(Date.today, :add_month_numbers => false, :field_name => :startMonth) %>
				<%= select_year(Date.today, :field_name => :startYear, :start_year => 1940, :end_year => Time.now.year+1) %>
				</p>
			</fieldset>

			<fieldset>
				<p>
				End Date:  
				<%= select_month(Date.today, :add_month_numbers => false, :field_name => :endMonth) %>
				<%= select_year(Date.today, :field_name => :endYear, :start_year => 1940, :end_year => Time.now.year+1) %>
				</p>
			</fieldset>
			<fieldset>
				<label>
					<%= check_box_tag 'current', 'yes', false, :class => 'current' %> 
					I currently work here
				</label>
			</fieldset>
			<fieldset>
				<p>
				Title/Position
				</p>
				<%= f.text_field :position %>
			</fieldset>
			<fieldset>
				<p>
				Description
				</p>
				<%= f.text_area :description %>
			</fieldset>

			<fieldset>
    			<input name="commit" type="submit" value="Update" onclick="$('#loader').show('fast');" class="button" />
				<%= link_to 'Cancel', :back %>
			</fieldset>
			
			<div id="loader" style="display: none">
				<%= image_tag('tioki/icons/loader.gif') %>
			</div>

		<% end %>
	</div>
</section>