<section id="main-content" class="inner-content">
	<h1>Education</h1>

	<div class="attached">
		<% for education in @teacher.educations %>
			<p>
			<span class="purge" style="float:right"><%= link_to 'Edit', '/edit_education/'+education.id.to_s %><br /><%= link_to 'Remove?', '/remove_education/'+education.id.to_s, :confirm => 'Are you sure you want to remove '+education.school+' from your profile?' %></span>	
			<strong><%= education.school %></strong>
			<% if education.current == true %>
				Currently Attending 
				<% if education.start_year.present? %>
					Since <%= education.start_year %>
				<% end %><br />
				<% if education.year.present? %>
					Expected Graduation: <%= education.year %><br />
				<% end %>
			<% else %>
				<% if !education.year.present? %>
				<% else %>
					<% if !education.start_year.present? %>
						<%= education.year %><br />
					<% else %>
						<%= education.start_year %>-<%= education.year %><br />
					<% end %>
				<% end %>
			<% end %>
			<%= education.degree %><br />
			<%= education.concentrations %>
			</p>
		<% end %>
	</div>

	<div id="attach_new_btn">
		<input name="attach" type="button" value="Add Education Details" onclick="$('#attach_form').show('fast'); $('#attach_new_btn').hide();" class="button"/>
			<%= link_to 'Edit Profile', '/me/profile/edit' %>
	</div>

	<div id="attach_form" style="display: none">
		<%= form_for @education, :as => :education, :url => '/update_education' do |f| %>
			<fieldset>
				<p>
				School/University
				</p>
				<%= f.text_field :school %>
			</fieldset>
			<fieldset>
				<p>
				Degree
				</p>
				<%= f.text_field :degree %>
			</fieldset>
			<fieldset>
				<p>
				Major
				</p>
				<%= f.text_field :concentrations %>
			</fieldset>
			<fieldset>
				<p>
				Start Year
				</p>
				<%= select("education", "start_year", YEARS_ARRAY.reverse, :include_blank => true) %>	
			</fielset>
			<fieldset>
				<p>
				Graduation Year
				</p>
				<%= select("education", "year", YEARS_ARRAY.reverse, :include_blank => true) %>	
			</fieldset>	
			<fieldset>
				<label>
					<%= f.check_box :current %> 
					I am currently attending here
				</label>
			</fieldset>
			<fieldset>
				<input name="commit" type="submit" value="Submit" onclick="$('#loader').show('fast');" class="button" />
				<%= link_to 'Edit Profile', '/me/profile/edit' %>
			</fieldset>

			<div id="loader" style="display: none">
				<%= image_tag('tioki/icons/loader.gif') %>
			</div>

		<% end %>
	</div>
</section>
