<section id="main-content" class="inner-content">
	<h1>Experience</h1>

	<div class="attached">
		<% for experience in @teacher.experiences %>
			<p>
				<span class="purge" style="float:right">
					<%= link_to 'Edit', '/edit_experience/'+experience.id.to_s %><br />
					<%= link_to 'Remove?', '/remove_experience/'+experience.id.to_s, :confirm => 'Are you sure you want to remove '+experience.company+' from your profile?' %>
				</span>	
				<strong>
				<%= experience.position %><br />
				<%= experience.company %>
				</strong><br />
				<% if experience.current == true %>
					 <%= Time.strptime(experience.startMonth.to_s+"/"+experience.startYear.to_s, "%m/%Y").strftime("%B %Y") %> - Present<br />
				<% else %>
					<%= Time.strptime(experience.startMonth.to_s+"/"+experience.startYear.to_s, "%m/%Y").strftime("%B %Y") %> - <%= Time.strptime(experience.endMonth.to_s+"/"+experience.endYear.to_s, "%m/%Y").strftime("%B %Y") %><br />
				<% end %>
				<%= experience.description %>
	
			</p>
		<% end %>
	</div>

	<div id="attach_new_btn">
		<input name="attach" type="submit" value="Add a New Position" onclick="$('#attach_form').show('fast'); $('#attach_new_btn').hide();" class="button"/>
		<%= link_to 'Edit Profile', '/me/profile/edit' %>
	</div>

	<div id="attach_form" style="display: none">
		<%= form_for @experience, :as => :experience, :url => '/update_experience' do |f| %>
			<fieldset>
				<p>
				Company, District or School
				</p>
				<%= f.text_field :company %>
			</fieldset>
			<fieldset>
				<p>
				Start Date: 
				<%= select_month(Date.today, :add_month_numbers => false, :field_name => :startMonth) %>
				<%= select_year(Date.today, :field_name => :startYear, :start_year => 1940, :end_year => Time.now.year+1) %>
				</p>
			</fieldset>
			<fieldset>
				<p>
				End Date:
				<%= select_month(Date.today, :add_month_numbers => false, :field_name => :endMonth) %>
				<%= select_year(Date.today, :field_name => :endYear, :start_year => 1940, :end_year => Time.now.year+1) %>
				</p>
			</fieldset>
			<fieldset>
				<label>
					<%= check_box_tag 'current', 'yes', false, :class => 'current' %> 
					I currently work here
				</label>
			</fieldset>
			<fieldset>
				<p>
				Title/Position
				</p>
				<%= f.text_field :position %>
			</fieldset>
			<fieldset>
				<p>
				Description (optional)
				</p>
				<%= f.text_area :description %>
			</fieldset>
			<fieldset>
				<input name="commit" type="submit" value="Submit" onclick="$('#loader').show('fast');" class="button" />
				<%= link_to 'Edit Profile', '/me/profile/edit' %>
			</fieldset>

			<div id="loader" style="display: none">
				<%= image_tag('tioki/icons/loader.gif') %>
			</div>
		<% end %>
		<script type="text/javascript">
		$(document).ready(function() {
			$("#date_startMonth").chosen();
			$("#date_startYear").chosen();
			$("#date_endMonth").chosen();
			$("#date_endYear").chosen();
		});
		</script>
	</div>
</section>