<section id="main-content" class="inner-content">
  <link href="http://vjs.zencdn.net/c/video-js.css" rel="stylesheet">
  <script src="http://vjs.zencdn.net/c/video.js"></script>
	<section class="profile group">
		<nav class="subpage">
			<ul>
				<li class="current">
					Tioki Profile
				</li>
				<!--li>
					<a href="terms.html">
					Card Profile
					</a>
				</li-->
				<!--li>
					<a href="privacy.html">
					Profile Stats
					</a>
				</li-->
			</ul>
		</nav>
		<section class="sidebar">
			<div class="profile-thumb-large">
				<%= image_tag(@teacher.user.avatar.url(:medium), :width => "160") if @teacher.user.avatar? %>
				<%= image_tag('dl_icons/no_avatar_large.jpg') unless @teacher.user.avatar? %>
			</div>
			<h3>
			<%= @teacher.user.name %>
			</h3>
			<p>
			<%= @teacher.headline %>
			</p>
			<% # IF this is my profile allow me to edit %>
			<% if !self.current_user.nil? && self.current_user.teacher == @teacher %>
				<a href="/me/profile/edit" class="action-button bg-salmon">
				Edit Profile
				</a>
			<% elsif !self.current_user %>
				<a href="/welcome_wizard?x=step1&user_connection=<%= @teacher.user.id %>" class="action-button bg-salmon">
					   Connect
				</a>
			<% elsif User.current.connections.collect(&:user_id).include? @teacher.user_id %>
			  <%= link_to "Send Message", { :controller => 'messages', :action => 'new', :user_id_to => @teacher.user_id }, {:class => "action-button bg-salmon"} %>
			<% elsif User.current.school != nil %>
			  <%= link_to "Send Message", { :controller => 'messages', :action => 'new', :user_id_to => @teacher.user_id }, {:class => "action-button bg-salmon"} %>
			<% elsif User.current.teacher != nil %>
			  <%= link_to "Connect", { :controller => 'connections', :action => 'add_connection', :user_id => @teacher.user_id }, :class => "action-button bg-salmon" %>
			<% end %>
			<section class="info">
				<% unless @teacher.user.email.empty? %>
					<p>
					<span class="bold black">Email:</span>
					<%= @teacher.user.email %>
					</p>
				<% end %>
				<% unless @teacher.phone == nil %>
					<p>
					<span class="bold black">Phone:</span>
					<%= @teacher.phone %>
					</p>
				<% end %>
				<% unless @teacher.linkedin == nil || @teacher.linkedin == 'http://linkedin.com/' %>
					<a href="<%= @teacher.linkedin %>" target="_blank">
						<%= image_tag('tioki/icons/LinkedIn_IN_Icon_25px.png') %>
					</a>
				<% end %>
			</section>
			<section class="info">
				<p class="heading">
				Currently
				</p>
				<p>
				<span class="bold black">Position:</span>
				<%= @teacher.position %>
				</p>
				<p>
				<span class="bold black">School:</span>
				<%= @teacher.school %>
				</p>
				<p>
				<span class="bold black">Location:</span>
				<%= @teacher.location %>
				</p>
			</section>
			<section class="info">
				<p class="heading">
				Skills
				</p>
				<% @teacher.skills.each do |skill| %>
					<p class="skills">
						<a href="#" data-skillgroup="<%= skill.skill_group.badge_name %>">
						<%= skill.name %>
						</a>
					</p>
				<% end %>
			</section>
		</section> <!-- End Sidebar -->
		<section class="profile-content">
						<% if @teacher.video_embed_url? %>
						  <div class="profile-video panel">
							<%= @teacher.video_embed_html.html_safe %>
						  </div>
						<% elsif @video != nil%>
						  <div class="profile-video panel">
							<%= @embed_code.html_safe %>
						  </div>
						<% end %>
			<section class="video-actions group">
				<% if self.current_user && self.current_user.teacher == @teacher %>
					<% unless @teacher.video_embed_html == nil && @video == nil%>
						<a href="/me/profile/edit/upload-video" class="action-button edit-video bg-green">
						Edit Video
						</a>
					<% else %>
						<a href="/me/profile/edit/upload-video" class="action-button edit-video bg-green">
						Add a Video
						</a>
					<% end %>
				<% end %>
				<% unless @teacher.video_embed_html == nil && @video == nil%>
					<ul class="stats">
						<li>
							<div class="count favorites">
							47
							</div>
						</li>
					</ul>
				<% end %>
			</section>
			<% unless @teacher.user.skill_groups.empty? && self.current_user == nil %>
				<section class="profile-info group skill-groups">
					<p class="heading">
					Skill Groups <span style="margin-left:15px;color:#F66C4C;" data-skillgroup-name="true"></span>
					<% if self.current_user != nil && @teacher == self.current_user.teacher %>
						 &mdash; 
						<a href="/me/profile/edit/skills">Edit</a>
					<% end %>
					</p>

					<% @teacher.user.skill_groups.each do |skill_group| %>
						<div class="badge <%= skill_group.badge_name %>" data-skillgroup="<%= skill_group.badge_name %>" data-skillgroup-name="<%= skill_group.name %>" style="float:left;">
							<% if @teacher.user.vouched_skill_groups.collect(&:id).include? skill_group.id %>
								<img src="/card-assets/images/greencheck.png" style="position:absolute;top:15px;left:15px" />
							<% end %>
						</div>
					<% end %>
				</section>
			<% end %>
			<% unless @teacher.educations.empty? && self.current_user == nil %>
				<section class="profile-info group">
					<p class="heading">
					Education
					<% if self.current_user != nil && @teacher == self.current_user.teacher %>
						 &mdash; 
						<a href="/me/profile/edit/education">Edit</a>
					<% end %>
					</p>
					<% @teacher.educations.each do |edu| %>
						<p>
												<%= edu.school %> 
												<% if edu.current == true %>
														Currently Attending 
														<% if edu.start_year.present? %>
																Since <%= edu.start_year %>
														<% end %><br />
														<% if edu.year.present?  %>
																Expected Graduation: <%= edu.year %><br />
														<% end %>
												<% else %>
														<% if !edu.year.present? %>
														<% else %>
																<% if !edu.start_year.present? %>
																		<%= edu.year %><br />
																<% else %>
																		<%= edu.start_year %>-<%= edu.year %><br />
																<% end %>
														<% end %>
												<% end %>
						</p>
						<% unless edu.degree.nil? || edu.degree.empty? %>
							<p>
							<%= edu.degree %>
							</p>
						<% end %>
						<% unless edu.degree.nil? || edu.concentrations.empty? %>
							<p>
							<%= edu.concentrations %>
							</p>
						<% end %>
					<% end %>
				</section>
			<% end %>
			<% unless @teacher.credentials.empty? && self.current_user == nil %>
				<section class="profile-info group">
					<p class="heading">
					Credentials
					<% if self.current_user != nil && @teacher == self.current_user.teacher %>
						 &mdash; 
						<a href="/me/profile/edit/credentials">Edit</a>
					<% end %>
					<p>
					<% @teacher.credentials.each do |credential| %>
						<p>
						<%= credential.name %>
						</p>
						<p>
						<%= credential.issuer %>
						</p>
						<p>
						<%= credential.credentialType %>
						</p>
					<% end %>
				</section>
			<% end %>
			<% unless @teacher.experiences.empty? && self.current_user == nil %>
				<section class="profile-info group">
					<p class="heading">
					Experience
					<% if self.current_user != nil && @teacher == self.current_user.teacher %>
						 &mdash; 
						<a href="/me/profile/edit/experience">Edit</a>
					<% end %>
					</p>

					<% @teacher.experiences.each do |experience| %>
						<p>
						<strong><%= experience.company %></strong> 
						<% if experience.startMonth != nil %>
							Since <%= experience.startMonth.to_s+"."+experience.startYear.to_s %>
						<% end %>
						<% if experience.endMonth != nil %>
							 Till <%= experience.endMonth.to_s+"."+experience.endYear.to_s %>
						<% end %>
						</p>
						<p>
						<%= experience.position %>
						</p>
						<p>
						<%= experience.description %>
						</p>
					<% end %>
				</section>
			<% end %>
			<% unless @teacher.assets.empty? && self.current_user == nil %>
				<section class="profile-info group">
					<p class="heading">
					Attachments
					<% if self.current_user != nil && @teacher == self.current_user.teacher %>
						 &mdash; 
						<a href="/profileattachments">Edit</a>
					<% end %>
					</p>

					<% if User.current.nil? %>
						<p>Please <%= link_to "login", '/login' %> to view profile attachments.</p>
					<% else %>
						<% @teacher.assets.each do |asset| %>
							<% if asset.assetType != 1 %>
								<%= link_to image_tag('tioki/icons/attachment.png') + asset.name, asset.file.url %>
								<p>
								<%= asset.description %>
								</p>
							<% end %>
						<% end %>
					<% end %>
				</section>
			<% end %>
			
		</section> <!-- End Profile Content -->
	</section> <!-- End Profile -->
</section> <!-- End Main Content -->

<script type="text/javascript">
$(document).ready(function() {
	$('div.badge').hover(function() {
		$('a[data-skillgroup="' + $(this).attr('data-skillgroup') + '"]').each(function() {
			console.log('over');
			$(this).css({'color': '#F66C4C'});
		});
		$('span[data-skillgroup-name="true"]').text($(this).attr('data-skillgroup'));
	},function() {
		$('a[data-skillgroup="' + $(this).attr('data-skillgroup') + '"]').each(function() {
			console.log($(this));
			$(this).css({'color': '#2AA99B'});
		});
		$('span[data-skillgroup-name="true"]').text('');
	});
});
</script>
