<section id="main-content" class="inner-content">
	<section class="profile group">
		<nav class="subpage">
			<ul>
				<li class="current">
					Tioki Profile
				</li>
				<!--li>
					<a href="terms.html">
					Card Profile
					</a>
				</li-->
				<% if self.current_user != nil && @teacher == self.current_user.teacher %>
					<li>
						<a href="/me/profile/stats">
						Profile Stats
						</a>
					</li>
				<% end %>
			</ul>
		</nav>
		<section class="sidebar">

			<!-- Avatar -->
			<div class="profile-thumb-large">
				<% if (@connected || @guest || !@teacher.user.privacy["avatar"]) && @teacher.user.avatar? %>
					<%= image_tag(@teacher.user.avatar.url(:medium), :width => "160") %>
				<% else %>
					<%= image_tag('dl_icons/no_avatar_large.jpg') %>
				<% end %>
			</div>

			<!-- Name / Headline -->
			<h3><%= @teacher.user.name %></h3>
			<p><%= @teacher.headline %></p>

			<!-- Connection Options -->
			<% # IF this is my profile allow me to edit %>
			<% if !self.current_user.nil? && self.current_user.teacher == @teacher %>
				<a href="/me/profile/edit" class="action-button bg-salmon">
				Edit Profile
				</a>
			<% # IF im not a user then let me register %>
			<% elsif !self.current_user %>
				<a href="/welcome_wizard?x=step1&user_connection=<%= @teacher.user.id %>" class="action-button bg-salmon">
				Connect
				</a>
			<% # IF we are already connected or if i am a school allow me to send a message %>
			<% elsif self.current_user.connections.collect(&:user_id).include? @teacher.user_id || !self.current_user.school.nil? %>
			  <%= link_to "Send Message", { :controller => 'messages', :action => 'new', :user_id_to => @teacher.user_id }, {:class => "action-button bg-salmon"} %>
			<% # IF we are not connected then display "connect" button %>
			<% elsif self.current_user.teacher != nil %>
			  <%= link_to "Connect", { :controller => 'connections', :action => 'add_connection', :user_id => @teacher.user_id }, :class => "action-button bg-salmon" %>
			<% end %>

			<!-- Contact Info -->
			<% if @connected || @guest || !@teacher.user.privacy["contact_info"] %>
				<section class="info">
					<% unless @teacher.user.email.empty? %>
						<p>
						<span class="bold black">Email:</span>
						<%= @teacher.user.email %>
						</p>
					<% end %>
					<% unless @teacher.phone == nil %>
						<p>
						<span class="bold black">Phone:</span>
						<%= @teacher.phone %>
						</p>
					<% end %>
					<% unless @teacher.twitter == nil || @teacher.twitter == 'http://twitter.com/' || @teacher.twitter =='' %>
						<a href="<%= @teacher.twitter %>" target="_blank" style="margin-left:5px">
							<%= image_tag('tioki/icons/twitter2.png') %>
						</a>
					<% end %>
					<% unless @teacher.linkedin == nil || @teacher.linkedin == 'http://linkedin.com/' || @teacher.linkedin =='' %>
						<a href="<%= @teacher.linkedin %>" target="_blank">
							<%= image_tag('tioki/icons/LinkedIn_IN_Icon_25px.png', :border => 0, :style=>"margin-bottom:-0.5px;") %>
						</a>
					<% end %>
					<% unless @teacher.edmodo == nil || @teacher.edmodo == 'http://edmodo.com/'|| @teacher.edmodo =='' %>
						<a href="<%= @teacher.edmodo %>" target="_blank">
							<%= image_tag('tioki/icons/edmodo.png') %>
						</a>
					<% end %>
					<% unless @teacher.betterlesson == nil || @teacher.betterlesson == 'http://betterlesson.com/' || @teacher.betterlesson =='' %>
						<a href="<%= @teacher.betterlesson %>" target="_blank">
							<%= image_tag('tioki/icons/betterlesson.png') %>
						</a>
					<% end %>
					<% unless @teacher.teachingchannel == nil || @teacher.teachingchannel == 'http://teachingchannel.org/' || @teacher.teachingchannel =='' %>
						<a href="<%= @teacher.teachingchannel %>" target="_blank">
							<%= image_tag('tioki/icons/teachingchannel.png') %>
						</a>
					<% end %>
				</section>
			<% end %>

			<!-- Current Job -->
			<section class="info">
				<p class="heading">
				Currently
				</p>
				<p>
				<span class="bold black">Position:</span>
				<%= @teacher.position %>
				</p>
				<p>
				<span class="bold black">School:</span>
				<%= @teacher.school %>
				</p>
				<p>
				<span class="bold black">Location:</span>
				<%= @teacher.location %>
				</p>
			</section>

			<section class="info">
				<p class="heading">
				Connections
				</p>
				<div style="padding:0px 20px;">
					<% @teacher.user.connections.all.shuffle.select{|x|x.not_me(@teacher.user.id).avatar?}[0..5].each do |c| %>
						<div class="profile-thumb-small" style="float:left;margin:0px;overflow:hidden;">
							<%= link_to image_tag(c.not_me(@teacher.user.id).avatar(:medium), :style => 'min-height:45px;min-width:45px;'), "/profile/#{c.not_me(@teacher.user.id).teacher.url}" unless c.not_me(@teacher.user.id).teacher.nil? %>
						</div>
					<% end %>
					<div style="clear:both;"></div>
					<br />
					<a href="/userconnections/<%= @teacher.user.id %>" style="display:block;text-align:center;" class="button">See All</a>
				</div>
			</section>

			<!-- Skills -->
			<section class="info">
				<% if User.current && User.current.teacher == @teacher && User.current.teacher.skills.size > 0  %>
					<%= link_to "Verify Skills", '/requestvouch', :class => "action-button bg-salmon" %>
				<% end %>
				<p class="heading">
				Skills
				</p>
				<% @teacher.skills.each do |skill| %>
					<p class="skills">
						<a href="#" data-skillgroup="<%= skill.skill_group.badge_name %>">
						<%= skill.name %>
						</a>
					</p>
				<% end %>
			</section>
		</section><!-- End Sidebar -->
		<!-- START Video Content -->
		<section class="profile-content">

			<!-- Video -->
			<% if @connected || @guest || !@teacher.user.privacy["video"] %>
				<% unless @video.nil? %>
					<h3>Latest Video</h3>
					<div class="profile-video panel">
						<%= @video.embed_code %>
					</div>
				<% end %>
				<section class="video-actions group">
					<% if self.current_user && self.current_user.teacher == @teacher %>
						<% unless @teacher.video_embed_html == nil && @video == nil%>
							<a href="/me/profile/edit/upload-video" class="action-button edit-video bg-green">
							Edit Video
							</a>
						<% else %>
							<a href="/me/prof
							ile/edit/upload-video" class="action-button edit-video bg-green">
							Add a Video
							</a>
						<% end %>
					<% end %>
					<% if @teacher.videos.count > 1 %>
						<a href="/profile/<%= @teacher.url %>/videos" class="action-button edit-video bg-green" style="margin-right:10px;white-space:nowrap;width:auto;padding-left:10px;padding-right:10px;">
							<%= possesify(@teacher.user.first_name) %> Video Library
						</a>
					<% end %>
					<% unless @teacher.video_embed_html == nil && @video == nil%>
						<!--ul class="stats">
							<li>
								<div class="count favorites">
								47
								</div>
							</li>
						</ul-->
					<% end %>
				</section>
			<% end %>

			<% unless @teacher.user.skill_groups.empty? && self.current_user == nil %>
				<section class="profile-info group skill-groups">
					<p class="heading">
					Skill Groups <span style="margin-left:15px;color:#F66C4C;" data-skillgroup-name="true"></span>
					<% if self.current_user != nil && @teacher == self.current_user.teacher %>
						 - 
						<a href="/me/profile/edit/skills">Edit</a>
					<% end %>
					</p>

					<% @teacher.user.skill_groups.each do |skill_group| %>
						<div class="badge <%= skill_group.badge_name %>" data-skillgroup="<%= skill_group.badge_name %>" data-skillgroup-name="<%= skill_group.name %>" style="float:left;">
							<% if @teacher.user.vouched_skill_groups.collect(&:id).include? skill_group.id %>
								<img src="/card-assets/images/greencheck.png" style="position:absolute;top:15px;left:15px" />
							<% end %>
						</div>
					<% end %>
				</section>
			<% end %>
			
			<!-- START Education Section-->
			<% unless @teacher.educations.empty? && self.current_user == nil %>
				<section class="profile-info group">
					<p class="heading">
					Education
					<% if self.current_user != nil && @teacher == self.current_user.teacher %>
						 - 
						<a href="/me/profile/edit/education">Edit</a>
					<% end %>
					</p>
					<% @teacher.educations.each do |edu| %>
						<p class="bold">
							<%= edu.school %>
						</p>
					
						<% unless edu.degree.nil? || edu.degree.empty? %>
							<p>
							<%= edu.degree %>, 
								
						<% end %>
						<% unless edu.concentrations.nil? || edu.concentrations.empty? %>
							<%= edu.concentrations %>	
							</p>
						<% end %>

						<p>
							<% if edu.current == true %>
								<% if edu.year.present?  %>
								<%= edu.start_year%> - <%= edu.year %> (expected)<br /><br />
								<% end %>
								
							<% else %>
								<% if !edu.year.present? %>
									<% else %>
									<% if !edu.start_year.present? %>
										<%= edu.year %><br />
										
									<% else %>
										<%= edu.start_year %> - <%= edu.year %><br /><br />
									<% end %>
									<% end %>
							<% end %>
						</p>
					<% end %>
				</section>
			<% end %>
			
			<!-- START Credential Section-->
			<% unless @teacher.credentials.empty? && self.current_user == nil %>
				<section class="profile-info group">
					<p class="heading">
					Credentials
					<% if self.current_user != nil && @teacher == self.current_user.teacher %>
						 - 
						<a href="/me/profile/edit/credentials">Edit</a>
					<% end %>
					<p>
					<% @teacher.credentials.each do |credential| %>
						<p>
						<%= credential.name %>
						</p>
						<p>
						<%= credential.issuer %>
						</p>
						<p>
						<%= credential.credentialType %>
						</p>
					<% end %>
				</section>
			<% end %>
			
			<!-- START Experience Section-->
			<% unless @teacher.experiences.empty? && self.current_user == nil %>
				<section class="profile-info group">
					<p class="heading">
					Experience
					<% if self.current_user != nil && @teacher == self.current_user.teacher %>
						 -
						<a href="/me/profile/edit/experience">Edit</a>
					<% end %>
					</p>

					<% @teacher.experiences.each do |experience| %>
						<p class="bold">
						<%= experience.position %><br />
						<%= experience.company %>	
						</p>
						<p>
						<% if experience.current == true %>
								<%= experience.startMonth.to_s+"/"+experience.startYear.to_s %> - Present
						<% else %>
							<% if experience.startMonth != nil %>
								<%= experience.startMonth.to_s+"/"+experience.startYear.to_s %>
							<% end %> -
							<% if experience.endMonth != nil %>
								<%= experience.endMonth.to_s+"/"+experience.endYear.to_s %>
							<% end %>
						<% end %>
						</p>
						<p>
						<%= experience.description %>
						</p><br />
					<% end %>
				</section>
			<% end %>
			
			<!-- START Attachments Section -->
			<% if @connected || @guest || !@teacher.user.privacy["attachments"] %>
				<% unless @teacher.assets.empty? && self.current_user == nil %>
					<section class="profile-info group">
						<p class="heading">
						Attachments
						<% if self.current_user != nil && @teacher == self.current_user.teacher %>
							 -
							<a href="/profileattachments">Edit</a>
						<% end %>
						</p>

						<% if User.current.nil? %>
							<p>Please <%= link_to "login", '/login' %> to view profile attachments.</p>
						<% else %>
							<% @teacher.assets.each do |asset| %>
								<% if asset.assetType != 1 %>
									<%= link_to image_tag('tioki/icons/attachment.png') + asset.name, asset.file.url %>
									<p>
									<%= asset.description %>
									</p>
								<% end %>
							<% end %>
						<% end %>
					</section>
				<% end %>
			<% end %>
			
		</section> <!-- End Profile Content -->
	</section> <!-- End Profile -->
</section> <!-- End Main Content -->

<script type="text/javascript">
$(document).ready(function() {
	$('div.badge').hover(function() {
		$('a[data-skillgroup="' + $(this).attr('data-skillgroup') + '"]').each(function() {
			console.log('over');
			$(this).css({'color': '#F66C4C'});
		});
		$('span[data-skillgroup-name="true"]').text($(this).attr('data-skillgroup'));
	},function() {
		$('a[data-skillgroup="' + $(this).attr('data-skillgroup') + '"]').each(function() {
			console.log($(this));
			$(this).css({'color': '#2AA99B'});
		});
		$('span[data-skillgroup-name="true"]').text('');
	});
});
</script>
