<% case @post.slug %>
<% when 'connections' %>
	<% # Lets go ahead and languageify the models 
	data = Hash.new
	@post.data.collect do |models|
		data[models.first.id] = {:who => models.first.name, :to => []} unless data[models.first.id].is_a?(Hash)
		data[models.last.id] = {:who => models.last.name, :to => []} unless data[models.last.id].is_a?(Hash)
		data[models.first.id][:to] << models.last.name
		data[models.last.id][:to] << models.first.name
	end; data.collect!{|k1,v1| v1[:to].uniq!; v1}

	# Now lets uniqify for profile photos
	uniq = @post.data.clone.flatten.uniq
	%>
	<li class="new-style connections">
		<h3><%= data.count %> people have new connections.</h3>
		<div class="facepile">
			<% uniq.each do |user| %>
				<%= link_to(image_tag(user.avatar.url(:thumb), :width => '45px', :height => '45px'), '/profile/' + user.slug, :title => user.name, :class => 'has-tip', :data_id => user.id) if user.avatar? %>

				<%= link_to(image_tag("dl_icons/no_avatar_tiny.jpg", :width => '45px', :height => '45px'), '/profile/' + user.slug, :title => user.name, :class => 'has-tip', :data_id => user.id) unless user.avatar? %>
			<% end %>
		</div>
		<p class="message">Hover over a face to see who they connected to.</p>
		<script type="text/javascript">
		$(document).ready(function() {
			$message = $('ul.whiteboard li.connections p.message');
			$face = $('ul.whiteboard li.connections div.facepile a[data_id]');

			var connections = <%= raw data.to_json %>;

			$('ul.whiteboard li.connections div.facepile a[data_id]').mouseover(function(e) {

				// Get the connections for this user
				connect = $.extend(true, {}, connections[$(this).attr('data_id')]);

				// If there is more then one connection get the last one
				if(connect.to.length > 1) last = connect.to.pop();
				else last = false;

				// Prepare the list of users this user is connected to
				connected = (connect.to.length > 1 ? connect.to.join(', ') : connect.to[0]) + (last ? ' and ' + last : '')
				connect = '<span>' + connect.who + '</span> connected to ' + connected

				// Apply the text
				$message.html(connect);

				return false;
			});

			$('ul.whiteboard li.connections div.facepile a[data_id]').mouseout(function(e) {

				// Reset the text
				$message.html('Hover over a face to see who they connected to.');

				return false;
			});
		});
		</script>
	</li>
<% when 'article' %>
	<li class="new-style article">
		<%= link_to image_tag(@post.user.avatar.url(:thumb), :width => '45px', :height => '45px'), '/profile/' + @post.user.slugif @post.user.avatar? %>
		<%= link_to image_tag("dl_icons/no_avatar_tiny.jpg", :width => '45px', :height => '45px'), '/profile/' + @post.user.url unless @post.user.avatar? %>
		<%= link_to image_tag(@post.data!['screens'].values.first, :width => '150px'), @post.data!['screens'].keys.first, :target => '_blank', :class => 'screen' %>

		<h3><span class="salmon"><%= @post.user.name %></span> shared an article.</h3>

		<p><%= @post.getMessage.more!(266) %></p>

		<div class="bar">
			<span class="timestamp"><%= time_ago_in_words(@post.created_at) %> ago...</span>
			<a href="#" class="comments" whiteboard-action="show-comments" id="whiteboard_comments<%= @post.id %>">
				(<%= @post.getComments.count %>) Comments
			</a>
			<span class="icons">
				<a href="/whiteboard/favorite/<%= @post.id %>" whiteboard-action="favorite" class="has-tip no-tip-dots tip-left action<%= favorited(@post) ? ' salmon' : ' gray' %>" title="Favorite Post">
					<span class="iconic star"><%= favorites(@post) %></span>
				</a>
				<a href="#" whiteboard-action="show-comments" class="has-tip no-tip-dots tip-left action" title="(<%= @post.getComments.count %>) Comments" id="whiteboard_comments<%= @post.id %>">
					<span class="iconic chat_alt_stroke"></span>
				</a>
				<a href="/whiteboard/hide/<%= @post.id %>" whiteboard-action="hide" class="has-tip no-tip-dots tip-left action" title="Hide Post">
					<span class="iconic eye"></span>
				</a>
				<% if @post.user == User.current || User.current.is_admin %>
					<a href="/whiteboard/delete/<%= @post.id %>" whiteboard-action="delete" class="has-tip no-tip-dots tip-left action" title="Delete Post">
						<span class="iconic x_alt"></span>
					</a>
				<% end %>
			</span>
		</div>
		<div class="comments">
			<ul>
				<% @post.getComments.each do |comment| %>
					<% @comment = comment %>
					<%= render 'comments/show' %>
				<% end %>
			</ul>
			<form id="post-comment" action="<%= "/whiteboard/#{@post.id}/comment" %>" method="post">
				<textarea name="comment" style="height:25px;width:94%;padding:10px 3%;"></textarea>
				<input type="submit" value="Post Comment" />
			</form>
		</div>
		<div class="clear"></div>
	</li>
<% else %>
	<li <%= "class=\"has-actions\"".html_safe if @post.user == User.current || User.current.is_admin %> id="<%= @post.id %>">
		<% i=0; @post.getModels.each do |x| %>
			<% next if i>0; i+=1; %>
			<% next unless x.is_a?(User) %>
			<div class="profile-thumb-small" style="float:left;margin-right:15px;">
				<%= link_to image_tag(x.avatar.url(:tiny), :width => '45px', :height => '45px'), "/profile/#{x.slug}" if x.avatar? %>
				<%= link_to image_tag("dl_icons/no_avatar_tiny.jpg"), "/profile/#{x.slug}" unless x.avatar? %>
			</div>
		<% end %>
		<p><strong><%= time_ago_in_words(@post.created_at) %> ago:</strong> <%= raw @post.getMessage %></p>
		<div id="comment-wrapper" style="display:none;">
			<ul id="comments" class="comments">
				<% @post.getComments.each do |comment| %>
					<% @comment = comment %>
					<%= render 'comments/show' %>
				<% end %>
			</ul>
			<form id="post-comment" action="<%= "/whiteboard/#{@post.id}/comment" %>" method="post">
				<textarea name="comment" style="height:25px;width:94%;padding:10px 3%;"></textarea>
				<input type="submit" value="Post Comment" />
			</form>
		</div>
		<div class="quick-actions">
			<a href="/whiteboard/favorite/<%= @post.id %>" whiteboard-action="favorite" class="has-tip no-tip-dots tip-left action<%= favorited(@post) ? ' salmon' : ' gray' %>" title="Favorite Post">
				<span class="iconic star"><%= favorites(@post) %></span>
			</a>
			<a href="/whiteboard/hide/<%= @post.id %>" whiteboard-action="hide" class="has-tip no-tip-dots tip-left action" title="Hide Post">
				<span class="iconic eye"></span>
			</a>
			<% if @post.user == User.current || User.current.is_admin %>
				<a href="/whiteboard/delete/<%= @post.id %>" whiteboard-action="delete" class="has-tip no-tip-dots tip-left action" title="Delete Post">
					<span class="iconic x_alt"></span>
				</a>
			<% end %>
		</div>
	</li>
<% end %>