<li>
	<% i=0; @post.getModels.each do |x| %>
		<% next if i>0; i+=1; %>
		<% next unless x.is_a?(User) %>
		<div class="profile-thumb-small">
			<%= link_to image_tag(x.avatar.url(:tiny), :width => '45px', :height => '45px'), "/profile/#{x.teacher.url}" if x.avatar? %>
			<%= link_to image_tag("dl_icons/no_avatar_tiny.jpg"), "/profile/#{x.teacher.url}" unless x.avatar? %>
		</div>
	<% end %>
	<p><%= raw @post.getMessage %></p>
	<a href="/whiteboard/favorite/<%= @post.id %>" class="quick-action <%= favorited(@post) ? 'star-gold' : 'star-empty' %>">
	</a>
</li>