<li <%= "class=\"has-actions\"".html_safe if @post.user == User.current || User.current.is_admin %>>
	<% i=0; @post.getModels.each do |x| %>
		<% next if i>0; i+=1; %>
		<% next unless x.is_a?(User) %>
		<div class="profile-thumb-small">
			<%= link_to image_tag(x.avatar.url(:tiny), :width => '45px', :height => '45px'), "/profile/#{x.teacher.url}" if x.avatar? %>
			<%= link_to image_tag("dl_icons/no_avatar_tiny.jpg"), "/profile/#{x.teacher.url}" unless x.avatar? %>
		</div>
	<% end %>
	<p><strong><%= time_ago_in_words(@post.created_at) %> ago:</strong> <%= raw @post.getMessage %></p>
	<div id="comment-wrapper" style="display:none;">
		<ul id="comments" class="comments">
			<% @post.getComments.each do |comment| %>
				<% @comment = comment %>
				<%= render 'comments/show' %>
			<% end %>
		</ul>
		<form id="post-comment" action="<%= "/whiteboard/#{@post.id}/comment" %>" method="post">
			<textarea name="comment" style="height:25px;width:94%;padding:10px 3%;"></textarea>
			<input type="submit" value="Post Comment" />
		</form>
	</div>
	<div class="quick-actions">
		<a href="/whiteboard/favorite/<%= @post.id %>" whiteboard-action="favorite" class="has-tip no-tip-dots tip-left action <%= favorited(@post) ? 'star-gold' : 'star-empty' %>" title="Favorite Post">
			<%= favorites(@post) %>
		</a>
		<a href="/whiteboard/hide/<%= @post.id %>" whiteboard-action="hide" class="has-tip no-tip-dots tip-left action" title="Hide Post">
			<span class="iconic eye"></span>
		</a>
		<a href="#" whiteboard-action="show-comments" class="has-tip no-tip-dots tip-left action" title="(<%= @post.getComments.count %>) Comments">
			<span class="iconic chat_alt_stroke"></span>
		</a>
		<% if @post.user == User.current || User.current.is_admin %>
			<a href="/whiteboard/delete/<%= @post.id %>" whiteboard-action="delete" class="has-tip no-tip-dots tip-left action" title="Delete Post">
				<span class="iconic x_alt"></span>
			</a>
		<% end %>
	</div>
</li>