<%= form_for(@credential) do |f| %>
	<% if @credential.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@credential.errors.count, "error") %> prohibited this credential from being saved:</h2>

			<ul>
				<% @credential.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<fieldset>
		<p>
		Credential type
		</p>
		<%= select(:credential, :credentialType, ["", "Certificated - Teacher - 1-3", "Certificated - Teacher - 4-6",
			"Certificated - Teacher - Adult Education", "Certificated - Teacher - Children's Center",
			"Certificated - Teacher - Court/Community/Alt.", "Certificated - Teacher - Head Start",
			"Certificated - Teacher - High School", "Certificated - Teacher - K-6",
			"Certificated - Teacher - Kindergarten", "Certificated - Teacher - Library Media",
			"Certificated - Teacher - Middle Grades", "Certificated - Teacher - Middle/High",
			"Certificated - Teacher - Other", "Certificated - Teacher - Pre K",
			"Certificated - Teacher - ROP", "Certificated - Teacher - Special Education", "Credential in Progress", "Emergency Credential"
		 ]) %>	
	</fieldset>
	<fieldset>
		<p>
		Subject Area
		</p>
		<%= f.text_field :name %>
	</fieldset>
	<fieldset>
		<p>
		Organization that Issued Credential
		</p>
		<%= f.text_field :issuer %>
	</fieldset>
	<fieldset>
		<p>
		State Issued
		</p>
		<%= select :credential, :state, STATES_ARRAY, :include_blank => true %>
	</fieldset>
	<fieldset>
		<%= f.submit "Submit", :class => "button" %>
		<%= link_to 'Edit Credentials', '/me/profile/edit/credentials' %>
	</fieldset>
<% end %>

<script type="text/javascript">
$(document).ready(function() {
	$("#credential_credentialType").chosen();
	$("#credential_state").chosen();
});
</script>