<section id="main-content" class="inner-content">

<h2>Credentials</h2>

<div class="attached">
	<% @user.credentials.each do |credential| %>
	<p>
		<span class="purge" style="float:right">
			<%= link_to 'Edit', edit_credential_path(credential) %><br />
			<%= link_to 'Remove?', credential, confirm: 'Are you sure?', method: :delete %>
		</span>
		<strong>
		<%= credential.credentialType %>
		</strong><br />
		Subject: <%= credential.name %><br />
		Issued by: <%= credential.issuer %><br />
		Licensed in the State of: <%= credential.state %>
	</p>
	<% end %>
</div>

<div id="attach_new_btn">
    <%= link_to 'Add New Credential', new_credential_path, :class => "button" %> <%= link_to 'View Profile', '/me/profile' %>
</div>

</section>