<div class="row kRap" style="position:relative;">
	<div class="twelve columns">
		<h1 class="smaller" style="margin: 14px 0px 14px 0px">
			<% if params[:invitestring] %>
				Create your Tioki account to join <%= @invite.user.first_name %>'s professional network.
			<% elsif params[:invitecode] %>
				Create your Tioki account to join <%= @inviter.first_name %>'s professional network.
			<% elsif params[:welcomecode] %>
				Create your Tioki account to join <%= @inviter.first_name %>'s professional network.
			<% else %>
				Create your Tioki account to join the premiere professional education network.
			<% end %>
		</h1>
	</div>

	<div class="seven columns">
		<form method="POST">
			<table>
				<tr>
					<td>
						<div style= "float:left">
							<label>
								<span>First Name</span>
								<input type="text" name="user[first_name]" />
							</label>
						</div>
						<div style= "float:right">
							<label>
								<span>Last Name</span>
								<input type="text" name="user[last_name]"/>
							</label>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<label>
							<span>Email Address</span>
							<input type="text" name="user[email]" />
						</label>
					</td>
				</tr>
				<tr>
					<td>
						<div style= "float:left">
							<label>
								<span>Password</span>
								<input type="password" name="user[password]" />
							</label>
						</div>
						<div style= "float:right">
							<label>
								<span>Confirm Password</span>
								<input type="password" name="user[confirmation_password]" />
							</label>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<label>
							<span>Occupation</span>
							<%= select_tag "user[occupation]", options_for_select(User::OCCUPATION) %>
						</label>
					</td>
				</tr>
			</table>

			<% if params[:user_connection] %>
				<%= hidden_field_tag :user_connection, params[:user_connection] %>
			<% elsif params[:vouchstring] %>
				<%= hidden_field_tag :vouchstring, params[:vouchstring] %>
			<% elsif params[:invitecode] %>
				<%= hidden_field_tag :invitecode, params[:invitecode] %>
			<% elsif params[:welcomecode] %>
				<%= hidden_field_tag :welcomecode, params[:welcomecode] %>
			<% elsif params[:twittercode] %>
				<%= hidden_field_tag :twittercode, params[:twittercode] %>
			<% elsif params[:facebookcode] %>
				<%= hidden_field_tag :facebookcode, params[:facebookcode] %>
			<% elsif params[:discussion_id] %>
				<%= hidden_field_tag :discussion_id, params[:discussion_id] %>
				<%= hidden_field_tag :body, params[:body] %>
			<% end %>

			<div class="button_wrap" style="text-align:left">
				<input type="submit" class="large button" style="padding:9px 50px;display:inline;width:auto;" value="Next Step" />
				<br />
				<p style="font-size: 12px">Already have a Tioki account? <span><a href="/login">Login.</a></span></p>
				<p style="font-size: 12px">By clicking Next Step, you are agreeing to the <span><a href="/static/resources/terms">terms</a> and <span><a href="/static/resources/privacy">privacy policy.</a></p>	
			</div>
		</form>
	</div>
	
	<section class="panel right-side" style="width: 384px; border:solid 1px #2AA99B">
		<h3><span class="green bold">What Tioki means to you...</span></h3>
		<ul>
			<% mandelas_profile = User.find(3).slug %>
			<li>Establish your online <a href="http://tioki.com/profile/<%= mandelas_profile %>" target="_blank">Presence</a></li>
			<li>Connect with others to collaborate & <a href="http://tioki.com/static/howitworks" target="_blank">Grow</a></li>
			<li>Find <a href="http://tioki.com/events" target="_blank">Education Events</a> that appeal to you</li>
			<li>Explore cutting edge <a href="http://tioki.com/technologies" target="_blank">Classroom Technology</a></li>
			<li>Participate in <a href="http://tioki.com/discussions" target="_blank">Educational Discussions</a></li>
		</ul>
	</section>
</div>
