<div class="row kRap">
	<div class="twelve columns">
		<h1 class="smaller" style="margin: 14px 0px 14px 0px">Your Professional Info</h1>
	</div>
	<div class="clear"></div>

	<div class="seven columns">
		<form method="POST">
			<table>
				<tr>
					<td>
						<label>
							<% if currentUser.avatar? %>
								<%= image_tag(currentUser.avatar.url(:tiny), :width => "45", :style => "float:left") %>
							<% else %>
								<%= image_tag('dl_icons/no_avatar_tiny.jpg') %>
							<% end %>
							<div style="float:left">
								<h4 style="color:#000;margin-top:5px;margin-left:10px">
								<%= currentUser.name %>
								</h4>
							</div>
						</label>
					</td>
				</tr>
				<tr>
					<td>
						<label>
							<span>Where do you work?</span>
							<input type="text" name="experience[company]" placeholder="Employer" style="width:270px;float:left;margin-right:10px;"/>
						</label>
						<label>
							<input type="text" name="experience[position]"  placeholder="Job Title" style="width:270px;margin-left:20px" />
						</label>
					</td>
				</tr>
				<tr>
					<td>
						<label>
							<span>Where did you go to school?</span>
							<input type="text"  name="education[school]" placeholder="School Name" style="width:370px;float:left;margin-right:10px;" /> 
						</label>
						<label>
							<input type="text" name="education[year]"  placeholder="Graduation Year" style="width:170px;margin-left:20px" />
						</label>
					</td>
				</tr>
				<% if ['Teacher', 'Professor', 'Student'].include?(currentUser.occupation) %>
					<tr>
						<td>
							<label>
								<span>What grade levels do you teacher?</span>
								<input type="text" name="user[grades]" />
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label>
								<span>What subjects do you teacher?</span>
								<input type="text" name="user[subjects]" />
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label style="margin-top:10px">
								How many years of teaching experience do you have?
								<%= select_tag "user[years_teaching]", options_for_select((0...61).to_a), :style => "width:100px;margin-left:21px" %>
							</label>
						</td>
					</tr>
				<% end %>
				<tr>
					<td>
						<label style="margin-top:10px">
							Are you currently seeking employment?
							<select name="user[job_seeking]" style="width:100px;margin-left:120px">
								<option value="yes">Yes</option>
								<option value="no">No</option>
							</select>
						</label>
					</td>
				</tr>
			</table>
		</div>
		<div class="four columns">
			<div class="fyi" style=" border:solid 1px #2AA99B">
				<h3><span class="green bold">Almost done!</span></h3>
				<ul>
					Filling out this information will help you: <br/><br/>
					<li>Find your friends on Tioki</li>
					<li>Find your Alumni groups</li>
					<li>Find more value in the site</li>
				</ul>
			</div>
			<div class="button_wrap" style="margin-top:270px;">
				<input type="submit" class="large button" style="padding:9px 50px;display:inline;width:auto;" value="Finish" />
			</div>
			<% if params[:user_connection] %>
				<%= hidden_field_tag :user_connection, params[:user_connection] %>
			<% elsif params[:vouchstring] %>
				<%= hidden_field_tag :vouchstring, params[:vouchstring] %>
			<% elsif params[:invitecode] %>
				<%= hidden_field_tag :invitecode, params[:invitecode] %>
			<% elsif params[:welcomecode] %>
				<%= hidden_field_tag :welcomecode, params[:welcomecode] %>
			<% elsif params[:twittercode] %>
				<%= hidden_field_tag :twittercode, params[:twittercode] %>
			<% elsif params[:facebookcode] %>
				<%= hidden_field_tag :facebookcode, params[:facebookcode] %>
			<% elsif params[:discussion_id] %>
				<%= hidden_field_tag :discussion_id, params[:discussion_id] %>
				<%= hidden_field_tag :body, params[:body] %>
			<% end %>
		</form>
	</div>
</div>
<script type="text/coffeescript">
	$ ->
		# Load the tokenizer for subjects
		$('input[name="user[subjects]"]').tokenInput "/api/subjects", {
			hintText: "Subjects...",
			theme: "facebook",
			resultsLimit: 10
			prePopulate: <%= currentUser.subjects.to_json(:only => [:id, :name]).html_safe %>
		}

		# Load the tokenizer for grades
		$('input[name="user[grades]"]').tokenInput "/api/grades", {
			hintText: "Grade Level...",
			theme: "facebook",
			resultsLimit: 10
			prePopulate: <%= currentUser.grades.to_json(:only => [:id, :name]).html_safe %>
		}
</script>
