<div class="row kRap">
	<div class="twelve columns">
		<h1 class="smaller" style="margin: 14px 0px 14px 0px">Add your personal info</h1>
	</div>
	<div class="clear"></div>

	<div class="seven columns">
		<form method="POST">
			<table>
				<tr>
					<td>
						<label>
							<% if currentUser.avatar? %>
								<%= image_tag(currentUser.avatar.url(:tiny), :width => "45", :style => "float:left") %>
							<% else %>
								<%= image_tag('dl_icons/no_avatar_tiny.jpg') %>
							<% end %>
							<div style="float:left">
								<%= currentUser.name %><br />
							</div>
						</label>
					</td>
				</tr>
				<tr>
					<td>
						<span>Where do you work</span>
						<input type="text" name="experience[company]" placeholder="Employer" /> <input type="text" name="experience[position]"  placeholder="Job Title" />
					</td>
				</tr>
				<tr>
					<td>
						<span>Where did you go to school?</span>
						<input type="text"  name="education[school]" placeholder="School name" /> <input type="Year" name="education[year]"  placeholder="Year" />
					</td>
				</tr>
				<% if ['Teacher', 'Professor', 'Student'].include?(currentUser.occupation) %>
					<tr>
						<td>
							<label>
								<span>What grade levels do you teacher?</span>
								<input type="text" name="user[grades]" />
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label>
								<span>What subjects do you teacher?</span>
								<input type="text" name="user[subjects]" />
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<span>How many years of teaching experience do you have?</span>
							<%= select_tag "user[years_teaching", options_for_select((1...100).to_a) %>
						</td>
					</tr>
				<% end %>
				<tr>
					<td>
						Are You currently seeking?
						<select name="user[job_seeking]">
							<option value="yes">Yes</option>
							<option value="no">No</option>
						</select>
					</td>
				</tr>
			</table>
			<div class="button_wrap">
				<input type="submit" class="large button" style="padding:9px 50px;display:inline;width:auto;" value="Finish" />
			</div>
		</form>
	</div>
</div>
<script type="text/coffeescript">
	$ ->
		# Load the tokenizer for subjects
		$('input[name="user[subjects]"]').tokenInput "/api/subjects", {
			hintText: "Subjects...",
			theme: "facebook",
			resultsLimit: 10
			prePopulate: <%= currentUser.subjects.to_json(:only => [:id, :name]).html_safe %>
		}

		# Load the tokenizer for grades
		$('input[name="user[grades]"]').tokenInput "/api/grades", {
			hintText: "Grade Level...",
			theme: "facebook",
			resultsLimit: 10
			prePopulate: <%= currentUser.grades.to_json(:only => [:id, :name]).html_safe %>
		}
</script>
