<div class="row kRap">
	<div class="twelve columns">
		<h1 class="smaller" style="margin: 14px 0px 14px 0px">Add your personal info</h1>
	</div>
	<div class="clear"></div>

	<div class="seven columns">
		<table>
			<tr>
				<td>
					<% if currentUser.avatar? %>
						<%= image_tag(currentUser.avatar.url(:medium), :width => "160", :style => "float:left", :id => "user_avatar" ) %>
					<% else %>
						<%= image_tag('dl_icons/no_avatar_large.jpg', :style => "float:left", :id => "user_avatar") %>
					<% end %>
					<div style="float:left;margin-left:20px">
						<h4 style="color:#000;margin-top:5px">
						<%= currentUser.name %>
						</h4>
						<div id="add_photo">
							<a class="button">
								<span class="iconic camera" style="font:16px"></span>
								UPLOAD A PHOTO
							</a>
							<br/>
							<span class="smalltext">
								Help your friends recognize you. 
							</span>
						</div>
					</div><br />
					<div style="float:left">
						<div id="add_photo_form" style="display:none">
							<%= render :template => "users/_picture_form" %>
						</div>
					</div>
				</td>
			</tr>
		</table>
		<form method="POST">
			<table>
				<tr>
					<td>
						<label>
							<span>Where do you live?</span>
							<%= text_field_tag "user[location]", currentUser.location, :placeholder => "(Los Angeles, CA)" %>
						</label>
					</td>
				</tr>
				<tr>
					<td>
						<label>
							<span>Add a Headline (limit 140 characters)</span>
							<%= text_area_tag "user[headline]", currentUser.headline, :maxlength => 140, :placeholder => "Educator, Writer, Blogger, Student, Wife, & Soccer Mom. Wonder Woman, essentially!", :style => "height:80px" %>
						</label>
					</td>
				</tr>
				<tr>
					<td>
						<label>
							<span>Add a few skills (i.e. Ipad, Classroom Management, Lesson Planning)</span>
							<input type="text" name="user[skills]" />
						</label>
					</td>
				</tr>
			</table>
		</div>
		<div class="four columns">
			<div class="fyi" style=" border:solid 1px #2AA99B">
				<h3><span class="green bold">A Tioki profile helps you</span></h3>
				<ul>
					<li>Showcase your talents using video, pictures, & skills tags</li>
					<li>Establish your online presence as an educator</li>
					<li>Promote your skills & increase your opportunities</li>
				</ul>
			</div>
		
			<div class="button_wrap" style="margin-top:320px">
				<input type="submit" class="large button" style="padding:9px 50px;display:inline;width:auto;" value="Final Step" />
			</div>
			<% if params[:user_connection] %>
				<%= hidden_field_tag :user_connection, params[:user_connection] %>
			<% elsif params[:vouchstring] %>
				<%= hidden_field_tag :vouchstring, params[:vouchstring] %>
			<% elsif params[:invitecode] %>
				<%= hidden_field_tag :invitecode, params[:invitecode] %>
			<% elsif params[:welcomecode] %>
				<%= hidden_field_tag :welcomecode, params[:welcomecode] %>
			<% elsif params[:twittercode] %>
				<%= hidden_field_tag :twittercode, params[:twittercode] %>
			<% elsif params[:facebookcode] %>
				<%= hidden_field_tag :facebookcode, params[:facebookcode] %>
			<% elsif params[:discussion_id] %>
				<%= hidden_field_tag :discussion_id, params[:discussion_id] %>
				<%= hidden_field_tag :body, params[:body] %>
			<% end %>
		</form>
	</div>
	
</div>
<script type="text/javascript">
	$(document).ready(function() {
		$("#add_photo").click(function() {
			$("#add_photo_form").toggle();
		});
	});
</script>
<script type="text/coffeescript">
	$ ->
		$('input[name="user[skills]"]').tokenInput "/api/skills", {
			hintText: "Skills...",
			theme: "facebook",
			resultsLimit: 10,
			prePopulate: <%= currentUser.skills.to_json(:only => [:id, :name]).html_safe %>
		}
</script>
