<div class="row kRap" style="position:relative;">
	<div class="twelve columns">
		<h1 class="smaller">Start growing your Tioki network</h1>
	</div>
	<div class="clear"></div>

	<div class="eleven columns" style="margin-left:25px">
		<form class="person_form" method="POST">
			<input type="hidden" name="people" />

			<div class="detected">
				<% if is_gmail(self.current_user.email) %>
					<br /><input type="button" id="detected_email" data-email-provider="GMAIL" class="large button" style="width:80%;margin:0px auto 0px auto;" value="Gmail" />

				<% elsif /yahoo.com$/.match(params["email"]).present? %>
					<a id="detected_email" data-email-provider="YAHOO" class="medium button">Yahoo</a>

				<% elsif /aol.com$/.match(params["email"]).present? %>
					<a id="aol" data-email-provider="AOL" class="medium button">Aol</a>

				<% else %>
					<a id="email" class="medium button">Email</a>
				<% end %>

				<br /><input type="button" id="facebook" class="large button" style="width:80%;margin:0px auto 0px auto;" value="Facebook" />
				<% if self.current_user.twitter_auth? %>
					<br /><input type="button" id="twitter" class="large button" style="width:80%;margin:0px auto 0px auto;" value="Twitter" />
				<% else %>
					<a href="/twitter_auth?twitter_action=invite" id="twitter_auth" class="medium button">Twitter</a>
				<% end %><br />

				<% if params[:user_connection] %>
					<a style="float:right" href="?x=step5&user_connection=<%= params[:user_connection] %>">Skip Step &raquo;</a>
				<% elsif params[:invitestring] %>
					<a style="float:right" href="?x=step5&invitestring=<%= params[:invitestring]%>">Skip Step &raquo;</a>
				<% elsif params[:vouchstring] %>
					<a style="float:right" href="?x=step5&vouchstring=<%= params[:vouchstring] %>">Skip Step &raquo;</a>
				<% elsif params[:invitecode] %>
					<a style="float:right" href="?x=step5&invitecode=<%= params[:invitecode] %>">Skip Step &raquo;</a>
				<% elsif params[:welcomecode] %>
					<a style="float:right" href="?x=step5&welcomecode=<%= params[:welcomecode] %>">Skip Step &raquo;</a>
				<% else %>
					<a style="float:right" href="?x=step5">Skip Step &raquo;</a>
				<% end %>
			</div>

			<div class="done" style="display:none;">

				<input type="submit" class="large button" style="padding:9px 50px;display:inline;width:auto;float:right;margin-top:20px" value="Next Step" />
				<p class="preselected" style="display:none;">Great news! Some of your contacts are already on Tioki. We have selected them for you below in orange. Select a few more that you would like to connect with.</p>
				<p class="no-pre" style="display:none;">Select some contacts that you would like to connect with.</p>
				<a href="#select" class="button">Select All</a>
				<a href="#deselect" class="button" style="background:#ccc;">Deselect All</a>
			</div>

			<div id="twitter_header" style="display:none">
				Invite Twitter Followers
				<div style="float:right">
					<%= submit_tag "Invite" %> 
					Or <%= link_to "tweet about us", "/twitter_auth" %>
				</div>
			</div>
			<div id="facebook_header" style="display:none">
				Invite Facebook Friends
				<div style="float:right">
					<%= link_to "Post to your wall", "/facebook_auth" %>
				</div>
			</div>
			<div id="search_div" style="float:left;display:none">
				<%= text_field_tag "contact_search", nil, :placeholder => "Type a friend's name", :id => "contact_search" %>
			</div>
			<div class="person_cloud" style="padding-top:80px">
			</div>

			<% if params[:user_connection] %>
				<%= hidden_field_tag :user_connection, params[:user_connection] %>
			<% elsif params[:invitestring] %>
				<%= hidden_field_tag :invitestring, params[:invitestring] %>
			<% elsif params[:vouchstring] %>
				<%= hidden_field_tag :vouchstring, params[:vouchstring] %>
			<% elsif params[:invitecode] %>
				<%= hidden_field_tag :invitecode, params[:invitecode] %>
			<% elsif params[:welcomecode] %>
				<%= hidden_field_tag :welcomecode, params[:welcomecode] %>
			<% end %>
		</form>
	</div>

</div>
<div id="fb-root"></div>
<script>
	$(document).ready(function() {
		var inviteType;

		//Start facebook
		var facebookSearch = new Array();

		window.fbAsyncInit = function() {
			FB.init({
				appId		: "440391786011809"
			});
		};

		$("#facebook").click(function() {

			$("#twitter_header").hide();

			FB.login(function(response) {
				if(response.authResponse) {
					FB.api('/me/friends?fields=id,name,picture', function(response)
					{
						inviteType = "facebook";
						$('div.person_cloud').empty();
						for(var i = 0; i < response.data.length; i++)
						{
							contact = response.data[i];

							facebookSearch[i] = contact;

							link = $('<a href="#facebook_contact" data-contact-id=' + contact.id + ' class="button secondary" style="background:#ccc" />');
							link.html('<img src=' + contact.picture.data.url + '>' + contact.name);
							$('div.person_cloud').append(link);
						}
						$("#facebook_header").show();
						$("#search_div").show();

					});
				}
			});
		});

		// Load the SDK's source Asynchronously
		(function(d, debug){
			var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement('script'); js.id = id; js.async = true;
			js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
			ref.parentNode.insertBefore(js, ref);
		}(document, /*debug*/ false));

		$('a[href="#facebook_contact"]').live('click', function() {
			var facebook_id  = $(this).attr('data-contact-id');
			var facebook_contact = $(this);

			FB.ui({
				method: 'send',
				to:  facebook_id,
				name: "Tioki - Professional Network for Educators",
				picture: "http://www.tioki.com/assets/tioki/tioki-ok.png", 
				description: "Tioki gives educators access to the most valuable resource out there - other educators!",
				link: 'http://tioki.com/ww/<%= self.current_user.invite_code %>'
			},
			function(response) {
				if(response) {
					//sent
					facebook_contact.removeClass('secondary').css({'background': '#F66C4C'});
				}
				else {
					//canceled
					//nothing to do here
				}
			}
			);
		});

		//TWITTER

		//Array for selected contacts
		var twitterContacts = new Array;

		//array for all contacts
		var twitterSearch = new Array;

		$("#twitter").click(function () {
			$("#facebook_header").hide();

			inviteType = "twitter";

			$.post('/welcome_wizard?x=get_twitter_contacts', function(data) {
				$('div.person_cloud').empty();

				for(var i in data.data) {
					var contact = data.data[i];
					twitterSearch[i] = contact;

					link = $('<a href="#twitter_contact" data-contact-id=' + contact.id + ' class="button secondary" style="background:#ccc" />');
					link.html('<img src=' + contact.picture + ' style="float:left">' + '@' + contact.screen_name + '<br />' + contact.name);
					$('div.person_cloud').append(link);
				}

				//post that this is a twitter invite
				//and create submit button
				$('div.person_cloud').append('<input type="hidden" name="twitter" value="true"/>');
			});
			$("#search_div").show();
			$("#twitter_header").show();
		});

		$('a[href="#twitter_contact"]').live('click', function(e) {
			e.preventDefault();
			id = $(this).attr('data-contact-id');

			// If the button is not selected
			if($(this).hasClass('secondary')) {

				// Create contact array
				if(twitterContacts === undefined)
				twitterContacts = new Array;

				// Remove secondary class
				$(this).removeClass('secondary').css({'background': '#F66C4C'});

				// Add the email to the invite array
				twitterContacts.push($(this).attr('data-contact-id'));
			}

			// If the button was selected
			else {

				// Add the secondary class
				$(this).addClass('secondary').css({'background': '#CCC'});

				// Remove the email from the invite array
				var key = $.inArray($(this).attr('data-contact-id'), twitterContacts);
				if(key !== -1) twitterContacts.splice(key, 1);
			}

			return false;
		});

		$('a[href="#twitter_deselect"]').live('click', function(e) {
			e.preventDefault();

			var int1 = setInterval(function() {
				if(twitterContacts.length == 0)
				clearTimeout(int1);

				var tmp = twitterContacts;
				for(var i in tmp) $('a[data-contact-id="' + tmp[i] + '"]').each(function() {
					$(this).click();
				});
			}, 20);

			return false;
		});

		$('a[href="#twitter_select"]').live('click', function(e) {
			e.preventDefault();

			$('a[href="#twitter_contact"]').each(function() {
				if($(this).hasClass('secondary'))
				$(this).click();
			});

			return false;
		});



		//DETECTED EMAILS
		// Create a duplication prevention array
		var duplicatePrevention = new Array;

		var selectedContacts = new Array;

		var emailSearch = new Array;

		var grabContacts = function(import_id) {
			// Get a list of all the users contacts
			$.post('/welcome_wizard?x=get_contacts&STEP3=true', {"import_id": import_id}, function(data) {

				//reset the array in case this is called again

				duplicatePrevention.length = 0;

				if(data.type == 'error') return;

				inviteType = "emails";

				for(var i in data.data) {
					// Get the contact data
					var contact = data.data[i];
					var name = contact.name

					// Create a box for every email
					for(var e in contact.emails) {

						// Prevent Duplicate Emails
						if($.inArray(contact.emails[e], duplicatePrevention) !== -1) continue;
						duplicatePrevention.push(contact.emails[e]);

						emailSearch.push({
							name: contact.name,
							email: contact.emails[e]
						});

						// Generate link and add it to the flow
						link = $('<a href="#contact" x-data-email="'+contact.emails[e]+'" class="button secondary" style="background:#ccc" />');
							link.html('<span class="name">'+name+'</span><span class="email">'+contact.emails[e]+'</span>');
							$('div.person_cloud').prepend(link);
						}
					}

					// Select the members in our database automatically
					setTimeout(function() {

						// Reenable the submit button
						$('input[type="submit"]').prop('disabled', false).removeClass('secondary');

						// Create a variable
						var preselected = false;

						// Go through and select all the people in our system
						for(var e in data.selected) {
							preselected = true;
							$('p.preselected').fadeIn(500);
							$('a[x-data-email="'+data.selected[e]+'"]').click();
						}

						if(!preselected)
						$('p.not-pre').fadeIn(500);
					}, 100);
				});
			};

		// Once the user has entered in their contact information lets
		// Go ahead and process the connection
		$('#detected_email').click(function(e) {
			e.preventDefault();
			$('div.person_cloud').empty();

			// Prepare the data
			var data = new Object;
			data.email = "<%= self.current_user.email %>";
			data.service = $(this).attr('data-email-provider');

			// Go ahead and go ahead and generate the import id
			$.post('/welcome_wizard?x=get_contacts&STEP2=true', data, function(data) {

				// We are only supporting popup style right nwo with OAUTH
				if(data.consent_url !== null) {

					// Load the consent popup
					var consentPopup = window.open(data.consent_url, 'consentPop', 'width=500, height=350, left=24, top=24, scrollbars, resizable');

					// If the popup was blocked inform the user otherwise focus it
					if(consentPopup == null)
					return alert('Please disable your pop-up blocker and click the "Continue" button again.'); 
					else consentPopup.focus();

					// Watch for the popup to close
					var watchClose = setInterval(function() {
						try {
							// Once the popup closed stop the interval
							if (consentPopup.closed) {
								clearTimeout(watchClose);

								// Get the users contacts
								contacts = grabContacts(data.import_id);
							}
						} catch(e) {}
					}, 200);
				}
			});
			return false;
		});

		// One someone click on a contact add it to the array to invite
		$('a[href="#contact"]').live('click', function(e) {
			e.preventDefault();

			// If the button is not selected
			if($(this).hasClass('secondary')) {

				// Create contact array
				if(selectedContacts === undefined)
				selectedContacts = new Array;

				// Remove secondary class
				$(this).removeClass('secondary').css({'background': '#F66C4C'});

				// Add the email to the invite array
				selectedContacts.push($(this).attr('x-data-email'));
			}

			// If the button was selected
			else {

				// Add the secondary class
				$(this).addClass('secondary').css({'background': '#CCC'});

				// Remove the email from the invite array
				var key = $.inArray($(this).attr('x-data-email'), selectedContacts);
				if(key !== -1) selectedContacts.splice(key, 1);
			}

			return false;
		});

		$('form.person_form').submit(function(e) {
			e.preventDefault();

			// Set the people to the form
			$('input[name="people"]').val(selectedContacts.join(','));

			// Submit the form
			$(this).get(0).submit();

			return false;
		});

		$("#contact_search").keyup(function() {
			$('div.person_cloud').empty();

			var str = $(this).attr('value').toLowerCase();

			if(inviteType == "twitter") {
				for(var i = 0; i < twitterSearch.length; i++) {
					var contact = twitterSearch[i];
					if(contact.name.toLowerCase().indexOf(str) > -1) {
						link = $('<a href="#twitter_contact" data-contact-id=' + contact.id + ' class="button secondary" style="background:#ccc" />');
						link.html('<img src=' + contact.picture + ' style="float:left">' + '@' + contact.screen_name + '<br />' + contact.name);
						$('div.person_cloud').append(link);
					}
				}
			}
			else if(inviteType == "facebook") {
				for(var i = 0; i < facebookSearch.length; i++) {
					var contact = facebookSearch[i];
					if(contact.name.toLowerCase().indexOf(str) > -1) {
						link = $('<a href="#facebook_contact" data-contact-id=' + contact.id + ' class="button secondary" style="background:#ccc" />');
						link.html('<img src=' + contact.picture.data.url + '>' + contact.name);
						$('div.person_cloud').append(link);
					}
				}
			}
			else if(inviteType == "emails") {
				for(var i = 0; i < emailSearch.length; i++) {
					var contact = emailSearch[i];

					if(contact.email.toLowerCase().indexOf(str) > -1) {
						link = $('<a href="#contact" x-data-email="' + contact.email + '" class="button secondary" style="background:#ccc" />');
						link.html('<span class="name">' + contact.name + '</span><span class="email">' + contact.email + '</span>');
						$('div.person_cloud').prepend(link);
					}
				}
			}
		});
	});
</script>
