<h1>Listing technologies</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Site</th>
    <th>Twitter</th>
    <th></th>
  </tr>

<% @technologies.each do |technology| %>
  <tr>
    <td><%= technology.name %></td>
    <td><%= technology.description %></td>
    <td><%= technology.site %></td>
    <td><%= technology.twitter %></td>
    <td><%= link_to 'Show', technology %></td>
  </tr>
<% end %>
</table>
