<section id="main-content" class="inner-content">
<h1>Technologies</h1>
<div id="content">
	<% @technologies.each do |technology| %>
		<div class="item_jobs">
			<div class="item_picture">
				<% if technology.picture? %><%= link_to image_tag(technology.picture.url(:thumb)), technology %><% else %><%= link_to image_tag("no_image.png"), technology %><% end %>
			</div>

			<div class ="item_desc">
				<p>
				<strong><%= link_to technology.name, technology %></strong><br />
				<span><% if technology.description.size > 300 %><%=h (technology.description.gsub(%r{</?[^>]+?>}, '')[0..304]+'...').html_safe %><% else %><%=h technology.description.gsub(%r{</?[^>]+?>}, '').html_safe %><% end %></span><br /><br />
				<% if self.current_user.teacher %>
					<% if self.current_user.technologies.include? technology %>
						<%= link_to "Remove Technology", { :action => "remove_technology", :id => technology.id }, :class => "action-button bg-green" %>
					<% else %>
						<%= link_to "Add Technology", { :action => "add_technology", :id => technology.id }, :class => "action-button bg-green" %>
					<% end %>
				<% end %>
				<br />
				</p>
			</div>
		</div>
	</div>
<% end %>
</section>
