<section id="main-content" class="inner-content">
	<h1><%= @technology.name %></h1>
	<div id="sidebar">

		<div class="bordered_image"><% if @technology.picture? %><%= image_tag @technology.picture.url(:medium) %><% else %><img src="<%= asset_path 'placeholder.png' %>" /><% end %></div><br />
		<p>
		<% unless @technology.site == nil || @technology.site == "" %>
			<a href="<%= @technology.site %>" target="_blank">
				<%= image_tag('tioki/icons/globe.png') %>
			</a>
		<% end %>
		<% unless @technology.twitter == nil || @technology.twitter == "" %>
			<a href="<%= @technology.twitter %>" target="_blank">
				<%= image_tag('tioki/icons/twitter2.png') %>
			</a>
		<% end %>
		<% unless @technology.facebook == nil || @technology.facebook == "" %>
			<a href="<%= @technology.facebook %>" target="_blank">
				<%= image_tag('tioki/icons/fb_button.png') %>
			</a>
		<% end %>
		</p>
		<% if @technology.skills.count  > 0 %>
			<h3>Tags</h3>
			<% @technology.skills.each do |skill| %>
				<span class="skills">
					<%= link_to skill.name, skill %>
				</span>
				<br />
			<% end %>
		<% end %>
	</div>
	<div id="content">
		<% if self.current_user %>
			<% if self.current_user.technologies.include? @technology %>
				<%= link_to "Explore More Technology", "/technologies", :class => "button", :style => "float:right" %>
			<% else %>
				<%= link_to "Add To My Profile", { :action => "add_technology", :id => @technology.id}, :class => "button", :style => "float:right" %>
			<% end %>
		<% end %>
		<% if @technology.description? %><p><h3>Description</h3><%=raw auto_link(@technology.description).gsub(/\n/, '<br />') %></p><% end %>

		<section class="profile-content panel comments inline" style="margin:30px 0px;clear:none;">
			<h3>Comments</h3>
			<ul>
				<% @comments.each do |comment| %>
					<% @comment = comment %>
					<%= render 'comments/show' %>
				<% end %>
			</ul>
			<% unless User.current.nil? %>
				<section class="panel-actions">
					<form id="post-comment" action="<%= "/technologies/#{@technology.id}/comment" %>" method="post">
						<textarea name="comment" style="height:50px;width:94%;padding:10px 3%;"></textarea>
						<input type="submit" value="Post Comment" />
					</form>
				</section>

				<!-- Load js for processing comments - AJAX HACK -->
				<script type="text/javascript">
				$(document).ready(function() {
					$('form#post-comment').submit(function(e) {
						e.preventDefault();

						var form = $(this);
						$.post(form.attr('action') + '.json', form.serialize(), function(r) {
							if(r.id !== undefined && r.type == 'success') {
								form.find('textarea').val('Posted!').prop('disabled', true);
								$.get('/comments/' + r.id, function(d) {
									comment = $(d).css({'display': 'none', 'background-color': '#F66C4C'});
									$('section.comments ul').append(comment);
									comment.slideDown(500, function() {
										$('section.comments ul').scrollTo('100%', 800);
										setTimeout(function() {
											comment.animate({backgroundColor: '#FFF'}, 600);
											form.find('textarea').val('').prop('disabled', false);
										}, 1000);
									});
								});
							}
						})

						return false;
					});

					// Favorite a comment
					$('a[comment-action="favorite"]').live('click', function(e) {
						e.preventDefault();

						var link = $(this);
						$.get(link.attr('href') + '.json', function(r) {

							// Star the post
							if(r.type == 'success' && r.new) {
								link.removeClass('gray').addClass('salmon');
								var inc = parseInt(link.children('span').text()) + 1;
								if(isNaN(inc)) link.children('span').text('1');
								else link.children('span').text(inc);
							}

							// Unstar the post
							if(r.type == 'success' && !r.new) {
								link.removeClass('salmon').addClass('gray');
								var dec = parseInt(link.children('span').text()) - 1;
								if(isNaN(dec) || dec === 0) link.children('span').text('');
								else link.children('span').text(dec);
							}
						});

						return false;
					});

					// Delete a comment
					$('a[comment-action="delete"]').live('click', function(e) {
						e.preventDefault();

						var link = $(this);
						$.get(link.attr('href') + '.json', function(r) {
							var li = link.closest('li');

							// Hide the post
							if(r.type == 'success') li.slideUp(500, function() {
								$('span.tooltip').remove();
								$(this).remove();
							});
						});

						return false;
					});
				});
				</script>
			<% end %>
		</section>
		
		<h3 class="top-line">Tioki Teachers that use <%= @technology.name %></h3>
		<% @users.each do |user| %>
			<div class="item_jobs">
				<div class="item_picture">
					<% if user.avatar? %>
						<%= link_to image_tag(user.avatar.url(:thumb)), '/profile/' + user.slug %>
					<% else %>
						<%= link_to image_tag("dl_icons/no_avatar_medium.jpg"), '/profile/' + user.slug %>
					<% end %>
				</div>

				<div id ="connection_desc">
					<strong><%= link_to user.name, '/profile/' + user.slug.to_s, :style => "color:#F66C4C" %></strong><br />
					<%= user.current_job_string %><br />
					<%= user.location %><br /><br />
					<div>
						<% if !self.current_user.nil? %>
							<% unless self.current_user == user %>
								<% if Connection.mine.collect{|connection| connection.not_me_id}.include? user.id %>
									<%= link_to "Send Message", { :controller => 'messages', :action => 'new', :user_id_to => user.id.to_s }, {:class => "button bg-green"} %>
								<% else %>
									<%= link_to ablang('connection.connect'), { :controller => 'connections', :action => 'add_connection', :user_id => user.id }, :class => "button" %>
								<% end%>
							<% end %>
						<% end %>
					</div>
				</div>
			</div>
			<br />
		<% end %>
		<%= will_paginate @users %>
	</div>
</section>
