<section id="main-content" class="inner-content">
	<h1><%= @school.name %></h1>
	<div id="sidebar">

		<div class="bordered_image"><% if @school.picture? %><%= image_tag @school.picture.url(:medium) %><% else %><img src="<%= asset_path 'placeholder.png' %>" /><% end %></div>
		<p>
		</p>
	</div>
	<div id="content">
		<%= link_to "Want more Tech?", "/suggesttech", :style => "float:right" %>
		<% if @technology.description? %><p><strong>Description</strong><br /><%=raw auto_link(@technology.description).gsub(/\n/, '<br />') %></p><% end %>
		<% @technology.users.each do |user| %>
			<br />
			<div class="item_jobs">
				<div class="item_picture">
					<% if connection.user.avatar? %>
						<%= link_to image_tag(user.avatar.url(:thumb)), '/profile/' + user.teacher.url %>
					<% else %>
						<%= link_to image_tag("dl_icons/no_avatar_medium.jpg"), '/profile/' + user.teacher.url %>
					<% end %>
				</div>

				<div id ="connection_desc">
					<strong><%= link_to user.name, '/profile/' + user.teacher.url.to_s %></strong><br />
					<% if user.teacher.position.present? && user.teacher.school.present?%>
						<%= user.teacher.position %> at <%= user.teacher.school %>
					<% end %><br />
					<%= user.teacher.location %><br /><br />
					<div>
						<% if user.teacher.id == self.current_user.id  %>
						<% elsif Connection.mine.collect{|connection| connection.not_me.id}.include? user.id %>
							<%= link_to "Send Message", { :controller => 'messages', :action => 'new', :user_id_to => user.id.to_s }, {:class => "button bg-green"} %>
						<% else %>
							<%= link_to ablang('connection.connect'), { :controller => 'connections', :action => 'add_connection', :user_id => user.id }, :class => "button" %>
						<% end%>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</section>
