<section id="main-content" class="inner-content">
	<h1><%= @technology.name %></h1>
	<div id="sidebar">

		<div class="bordered_image"><% if @technology.picture? %><%= image_tag @technology.picture.url(:medium) %><% else %><img src="<%= asset_path 'placeholder.png' %>" /><% end %></div><br />
		<p>
		<% unless @technology.site == nil || @technology.site == "" %>
			<a href="<%= @technology.site %>" target="_blank">
				<%= image_tag('tioki/icons/globe.png') %>
			</a>
		<% end %>
		<% unless @technology.twitter == nil || @technology.twitter == "" %>
			<a href="<%= @technology.twitter %>" target="_blank">
				<%= image_tag('tioki/icons/twitter2.png') %>
			</a>
		<% end %>
		<% unless @technology.facebook == nil || @technology.facebook == "" %>
			<a href="<%= @technology.facebook %>" target="_blank">
				<%= image_tag('tioki/icons/fb_button.png') %>
			</a>
		<% end %>
		</p>
		<% if @technology.skills.count  > 0 %>
			<h3>Tags</h3>
			<% @technology.skills.each do |skill| %>
				<span class="skills">
					<%= link_to skill.name, skill %>
				</span>
				<br />
			<% end %>
		<% end %>
	</div>
	<div id="content">
		<% if self.current_user %>
			<% if self.current_user.technologies.include? @technology %>
				<%= link_to "Explore More Technology", "/technologies", :class => "button", :style => "float:right" %>
			<% else %>
				<%= link_to "Add To My Profile", { :action => "add_technology", :id => @technology.id}, :class => "button", :style => "float:right" %>
			<% end %>
		<% end %>
		<% if @technology.description? %><p><h3>Description</h3><%=raw auto_link(@technology.description).gsub(/\n/, '<br />') %></p><% end %>
		
		<h3 class="top-line">Tioki Teachers that use <%= @technology.name %></h3>
		<% @users.each do |user| %>
			<div class="item_jobs">
				<div class="item_picture">
					<% if user.avatar? %>
						<%= link_to image_tag(user.avatar.url(:thumb)), '/profile/' + user.teacher.url %>
					<% else %>
						<%= link_to image_tag("dl_icons/no_avatar_medium.jpg"), '/profile/' + user.teacher.url %>
					<% end %>
				</div>

				<div id ="connection_desc">
					<strong><%= link_to user.name, '/profile/' + user.teacher.url.to_s, :style => "color:#F66C4C" %></strong><br />
					<% if user.teacher.position.present? && user.teacher.school.present?%>
						<%= user.teacher.position %> at <%= user.teacher.school %>
					<% end %><br />
					<%= user.teacher.location %><br /><br />
					<div>
						<% if self.current_user %>
							<% if user.teacher.id == self.current_user.id  %>
							<% elsif Connection.mine.collect{|connection| connection.not_me.id}.include? user.id %>
								<%= link_to "Send Message", { :controller => 'messages', :action => 'new', :user_id_to => user.id.to_s }, {:class => "button bg-green"} %>
							<% else %>
								<%= link_to ablang('connection.connect'), { :controller => 'connections', :action => 'add_connection', :user_id => user.id }, :class => "button" %>
							<% end%>
						<% end %>
					</div>
				</div>
			</div>
			<br />
		<% end %>
		<%= will_paginate @users %>
	</div>
</section>
