
<!DOCTYPE html>
<html>
	<head>
		<title>Tioki</title>
		<%= javascript_include_tag "application" %>
		<%= stylesheet_link_tag "application" %>

		<%= csrf_meta_tags %>
		<script type="text/javascript" src="/card-assets/jquery.foundation.reveal.js"></script>
		<!-- Token Input -->
		<script type="text/javascript" src="/uncompiled/tokeninput/src/jquery.tokeninput.js"></script>
		<link type="text/css" rel="stylesheet" href="/uncompiled/tokeninput/styles/token-input-facebook.css" />
		<!-- END Token Input -->
		<meta name="description" content="DemoLesson is an online hiring platform for teachers.  Teaching jobs and education jobs are posted by schools coast to coast.  Teachers can make digital profiles with video and uploads." />
		<meta name="google-site-verification" content="BQBSZ5eSfYzOln8w5z23-5Lq88blGMXk0wHakOaTHt8" />
		<meta name="msvalidate.01" content="8A61CE3B2E427D3B62A2777590291515" />
	</head>
	<body class="wizard">
		<div class="row">
			<!-- Header -->
			<div class="twelve columns header">
				<%= image_tag('tioki/tioki_logo.png') %>
			</div>
			<div class="clear"></div>

			<!-- If there are any notices are alerts -->
			<% unless notice.nil? && alert.nil? %>
				<div class="twelve columns notices">
					<!-- Display Notices -->
					<% unless alert.nil? %>
						<p class="info"><%= notice %></p>
					<% end %>

					<!-- Display Alerts -->
					<% unless alert.nil? %>
						<p class="alert"><%= alert %></p>
					<% end %>
				</div>
				<div class="clear"></div>
			<% end %>

			<!-- Load in content -->
			<div class="twelve columns content">
				<%= yield %>
			</div>
		</div>
		
		<!-- Google Analytics Pixel -->
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-34398774-1']);
		  _gaq.push(['_setDomainName', 'tioki.com']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>

		<!-- AdRoll Pixel -->
		<script type="text/javascript">
		adroll_adv_id = "BFYV3DSVXJH5NH7FZCHDDW";
		adroll_pix_id = "NM7SDILLX5CTJM4Q6LW4UX";
		(function () {
		var oldonload = window.onload;
		window.onload = function(){
			__adroll_loaded=true;
			var scr = document.createElement("script");
			var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
			scr.setAttribute('async', 'true');
			scr.type = "text/javascript";
			scr.src = host + "/j/roundtrip.js";
			((document.getElementsByTagName('head') || [null])[0] ||
			document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
			if(oldonload){oldonload()}};
		}());
		</script>
		
		<!-- Olark Pixel -->
		<script data-cfasync="false" type='text/javascript'>/*{literal}<![CDATA[*/
		window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){f[z]=function(){(a.s=a.s||[]).push(arguments)};var a=f[z]._={},q=c.methods.length;while(q--){(function(n){f[z][n]=function(){f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={0:+new Date};a.P=function(u){a.p[u]=new Date-a.p[0]};function s(){a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{b.contentWindow[g].open()}catch(w){c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{var t=b.contentWindow[g];t.write(p());t.close()}catch(x){b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
		/* custom configuration goes here (www.olark.com/documentation) */
		olark.identify('5400-146-10-5745');/*]]>{/literal}*/</script>
	</body>
</html>
